<div class="row" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0">
	<div class="form-group col-md-12">
		<h4 class="b-b b-3x">Compiti previsti per questa attività</h4>
	</div>
</div>
<div class="row" ng-if="form.complementaryActivities !== undefined && form.complementaryActivities.length > 0"
	ng-repeat="ca in form.complementaryActivities track by $index" >
	<div class="col-xs-12">
		<div class="row" ng-if="ca.type != 'EXTERNAL_OBJECT'">
			<div class="form-group col-md-7">
				<label class="control-label">Nome</label>
				<input type="text" ng-if="ca.entityId==undefined && ca.type!='DRUG_PICK_UP' && ca.type!='DRUG_DELIVERY' && ca.type!='DRUG_DISPOSAL' && ca.type!='BLOOD_SAMPLING'" class="form-control" ng-disabled="true"
					ng-model="form.complementaryActivities[$index].name" tooltip="{{errors['form.complementaryActivities[$index].name']}}"
					ng-class="{error: errors['form.complementaryActivities[$index].name']}">
				<div class="input-group" ng-if="ca.entityId!=undefined && ca.type!='DRUG_PICK_UP' && ca.type!='DRUG_DELIVERY' && ca.type!='DRUG_DISPOSAL' && ca.type!='BLOOD_SAMPLING'">
					<input type="text" class="form-control" ng-disabled="true" ng-model="form.complementaryActivities[$index].name"
						tooltip="{{errors['form.complementaryActivities[$index].name']}}"
						ng-class="{error: errors['form.complementaryActivities[$index].name']}">
					<span class="input-group-btn">
						<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" activiti-form="form"
							material-delivery-modal="form.complementaryActivities[$index].entityId" type="button"
							class="btn btn-default btn-sm btn-icon waves-effect waves-light">
							<i class="material-icons">local_shipping</i>
						</button>
					</span>
				</div>
				<div class="input-group" ng-if="ca.type == 'DRUG_PICK_UP'">
					<input type="text" class="form-control" ng-disabled="true" ng-model="form.complementaryActivities[$index].name"
						tooltip="{{errors['form.complementaryActivities[$index].name']}}"
						ng-class="{error: errors['form.complementaryActivities[$index].name']}">
					<span class="input-group-btn">
						<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" activiti-form="form"
							drug-pick-up-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id" type="button"
							class="btn btn-default btn-sm btn-icon waves-effect waves-light">
							<i class="material-icons">local_shipping</i>
						</button>
					</span>
				</div>
				<div class="input-group" ng-if="ca.type == 'DRUG_DELIVERY'">
					<input type="text" class="form-control" ng-disabled="true" ng-model="form.complementaryActivities[$index].name"
						tooltip="{{errors['form.complementaryActivities[$index].name']}}"
						ng-class="{error: errors['form.complementaryActivities[$index].name']}">
					<span class="input-group-btn">
						<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" activiti-form="form"
							drug-delivery-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id" type="button"
							class="btn btn-default btn-sm btn-icon waves-effect waves-light">
							<i class="material-icons">local_shipping</i>
						</button>
					</span>
				</div>
				<div class="input-group" ng-if="ca.type == 'DRUG_DISPOSAL'">
					<input type="text" class="form-control" ng-disabled="true" ng-model="form.complementaryActivities[$index].name"
						tooltip="{{errors['form.complementaryActivities[$index].name']}}"
						ng-class="{error: errors['form.complementaryActivities[$index].name']}">
					<span class="input-group-btn">
						<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" activiti-form="form"
							drug-disposal-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id" type="button"
							class="btn btn-default btn-sm btn-icon waves-effect waves-light">
							<i class="material-icons">local_shipping</i>
						</button>
					</span>
				</div>
				<div class="input-group" ng-if="ca.type == 'BLOOD_SAMPLING'">
					<input type="text" class="form-control" ng-disabled="true" ng-model="form.complementaryActivities[$index].name"
						tooltip="{{errors['form.complementaryActivities[$index].name']}}"
						ng-class="{error: errors['form.complementaryActivities[$index].name']}">
					<span class="input-group-btn">
						<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" activiti-form="form"
							blood-sampling-modal="form.complementaryActivities[$index].entityId" complementary-id="ca.id" type="button"
							class="btn btn-default btn-sm btn-icon waves-effect waves-light">
							<i class="material-icons">colorize</i>
						</button>
					</span>
				</div>
			</div>
			<!-- <div class="form-group col-xs-6 col-md-2">
				<label class="control-label">Facoltativo</label>
				<div class="radio m-b-none">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="true" ng-model="ca.required">
						<i tooltip="{{errors['form.complementaryActivities[$index].required']}}"
							ng-class="{error: errors['form.complementaryActivities[$index].required']}"/>Si
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="true" ng-model="ca.required">
						<i tooltip="{{errors['form.complementaryActivities[$index].required']}}"
							ng-class="{error: errors['form.complementaryActivities[$index].required']}" />No
					</label>
				</div>
			</div> -->
			<div class="form-group col-xs-6 col-md-2" ng-if="loggedUser.type === 'INTERNAL_STAFF'">
				<label class="control-label">Seleziona per includere</label>
				<div class="radio m-b-none">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="ca.include"
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
						<i tooltip="{{errors['form.complementaryActivities[$index].include']}}"
							ng-class="{error: errors['form.complementaryActivities[$index].include']}" />Si
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="ca.include"
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
						<i tooltip="{{errors['form.complementaryActivities[$index].include']}}"
							ng-class="{error: errors['form.complementaryActivities[$index].include']}" />No
					</label>
				</div>
				<questionnaire-complementary-activity-warning-label id="ca.confEntityId" user-type="form.user.type" ng-if="ca.type=='QUESTIONNAIRE_SUBMISSION'"></questionnaire-complementary-activity-warning-label>
				
				<!--  
				<label ng-if="ca.type=='QUESTIONNAIRE_SUBMISSION'"><sub><i>Se l'attività non viene inclusa non sarà creato nemmeno il questionario ad essa collegato e pertanto il destinatario
				non potrà compilarlo</i></sub></label>
				-->
			</div>
		</div>
		<div class="row" ng-if="ca.type == 'EXTERNAL_OBJECT'">
			<ng-include src="'tpl/app/activiti/form-type/object/planning-external-object-rows.html'" />
		</div>
	</div>
</div>