<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista incontri virtuali</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<!-- Se operatore o supplier includi i filtri -->
			<div ng-include="'tpl/app/directive/virtual-meeting/virtual-meeting-list-filter.html'" ng-if="loggedUser.type!='PATIENT' && loggedUser.type!='HCP'"></div>
			
			<!-- Se medico o paziente mostra pulsante filtro -->
			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='HCP' || loggedUser.type=='PATIENT'">
				
				<div class="inline">
					<a organize-virtual-meeting post-fn="search" class="btn btn-primary">
						<span>Organizza</span>
					</a>
				</div>
				<div class="inline">	
					<a request-virtual-meeting post-fn="search"  class="btn btn-primary">
						<span>Richiedi</span>
					</a>					
				</div>
				
				<div class="filterClone inline">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div ng-include="'tpl/app/directive/virtual-meeting/virtual-meeting-list-filter.html'"></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="wrapper-sm m-t main-dashboard">	
		<div class="row">
			<div class="col-xs-12">		
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{ loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Incontri virtuali</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert && !isHcp">
						            		<a organize-virtual-meeting post-fn="search">
						            			<i class="material-icons">add</i>
						            			<span>Organizza incontro tra medico e paziente</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th st-sort="date">Data</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="startTime">Orario</th>
										<th st-sort="title">Titolo</th>
										<th class="hidden-xs hidden-sm hidden-md">Partecipanti</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="status">Stato</th>
										<th style="width: 30px; padding: 0;" ng-if="!isSelection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td ng-bind="row.date | formatDate" virtual-meeting-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.startTime | formatTime" virtual-meeting-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td ng-bind="row.title" virtual-meeting-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.participants | nameFromParticipantArray" virtual-meeting-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.status | constantLabel: 'VirtualMeetingStatus'" virtual-meeting-detail detail-id="row.id" view="detailView" is-modal="isModal || detailView === undefined"/>
										<td ng-if="!isSelection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
			Annulla
		</button>
	</div>
</div>