
<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Organizza Incontro Virtuale</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row" ng-if="permissions.UPDATE">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-8">
										<label class="control-label">Titolo</label>
										<input type="text" id="detail.title" class="form-control" ng-model="detail.title" error-tooltip>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label">Data</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date ng-readonly="true" ng-model="detail.date" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" >
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4">
										<label class="control-label">Ora inizio</label>
										<div class="input-group">
											<input type="text" class="form-control" format-time ng-readonly="true" ng-model="detail.startTime" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" >
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label">Ora fine</label>
										<div class="input-group">
											<input type="text" class="form-control" format-time ng-readonly="true" ng-model="detail.endTime" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="row" ng-if="!isHcp">
									<div class="form-group col-md-4">
										<label class="control-label">Medico</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-disabled="true" value="{{detail.hcp.lastName}} {{detail.hcp.firstName}}" error-tooltip>
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.hcp" 
													user-type="'HCP'" multiple-list="false" title="Seleziona">
													<i class="material-icons">search</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.hcp.id" user-Type="'HCP'" ng-disabled="detail.hcp == undefined"
													multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.hcp == undefined" ng-click="detail.hcp = undefined"
													title="Dettaglio">
													<i class="material-icons">clear</i>
												</button>					
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label">Email medico</label>
										<input type="text" id="detail.hcpEmail" class="form-control" ng-model="detail.hcpEmail" error-tooltip>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4">
										<label class="control-label">Paziente</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-disabled="true" value="{{detail.patient.lastName}} {{detail.patient.firstName}}" error-tooltip>
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.patient" 
													user-type="'PATIENT'" multiple-list="false" title="Seleziona">
													<i class="material-icons">search</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.patient.id" user-Type="'PATIENT'" ng-disabled="detail.patient == undefined"
													multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.patient == undefined" ng-click="detail.patient = undefined"
													title="Dettaglio">
													<i class="material-icons">clear</i>
												</button>					
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label">Email paziente</label>
										<input type="text" id="detail.patientEmail" class="form-control" ng-model="detail.patientEmail" error-tooltip>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="permissions.UPDATE">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>	
				</div>
			</tab>		
		</tabset>
	</scrollable-tabset>
</div>
