<div class="wrapper-sm tab-fix-margin">
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Incontro Virtuale</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row" ng-if="permissions.UPDATE">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-8" ng-if="fieldPermissions['title'].VIEW">
										<label class="control-label">Titolo</label>
										<input type="text" id="detail.title" class="form-control" ng-disabled="!fieldPermissions['title'].UPDATE" ng-model="detail.title" error-tooltip>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['code'].VIEW">
										<label class="control-label">Codice</label>
										<input type="text" id="detail.code" class="form-control" ng-disabled="true" ng-model="detail.code" error-tooltip>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['date'].VIEW">
										<label class="control-label">Data</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['date'].UPDATE" ng-model="detail.date" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['date'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-2" ng-if="fieldPermissions['startTime'].VIEW">
										<label class="control-label">Ora inizio</label>
										<div class="input-group">
											<input type="text" class="form-control" format-time ng-readonly="true" ng-disabled="!fieldPermissions['startTime'].UPDATE" ng-model="detail.startTime" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['startTime'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-2" ng-if="fieldPermissions['endTime'].VIEW">
										<label class="control-label">Ora fine</label>
										<div class="input-group">
											<input type="text" class="form-control" format-time ng-readonly="true" ng-disabled="!fieldPermissions['endTime'].UPDATE" ng-model="detail.endTime" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['endTime'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['link'].VIEW && detail.link">
										<label class="control-label">Link per il collegamento</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-disabled="true" value="{{detail.link}}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light btn-primary" tooltip="Collegati" ng-click="openLink(detail.link, '_blank');">
													<i class="material-icons">video_call</i>
												</button>
												<button ng-disabled="false"	class="btn btn-icon btn-sm btn-default waves-effect waves-light" ngclipboard data-clipboard-text="{{detail.link}}" ngclipboard-success="confirmLinkCopy();" tooltip="Copia link">
													<i class="material-icons">content_copy</i>
												</button>					
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6" ng-if="fieldPermissions['organizer'].VIEW">
										<label class="control-label">Organizzatore</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-disabled="true" value="{{detail.organizer.lastName}} {{detail.organizer.firstName}}" error-tooltip>
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.organizer.id" user-Type="detail.organizer.type" ng-disabled="detail.organizer == undefined"
													multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>		
										</div>
									</div>
									<div class="form-group col-md-3" ng-if="fieldPermissions['runningStartTime'].VIEW">
										<label class="control-label">Data/ora inizio effettiva</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="detail.runningStartTime" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="true">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-3" ng-if="fieldPermissions['runningEndTime'].VIEW">
										<label class="control-label">Data/ora fine effettiva</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="detail.runningEndTime" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="true">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-3" ng-if="fieldPermissions['requestDate'].VIEW">
										<label class="control-label">Data/ora richiesta</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="detail.requestDate" error-tooltip>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="true">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-5" ng-if="fieldPermissions['requestUser'].VIEW">
										<label class="control-label">Richiesto da</label>
										<div class="input-group">
											<input type="text" class="form-control" ng-disabled="true" value="{{detail.requestUser.lastName}} {{detail.requestUser.firstName}}" error-tooltip>
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.requestUser.id" user-Type="detail.requestUser.type"  ng-disabled="detail.requestUser == undefined"
													multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
												<button ng-if="fieldPermissions['requestUser'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.requestUser == undefined" ng-click="detail.requestUser = undefined"
													title="Dettaglio">
													<i class="material-icons">clear</i>
												</button>					
											</span>		
										</div>
									</div>
									<div class="form-group col-xs-12" ng-if="fieldPermissions['medicalSupportServiceRequired'].VIEW || fieldPermissions['qualificationsRequired'].VIEW">
										<div class="input-group">
											<label class="control-label">Richiesta la partecipazione di:</label>
											<div class="checkbox">
												<label class="i-checks m-r" ng-if="fieldPermissions['medicalSupportServiceRequired'].VIEW">
													<input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="detail.medicalSupportServiceRequired" ng-disabled="!fieldPermissions['medicalSupportServiceRequired'].UPDATE">
													<i error-tooltip></i>Medico del Servizio
												</label>
												<label class="i-checks m-r-md" ng-repeat="v in selects['Qualifications']" ng-if="fieldPermissions['qualificationsRequired'].VIEW">
													<input type="checkbox" check-list-object="detail.qualificationsRequired" value="v" ng-disabled="!fieldPermissions['qualificationsRequired'].UPDATE">
													<i tooltip="{{errors['form.reasons']}}" ng-class="{error: errors['form.reasons']}"></i><span class="m-n">{{v.name}}</span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row" ng-if="fieldPermissions['requestNotes'].VIEW">
									<div class="form-group col-md-12">
										<label class="control-label">Date e fasce orarie di disponibilità ed eventuali Note</label>
										<textarea id="detail.requestNotes" rows="5" class="form-control" ng-disabled="!fieldPermissions['requestNotes'].UPDATE" ng-model="detail.requestNotes" error-tooltip/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="fieldPermissions['participants'].VIEW" ng-include="'tpl/app/directive/virtual-meeting/virtual-meeting-participants.html'" />
				</div>
				<div class="row" ng-if="permissions.UPDATE">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				</div>	
			</tab>		
		</tabset>
	</scrollable-tabset>
</div>
</div>