<style>

.fc-view-container .info-active {
	z-index: 1002 !important;
}
.fc-view .fc-event {
	padding: 4px !important;
}
.fc-view .fc-event:hover {
	background-color: #74a8d4;
	z-index: 1001 !important;
}

.fc-view .fc-content {
	overflow: hidden;
}

.fc-overlay-click{
	display: none;
	position: absolute;
	min-width: 300px;
	padding: 17px 0;
	top: auto;
	left: 50%;
	margin-left: -150px;
	z-index: 1010;
}

.fc-overlay-click.left{
	left: 100%;
	top: -15px;
	padding: 0 10px;
	margin: 0;
}
.fc-overlay-click.right{
	left: auto;
	right: 100%;
	top: -15px;	
	padding: 0 10px;
	margin: 0;
}
.fc-overlay-click.top{
  top: auto;
  bottom: -30px;
}


.fc-overlay-click .panel{
	padding: 10px 20px;
	border: 3px solid #D8D8D8;
}

</style>
<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Calendario Attivit&agrave;</a></li>
</ul>
<div calendar-planning user-ids-list="user.id" update-event-type="'userEvent'" options="{'businessHours': {'minTime': '08:00','maxTime': '20:00'}}"></div>