<div class="row">
	<div class="col-lg-12">
    	<form role="form" id="meetingForm" novalidate>
	
          	<div class="form-group col-lg-12">
          		<label class="control-label">Titolo</label>
            	<input type="text" class="form-control" ng-model="meeting.name" placeholder="" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" tooltip="{{errors['meeting.name']}}" ng-class="{error: errors['meeting.name']}" ng-change="errors['meeting.name'] = undefined"  />	
          	</div>
          	
          	<div class="form-group col-lg-12">
     			<label class="control-label">Descrizione</label>
       			<textarea class="form-control" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" ng-model="meeting.description" placeholder="" rows="4" ng-model="meeting.name" placeholder="" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" tooltip="{{errors['meeting.description']}}" ng-class="{error: errors['meeting.description']}" ng-change="errors['meeting.description'] = undefined" />
       		</div>
          	
          	<div class="form-group col-lg-12">
				<label class="control-label">Luogo</label>
 				<input type="text" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" class="form-control" ng-model="meeting.location" placeholder="" />	
			</div>
			
			<div class="form-group col-lg-4" ng-if="meeting.type!='BY_PHONE'">
   				<label class="control-label">Tipo</label>
   				<input ng-disabled="true" type="text" class="form-control" value="{{meetingTypesMap[meeting.type]}}">
   			</div> 
   			
   			<div class="form-group col-lg-4" ng-if="meeting.type=='BY_PHONE'">
   				<label class="control-label">Tipo</label>
   				<input ng-disabled="true" type="text" class="form-control" value="{{ meeting.incomingCall ? 'Per telefono (in entrata)' : 'Per telefono (in uscita)'}}">
   			</div>
   			
   			
   			<div class="form-group col-lg-8">
   				<label class="control-label">Categoria</label>
   				<select ng-options="key as value for (key, value) in meetingCategoriesMap" class="form-control" ng-model="meeting.category.id" ng-disabled="true">
					<option value=""></option>
				</select>
   			</div>
   			
   			<div class="form-group col-lg-3">
   				<label class="control-label">Data inizio</label>
   				<fieldset ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'">
   				<div class="input-group">
					<input ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" type="text" id="meeting_startTime" class="form-control" ng-readonly="true" av-format-date-time ng-model="meeting.startTime" ng-model="meeting.name" placeholder="" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" tooltip="{{errors['meeting.startTime']}}" ng-class="{error: errors['meeting.startTime']}" ng-change="errors['meeting.startTime'] = undefined">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
				</fieldset>
			</div>
			
			<div class="form-group col-lg-3">
				<label class="control-label">Data fine</label>
				<fieldset ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'">
    			<div class="input-group">
   					<input ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" type="text" id="meeting_endTime" class="form-control" ng-readonly="true" av-format-date-time ng-model="meeting.endTime" ng-model="meeting.name" placeholder="" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" tooltip="{{errors['meeting.endTime']}}" ng-class="{error: errors['meeting.endTime']}" ng-change="errors['meeting.endTime'] = undefined">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
   				</div>
   				</fieldset>
  			</div>
  			
  			<div class="form-group col-lg-3">
   				<label class="control-label">Durata (in minuti)</label>
   				<input ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" id="meeting_duration" type="text" class="form-control" ng-model="meeting.duration">
   			</div>
  			
  			<div class="form-group col-lg-3">
  				<label class="control-label">Calendario Disponibilità</label>
  				<div class="input-group">
  					<button type="button" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" class="btn btn-default" ng-click="toggleCalendar()"><i class="{{(showAvailabilitiesCalendar) ? 'fa fa-chevron-up fw' : 'fa fa-chevron-down fw'}}"></i> {{(showAvailabilitiesCalendar) ? 'Nascondi' : 'Mostra'}}</button>
  				</div>
  			</div>
  			
  			<div class="form-group col-lg-12" ng-if="calendarMessage.name != undefined">
  				<label class="control-label"><span av-bind-html-compile="calendarMessage.name"></span> *</label>
				<div class="radio m-b-none">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="true" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" ng-false-value="undefined" ng-model="calendarMessage.value">
						<i tooltip="{{errors[calendarMessage]}}" ng-class="{error: errors[calendarMessage]}"></i>Si
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="false" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" ng-false-value="undefined" ng-model="calendarMessage.value">
						<i tooltip="{{errors[calendarMessage]}}" ng-class="{error: errors[calendarMessage]}"></i>No
					</label>
				</div>
  			</div>
  			
  			<div class="form-group col-lg-12" ng-if="showAvailabilitiesCalendar">
  				<div av-calendar-planning user-ids-list="participantIds" 
				update-event-type="updateEventType" 
				meeting-start="'meeting_startTime'"
				meeting-duration="'meeting_duration'" 
				meeting-ignore-unavailabilities="'calendarMessage'" 
				form="meetingForm"></div>
			</div>
  			
  			<div class="form-group col-lg-4 clearfix">
				<label class="control-label">Avvenuto</label>
	     		<div class="radio m-b-none">
				<label class="i-checks m-r">
					<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="true" ng-model="meeting.occurred">
					<i></i>Si
				</label>
				<label class="i-checks m-r">
					<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="true" ng-model="meeting.occurred">
					<i></i>No
				</label>
				</div>
			</div>
       		
       		<div class="form-group col-lg-4">
   				<label class="control-label">Stato</label>
   				<input ng-disabled="true" type="text" class="form-control" ng-model="meeting.statusLabel">
   			</div>
   			
   			<div class="form-group col-lg-4" ng-if="group.id == USER_GROUPS.IT_ASSISTENZA && meeting.slaNonComplianceReason !== undefined && meeting.slaNonComplianceReason != null">
   				<label class="control-label">Mancato rispetto tempistiche per</label>
   				<input ng-disabled="true" type="text" class="form-control" value="{{slaNonComplianceReasonsMap[meeting.slaNonComplianceReason]}}">
   			</div>
   			
   			<div class="form-group col-lg-8 clearfix" ng-if="meeting.organizer !== undefined && meeting.organizer != null">
   				<label class="control-label">Organizzatore</label>
				<div class="input-group">
					
					<input type="text" class="form-control" ng-disabled="true" value="{{(meeting.organizer.group == USER_GROUPS.HCP) ? hcpTitlesMap[meeting.organizer.title]+' '+meeting.organizer.lastName+' '+meeting.organizer.firstName : meeting.organizer.lastName+' '+meeting.organizer.firstName}}">
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.PATIENT">
						<button type="button" ng-disabled="group.id == USER_GROUPS.PATIENT" class="btn btn-default" av-patient-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.HCP">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.PATIENT" av-hcp-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.IT_ASSISTENZA">
						<button type="button" class="btn btn-default" ng-disabled="group.id != USER_GROUPS.IT_ASSISTENZA" av-operator-modal="meeting.organizer.id">
						<span style="{{ group.id != USER_GROUPS.IT_ASSISTENZA ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.TREATMENT_COACH">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.PATIENT" av-treatment-coach-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i  class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.RHEUMATOLOGIST">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.PATIENT" av-rheumatologist-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i  class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.PHYSICIAN_TUTOR">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.PATIENT" av-physician-tutor-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i  class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.NURSE">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.PATIENT" av-nurse-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.NURSE_HS">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.PATIENT" av-nurse-hs-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.HCP_REPRESENTATIVE">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.PATIENT" av-hcp-representative-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.PHARMACIST">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.PHARMACIST" av-pharmacist-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.NURSE_TUTOR">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.NURSE_TUTOR" av-nurse-tutor-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="meeting.organizer.group == USER_GROUPS.IT_ASSISTENZA_MANAGER">
						<button type="button" class="btn btn-default" ng-disabled="group.id == USER_GROUPS.IT_ASSISTENZA_MANAGER" av-italia-assistenza-manager-modal="meeting.organizer.id">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
				</div>
			</div>
   			
			<div class="form-group col-lg-8">
				<label class="control-label">Partecipanti</label>
				<div class="input-group" ng-repeat="(id,participant) in meeting.participants">
					<input type="text" class="form-control" ng-disabled="true" value="{{(participant.group == USER_GROUPS.HCP) ? hcpTitlesMap[participant.title]+' '+participant.lastName+' '+participant.firstName : participant.lastName+' '+participant.firstName}}">
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.PATIENT">
						<button type="button" class="btn btn-default" av-patient-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PATIENT">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.HCP">
						<button type="button" class="btn btn-default" av-hcp-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PATIENT">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.IT_ASSISTENZA">
						<button type="button" class="btn btn-default" av-operator-modal="participant.id" ng-disabled="group.id != USER_GROUPS.IT_ASSISTENZA">
						<span style="{{ group.id != USER_GROUPS.IT_ASSISTENZA ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.TREATMENT_COACH">
						<button type="button" class="btn btn-default" av-treatment-coach-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PATIENT">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.RHEUMATOLOGIST">
						<button type="button" class="btn btn-default" av-rheumatologist-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PATIENT">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.PHYSICIAN_TUTOR">
						<button type="button" class="btn btn-default" av-physician-tutor-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PATIENT">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.NURSE">
						<button type="button" class="btn btn-default" av-nurse-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PATIENT">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.NURSE_HS">
						<button type="button" class="btn btn-default" av-nurse-hs-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PATIENT">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.HCP_REPRESENTATIVE">
						<button type="button" class="btn btn-default" av-hcp-representative-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PATIENT">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.PHARMACIST">
						<button type="button" class="btn btn-default" av-pharmacist-modal="participant.id" ng-disabled="group.id == USER_GROUPS.PHARMACIST">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.NURSE_TUTOR">
						<button type="button" class="btn btn-default" av-nurse-tutor-modal="participant.id" ng-disabled="group.id == USER_GROUPS.NURSE_TUTOR">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
					<span class="input-group-btn" ng-if="participant.group == USER_GROUPS.IT_ASSISTENZA_MANAGER">
						<button type="button" class="btn btn-default" av-nurse-tutor-modal="participant.id" ng-disabled="group.id == USER_GROUPS.IT_ASSISTENZA_MANAGER">
						<span style="{{ group.id == USER_GROUPS.PATIENT ? 'visibility : hidden' : '' }}"><i class="fa fa-user fw"></i> Dettagli</span></button>
					</span>
				</div>
	        </div>
	        
	        <div class="form-group col-lg-12" ng-if="group.name !== 'Patient'">
	          	<label class="control-label">Relazione Interna</label>		 	
	           	<textarea class="form-control" ng-disabled="!editable.meetingTab || (meeting.status!='PLANNED' && meeting.status!='COMPLETED')" ng-model="meeting.comment" placeholder="" rows="5" />
	        </div>
			
			<div class="form-group col-lg-12" ng-if="group.name !== 'Patient' && group.name!=='HealthCareProfessional' && group.name!=='Pharmacist' && group.name!=='HcpRepresentative'">
	          	<label class="control-label">Note Interne</label>		 	
	           	<textarea class="form-control" ng-disabled="true" ng-model="meeting.notes" placeholder="" rows="5" />
	        </div>
			
			<div class="form-group col-lg-12" ng-if="group.name !== 'Patient' && group.name !== 'HealthCareProfessional' && meeting.type=='IN_PERSON'">
	          	<label class="control-label">Km percorsi</label>		 	
	        	<input type="text" class="form-control" ng-disabled="!editable.meetingTab || meeting.status=='COMPLETED'" ng-model="meeting.distanceKm" ng-model="meeting.name" placeholder="" ng-disabled="!editable.meetingTab || meeting.status!='PLANNED'" tooltip="{{errors['meeting.distanceKm']}}" ng-class="{error: errors['meeting.distanceKm']}" ng-change="errors['meeting.distanceKm'] = undefined">
	        	
	        </div>
	
        	<div class="line-lg"></div>
				<div class="form-group col-lg-12" ng-if="group.name !== 'Patient' && group.name !== 'HealthCareProfessional'">
			    	<button type="submit" class="btn btn-info" ng-if="!editable.meetingTab && !meeting.isDeleted" ng-click="editable.meetingTab=true"><i class="fa fa-edit fw"></i> Modifica</button>
			    	<button type="submit" class="btn btn-info" ng-if="editable.meetingTab && !meeting.isDeleted" ng-click="updateMeetingData();"><i class="fa fa-save fw"></i> Salva</button>
			  		<button type="button" class="btn btn-default" ng-if="editable.meetingTab && !meeting.isDeleted" ng-click="resetMeetingData();"><i class="fa fa-close fw"></i> Annulla</button>
			    </div>
			  	<div class="line-lg" ng-if="group.name !== 'Patient' && group.name !== 'Hcp'"></div>
				
		</form>
	</div>
	
</div>	
