
<div class="wrapper bg-light lter b-b">
	<div class="row">
	<div class="col-lg-12">
		<tabset class="tab-container" justified="true">
        	<tab>
          		<tab-heading>
              		<i class="fa fa-user fw"></i>&nbsp;<strong>{{ group.id==USER_GROUPS.HCP || group.id==USER_GROUPS.PATIENT ? 'Incontro' : 'Meeting'}}</strong> 
            	</tab-heading>
            	<div ng-include="'tpl/meetings/meeting-data.html'"></div>
          	</tab>          	
        </tabset>
		
	</div>
	</div>
</div>	
    	