:root{
    --maincolor: #A4C842;
    --hover:rgba(164,200,66, .2);
    --hoverbtn:rgba(164,200,66, .8);
    --grey:#F0F3F4;
    --maincolordark: #8FC530;
}

body{
    color:#222;
}

.bg-info{
    background-color: var(--maincolor);
}

.bg-info.dk, .bg-info .dk{
    background-color: var(--maincolordark);
}

.bg-info .text-muted{
    color:#fff;
}

.b-primary {
    border-color: var(--maincolor);
}

.mainTeaser{
    background-color: var(--grey);
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-left: 290px;padding-right: 30px;
}

.form-control{
    height: 42px;
}

.btn.btn-sm {
    height: 42px !important;
    line-height: 42px !important;
}

.logo{
    text-align: center;
    width: 100%;    margin-top: 20px;
    display: block;
}

.logo img{
    width: 90%;
    max-width: 190px;
    display: inline-block;
}

.app-aside-fixed .aside-wrap{
    background: var(--maincolor);
    top: 116px;
    padding-top: 100px;
}



.breadcrumb,ul.breadcrumb{
    width: calc(100% - 280px) !important;
    z-index: 2;
    margin: 0 !important;
    padding: 0;
    background-image:url(../img/top_angle_left.png), url(../img/top_angle_right.png);
    background-position:top left , top right; 
    background-color: #fff;
    font-size: 18px;
    color: #222;
    background-repeat: no-repeat;
    background-size: contain;
    border:none !important;
}

.headerUser{
    width: calc(100% - 280px) !important;
    z-index: 3;
    margin: 0 !important;
    padding: 0;
    background-image:url(../img/top_angle_left.png), url(../img/top_angle_right.png);
    background-position:top left , top right; 
    background-color: #fff;
    font-size: 18px;
    color: #222;
    background-repeat: no-repeat;
    background-size: contain;
    border:none !important;
    position:fixed;
    top:90px;
    left:280px;
}

/*
.headerDoctor{
    width: calc(100% - 280px) !important;
    z-index: 3;
    margin: 0 !important;
    padding: 0;
    background-image:url(../img/top_angle_left.png), url(../img/top_angle_right.png);
    background-position:top left , top right; 
    background-color: #fff;
    font-size: 18px;
    color: #222;
    z-index: 1222;
    background-repeat: no-repeat;
    background-size: contain;
    border:none !important;
    position:fixed;
    top:60px;
    left:280px;
}
*/
.breadcrumb > li:first-child{
    padding: 15px 30px;
    padding-right: 0;
}

.app-content{
    min-height: calc(100vh - 110px);
    background-color: #fff;
    border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
    -ms-border-radius: 40px 40px 0 0;
}

.app-header-fixed .app-header{
    background-color:var(--grey);
}

.navi > ul.nav > li.line{
    display: none
}

/* MOD MATTEO */
.navi > ul.nav > li > a{
    color:#fff;
    display: flex;
    padding: 14px 20px;
    align-items: center;
}

.navi > ul.nav > li > a span{
    margin-left: 15px;
    display:inline-block
}

.navi > ul.nav > li > a span.pull-right.text-muted{
    margin: 0;    display: none;
}

/* MATTEO MOD */

.btn-default-focus{
    box-shadow: none !important;
    background:none !important;
}

input[type="search"]{
    height: 42px;
    line-height: 10px !important;
    border-radius: 42px !important;
    box-shadow: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color: #58666e !important;
    background-color: #fcfdfd;
    border-color: #dee5e7;
    background-color: #fff;
    border-bottom-color: #d8e1e3;
 
}

/* FINE */

.navi > ul.nav > li > a span.ico {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.2);
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -ms-border-radius: 40px;
    margin:0;
    width:40px;
    height:40px
}

.nav > li > a:hover, .nav > li > a:focus{
    background: none !important;
}

.nav > li > a:hover  span.ico, .nav > li:hover > a span.ico,.navi ul.nav li.active span.ico{
    background:none !important;
}

/* MOD MATTEO */

.navi  ul.nav  li.active > a:before,.navi  ul.nav  li.activeSub > a:before,.navi ul.nav  li:hover > a:before{
    content: '';
    width: 90%;
    position: absolute;
    top: 50%;
    left: 0;
    height: 44px;
    background: rgba(255,255,255,.2);
    border-radius: 0 80px 80px 0;
    -moz-border-radius: 0 80px 80px 0;
    -webkit-border-radius: 0 80px 80px 0;
    -ms-border-radius: 0 80px 80px 0;
    margin-top: -22px;
}

.navi ul.nav li li a{
    padding-left: 70px;
}

.navi ul.nav.nav-sub.dk{
    background-color: transparent !important;
    border-bottom: 1px solid #e4eaec;
    color: #e4eaec;
    margin-bottom: 10px;
}


/* FINE */


.table > thead > tr:first-child th, .table tbody > tr:first-child th, .table tfoot > tr:first-child th{
    padding: 10px 15px;
    background: var(--grey);
    color: #222;
    text-transform: uppercase;
    font-size: 13px;
}

.table tfoot > tr:first-child th{
    background: #FFF;
}

.pagination{
    display: inline-flex; 
    align-items: center;
}

.btn-info,.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: var(--maincolor);
    border-color: var(--maincolor);
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    z-index: 0;
}

.pagination > li:last-child{
    position: absolute;
    right:0
}

.table tfoot nav {
	position: relative;
}

.table tfoot nav .hidden-sm.hidden-xs .btn.btn-default{
    background:none;
    border:none;
    text-transform: capitalize;
}

.modal-header:hover{
    background: none !important;
    color:#222 !important;
}
.modal-header{
    background: none !important;
    color: #222 !important;
    border: none;
    font-size: 16px;
    padding: 20px 30px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.modal-body{
    padding: 0px 30px;
}


.modal-footer{
    padding: 20px 30px;
    border:0px !important
}

.modal-header h3{
    font-size: 25px !important;
    font-weight: 600 !important;
}

.btn {
    height: 42px;
    line-height: 42px !important;
    border-radius: 42px !important;
    box-shadow: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn-primary .material-icons{
    color:#fff !important;
}

/* MOD MATTEO */
select.form-control{
    height: 42px;
    line-height: 42px !important;
    border-radius: 42px !important;
    box-shadow: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* FINE */

.fc-toolbar{
    background-color: var(--maincolor) !important;
    margin: 0 !important;
}


.modal-header h3{
    font-size: 18px;
}


.modal-body h4{
    margin: 0;
}

.modal-body h4 em{
    font-style: normal !important;
    font-size: 16px;
    color: #484848;
    font-weight: 400;
    line-height: 24px;
}

.fc-unthemed td.fc-today{
    background-color:var(--hover) !important;
}

.fc-event, .fc-event-dot{
    color:#222 !important;
    border:none !important;
    background-color:var(--hover) !important;
}

.fc-view .fc-widget-header, .fc-view .fc-widget-content{
    font-weight: 600;
    color: #222;
}

.font-thin {
    font-weight: 400;
}

.bg-light{
    background: none;
    color:#222;
}

#calendar-container .panel-default{
    border:none !important
}

.userDashboard{
    display: flex;
    align-items: center;
    width: 100%;    justify-content: space-between;
}
.userDet{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}

.userDet .avatar{
    width:160px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius:0;
    box-shadow: none;
    border:none;
}


.label{
    text-shadow: none;
    color: #fff;
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 20px;
}

.bg-success{
    background-color: var(--maincolor);
}

.avatar img{
    background:var(--hover);
 border:none;box-shadow: none;
}
.avatar img:hover, .avatar img.active{
    border-color:var(--maincolor)
}
.avatar .btn.btn-lg.btn-icon{
    width: 120px; border:none;
    height: 120px;box-shadow: none !important;
    border-radius: 120px !important;
    -moz-border-radius: 120px !important;
    -ms-border-radius: 120px !important;
    -webkit-border-radius: 120px !important;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-footer{
    background:var(--grey);
}

.doctDet{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    place-self: flex-start;
    padding-top: 10px;
    width: 70%;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctDet > .d-flex:first-child{
    flex-basis: 30%;
}

.doctDet > .d-flex > .d-flex{
    margin:0 20px;
    flex-basis: 33.33%;
}


.ui-select-bootstrap .ui-select-match-text{
    line-height: 42px;
    height: 42px;
}

.ui-select-bootstrap .ui-select-match-text .strong{
    display: none;
}

.ui-select-multiple.ui-select-bootstrap{
    min-height: 42px !important;
}

.ui-select-multiple.ui-select-bootstrap.open{
    overflow: visible;
}

.ui-select-multiple.ui-select-bootstrap > div{
    height: 40px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item{
    position: relative;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item
.close{
    top: 7px;
    right: 7px;
    position: absolute;
    z-index: 3;
}

.ui-select-bootstrap .ui-select-match-text span{
    line-height: 42px;
    height: 42px;
}
.doctDet .easyPieChart{
    margin-right: 20px;
}

.doctDet .easyPieChart > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 100%;
}

.doctDet .easyPieChart > div i{
    display: inline-block;
}

.specialgreybox{
    width: 100%;
    min-height: calc(100vh - 230px);
    background: var(--grey);
    margin-top: -40px;
    padding-top: 40px;    align-items: flex-start;
}

.app-content-body {
    padding-bottom: 30px;
    float: left;
    width: 100%;
    height: 100%;
}

.uploader-table.table th, .uploader-table.table td{
    font-size: 12px !important;
}

.panel-default .bg-secondary, .panel-default .panel-heading,.headerDoctor .bg-secondary{
    background: #fff;
    color: #222;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    top: 120px;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-default .bg-secondary, .panel-default .panel-heading, .headerDoctor .bg-secondary{
    position: static;
}

.patientTabs .tab-content .panel-heading{
    top:165px;
}

.panel-default .bg-secondary .inline, .panel-default .panel-heading .inline, .headerDoctor .bg-secondary .inline{
    flex:1;
}

.panel-body{
    position: relative;
    z-index: 0;
}
/* MOD MATTEO */
.tab-content .wrapper-sm.tab-fix-margin .panel-body,.filterWrap .panel-body{
    position: static;
}
.tab-pane > div > div .wrapper-sm{
    position: relative;
    z-index: 0;
}
.tab-pane > div > div .wrapper-sm:first-child{
    z-index: 1;
}
/* FINE */

.input-group .form-control{
    z-index: 0;
}

.patientTabs{
    position: relative;
}

.patientTabs .nav.nav-tabs{
    position: -webkit-sticky;
    position: sticky;
    top: 62px;
    margin-left: -15px;
    padding-left: 3px;
    width: calc(100% + 30px);
    z-index: 3;
    border-radius: 40px 40px 0 0;
}

.patientTabs.profileView .nav.nav-tabs{
    top:120px;
}

.patientTabs .hidden-buttons .nav.nav-tabs{
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    justify-content: center;
}

.app-content-body .ng-isolate-scope:first-child{
position: relative;
}

.panel-action-half{
    box-shadow: none;
    border: none;
    flex-basis: 35%;
    width: 35%;
    box-shadow: none;
    border: none;
    position: absolute;
    top: 25px;
    right: 0;
    margin: 0;
    z-index: 6;
}

.panel-action-half .hbox .dropdown{
    position: static;
}
.panel-action-half .hbox{
    position: relative;
}

.modal-body .nav.nav-tabs{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
    border-radius: 40px 40px 0 0;
}



.headerDoctor .bg-secondary{
    background: transparent;
    top:0;
    z-index: 100000;
    position: relative;
    padding: 10px 20px;
}

.panel-default .bg-secondary.topo, .panel-default .panel-heading.topo{
    top: 0px;
    position: relative;
    background: none;
    border: none;
}

.panel-default .bg-secondary.topoo, .panel-default .panel-heading.topoo{
    top:60px;
}

table.table{
    position: relative;
}

.modal-body  table.table thead{
    position: static;
}

.waves-effect{
    z-index: 0;
}

.bg-secondary i{
    color:#222;
}

.filterClone{
    position: relative;
    z-index: 1;
    padding-right: 20px;
}
.drowdownM{
    display: inline-block;
    border:1px solid var(--maincolor);
    background: var(--maincolor);
    font-size:16px;
    color:#fff;
    padding:10px 25px 10px 45px;
    position: relative;
    text-align: center;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    cursor: pointer;
    min-width: 130px;
}
.drowdownM .closed{
    display: none;;
}

.drowdownM .opened{
    display: inline-block;
}

.drowdownM:before{
    content:'';
    position: absolute;
    top:1px;
    left:1px;
    width: 40px;
    height:40px;
    background-image: url(../img/filterIco.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.form-group{
    z-index: auto;
}

/* MOD MATTEO*/

.filterPopup{
    position: absolute;
    top:50px;
    right:0;
    width: 600px;
    display: none;
    background-color: #fff;
    box-shadow: -1px 3px 15px 0 rgba(0,0,0,0.35);
}

.modal-body .filterPopup{
    min-height: 200px;
}

.modal-body .filterPopup.long{
    top: 5px !important;
    z-index: 10;
    right: 205px;
    width: calc(100% - 205px);
}
/* FINE */

.filterPopup.long{
    width: 1200px;
}

.filterPopup.ng-hide{
    display: block !important;
}

.filterPopup label{
    font-size:12px;
    color:#222;
}

/* MOD MATTEO */

.modal-content{
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: none;
    overflow: hidden;
}

/* FINE */

.modal-backdrop{
    z-index: 104000 !important; 
    opacity: 1;
    background:rgba(34,34,34,.9)
}
.modal-open .modal{
    z-index: 104001 !important; 
}

.actionInBar{
    display: flex;
}

.actionInBar a.btn{
    padding: 0px 20px;
    height: 42px;
    margin:0 10px;
}

.actionInBar a.btn span{    line-height: 40px;}

/* MOD MATTEO tolto justify-content: center; crea problemi */

.nav.nav-tabs{
    background:var(--grey);
    display: flex;
    align-items: center;
 
}

.nav.nav-tabs li{
    border:none;    margin: 0;
}

.nav.nav-tabs li a{
    text-transform: uppercase;
    color: #222;
    font-size: 12px;
    border: none;
    font-weight: 500;
    background: none;
    margin: 0;
    padding: 15px 30px;
    border-bottom: 3px solid var(--grey);
}

#calendar-container.mTCalendar{
    margin-top:40px;
}



/* MOD MATTEO */
.ui-tabs-scrollable .nav.nav-tabs{
    justify-content:flex-start;
}
.hidden-buttons .nav.nav-tabs{
    justify-content:center;
}

.ui-tabs-scrollable  .nav-button{
    position: -webkit-sticky;
    position: sticky;
    top:62px;
    width: 25px;
    padding: 0;
    height: 84px !important;
    background-color: var(--maincolor) !important;
    color: #fff !important;
}



.ui-tabs-scrollable .buttnCtn  .nav-button.left-nav-button:before{
    font-family: 'Glyphicons Halflings';
    content: '\e079';
}

.ui-tabs-scrollable .buttnCtn  .nav-button.right-nav-button:before{
    font-family: 'Glyphicons Halflings';
    content: '\e080';
}

.buttnCtn{
    position: absolute;
    top:0;
    width: 25px;
    height: 100%;
    line-height: 84px;
    cursor: pointer;
    text-align: center;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    z-index: 4;

}

.buttnCtn.leftCtn{left:0}
.buttnCtn.rightCtn{right:0}
/* FIX */

.nav-tabs > li:hover > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
    border:none !important;
    border-bottom: 3px solid var(--maincolor) !important;
    color: #222;
    background: none;
    margin: 0;
    padding: 15px 30px;
}


.nav.nav-tabs li.active > a{
    border-bottom: 3px solid var(--maincolor) !important;
}

.nav.nav-tabs li i{
    margin: 0 !important;
    padding: 0;
    margin-bottom: 10px !important;
}

.nav.nav-tabs li tab-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui-tabs-scrollable > .spacer > div:first-child > .tab-content{
    margin: 0;
    border:none;
    border-left:2px solid var(--grey);
    border-right:2px solid var(--grey);
    padding: 0;
}


.modal-body .ui-tabs-scrollable > .spacer > div:first-child > .tab-content,.patientTabs .ui-tabs-scrollable > .spacer > div:first-child > .tab-content{
    padding: 0 15px !important;
}

.tab-content > .tab-pane > .wrapper-sm{
    padding: 0;
}

.table tr:hover td{
    background: var(--hover) !important;
}
.tab-content .panel.panel-default{
    border:none;
}

.tab-content > .tab-pane .m-t-xxl{
    margin:0;
}


.tab-content > .tab-pane .col-md-12.text-right .btn,.modal-body .col-md-12.text-right .btn{
    margin: 20px 15px;
}

.tab-container{
    border-bottom: 1px solid var(--grey);
}
.btn.btn-icon{
    width: 60px;
    margin: 10px 5px;
}

.btn.btn-upload,.btn.btn-download{
    padding-left: 50px;
    position: relative;
}


.drowdownM.closeStyle{
    color:var(--maincolor)  !important;
    background:#fff !important;
    border:1px solid var(--maincolor) !important;
}

.drowdownM.closeStyle .opened{
    display:none;
}

.drowdownM.closeStyle .closed{
    display: inline-block;
}

.input-group > input.form-control{
    margin-right: 12px;
}

.ui-select-container > .ui-select-match > .btn {
    height: 42px;
    line-height: 10px !important;
}

.input-group .input-group-btn{
    width: 15%;
}

.btn-primary{
    color: #ffffff !important;
    background-color: var(--maincolor);
    border-color: var(--maincolor);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color: var(--hoverbtn);border-color: var(--maincolor);
}

.pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:hover:hover, .pagination > .active > span:hover:hover, .pagination > .active > a:focus:hover, .pagination > .active > span:focus:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > .active > a:hover:focus, .pagination > .active > span:hover:focus, .pagination > .active > a:focus:focus, .pagination > .active > span:focus:focus, .pagination > .active > a:active, .pagination > .active > span:active, .pagination > .active > a:hover:active, .pagination > .active > span:hover:active, .pagination > .active > a:focus:active, .pagination > .active > span:focus:active, .pagination > .active > a.active, .pagination > .active > span.active, .pagination > .active > a:hover.active, .pagination > .active > span:hover.active, .pagination > .active > a:focus.active, .pagination > .active > span:focus.active, .open .dropdown-toggle.pagination > .active > a, .open .dropdown-toggle.pagination > .active > span, .open .dropdown-toggle.pagination > .active > a:hover, .open .dropdown-toggle.pagination > .active > span:hover, .open .dropdown-toggle.pagination > .active > a:focus, .open .dropdown-toggle.pagination > .active > span:focus{
    background-color: var(--hoverbtn);border-color: var(--maincolor);
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info{
    background-color: var(--hoverbtn);border-color: var(--maincolor);
}

.form-validation .form-control.ng-dirty.ng-valid, .form-validation .form-control.ng-dirty.ng-valid:focus{
    border-color: var(--maincolor);
}

.btn.btn-primary.btn-upload.closeStyle{
    color:var(--maincolor)  !important;
    background:#fff !important;
    border-color:var(--maincolor) !important;
}

.btn.btn-upload:before{
    content:'';
    position: absolute;
    top:5px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/upload.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.btn.btn-download:before{
    content:'';
    position: absolute;
    top:5px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/download.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.btn.btn-upload.closeStyle:before{
    background-image: url(../img/closefilter.svg);
}

.drowdownM.closeStyle:before{
    background-image: url(../img/closefilter.svg);
    top:5px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.app-header-fixed{
    background-color: var(--grey);
}

.app-header-fixed .app-header{
    z-index: 11111;
}

.input-group{
    align-items: center;
    display:flex;
}

.input-group-btn{
    width: 15%;
}

.input-group-btn .btn.btn-sm.btn-icon{
    border:none;
}

.btn-group > .btn, .btn-group-vertical > .btn{
    z-index: 0;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active{
     background: var(--hover);
    border-color:var(--hover);
}


.bg-primary.padder-v{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    background-color: var(--maincolordark);
}
.navi ul.nav li a .badge, .navi ul.nav li a .label {
    position: absolute;
    right: 40px;
    background-color: #01b0f1 !important;
}


.headerDoctor > .inline,.headerDoctor > .filterClone{
    padding-top:10px;
}


/*****************************************************
 * Aggiunte da Gabriele, durante montaggio AngularJS
 *****************************************************/
.conditionalPatientHcp {
	display: none !important;
}

.tab-content > .tab-pane .col-md-12.text-right .btn, .modal-body .col-md-12.text-right .btn {
   margin: 5px 2px !important;
   padding: 0 0.2rem !important;
   min-width: 90px;
}

.tab-content {
	padding-top: 10px !important;
}

.input-group-btn .btn.btn-sm.btn-icon {
	margin: 0 !important;
}

.list-group-item.bg-secondary {
	background: #fff !important;
    color: #222 !important;
}

.input-group .input-group-btn.with-select {
    width: 100% !important;
}

.bg-secondary, .panel-default .panel-heading {
    background: #fff !important;
    color: #222 !important;
    text-align: left;
}

.headerDoctor {
    font-size: 18px;
    color: #222;
    z-index: 1222;
    border:none !important;
    position:fixed;
    top:60px;
    right:0px;
}

div.modal-content .headerDoctor {
	position: static;
	top: 0px;
	right: 0px;
	margin-top: -10px;
    margin-bottom: -20px;
}

.tab-content .headerDoctor {
	position: static;
	top: 0px;
	right: 0px;
	margin-top: -10px;
    margin-bottom: -20px;
}

.table-title {
	display: none !important;
}

.filterPopup {
	text-align: left;
}

.label.btn.btn-default .glyphicon.glyphicon-folder-open {
	display: none !important;
}

.patientTabs {
	position: relative;
	top: 10px;
}

.app-content-body {
	margin-bottom: 15px;
}

.tab-content .panel.panel-default {
	border: 1px solid !important;
	border-color: #dee5e7 !important;
	border-radius: 2px !important;
}

.filterPopup {
	position: absolute;
	top: auto !important;
}

.filterPopup .uploader.col-lg-12 {
	padding: 0 !important;
}
.filterPopup .uploader.col-lg-12 .panel {
	margin-bottom: 0 !important;
}

.filterPopup .panel, .filterPopup .tab-content .panel.panel-default {
	border: 0 !important;
}

#docsForm {
	padding: 0px !important;
}

.taskForm .panel-default .bg-secondary {
	display: block !important;
}

.bg-secondary.wrapper-xs {
	padding: 15px !important;
}

.panel-heading {
	padding: 10px 13px;
}

iframe{
    border:none;
}


.modal-body .row > .col-md-12, .row > .col-md-12 > .col-md-12.text-right,  .row > .col-md-12 > .col-md-12.text-right > button{
    position: static;
}


/* RESPONSIVE */

@media screen and (max-width: 1024px) {
	.filterPopup.long, .filterPopup {
    	width: 700px !important;
	}

    .modal-body .filterPopup.long{
        width: calc(100% - 205px) !important;
    }
    
    table.table tbody td a{
        word-break: break-all;
    }
    .docDet{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        place-self: flex-start;
        padding-top: 10px;
        width: 100%;
    }
    
    .userDashboard{
        flex-direction:column;
    }
    
    .doctDet, .doctDet .d-flex{
        flex-direction:column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .doctDet .d-flex:last-child{
        flex-direction:row;
    }
    
    .doctDet > .d-flex > .d-flex{
        flex-basis: 100%;
        margin: 10px 0;
        flex-direction: column;
        align-items: center;
    }
    
    .doctDet > .d-flex:first-child{
        flex-basis: 100%;
        margin: 10px 0;
        flex-direction: revert;
        align-items: center;
    }

    .doctDet .easyPieChart{
        margin: 0;
        margin-bottom: 20px;
    }

}


@media screen and (max-width:800px){
    

    .filterPopup .panel, .filterPopup .tab-content .panel.panel-default{
        max-height: 400px;
    }
    

    .ui-select-container{
        width: 100%;
    }
    
    ul.dropdown-menu > li > a{
        white-space: normal;
    }
    .app-header-fixed .app-header{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .app-header-fixed .app-header{
        z-index: 0;
    }
    
    table.table thead{
        display: none;
    }

    .panel-action-half{
        flex-basis: 100%;
        width: 100%;
        position: static;

    }
    .mainTeaser{
        padding: 0 20px;
        margin: 0;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        border-top: 1px solid #ccc;
        
    }

    .navbar-nav > li > a{
        box-shadow: none;
        display: flex;
    }

    .form-control{
        height:auto;
        min-height:36px;
    }

    .logo{
        position: absolute;
        left: 10px;
        top: 5px;
        margin: 0;
        max-width: 110px;
    }

    .logo img{
        width: 100%;
    }

    .headerDoctor{
        position: relative;
        top: 0;
        left: 0;
        z-index: 122;  width: 100% !important;
    }
    .m-t-xxl {
        margin-top: 39px;
    }


    .navbar-nav .open .dropdown-menu{
        position: absolute;
        z-index: 100000;
        width: 100%;
        box-shadow: 0 5px 12px rgba(0,0,0,.1);
        z-index: 100000;
    }
    .headerDoctor .bg-secondary{
        z-index: 0;
    }

    .breadcrumb, ul.breadcrumb{
        width: 100% !important;
        position: static !important;
    }

    .userDet{
        width: auto;
    }

    .filterPopup.long, .filterPopup{
        width: calc(100vw - 40px) !important;
    }
    .app-header-fixed {
        padding-top: 100px;
    }

    .breadcrumb + div > .m-t-xxl,.breadcrumb + .m-t-xxl,.app-content-body > .m-t-xxl{
        margin-top: 0 !important;
    }

    #calendar-container > div > .m-t-xxl{
        margin-top: 0 !important;
    }

    h3, .h3 {
        font-size: 18px;
    }
    table.table thead{
        position: static;
    }

    .w-xxl {
        width: 450px;
        max-width: 100%;
    }
    .nomargintop{
        margin-top:0 !important
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        z-index: 100000;
        width: 100%;
        box-shadow: 0 5px 12px rgb(0 0 0 / 10%);
        z-index: 100000;
        max-width: 100%;
        left: auto;
        right: 0;
    }
    
    #calendar-container .hbox .pull-right .btn-group{
        margin: 0;
        display: flex;
        align-items:center;
        justify-content:space-between;
        flex-wrap: wrap;
    }
    
    #calendar-container .hbox .pull-right .btn-group button{
        max-width: 48%;
        flex-basis: 48%;
        margin-top: 15px;
    }
    
    table.table .hidden-xs.hidden-sm{
        display: block !important;
    }

    table.table .text-ellipsis{
        max-width: 100% !important;
        display: block !important;
    }

    table.table .pagination .hidden-xs.hidden-sm{
        display: none !important;
    }

	.headerDoctor {
    	position: relative;
    	top: -16px;
    	right: 0;
    	z-index: 122;
        min-height:80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
	}
	
	.main-dashboard {
		position: relative;
		top: -60px;
	}

	.breadcrumb, ul.breadcrumb {
    	padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
	}

    .breadcrumb > li:first-child{
        padding: 5px 0;
    }

    .hidden-name,.hidden-mobile{
        display: none
    }

    .checkbox-inline{
        display: flex;
        align-items: center;
    }
    .checkbox-inline .i-checks{
        display: flex;
        align-items: center;
    }

    .form-group .input-group input.form-control{
            max-width: 200px;
    }

    .bootstrap-filestyle.input-group > input{
        display:none;
    }

    .bootstrap-filestyle.input-group > span{
        display: block;
        width: 100%;
        height: 50px;
        margin:15px 0;
    }

    .panel-body .row > .form-group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;   
        align-items: center;
        justify-content: flex-start; 
    }

   form .form-group .input-group .input-group-btn{
                max-width: 100px;
                width: auto;
    }

   
    .panel-body .row > .form-group label{
        margin-right: 20px;
    }

    .btn-group.dropdown ul.dropdown-menu > li{
        min-width: 200px;
    }

    sup {
        top: 8px;
        left: 5px;
    }

    .bootstrap-filestyle.input-group > span label{
        background:var(--maincolor);
        color:#fff !important;
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px !important;
    }

    .modal.in .modal-dialog{
        height:100%;
    }

    .actionInBar {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .actionInBar > div{
        margin:0px;
        width: 100%;
    }

    .actionInBar > div:last-child{
        margin-bottom: 10px;
    }

    .actionInBar a.btn{
        width: 100%;
        height: 38px;
        margin: 0;
        margin-top: 12px;
    }

    .navbar-header > button{
        line-height: 12px;
        font-size: 16px;
        padding: 10px 17px;
    }

    .material-icons, ul.breadcrumb > li + li:before{
        font-size: 35px;
    }



    .headerDoctor > .inline{
        padding: 10px 20px; width: 100%;
    }

    .headerDoctor > .inline> .btn{
        width: 100%;
    }

    

    .filterClone {
        position: relative;
        z-index: 5;
        padding: 0px 20px;
        right: 0px;
        top: -5px;
        text-align: center;
        bottom:auto;
        width: 100%;
    }

    .filterClone > .drowdownM,.filterClone > .btn{
        width: 100%;padding:10px 0;
    }

    .filterClone .form-group.text-right{
        text-align: center !important;
    }

    .panel-default .bg-secondary, .panel-default .panel-heading, .headerDoctor .bg-secondary{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filterPopup.long, .filterPopup,.modal-body .filterPopup.long,.modal-body .filterPopup{
        width: calc(100% - 0px) !important;
        box-shadow: 0 14px 20px rgb(0 0 0 / 50%);
        z-index: 10000;
        right:0  !important; 
        left:0 !important; 
    }

    .pull-right > .dropdown-menu{
        left:0;
        right:0;
    }


    table.table {
        border: 0;    display: block;    width: 100%;
      }

      table.table tfoot,table.table tbody{
        display: block;    width: 100%;
      }
    
      table.table caption {
        font-size: 1.3em;
      }
      
      table.table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table.table tr {
        position: relative;
        display: flex;
        border-bottom: 1px solid #eaeff0;
        flex-direction: column;
    
    }

    table.table tr:nth-child(even){
        background:#f0f0f0
    }

    table.table tfoot > tr:first-child th{
        padding: 0;
        width: 100%;
        display: block;
    }   

    table.table tr  td .btn-group.dropdown{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

      
      table.table td {
        border: none !important;
        display: block;
        font-size: 12px;
        padding: 5px 10px !important;
        padding-right: 35px !important;
        font-weight: 600;
        color:#222;
      
    
      }
      
      table.table td::before {
        content: attr(data-label);margin-right: 10px;
        float: left;
        color:#484848;
      }
      
      table.table td:last-child {
        border-bottom: 0;
      }


      table.table tbody td a,table.table tbody td p{
          word-break: break-all;
      }

      .btn.btn-icon {
        width: 42px;
        margin: 10px 0px;
    }

    .main-dashboard {
		position: relative;
		top: 0px;
	}

    .modal-body{
        padding: 0 10px;
        height: calc(100% - 60px);
        overflow: auto;
    }

    .modal-body.modal-with-footer{
        height: calc(100% - 140px);
    }

    .hbox-auto-xs > .col > .clearfix > .pull-right{
        float: none !important;
    }

    .largeModal .modal-dialog{
        width: 95% !important;
    }

    .modal-dialog .form-group span.input-group-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 105px;
        width: auto;
        align-items: center;
    }

    .visible-xs{
        display: block !important;
    }
    .hidden-xs{
        display: none !important;
    }
    .navbar-collapse, .app-content, .app-footer {
        margin-left:0px;
    }
    .app-aside-fixed .app-header .navbar-header {
        position: static;    width: 100%;
    }

    .hidden-xs.off-screen{
        display: block !important;
    }

    .pull-right > .dropdown-menu{
        min-width: 270px
    }
    .bg-secondary.wrapper-xs  .inline + .btn-group.dropdown.pull-right{
        position: absolute;
        right: 30px;
        top: 5px;
    }

    .bg-secondary.wrapper-xs  .inline + .btn-group.dropdown.pull-right  > .dropdown-menu{
        left: auto;
        right: 0;
    
    }
}


@media screen and (max-width:480px){
    
    .filterPopup .panel, .filterPopup .tab-content .panel.panel-default{
        max-height: none;
    }

    .doctDet .d-flex:last-child{
        flex-direction: column;
    }

    .wrapper-sm {
        padding: 10px 0;
    }

    
    form.form-validation label{
        width: 100%;
    }

    .input-group-btn.with-select{
        max-width: 100% !important;
    }


    .tab-pane .tab-content .panel.panel-default{
        border: none !important;
        padding: 0;
        box-shadow: none;
    }

    .tab-pane .tab-content .panel.panel-default .panel-heading,.tab-pane .tab-content .panel.panel-default .panel-body{
        padding: 0;
    }

    form .form-group .input-group .input-group-btn.group-span-filestyle{
        width: 100%;
        max-width: 100%;
    }

    form .form-group .input-group .input-group-btn.group-span-filestyle label{
        height: 100% !important;
    }

    #docsForm {
        padding: 10px 0  !important;
    }

    .uploader .col-lg-12.form-group + .col-lg-12.form-group{
        padding: 0 15px !important;
    }

    .uploader .btn.btn-sm.btn-icon{
        width: 60px;
    }

    .uploader table.table td{
        padding: 10px 0 !important;
    }

    .uploader .btn.btn-default.waves-effect.waves-light{
        width: 100%;
        max-width: 100%;
        margin:10px 0;
        padding: 0px !important
    }

    .uploader td .btn.btn-default.waves-effect.waves-light{
        width: 48%;
        max-width: 48%; padding: 0 !important
    }

    .uploader-table.table th, .uploader-table.table td > div{
        width: 100%;
    }

    .filterPopup.long, .filterPopup{
        padding: 0 15px;
    }

    .input-group label{
        margin: 0 !important;
    }
    .input-group label.i-checks{
        margin-left: 10px !important;
    }

    .modal-header{
        padding: 20px 0;
        justify-content: center;
    }

    .radio .label.i-checks{
        width: 100%;
        margin-bottom: 10px;
    }

    .modal-header .close {
        position: absolute;
        right: 6px;
        top: 20px;
        z-index: 1111;
    }
    .patientTabs .nav.nav-tabs{
        z-index: 1;
    }
}

/* AGGIUNTA MEDIA QUERY + MOD MATTEO */
@media screen and (min-width:801px){
    .navi ul.nav li a{
        padding: 14px 20px;
    }

    /* Ulteriori fix by Gabriele */
   
    .form-group .input-group {
        display: table !important;
    }
    
    .form-group .input-group .input-group-btn {
        width: 1% !important;
    }
    
    .filterPopup {
        width: 700px;
    }

    /* AGGIUNTE MATTEO */
    .app-content-body .breadcrumb + .m-t-xxl  .m-t-xxl .wrapper-sm,.app-content-body .tab-content .tab-pane .main-dashboard,.modal-body .main-dashboard{
        position: relative;
        z-index: 1;
    }
    .app-content-body .breadcrumb + .m-t-xxl  .m-t-xxl .wrapper-sm:first-child,.app-content-body .tab-content .tab-pane .filterWrap,.modal-body .filterWrap{
        position: relative;
        z-index: 2;
    }
    .btn.btn-sm.btn-icon.btn-default.pull-right{
        float: none !important;
        width: auto;
        display: block;
        padding: 1px 20px !important;
        height: auto;
        margin: 10px 0;
        background-color: var(--maincolor) !important;
        color:#fff  !important;
    }

    .glyphicon.glyphicon-folder-open{
        left:-10px;
    }
    .bootstrap-datetimepicker-widget {
        z-index: 10;
    }
    .bootstrap-datetimepicker-widget .year{
        min-width: 80px !important;
    }

    .bootstrap-datetimepicker-widget .month{
        min-width: 50px !important;
    }


    .bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 2px 0; z-index: 10;
    padding: 4px;
    }
    .bootstrap-datetimepicker-widget table td span {
        display: inline-block;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
    .bootstrap-datetimepicker-widget .picker-switch td span {
        line-height: 1;
        height: 1em;
        width: 100%;
      }

    .bootstrap-datetimepicker-widget table td{
        height: 30px;
        line-height: 30px;
        width: 30px;
        padding: 0;
    }
    .bootstrap-datetimepicker-widget table td .btn {
        height: 30px;
        line-height: 30px !important;
    }

    .modal-open .modal{
        overflow: hidden;
    }

    .modal-dialog {
        height: 95% !important;
    }

    .modal-content{
        height: 95%;
        padding-bottom: 20px;
    }

    .modal-content > div:not(.modal-header):not(.modal-body):not(.modal-footer){
        height: 100%;   
    }

    .modal-body{
        height: calc(100% - 60px);
        overflow: auto;
    }
    .modal-body.modal-with-footer{
        height: calc(100% - 140px);
    }

    .heightAutoModal .modal-body.modal-with-footer{
        height: auto;
        overflow: visible;
    }
    .heightAutoModal .modal-content{
        overflow: visible;
    }
    .modal-sm{
        width: 600px;
    }
    .modal-sm .modal-content,.heightAutoModal .modal-content{
            height:auto;
            max-height:95%;    padding-bottom: 0;
    }

    .patientTabs .nav.nav-tabs{
        z-index: 3;
    }
    .navbar-collapse, .app-content, .app-footer {
        margin-left: 280px;
    }

    .app-aside-fixed .app-header .navbar-header {
        position: fixed;
    }
    

    .app-aside, .navbar-header {
        width: 280px;
    }

    .navbar-header {
        float: left;
    }
}
    