<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista Attività completate</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Attività completate </h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-md-4">
									<label>Codice attività</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.CODE">
								</div>									
								<div class="form-group col-md-4">
									<label>Nome attività</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.NAME">
								</div>
								<div class="form-group col-md-4">
									<label>Descrizione attività</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.DESCRIPTION">
								</div>
								<div class="form-group col-md-2">
									<label>Data da</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.START_TIME_FROM">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-2">
									<label>Data a</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.START_TIME_TO">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label>Tipo attività</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.TYPE) for v in constants['MasterActivityType'] | constantActive"
										class="form-control" ng-model="searchFilters.filters.TYPE">
										<option value=""></option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label>Tipo Utente Rif.</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.USER_TYPE) for v in constants['ServiceRecipientType'] | constantActive"
										class="form-control" ng-model="searchFilters.filters.USER_TYPE">
										<option value=""></option>
									</select>
								</div>
								<div class="form-group col-md-4" ng-show="type=='not-assigned'">
									<label>Operatore IA preferito</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{preferredInternalStaffFilter.lastName}} {{preferredInternalStaffFilter.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="preferredInternalStaffFilter" user-type="'INTERNAL_STAFF'" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="preferredInternalStaffFilter.id" user-type="'INTERNAL_STAFF'" ng-disabled="preferredInternalStaffFilter === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="preferredInternalStaffFilter == undefined" ng-click="preferredInternalStaffFilter = undefined" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4" ng-if="serviceActivityGroups.length > 0">
									<label class="control-label">Gruppo attività / Occorrenza</label>
									<div class="input-group">
										<select ng-options="v.code as v.name for v in serviceActivityGroups" class="form-control" ng-model="searchFilters.filters.GROUP_CODE">
											<option value=""></option>
										</select>
										<span class="input-group-btn with-select">
											<select class="btn btn-default btn-sm" ng-model="searchFilters.filters.GROUP_OCCURRENCE" 
												ng-disabled="activityGroups.length == 0" ng-options="v.occurrence as v.occurrence for v in activityGroups" >
												<option value=""></option>			    				
											</select>
										</span>
									</div>
								</div>
								<div class="form-group col-md-4" ng-show="!isLogistic()">
									<label>Paziente</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{patientFilter.lastName}} {{patientFilter.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="patientFilter" user-type="'PATIENT'" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="patientFilter.id" user-type="'PATIENT'" ng-disabled="patientFilter === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="patientFilter == undefined" ng-click="patientFilter = undefined" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4" ng-show="!isLogistic()">
									<label>Medico</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{hcpFilter.lastName}} {{hcpFilter.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="hcpFilter" user-type="'HCP'" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="hcpFilter.id" user-type="'HCP'" ng-disabled="hcpFilter === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="hcpFilter == undefined" ng-click="hcpFilter = undefined" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4" ng-show="isInternalStaff()">
									<label>Operatore sanitario</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{supplierFilter.lastName}} {{supplierFilter.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="supplierFilter" user-type="'SUPPLIER'" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="supplierFilter.id" user-type="'SUPPLIER'" ng-disabled="supplierFilter === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="supplierFilter == undefined" ng-click="supplierFilter = undefined" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4" ng-show="isInternalStaff()">
									<label>Personale IA</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{internalStaffFilter.lastName}} {{internalStaffFilter.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="internalStaffFilter" user-type="'INTERNAL_STAFF'" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="internalStaffFilter.id" user-type="'INTERNAL_STAFF'" ng-disabled="internalStaffFilter === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="internalStaffFilter == undefined" ng-click="internalStaffFilter = undefined" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Attività</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport)"">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">
								<thead>
									<tr ng-if="selection">
										<td colspan="7" >
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</td>
									</tr>
									<tr>
										<th st-sort="o.code">Codice Attività</th>
										<th st-sort="o.name">Nome</th>
										<th class="hidden-xs hidden-sm" st-sort="o.date">Data</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="o.type">Tipo</th>
										<th st-sort="o.status">Stato</th>
										<th st-sort="o.user.fullName">Utente di Rif.</th>
										<th st-sort="o.user.type">Tipo Utente Rif.</th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" user-activity-modal="row.id" style="cursor: pointer;">
										<td ng-bind="row.code" />
										<td ng-bind="row.name" />
										<td class="hidden-xs hidden-sm" ng-bind="row.date | formatDate" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.type | constantLabel:'MasterActivityType'" />
										<td ng-bind="row.status | constantLabel:'ActivityStatus'" />
										<td ng-bind="row.user.fullName" />
										<td ng-bind="row.user.type | constantLabel:'UserType'" />
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>	
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>