<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Nome</label><sup>*</sup>
						<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
						<label class="control-label">Descrizione</label>
						<textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['desctiptionHelp'].VIEW">
						<label class="control-label">Testo Help</label>
						<textarea id="detail.descriptionHelp" rows="4" class="form-control" ng-disabled="!fieldPermissions['descriptionHelp'].UPDATE" ng-model="detail.descriptionHelp" tooltip="{{errors['detail.descriptionHelp']}}" ng-class="{error: errors['detail.descriptionHelp']}"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-8" ng-if="fieldPermissions['type'].VIEW">
						<label class="control-label">Tipo</label><sup>*</sup>
						<ui-select id="{{'detail.type'}}" ng-model="detail.type" theme="bootstrap" ng-disabled="!fieldPermissions['type'].UPDATE" 
							tooltip="{{errors['detail.type']}}" class="{{errors['detail.type'] ? 'error' : ''}}">
							<ui-select-match allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.label}}</ui-select-match>
							<ui-select-choices group-by="'group'" repeat="v.id as v in constants['MasterActivityType'] | filter: $select.search">
								<div ng-bind-html="v.label | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['otherType'].VIEW">
						<label class="control-label">Descrizione Altro</label>
						<input type="text" id="detail.otherType" class="form-control" ng-disabled="!fieldPermissions['otherType'].UPDATE" ng-model="detail.otherType" tooltip="{{errors['detail.otherType']}}" ng-class="{error: errors['detail.otherType']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['ownerType'].VIEW">
						<label class="control-label">Tipo Responsabile</label><sup>*</sup>
						<ui-select id="{{'detail.ownerType'}}" ng-model="detail.ownerType" theme="bootstrap" ng-disabled="!fieldPermissions['ownerType'].UPDATE" tooltip="{{errors['detail.ownerType']}}" class="{{errors['detail.ownerType'] ? 'error' : ''}}">
							<ui-select-match allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.label}}</ui-select-match>
							<ui-select-choices group-by="'group'" repeat="v.id as v in constants['ActivityOwnerType'] | filter: $select.search">
								<div ng-bind-html="v.label | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['ownerQualification'].VIEW">
						<label class="control-label">Qualifiche Responsabile</label><sup>*</sup>
						<ui-select multiple id="{{'detail.ownerQualifications'}}" ng-model="detail.ownerQualifications" theme="bootstrap" ng-disabled="!fieldPermissions['ownerQualification'].UPDATE" close-on-select="false" 
							tooltip="{{errors['detail.ownerQualifications']}}" class="{{errors['detail.ownerQualifications'] ? 'error' : ''}}">
							<ui-select-match allow-clear="true"><strong>{{$item.qualification.name}}</strong></ui-select-match>
							<ui-select-choices repeat="v.id as v in programQualifications | filter: $select.search">
								<div ng-bind-html="v.qualification.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['acceptedReasons'].VIEW">
						<label class="control-label">Motivi Applicabili</label>
						<div class="radio m-b-xs">
							<label class="checkbox-inline i-checks" ng-repeat="v in constants['ActivityReason']" ng-if="v.active || v.id === detail.type">
								<input type="checkbox" check-list="detail.acceptedReasons"  value="{{v.id}}" ng-disabled="!fieldPermissions['acceptedReasons'].UPDATE">
								<i tooltip="{{errors['detail.acceptedReasons']}}" ng-class="{error: errors['detail.acceptedReasons']}"></i><span class="m-n" bind-html-compile="v.label"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Pianificazione</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-3" ng-if="fieldPermissions['planningType'].VIEW">
						<label class="control-label">Tipo di Pianificazione</label><sup>*</sup>
						<ui-select id="{{'detail.planningType'}}" ng-model="detail.planningType" theme="bootstrap" ng-disabled="!fieldPermissions['planningType'].UPDATE" tooltip="{{errors['detail.planningType']}}" class="{{errors['detail.planningType'] ? 'error' : ''}}">
							<ui-select-match allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.label}}</ui-select-match>
							<ui-select-choices group-by="'group'" repeat="v.id as v in constants['ActivityPlanningType'] | filter: $select.search">
								<div ng-bind-html="v.label | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group col-md-3" ng-if="fieldPermissions['planningActivityReference'].VIEW">
						<label class="control-label">Pianifica attività quando</label><sup>*</sup>
						<ui-select id="{{'detail.planningActivityReference'}}" ng-model="detail.planningMasterActivityReference" theme="bootstrap" ng-disabled="!fieldPermissions['planningActivityReference'].UPDATE" tooltip="{{errors['detail.planningActivityReference']}}" class="{{errors['detail.planningActivityReference'] ? 'error' : ''}}">
							<ui-select-match allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.name}}</ui-select-match>
							<ui-select-choices group-by="'group'" repeat="v.id as v in service.activities | filter: $select.search">
								<div ng-bind-html="v.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group col-md-3" ng-if="fieldPermissions['planningActivityReferenceStatus'].VIEW">
						<label class="control-label">passa in stato</label><sup>*</sup>
						<ui-select id="{{'detail.planningActivityReferenceStatus'}}" ng-model="detail.planningActivityReferenceStatus" theme="bootstrap" ng-disabled="!fieldPermissions['planningActivityReferenceStatus'].UPDATE" tooltip="{{errors['detail.planningActivityReferenceStatus']}}" class="{{errors['detail.planningActivityReferenceStatus'] ? 'error' : ''}}">
							<ui-select-match allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.label}}</ui-select-match>
							<ui-select-choices group-by="'group'" repeat="v.id as v in constants['MasterActivityStatus'] | filter: $select.search">
								<div ng-bind-html="v.label | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group col-md-3" ng-if="fieldPermissions['planningActivityReference'].VIEW">
						<label class="control-label">Avvia schedulazione attività</label><sup>*</sup>
						<div class="form-control no-border">
							<label class="checkbox-inline i-checks">
								<input type="checkbox" value="{{detail.planningActivityReference}}" ng-disabled="!fieldPermissions['planningActivityReference'].UPDATE">
								<i tooltip="{{errors['detail.planningActivityReference']}}" ng-class="{error: errors['detail.planningActivityReference']}"></i><span class="m-n">Prima della chiusura</span>
							</label>
							<label class="checkbox-inline i-checks">
								<input type="checkbox" value="{{detail.planningActivityReference}}" ng-disabled="!fieldPermissions['planningActivityReference'].UPDATE">
								<i tooltip="{{errors['detail.planningActivityReference']}}" ng-class="{error: errors['detail.planningActivityReference']}"></i><span class="m-n">Dopo la chiusura</span>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Schedulazione</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['planningDelayTime'].VIEW">
						<label class="control-label">Schedula attività dopo</label>
						<div class="input-group">
							<input type="text" id="detail.planningDelayTime" class="form-control" ng-disabled="!fieldPermissions['planningDelayTime'].UPDATE" ng-model="detail.planningDelayTime" tooltip="{{errors['detail.planningDelayTime']}}" ng-class="{error: errors['detail.planningDelayTime']}">
							<span class="input-group-btn with-select" >
							
								<select class="btn btn-sm btn-default" ng-model="detail.planningDelayTimeUnit" tooltip="{{errors['detail.planningDelayTimeUnit']}}" ng-class="{error: errors['detail.planningDelayTimeUnit']}" ng-disabled="!fieldPermissions['planningDelayTime'].UPDATE"
									ng-change="errors['detail.planningDelayTimeUnit'] = undefined" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.planningDelayTimeUnit) for v in constants['TimeUnit']" >
									<option value="">Seleziona unità di tempo</option>			    				
								</select>
							</span>
						</div>
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['planningEvent'].VIEW">
						<label class="control-label">Dall'evento</label>
						<select ng-options="v.id as v.label disable when (!v.active && v.id !== detail.planningEvent) for v in constants['MasterActivityEvent']" class="form-control" 
							ng-model="detail.planningEvent" tooltip="{{errors['detail.planningEvent']}}" ng-class="{error: errors['detail.planningEvent']}" ng-disabled="!fieldPermissions['planningEvent'].UPDATE">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4" ng-if="fieldPermissions['planningMaxTime'].VIEW">
						<label class="control-label">Massimo ritardo per la schedulazione</label>
						<div class="input-group">
							<input type="text" id="detail.planningMaxTime" class="form-control" ng-disabled="!fieldPermissions['planningMaxTime'].UPDATE" ng-model="detail.planningMaxTime" tooltip="{{errors['detail.planningMaxTime']}}"
								ng-class="{error: errors['detail.planningMaxTime']}">
							<span class="input-group-btn with-select" >
								<select class="btn btn-sm btn-default" ng-model="detail.planningMaxTimeUnit" tooltip="{{errors['detail.planningMaxTime']}}" ng-class="{error: errors['detail.planningMaxTimeUnit']}" ng-disabled="!fieldPermissions['planningMaxTimeUnit'].UPDATE"
								ng-change="errors['detail.planningMaxTimeUnit'] = undefined" ng-disabled="!fieldPermissions['planningMaxTime'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.planningMaxTimeUnit) for v in constants['TimeUnit']" >
									<option value="">Seleziona unità di tempo</option>			    				
								</select>
							</span>
						</div>
					</div>	
					<div class="form-group col-md-4" ng-if="fieldPermissions['planningNotificationTime'].VIEW">
						<label class="control-label">Genera Task schedulazione dopo</label>
						<div class="input-group">
							<input type="text" id="detail.planningNotificationTime" class="form-control" ng-disabled="!fieldPermissions['planningNotificationTime'].UPDATE" ng-model="detail.planningNotificationTime"
								tooltip="{{errors['detail.planningNotificationTime']}}" ng-class="{error: errors['detail.planningNotificationTime']}">
							<span class="input-group-btn with-select" >
								<select class="btn btn-sm btn-default" ng-model="detail.planningNotificationTimeUnit" tooltip="{{errors['detail.planningNotificationTimeUnit']}}" ng-class="{error: errors['detail.planningNotificationTimeUnit']}" 
									ng-change="errors['detail.planningNotificationTimeUnit'] = undefined" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.planningNotificationTimeUnit) for v in constants['TimeUnit']"
									ng-disabled="!fieldPermissions['planningNotificationTime'].UPDATE">
									<option value="">Seleziona unità di tempo</option>			    				
								</select>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['planningMaxPastDays'].VIEW">
						<label class="control-label">Non schedulare se sono passati più di</label>
						<div class="input-group">
							<input type="text" id="detail.planningMaxPastDays" class="form-control" ng-disabled="!fieldPermissions['planningMaxPastDays'].UPDATE" ng-model="detail.planningMaxPastDays" tooltip="{{errors['detail.planningMaxPastDays']}}"
								ng-class="{error: errors['detail.planningMaxPastDays']}">
							<span class="input-group-btn with-select" >
							<select class="btn btn-sm btn-default" ng-disabled="!fieldPermissions['planningMaxPastDays'].UPDATE">
									<option value="">Giorni</option>			    				
								</select>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Ordine di servizio</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-4" ng-if="fieldPermissions['serviceOrderRequired'].VIEW">
						<label class="control-label">Ordine di Servizio</label><sup>*</sup>
						<div class="form-control no-border">
							<label class="checkbox-inline i-checks">
								<input type="checkbox" value="{{detail.serviceOrderRequired}}" ng-disabled="!fieldPermissions['serviceOrderRequired'].UPDATE">
								<i tooltip="{{errors['detail.serviceOrderRequired']}}" ng-class="{error: errors['detail.serviceOrderRequired']}"></i><span class="m-n">Richiesto</span>
							</label>
							<label class="checkbox-inline i-checks">
								<input type="checkbox" value="{{detail.serviceOrderRequired}}" ng-disabled="!fieldPermissions['serviceOrderRequired'].UPDATE">
								<i tooltip="{{errors['detail.serviceOrderRequired']}}" ng-class="{error: errors['detail.serviceOrderRequired']}"></i><span class="m-n">Non Richiesto</span>
							</label>
						</div>
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['serviceOrderReminderHours'].VIEW">
						<label class="control-label">Remind Ordine di Servizio (ore)</label>
						<div class="input-group">
							<input type="text" id="detail.serviceOrderReminderHours" class="form-control" ng-disabled="!fieldPermissions['serviceOrderReminderHours'].UPDATE" ng-model="detail.serviceOrderReminderHours"
								tooltip="{{errors['detail.serviceOrderReminderHours']}}" ng-class="{error: errors['detail.serviceOrderReminderHours']}">
							<span class="input-group-btn with-select" >
							<select class="btn btn-sm btn-default" ng-disabled="!fieldPermissions['serviceOrderReminderHours'].UPDATE">
									<option value="">Ore</option>			    				
								</select>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['serviceOrderExpiryHours'].VIEW">
						<label class="control-label">Scadenza ordine di Servizio (ore)</label>
						<div class="input-group">
							<input type="text" id="detail.serviceOrderExpiryHours" class="form-control" ng-disabled="!fieldPermissions['serviceOrderExpiryHours'].UPDATE" ng-model="detail.serviceOrderExpiryHours"
								tooltip="{{errors['detail.serviceOrderExpiryHours']}}" ng-class="{error: errors['detail.serviceOrderExpiryHours']}">
							<span class="input-group-btn with-select" >
							<select class="btn btn-sm btn-default" ng-disabled="!fieldPermissions['serviceOrderExpiryHours'].UPDATE">
									<option value="">Ore</option>			    				
								</select>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>