<div class="row" ng-if="fieldPermissions['retryHours'].UPDATE">
	<div class="col-md-12">
		<button class="btn btn-icon btn-rounded btn-primary waves-effect waves-light" ng-click="addNewRetryHour();" title="Aggiungi Retry">
			Aggiungi</button>
	</div>
</div>
<div class="row" ng-repeat="r in detail.retryHours track by $index"  ng-if="fieldPermissions['retryHours'].VIEW">
	<div class="form-group col-md-6">
		<label class="control-label">Ripeti se attvità non avvenuta dopo</label>
		<div class="input-group">
			<input type="text" id="r_$index" class="form-control" ng-disabled="!fieldPermissions['retryHours'].UPDATE" ng-model="r" tooltip="{{errors['retry_$index']}}" ng-class="{error: errors['retry_$index']}">
			<span class="input-group-btn with-select" >
				<select class="btn btn-default btn-sm" ng-disabled="!fieldPermissions['retryHours'].UPDATE">
					<option value="">Ore</option>			    				
				</select>
				<button type="button" class="btn btn-sm btn-icon btn-danger waves-effect waves-light" title="Elimina" style="margin-left: 5px;" ng-click="deleteRetryHour(r);"
					ng-if="fieldPermissions['retryHours'].UPDATE">
					<i class="material-icons">delete</i>
				</button>
			</span>
		</div>
	</div>
</div>