<div class="wrapper-sm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" ng-if="showList">
				<div class="row" st-pipe="search" st-table="list">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Servizi disponibili</h4>
							</div>
						</div>
						<table class="table">
							<thead>
								<tr ng-if="selection">
									<th colspan="4">
										<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
											<i class="material-icons">check_box</i>
										</button>
										<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
											<i class="material-icons">check_box_outline_blank</i>
										</button>
									</th>
								</tr>
								<tr>
									<th style="width: 1%;" ng-if="selection" />
									<th st-sort="name">Nome</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="description">Descrizione</th>
									<th st-sort="recipientType">Destinatario</th>
									<th style="width: 30px; padding: 0;" ng-if="false" />					
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in list" ng-click="edit(row.id)">
									<td ng-if="selection">
										<label class="i-checks">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
											<i />
										</label>
									</td>
									<td ng-bind="row.name" />
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.description" />
									<td ng-bind="row.recipientType | constantLabel: 'ServiceRecipientType'" />
									<td ng-if="false && !selection" style="padding: 0;">
										<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="canDelete">
								        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
								         		<i class="material-icons">more_vert</i>
								    		</button>
								        	<ul class="dropdown-menu pull-right">
								            	<li ng-if="canDelete">
								            		<a ng-click="delete(row.id)">
								            			<i class="material-icons">delete</i>
								            			Cancella
								            		</a>
								            	</li>
								        	</ul>
								    	</div>
									</td>							
								</tr>
							</tbody>
							<tbody ng-show="list == undefined || list.length==0">
								<tr>
									<td colspan="7" >
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
							<tfoot ng-show="list != undefined && list.length > 0">
								<tr>
									<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
								</tr>
							</tfoot>
						</table>
					</div>
					<!--
					<div class="col-sm-12">
						<div class="m-n" st-pagination="" st-items-by-page="1" st-displayed-pages="1" st-template="tpl/common/smart-table-custom-pagination.html"></div>
					</div>
					-->
					<div class="row" ng-if="selection">
						<div class="col-xs-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
								Ok
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>