<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.dashboard">Info programma {{program.name}}</a></li>
	<li><a href>Servizio {{detail.name}}</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Servizio {{detail.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/program/services/service-data.html'" />
						<!-- TO DO: Filtri da applicare -->
						<!-- Lista delle attività -->
						
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="row" st-table="rowCollection" st-safe-src="detail.activities">
								<div class="col-sm-12">
									<div class="bg-secondary wrapper-xs">
										<div class="inline">
											<h4 class="m-sm">Lista delle attività del servizio</h4>
										</div>
									</div>
									<table class="table">		
										<thead>
											<tr>
												<th style="width: 1%;" ng-if="selection" />
												<th st-sort="name">Nome</th>
												<th st-sort="masterActivityType">Tipo</th>
												<th st-sort="masterActivityIdx">Ordine</th>
												<th style="width: 30px; padding: 0;" ng-if="false" />
											</tr>
										</thead>
										<tbody class="bg-white">
											<tr ng-repeat="row in rowCollection" program-id="programId" service-id="id" activity-conf-modal="row.id" style="cursor: pointer;">
												<td ng-if="selection">
													<label class="i-checks">
														<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
														<i />
													</label>
												</td>
												<td ng-bind="row.name" />
												<td ng-bind="row.type | constantLabel:'MasterActivityType'" />
												<td ng-bind="row.masterActivityIdx" />
												<td ng-if="false && !selection" style="padding: 0;">
													<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="canDelete">
											        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
											         		<i class="material-icons">more_vert</i>
											    		</button>
											        	<ul class="dropdown-menu pull-right">
											            	<li ng-if="canDelete">
											            		<a ng-click="delete(row.id)">
											            			<i class="material-icons">delete</i>
											            			Cancella
											            		</a>
											            	</li>
											        	</ul>
											    	</div>
												</td>					
											</tr>
										</tbody>
										<tbody ng-show="rowCollection == undefined || rowCollection.length==0">
											<tr>
												<td colspan="4">
													<div class="text-muted"><i>Nessun dato trovato</i></div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--
								<div class="col-sm-12">
									<div class="m-n" st-pagination="" st-items-by-page="1" st-displayed-pages="1" st-template="tpl/common/smart-table-custom-pagination.html"></div>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>			
	</scrollable-tabset>
</div>
