<div class="wrapper-sm tab-fix-margin">
<div class="row" ng-if="canUpdate">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['type'].VIEW">
						<label class="control-label">Tipo</label><sup>*</sup>
						<div class="radio m-b-xs">
							<label class="checkbox-inline i-checks" ng-repeat="v in constants['SupplierType']" ng-if="v.active || v.id === detail.type">
								<input type="checkbox" check-list="detail.type" only-one="true" value="{{v.id}}" ng-disabled="!fieldPermissions['type'].UPDATE || (detail.type !== undefined && constants['SupplierType'].length == 1)">
								<i tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}"></i><span class="m-n" bind-html-compile="v.label"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="row" ng-if="detail.type !== undefined && detail.type !== 'PROFESSIONIST'">
					<div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Ragione sociale</label><sup>*</sup>
						<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
						<label class="control-label">Descrizione</label>
						<textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
					</div>
				</div>
				<div class="row" ng-if="detail.type !== undefined && detail.type === 'PROFESSIONIST'">
					<div class="form-group col-md-2" ng-if="fieldPermissions['representativeTitle'].VIEW">
						<label class="control-label">Titolo</label>
						<select id="detail.representativeTitle" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.representativeTitle) for v in constants['UserTitle']" 
							ng-disabled="!fieldPermissions['representativeTitle'].UPDATE" class="form-control" ng-model="detail.representativeTitle" 
							tooltip="{{errors['detail.representativeTitle']}}" ng-class="{error: errors['detail.representativeTitle']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-5" ng-if="fieldPermissions['representativeLastName'].VIEW">
						<label class="control-label">Cognome</label>
						<input type="text" id="detail.representativeLastName" class="form-control" ng-disabled="!fieldPermissions['representativeLastName'].UPDATE" 
							ng-model="detail.representativeLastName" tooltip="{{errors['detail.representativeLastName']}}" ng-class="{error: errors['detail.representativeLastName']}">
					</div>
					<div class="form-group col-md-5" ng-if="fieldPermissions['representativeFirstName'].VIEW">
						<label class="control-label">Nome</label>
						<input type="text" id="detail.representativeFirstName" class="form-control" ng-disabled="!fieldPermissions['representativeFirstName'].UPDATE"
							ng-model="detail.representativeFirstName" tooltip="{{errors['detail.representativeFirstName']}}" ng-class="{error: errors['detail.representativeFirstName']}">
					</div>
				</div>
				<div class="row" ng-if="detail.type !== undefined">
					<div class="form-group col-md-6" ng-if="fieldPermissions['vatNumber'].VIEW">
						<label class="control-label">Partita IVA <sup>*</sup></label>
						<input type="text" id="detail.vatNumber" class="form-control" ng-disabled="!fieldPermissions['vatNumber'].UPDATE" ng-model="detail.vatNumber" tooltip="{{errors['detail.vatNumber']}}" ng-class="{error: errors['detail.vatNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['fiscalCode'].VIEW">
						<label class="control-label">Codice Fiscale <sup>*</sup></label>
						<input type="text" id="detail.fiscalCode" class="form-control" ng-disabled="!fieldPermissions['fiscalCode'].UPDATE" ng-model="detail.fiscalCode" tooltip="{{errors['detail.fiscalCode']}}" ng-class="{error: errors['detail.fiscalCode']}">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note Interne</label>
						<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="detail.type !== undefined && detail.type !== 'PROFESSIONIST'">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">	
				<h4>Dati di contatto</h4>
			</div>
			<div class="panel-body">
			<div class="row" ng-if="fieldPermissions['preferredContacts'].VIEW"> <!-- DATI CONTATTI PER COMUNICAZIONI -->
					<div class="form-group col-lg-6">
					    <label class="control-label">Metodi di comunicazione</label>
						<div class="input-group col-md-12" ng-repeat="contactUser in constants['PreferredContactType']" ng-if="contactUser.active">
			              <label class="control-label">{{contactUser.label}}</label>
			               	<div class="checkbox-inline">
			               		<label class="i-checks m-r">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
									<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>Si
								</label>
								<label class="i-checks">
									<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
									<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>No
								</label>
			               	</div>
			            </div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['phoneNumber'].VIEW">
						<label class="control-label">Tefefono</label>
						<input type="text" id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['faxNumber'].VIEW" >
						<label class="control-label">Fax</label>
						<input type="text" id="detail.faxNumber" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
					</div>
				</div>
				<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="detail.type !== undefined && detail.type === 'PROFESSIONIST'">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">	
				<h4>Dati di contatto</h4>
			</div>
			<div class="panel-body">
				<div class="row" ng-if="fieldPermissions['preferredContacts'].VIEW"> <!-- DATI CONTATTI PER COMUNICAZIONI -->
					<div class="form-group col-lg-6">
					    <label class="control-label">Metodi di comunicazione</label>
						<div class="input-group col-md-12" ng-repeat="contactUser in constants['PreferredContactType']" ng-if="contactUser.active">
			              <label class="control-label">{{contactUser.label}}</label>
			               	<div class="checkbox-inline">
			               		<label class="i-checks m-r">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
									<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>Si
								</label>
								<label class="i-checks">
									<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
									<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>No
								</label>
			               	</div>
			            </div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativePhoneNumber'].VIEW">
						<label class="control-label">Telefono</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativePhoneNumber'].UPDATE" ng-model="detail.representativePhoneNumber" tooltip="{{errors['detail.representativePhoneNumber']}}" ng-class="{error: errors['detail.representativePhoneNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeFaxNumber'].VIEW">
						<label class="control-label">Fax</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeFaxNumber'].UPDATE" ng-model="detail.representativeFaxNumber" tooltip="{{errors['detail.representativeFaxNumber']}}" ng-class="{error: errors['detail.representativeFaxNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeCellPhoneNumber'].VIEW">
						<label class="control-label">Cellulare</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeCellPhoneNumber'].UPDATE" ng-model="detail.representativeCellPhoneNumber" tooltip="{{errors['detail.representativeCellPhoneNumber']}}" ng-class="{error: errors['detail.representativeCellPhoneNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeEmail'].VIEW">
						<label class="control-label">Email</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeEmail'].UPDATE" ng-model="detail.representativeEmail" tooltip="{{errors['detail.representativeEmail']}}" ng-class="{error: errors['detail.representativeEmail']}">
					</div>
				</div>
				<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="detail.type !== undefined && detail.type !== 'PROFESSIONIST'">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati della persona di riferimento</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-2" ng-if="fieldPermissions['representativeTitle'].VIEW">
						<label class="control-label">Titolo</label>
						<select id="detail.representativeTitle" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.representativeTitle) for v in constants['UserTitle']" 
							ng-disabled="!fieldPermissions['representativeTitle'].UPDATE" class="form-control" ng-model="detail.representativeTitle" 
							tooltip="{{errors['detail.representativeTitle']}}" ng-class="{error: errors['detail.representativeTitle']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-5" ng-if="fieldPermissions['representativeLastName'].VIEW">
						<label class="control-label">Cognome</label>
						<input type="text" id="detail.representativeLastName" class="form-control" ng-disabled="!fieldPermissions['representativeLastName'].UPDATE" 
							ng-model="detail.representativeLastName" tooltip="{{errors['detail.representativeLastName']}}" ng-class="{error: errors['detail.representativeLastName']}">
					</div>
					<div class="form-group col-md-5" ng-if="fieldPermissions['representativeFirstName'].VIEW">
						<label class="control-label">Nome</label>
						<input type="text" id="detail.representativeFirstName" class="form-control" ng-disabled="!fieldPermissions['representativeFirstName'].UPDATE"
							ng-model="detail.representativeFirstName" tooltip="{{errors['detail.representativeFirstName']}}" ng-class="{error: errors['detail.representativeFirstName']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativePhoneNumber'].VIEW">
						<label class="control-label">Telefono</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativePhoneNumber'].UPDATE" ng-model="detail.representativePhoneNumber" tooltip="{{errors['detail.representativePhoneNumber']}}" ng-class="{error: errors['detail.representativePhoneNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeFaxNumber'].VIEW">
						<label class="control-label">Fax</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeFaxNumber'].UPDATE" ng-model="detail.representativeFaxNumber" tooltip="{{errors['detail.representativeFaxNumber']}}" ng-class="{error: errors['detail.representativeFaxNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeCellPhoneNumber'].VIEW">
						<label class="control-label">Cellulare</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeCellPhoneNumber'].UPDATE" ng-model="detail.representativeCellPhoneNumber" tooltip="{{errors['detail.representativeCellPhoneNumber']}}" ng-class="{error: errors['detail.representativeCellPhoneNumber']}">
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['representativeEmail'].VIEW">
						<label class="control-label">Email</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['representativeEmail'].UPDATE" ng-model="detail.representativeEmail" tooltip="{{errors['detail.representativeEmail']}}" ng-class="{error: errors['detail.representativeEmail']}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="detail.type !== undefined && detail.type === 'PROFESSIONIST' && isNew()">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">	
				<h4>Altri dati (specifici dell'utente che verrà creato)</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-4" ng-if="professionistFieldPermissions['nickName'].VIEW">
						<label class="control-label">Nome Utente</label>
						<input type="text" class="form-control" ng-disabled="!professionistFieldPermissions['nickName'].UPDATE" ng-model="professionist.nickName"
							tooltip="{{errors['professionist.nickName']}}" ng-class="{error: errors['professionist.nickName']}">
					</div>
					<div class="form-group col-md-4" ng-if="professionistFieldPermissions['role'].VIEW">
						<label class="control-label">Ruolo</label><sup>*</sup>
						<select ng-disabled="!professionistFieldPermissions['role'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== professionist.role) for v in constants['UserRole']"
							class="form-control" ng-model="professionist.role" tooltip="{{errors['professionist.role']}}" ng-class="{error: errors['professionist.role']}">
							<option value />
						</select>
					</div>
					<div class="form-group col-md-4" ng-if="professionistFieldPermissions['sex'].VIEW">
						<label class="control-label">Sesso</label>
						<select id="detail.representativeSex" ng-disabled="!professionistFieldPermissions['sex'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== professionist.sex) for v in constants['Sex']"
							class="form-control" ng-model="professionist.sex" tooltip="{{errors['professionist.sex']}}" ng-class="{error: errors['professionist.sex']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-4" ng-if="professionistFieldPermissions['nationality'].VIEW">
						<label class="control-label">Nazionalità</label>
						<div class="form-control" disabled="!professionistFieldPermissions['nationality'].UPDATE" input-class="form-control"
							entity-autocomplete input-model="professionist.nationality" source-list="selects['Nationalities']" title-field="name" search-field="name" placeholder="Nazionalità" />
					</div>
					<div class="form-group col-md-4" ng-if="professionistFieldPermissions['qualifications'].VIEW">
						<label class="control-label">Qualifiche</label>
						<ui-select ng-model="professionist.qualifications" multiple theme="bootstrap" close-on-select="false" tooltip="{{errors['professionist.qualifications.'+$index+'']}}" 
							class="{{errors['professionist.qualifications.'+$index+''] ? 'error' : ''}}">
							<ui-select-match allow-clear="true">{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="v in selects['Qualification'] | filter: $select.search">
								<div ng-bind-html="v.name | highlight: $select.search" />
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group col-md-4 text-center" ng-if="professionistFieldPermissions['professionalInsurance'].VIEW">
						<label class="control-label">Assicurazione professionale</label>
						<div class="form-control no-border">
							<label class="checkbox-inline i-checks" >
								<input type="checkbox" ng-model="professionist.professionalInsurance"
									value="{{professionist.professionalInsurance}}" ng-disabled="!professionistFieldPermissions['professionalInsurance'].UPDATE">
								<i tooltip="{{errors['professionist.professionalInsurance']}}" ng-class="{error: errors['professionist.professionalInsurance']}" />
							</label>
						</div>
					</div>
					<div class="form-group col-md-4 text-center" ng-if="professionistFieldPermissions['ownCar'].VIEW">
						<label class="control-label">Automunito</label>
						<div class="form-control no-border">
							<label class="checkbox-inline i-checks" >
								<input type="checkbox" ng-model="professionist.ownCar"
									value="{{professionist.ownCar}}" ng-disabled="!professionistFieldPermissions['ownCar'].UPDATE">
								<i tooltip="{{errors['professionist.ownCar']}}" ng-class="{error: errors['professionist.ownCar']}" />
							</label>
						</div>
					</div>
					<div class="form-group col-md-6" ng-if="professionistFieldPermissions['admittedToPractice'].VIEW">
						<label class="control-label">Ammesso all'albo</label>
						<input type="text" class="form-control"
							ng-disabled="!professionistFieldPermissions['admittedToPractice'].UPDATE" ng-model="professionist.admittedToPractice"
							tooltip="{{errors['professionist.admittedToPractice']}}" ng-class="{error: errors['professionist.admittedToPractice']}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="canUpdate">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
</div>