<div class="row">
	<div class="form-group col-md-8">
		<label class="control-label">Nome</label>
		<input type="text" id="drug.drug.name" ng-disabled="true" class="form-control" ng-model="drug.drug.name" tooltip="{{errors['drug_'+$index+'_therapy.drug.name']}}" ng-class="{error: errors['drug_'+$index+'_therapy.drug.name']}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Dispositivo</label>
		<input type="text" id="drug.deviceType.name" ng-disabled="true" class="form-control" ng-model="drug.deviceType.name" tooltip="{{errors['drug_'+$index+'_therapy.deviceType.name']}}" ng-class="{error: errors['drug_'+$index+'_therapy.deviceType.name']}">
	</div>
	<div class="form-group col-md-12">
		<label class="control-label">Descrizione</label>
		<textarea id="drug.drug.description" rows="5" class="form-control" ng-disabled="true" ng-model="drug.drug.description" tooltip="{{errors['drug_'+$index+'_therapy.drug.description']}}" ng-class="{error: errors['drug_'+$index+'_therapy.drug.description']}"/>
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Dose</label>
		<input type="text" id="drug.expectedDosage" class="form-control" ng-disabled="!isTherapyEditable[therapyIndex]" ng-model="drug.expectedDosage" tooltip="{{errors['drug_'+$index+'_therapy.expectedDosage']}}" ng-class="{error: errors['drug_'+$index+'_therapy.expectedDosage']}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Unità di misura</label>
		<input type="text" id="drug.expectedDosageUnit" class="form-control" ng-disabled="!isTherapyEditable[therapyIndex]" ng-model="drug.expectedDosageUnit" tooltip="{{errors['drug_'+$index+'_therapy.expectedDosageUnit']}}" ng-class="{error: errors['drug_'+$index+'_therapy.expectedDosageUnit']}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Metodo di somministrazione</label>
		<input type="text" id="drug.expectedDosageMethod" ng-disabled="!isTherapyEditable[therapyIndex]" class="form-control" ng-model="drug.expectedDosageMethod" tooltip="{{errors['drug_'+$index+'_therapy.expectedDosageMethod']}}" ng-class="{error: errors['drug_'+$index+'_therapy.expectedDosageMethod']}">
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Giorni tolleranza terapia</label>
		<input type="number" id="drug.toleranceDays" class="form-control" ng-model="drug.toleranceDays" tooltip="{{errors['drug_'+$index+'_therapy_'+therapyIndex+'.toleranceDays']}}" ng-class="{error: errors['drug_'+$index+'_therapy_'+therapyIndex+'.toleranceDays']}">
	</div>
</div>

