<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Terapie</h3>
</div>
<div class="{{!popup ? '' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap" ng-if="selection">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-6">
									<label>Nome</label>
									<input type="name" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="row" st-table="rowCollection" st-safe-src="patientTherapies">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Terapie</h4>
								</div>
							</div>
							<table class="table">
								<thead>
									<tr ng-if="selection">
										<th colspan="3">
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th st-sort="name">Nome</th>
										<th st-sort="duration">Durata</th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in rowCollection">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td>{{row.therapy.name}}</td>
										<td>{{row.therapy.duration}} {{row.therapy.durationUnit | constantLabel:'TherapyDurationUnit'}}</td>
									</tr>
								</tbody>
								<tbody ng-show="rowCollection == undefined || rowCollection.length==0">
									<tr>
										<td colspan="3" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row" ng-if="canModify">
						<div class="col-md-12 pull-right">
							<button class="btn btn-icon btn-rounded btn-primary waves-effect waves-light" patient-therapy-search-modal="patientTherapies" program-id="id" pre-fn="" post-fn=""
								title="Aggiungi / Rimuovi">
								<i class="material-icons">mode_edit</i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>