<ul class="nav">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<i class="material-icons">dashboard</i>
			<span class="font-bold">Agenda</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active:$state.includes('app.')}">
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="material-icons">local_activity</i>
			<span class="font-bold">Attività</span>
			<b class="badge bg-info pull-right">{{todoTasks + queuedTasks}}</b>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="activeSub">
				<a ui-sref="app.my-tasks">
					<span>Da completare</span>
					<b class="badge bg-info pull-right">{{todoTasks}}</b>
				</a>
			</li>
			<li ui-sref-active="activeSub">
				<a ui-sref="app.completed-activity">
					<span>Completate</span>
					
				</a>
			</li>
		</ul>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active" ng-if="loggedUser.viewPermissions.PATIENT">
		<a ui-sref="app.patients">
			<i class="material-icons">people_outline</i>
			<span class="font-bold">Pazienti</span>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="loggedUser.viewPermissions.HCP">
		<a ui-sref="app.hcps">
			<i class="material-icons">people</i>
			<span class="font-bold">Medici</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.suppliers') || $state.includes('app.supplier')}">
		<a ui-sref="app.suppliers">
			<i class="material-icons">person</i>
			<span class="font-bold">Operatori sanitari</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.medicalcenters') || $state.includes('app.medicalcenter')}">
		<a ui-sref="app.medicalcenters">
			<i class="material-icons">business</i>
			<span class="font-bold">Centri Medici</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.documents">
			<i class="material-icons">file_upload</i>
			<span class="font-bold">I miei documenti</span>
		</a>
	</li>
	<li class="line dk"></li>
	<li ng-class="{active: $state.includes('app.exports')}">
		<a ui-sref="app.exports">
			<i class="material-icons">insert_drive_file</i>
			<span class="font-bold">Export</span>
		</a>
	</li>
</ul>