<ul class="nav">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<i class="material-icons">camera_enhance</i>
			<span class="font-bold">Riepilogo</span>
		</a>
	</li>
	<!-- <li class="line dk hidden-folded"></li>
	<li ng-class="{active:$state.includes('app.')}">
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="material-icons">local_activity</i>
			<span class="font-bold">Attività</span>
			<b class="badge bg-info pull-right">{{totalTasks(todo) + totalTasks(queued)}}</b>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="active">
				<a ui-sref="app.todo">
					<span>Da pianificare</span>
					<b class="badge bg-info pull-right">{{totalTasks(todo)}}</b>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.groups.length == 1">
				<a ui-sref="app.queued({groupId: user.groups[0].id})">
					<span>In attesa Ordine di Servizio</span>
					<b class="badge bg-info pull-right">{{totalTasks(queued[user.groups[0].id])}}</b>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="user.groups.length == 1">
				<a ui-sref="app.queued({groupId: user.groups[0].id})">
					<span>Da completare</span>
					<b class="badge bg-info pull-right">{{totalTasks(queued[user.groups[0].id])}}</b>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.archived">
					<span>Completate</span>
					<b class="badge bg-info pull-right">{{totalTasks(archived)}}</b>
				</a>
			</li>
		</ul>
	</li>-->
	<li class="line dk hidden-folded"></li>
	<li ng-class="{active: $state.includes('app.medicalcenters') || $state.includes('app.medicalcenter')}">
		<a ui-sref="app.medicalcenters">
			<i class="material-icons">business</i>
			<span class="font-bold">Centri Medici</span>
		</a>
	</li>
<!-- 	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.supplier-user-training-sessions">
			<i class="material-icons">group</i>
			<span class="font-bold">Operatori ItaliAssistenza</span>
		</a>
	</li>
-->
	<!-- 
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.hcps">
			<i class="material-icons">people</i>
			<span class="font-bold">Medici</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.patients">
			<i class="material-icons">people_outline</i>
			<span class="font-bold">Pazienti</span>
		</a>
	</li>
	 -->
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.documents">
			<i class="material-icons">file_upload</i>
			<span class="font-bold">I miei documenti</span>
		</a>
	</li>
	<li class="line dk hidden-folded"></li>
	<li ui-sref-active="active">
		<a ui-sref="app.customer-users">
			<i class="material-icons">person</i>
			<span class="font-bold">Utenze Cliente</span>
		</a>
	</li>
	<li class="line dk" ng-if="loggedUser.viewPermissions.STORED_EXPORT"></li>
	<li ng-class="{active: $state.includes('app.exports')}">
		<a ui-sref="app.exports">
			<i class="material-icons">insert_drive_file</i>
			<span class="font-bold">Export</span>
		</a>
	</li>
</ul>