<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Prelievo ematico</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
<div class="modal-body">
	<tabset class="tab-container" scrollable>
		<tab heading="Dettagli">
			<tab-heading>
				<i class="material-icons">pin_drop</i>
				<span>Dettagli</span>
			</tab-heading>
 			<div class="row" ng-if="canUpdate">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading scrollspy">
							<h4>Dati del prelievo ematico</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label class="control-label">Paziente</label>
									<div class="input-group">
										<input value="{{detail.patient.title | constantLabel:'UserTitle'}} {{detail.patient.lastName}} {{detail.patient.firstName}}"
											tooltip="{{errors['detail.patient']}}" ng-class="{error: errors['detail.patient']}" type="text"
											class="form-control" ng-disabled="!fieldPermissions['patient'].UPDATE"> 
											<span class="input-group-btn">
											<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.patient == undefined"
												user-modal="detail.patient.id" user-type="detail.patient.type" multiple-list="false" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6" >
									<label class="control-label">Responsabile</label>
									<div class="input-group">
										<input value="{{detail.owner.title | constantLabel:'UserTitle'}} {{detail.owner.lastName}} {{detail.owner.firstName}}"
											tooltip="{{errors['detail.owner']}}" ng-class="{error: errors['detail.owner']}" type="text"
											class="form-control" ng-disabled="!fieldPermissions['owner'].UPDATE"> 
											<span class="input-group-btn">
											<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.owner == undefined"
												user-modal="detail.owner.id" user-type="detail.owner.type" multiple-list="false" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label class="control-label">Centro di prelievo</label>
									<div class="input-group">
										<input type="text" id="detail.bloodDrawingCenter" class="form-control" ng-disabled="!fieldPermissions['bloodDrawingCenter'].UPDATE" 
											value="{{detail.bloodDrawingCenter.name}}" tooltip="{{errors['detail.bloodDrawingCenter']}}" ng-class="{error: errors['detail.bloodDrawingCenter']}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" blood-drawing-center-modal="detail.bloodDrawingCenter.id"
												ng-disabled="detail.bloodDrawingCenter == undefined" title="Dettaglio">
												<i class="material-icons">room</i>
											</button>
										</span>		
									</div>
								</div> 
								<div class="form-group col-md-6">
									<label class="control-label">Data prelievo</label>
									<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="!fieldPermissions['withdrawalDate'].UPDATE" ng-model="detail.withdrawalDate"
										tooltip="{{errors['detail.withdrawalDate']}}" ng-class="{error: errors['detail.withdrawalDate']}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Luogo del prelievo</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-12">
									<label class="control-label">Luogo incontro</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== form.locationType) for v in constants['MeetingLocation']" class="form-control" 
										ng-model="detail.locationType" tooltip="{{errors['detail.locationType']}}" ng-class="{error: errors['detail.locationType']}" ng-disabled="!fieldPermissions['locationType'].UPDATE">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="row" address-input="detail.address" errors="errors" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="canUpdate">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</div>