<div class="wrapper-sm tab-fix-margin">
<div class="row" ng-if="canUpdate">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['type'].VIEW">
						<label class="control-label">Tipo</label><sup>*</sup>
						<div class="radio m-b-xs">
							<label class="checkbox-inline i-checks" ng-repeat="v in constants['MedicalCenterType']" ng-if="v.active || v.id === detail.type">
								<input type="checkbox" check-list="detail.type" only-one="true" value="{{v.id}}" ng-disabled="!fieldPermissions['type'].UPDATE">
								<i tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}"></i><span class="m-n" bind-html-compile="v.label"></span>
							</label>
						</div>
					</div>
					<div class="form-group col-md-6" ng-show="detail.type == 'OTHER' && fieldPermissions['otherType'].VIEW">
						<label class="control-label">Altro tipo</label><sup>*</sup>
						<input type="text" id="detail.otherType" class="form-control" ng-disabled="!fieldPermissions['otherType'].UPDATE" ng-model="detail.otherType" tooltip="{{errors['detail.otherType']}}" ng-class="{error: errors['detail.otherType']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Nome</label><sup>*</sup>
						<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati di contatto</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-4" ng-if="fieldPermissions['code'].VIEW">
						<label class="control-label">Codice</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['phoneNumber'].VIEW">
						<label class="control-label">Telefono</label>
						<input type="text"  id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['faxNumber'].VIEW">
						<label class="control-label">Fax</label>
						<input type="text" id="detail.faxNumber" rows="1" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['email'].VIEW">
						<label class="control-label">Email</label>
						<input type="text"  id="detail.email" class="form-control" ng-disabled="!fieldPermissions['email'].UPDATE" ng-model="detail.email" tooltip="{{errors['detail.email']}}" ng-class="{error: errors['detail.email']}">
					</div>
				</div>
				<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note interne</label>
						<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t" ng-if="fieldPermissions['customProperties'].VIEW">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Altri dati</h4>
			</div>
			<div class="panel-body" ng-include="'tpl/common/custom-properties.html'">

			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="canUpdate">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
			Annulla
		</button>
	</div>
</div>	
</div>
