<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista materiali</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
 	<div class="wrapper-sm filterWrap">
 		<div class="row">
 			<div class="col-lg-12">
 				<div class="panel panel-default m-n">
 					<div class="panel-body">
 						<form name="form" class="form-validation" novalidate ng-submit="search()">
 							<div class="row">
 								<div class="form-group col-md-4">
									<label>Materiale</label>
									<ui-select ng-model="material" theme="bootstrap" ng-change="searchFilters.filters.MATERIAL_ID = material.id">
						    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
						    			<ui-select-choices group-by="'group'" repeat="v in selects['Material'] | filter: $select.search">
						     				<div ng-bind-html="v.name | highlight: $select.search" />
						    			</ui-select-choices>
						    		</ui-select>
								</div>
								<div class="form-group col-md-4">
									<label>Stato</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.STATUS) for v in constants['PatientMaterialStatus'] | constantActive"
											class="form-control" ng-model="searchFilters.filters.STATUS">
										<option value=""></option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">In comodato</label>
									<div>
										<label class="i-checks m-r">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="searchFilters.filters.LOAN_FOR_USE">
											<i error-tooltip></i>Si
										</label>
										<label class="i-checks">
											<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="searchFilters.filters.LOAN_FOR_USE">
											<i error-tooltip></i>No
										</label>
									</div>
								</div>
							</div>
							<div class="row">
 								<div class="col-lg-12 text-right">
 									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
 										Cerca
 									</button>
 									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters();" title="Cancella">
 										Cancella
 									</button>
 								</div>
 							</div>
 						</form>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Materiali</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a patient-material-detail detail-id="''" patient-id="patientId" view="detailView" is-modal="isModal || detailView === undefined"
						            			post-fn="search">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th st-sort="material.name" colspan="2">Nome</th>
										<th st-sort="model">Modello</th>
										<th>In comodato?</th>
										<th st-sort="status">Stato</th>
										<th st-sort="deliveryDate">Data consegna</th>
										<th st-sort="pickUpDate">Data ritiro</th>
										<th style="width: 85px;"">Kit?</th>
										<th style="width: 30px; padding: 0;" ng-if="!isSelection" />
									</tr>
								</thead>
								<tbody class="bg-white" ng-repeat="row in list">
									<tr ng-init="kitExpand[row.id] = false">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="unselectUserMaterials(row)">
												<i />
											</label>
										</td>
										<td ng-bind="row.material.name" colspan="2"/>
										<td ng-bind="row.model" patient-material-detail detail-id="row.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row.loanForUse | formatBool" patient-material-detail detail-id="row.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row.status | constantLabel: 'PatientMaterialStatus'" patient-material-detail detail-id="row.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row.deliveryDate | formatDate" patient-material-detail detail-id="row.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row.pickUpDate | formatDate" patient-material-detail detail-id="row.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td>{{row.kit | formatBool }}
											<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" ng-if="row.userMaterials && row.userMaterials.length > 0" ng-click="kitExpand[row.id] = !kitExpand[row.id];">
								         		<i class="material-icons" ng-if="!kitExpand[row.id]">expand_more</i>
								         		<i class="material-icons" ng-if="kitExpand[row.id]">expand_less</i>
								    		</button>
										</td>
										<td ng-if="!isSelection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>
									</tr>
									<tr ng-show="kitExpand[row.id]" ng-repeat="row1 in row.userMaterials" ng-if="row1.status != 'DELETED'" style="background-color: #d4f4ff;">
										<td style="width: 1%;">&nbsp;</td>
										<td ng-if="isSelection" style="text-align: right;padding-right: 0;">
											<label class="i-checks" ng-if="(searchFilters.filters.STATUS == undefined || searchFilters.filters.STATUS.length == 0 || searchFilters.filters.STATUS.indexOf(row1.status) >= 0)">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row1.selected" ng-disabled="row.selected">
												<i />
											</label>
										</td>
										<td ng-bind="row1.material.name" patient-material-detail detail-id="row1.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row1.model" patient-material-detail detail-id="row1.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row1.loanForUse | formatBool" patient-material-detail detail-id="row1.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row1.status | constantLabel: 'PatientMaterialStatus'" patient-material-detail detail-id="row1.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row1.deliveryDate | formatDate" patient-material-detail detail-id="row1.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row1.pickUpDate | formatDate" patient-material-detail detail-id="row1.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-bind="row1.kit | formatBool" patient-material-detail detail-id="row1.id" view="detailView" post-fn="search" is-modal="isModal || detailView === undefined" />
										<td ng-if="!isSelection">&nbsp;</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
			Annulla
		</button>
	</div>
</div>