<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista attività</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body'}}">
 	<div class="wrapper-sm filterWrap">
 		<div class="row">
 			<div class="col-lg-12">
 				<div class="panel panel-default m-n">
 					<div class="panel-body">
 						<form name="form" class="form-validation" novalidate ng-submit="search()">
 							<div class="row">
								<div class="form-group col-md-4">
									<label>Codice attività</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.CODE">
								</div>									
								<div class="form-group col-md-4">
									<label>Nome attività</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.NAME">
								</div>
								<div class="form-group col-md-4">
									<label>Descrizione attività</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.DESCRIPTION">
								</div>
								<div class="form-group col-md-2">
									<label>Data da</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.START_TIME_FROM">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-2">
									<label>Data a</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.START_TIME_TO">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label>Tipo attività</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.TYPE) for v in constants['MasterActivityType'] | constantActive"
										class="form-control" ng-model="searchFilters.filters.TYPE">
										<option value=""></option>
									</select>
								</div>
								<div class="form-group col-md-4">
									<label>Tipo Utente Rif.</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.USER_TYPE) for v in constants['ServiceRecipientType'] | constantActive"
										class="form-control" ng-model="searchFilters.filters.USER_TYPE">
										<option value=""></option>
									</select>
								</div>
								<div class="form-group col-md-4" ng-if="serviceActivityGroups.length > 0">
									<label class="control-label">Gruppo attività / Occorrenza</label>
									<div class="input-group">
										<select ng-options="v.code as v.name for v in serviceActivityGroups" class="form-control" ng-model="searchFilters.filters.GROUP_CODE">
											<option value=""></option>
										</select>
										<span class="input-group-btn with-select">
											<select class="btn btn-default btn-sm" ng-model="searchFilters.filters.GROUP_OCCURRENCE" 
												ng-disabled="activityGroups.length == 0" ng-options="v.occurrence as v.occurrence for v in activityGroups" >
												<option value=""></option>			    				
											</select>
										</span>
									</div>
								</div>
								<div class="form-group col-md-4" ng-if="loggedUser.viewPermissions.PATIENT && !isLogistic()">
									<label>Paziente</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.patient.lastName}} {{objectFilters.patient.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.patient"
												user-type="'PATIENT'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.ACTIVITY_PATIENT_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.patient.id"
												user-type="'PATIENT'" ng-disabled="objectFilters.patient === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.patient == undefined"
												ng-click="objectFilters.patient = undefined; searchFilters.filters.ACTIVITY_PATIENT_ID = undefined;" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4" ng-show="!isLogistic()">
									<label>Medico</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.hcp.lastName}} {{objectFilters.hcp.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.hcp"
												user-type="'HCP'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.ACTIVITY_HCP_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.hcp.id"
												user-type="'HCP'" ng-disabled="objectFilters.hcp === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.hcp == undefined"
												ng-click="objectFilters.hcp = undefined; searchFilters.filters.ACTIVITY_HCP_ID = undefined;" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4" ng-show="isInternalStaff()">
									<label>Operatore sanitario</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.supplier.lastName}} {{objectFilters.supplier.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.supplier"
												user-type="'SUPPLIER'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.ACTIVITY_SUPPLIER_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.supplier.id"
												user-type="'SUPPLIER'" ng-disabled="objectFilters.supplier === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.supplier == undefined"
												ng-click="objectFilters.supplier = undefined; searchFilters.filters.ACTIVITY_SUPPLIER_ID" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4" ng-show="isInternalStaff()">
									<label>Personale IA</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.internalStaff.lastName}} {{objectFilters.internalStaff.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.internalStaff"
												user-type="'INTERNAL_STAFF'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.ACTIVITY_INTERNAL_STAFF_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.internalStaff.id"
												user-type="'INTERNAL_STAFF'" ng-disabled="objectFilters.internalStaff === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.internalStaff == undefined"
												ng-click="objectFilters.internalStaff = undefined; searchFilters.filters.ACTIVITY_INTERNAL_STAFF_ID = undefined;" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
							</div>
 							<div class="row">
 								<div class="col-lg-12 text-right">
 									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
 										Cerca
 									</button>
 									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
 										Cancella
 									</button>
 								</div>
 							</div>
 						</form>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Attività</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li>
						            		<a user-modal="row.id" user-type="row.type">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th st-sort="o.code">Codice Attività</th>
										<th st-sort="o.name">Nome</th>
										<th class="hidden-xs hidden-sm" st-sort="o.date">Data</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="o.type">Tipo</th>
										<th st-sort="o.status">Stato</th>
										<th st-sort="o.user.fullName">Utente di Rif.</th>
										<th st-sort="o.user.type">Tipo Utente Rif.</th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" user-activity-modal="row.id">
										<td ng-bind="row.code" />
										<td ng-bind="row.name" />
										<td class="hidden-xs hidden-sm" ng-bind="row.date | formatDate" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.type | constantLabel:'MasterActivityType'" />
										<td ng-bind="row.status | constantLabel:'ActivityStatus'" />
										<td ng-bind="row.user.fullName" />
										<td ng-bind="row.user.type | constantLabel:'UserType'" />
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>