<!-- Validare campi ? -->
<div class="form-group col-md-6">
	<label class="control-label">Stato</label>
	<ui-select id="address.country" ng-model="address.country" theme="bootstrap" ng-disabled="disabled" tooltip="{{errors['address.country']}}" ng-class="{error: errors['address.country']}">
		<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.country}}</ui-select-match>
		<ui-select-choices group-by="'group'" repeat="v.countryCode as v in countries | filter: $select.search">
		<div ng-bind-html="v.country | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>
</div>
<div class="form-group col-md-6">
	<label class="control-label">Regione</label>
	<ui-select id="address.county" ng-model="address.county" theme="bootstrap" ng-disabled="disabled || address.country==undefined" tooltip="{{errors['address.county']}}" ng-class="{error: errors['address.county']}">
		<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.region}}</ui-select-match>
		<ui-select-choices group-by="'group'" repeat="v.regionCode as v in regions | filter: $select.search">
			<div ng-bind-html="v.region | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>
</div>
<div class="form-group col-md-6">
	<label class="control-label">Provincia</label>
	<ui-select id="address.province" ng-model="address.province" theme="bootstrap" ng-disabled="disabled || address.county==undefined" tooltip="{{errors['address.province']}}" ng-class="{error: errors['address.province']}">
		<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.province}}</ui-select-match>
		<ui-select-choices group-by="'group'" repeat="v.provinceCode as v in provinces | filter: $select.search">
			<div ng-bind-html="v.province | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>
</div>
<div class="form-group col-md-6">
	<label class="control-label">Citt&agrave;</label>
	<ui-select id="address.city" ng-model="address.city" theme="bootstrap" ng-disabled="disabled || address.province==undefined" tooltip="{{errors['address.city']}}" ng-class="{error: errors['address.city']}">
		<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.name}}</ui-select-match>
		<ui-select-choices group-by="'group'" repeat="v.name as v in towns | filter: $select.search">
			<div ng-bind-html="v.name | highlight: $select.search"></div>
		</ui-select-choices>
	</ui-select>
</div>
<div class="form-group col-md-4">
	<label class="control-label">Indirizzo</label>
	<input type="text" id="address.address" class="form-control" ng-disabled="disabled" ng-model="address.address" 
		tooltip="{{errors['address.address2']}}" ng-class="{error: errors['address.address']}">
</div>
<div class="form-group col-md-2">
	<label class="control-label">Civico</label>
	<input ng-model="address.streetNumber" class="form-control" ng-disabled="disabled" />
</div>
<div class="form-group col-md-2">
	<label class="control-label">Codice Postale</label>
	<input type="text" id="address.postalCode" ng-readonly="false" class="form-control" ng-disabled="disabled" ng-model="address.postalCode"
		tooltip="{{errors['address.postalCode']}}" ng-class="{error: errors['address.postalCode']}">
</div>
<div class="form-group col-md-4">
	<label class="control-label">Località</label>
	<input type="text" id="address.address2" class="form-control" ng-disabled="disabled" ng-model="address.address2" 
		tooltip="{{errors['address.address2']}}" ng-class="{error: errors['address.address2']}">
</div>