<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Centri Medici e Dipartimenti</h3>
</div>
<div class="{{!popup ? '' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Nome centro medico</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.MEDICAL_CENTER_NAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Tipo centro medico</label>
									<ui-select ng-model="searchFilters.filters.MEDICAL_CENTER_TYPE" multiple theme="bootstrap" close-on-select="false">
						    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.label}}</ui-select-match>
						    			<ui-select-choices repeat="v.id as v in constants['MedicalCenterType'] | filter: $select.search">
						     				<div ng-bind-html="v.label | highlight: $select.search" />
						    			</ui-select-choices>
						    		</ui-select>
								</div>
								<div class="form-group col-lg-4">
									<label>Nome dipartimento</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.NAME">
								</div>
							</div>
							<!--
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Regione</label>
									<ui-select ng-model="searchFilters.filters.COUNTY" multiple theme="bootstrap" close-on-select="false">
						    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.label}}</ui-select-match>
						    			<ui-select-choices group-by="'group'" repeat="v.id as v in constants['County'] | filter: $select.search">
						     				<div ng-bind-html="v.label | highlight: $select.search" />
						    			</ui-select-choices>
						    		</ui-select>
								</div>
								<div class="form-group col-lg-4">
									<label>Provincia</label>
									<ui-select ng-model="searchFilters.filters.PROVINCE" multiple theme="bootstrap" close-on-select="false">
						    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.label}}</ui-select-match>
						    			<ui-select-choices group-by="'group'" repeat="v.id as v in constants['Province'] | filter: $select.search">
						     				<div ng-bind-html="v.label | highlight: $select.search" />
						    			</ui-select-choices>
						    		</ui-select>
								</div>
								<div class="form-group col-lg-4">
									<label>Comune</label>
									<ui-select ng-model="searchFilters.filters.CITY" multiple theme="bootstrap" close-on-select="false">
						    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.label}}</ui-select-match>
						    			<ui-select-choices group-by="'group'" repeat="v.id as v in constants['City'] | filter: $select.search">
						     				<div ng-bind-html="v.label | highlight: $select.search" />
						    			</ui-select-choices>
						    		</ui-select>
								</div>
							</div>
							-->
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list" >
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Centri medici / dipartimenti</h4>
								</div>
							</div>
							<table class="table">		
								<thead>		
									<tr ng-if="selection">
										<td colspan="3">
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</td>
									</tr>		
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th st-sort="medicalCenter.name">Centro Medico</th>
										<th st-sort="name">Dipartimento</th>
										<th style="width: 1%;" ng-if="!selection"  />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td ng-bind="row.medicalCenter.name" />
										<td ng-bind="row.name" />
										<td ng-if="!selection">
											<button class="btn btn-icon btn-rounded btn-info waves-effect waves-light" ui-sref="app.medicalcenter({id: row.id})">
												<i class="material-icons">mode_edit</i>
											</button>
										</td>						
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="3">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="3" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>	       
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>