<div class="row" ng-if="edit">
	<div class="col col-md-4">
		<div class="panel panel-default">
	        <div class="panel-heading b-b b-light"><strong>Risposte alle domande</strong></div>
	        <div class="panel-body centered">
	     
			<div class="row">
			  	<div class="form-group col col-md-12">
					<button title="{{item.description}}" ng-disabled="formulaTags!=undefined && formulaTags!=null && formulaTags.length>0 && formulaTags[formulaTags.length-1].type!='math'" ng-repeat="item in questionTags" class="m-l-xs m-r-xs m-t-xs m-b-xs btn btn-info" ng-click="addTag(item)">{{item.title}}</button>
				</div>
			</div>
			</div>
		</div>			
	</div>
	<div class="col col-md-3">
		<div class="panel panel-default">
	        <div class="panel-heading b-b b-light"><strong>Domande a scelta multipla</strong></div>
	        <div class="panel-body centered">
	     
			<div class="row">
			  	<div class="form-group col col-md-12">
					<button title="{{item.description}}" ng-disabled="formulaTags!=undefined && formulaTags!=null && formulaTags.length>0 && formulaTags[formulaTags.length-1].type!='math'" ng-repeat="item in choicesTags" class="m-l-xs m-r-xs m-t-xs m-b-xs btn btn-warning" ng-click="addTag(item)">{{item.title}}</button>
				</div>
			</div>
			</div>
		</div>			
	</div>
	<div class="col col-md-3">
		<div class="panel panel-default">
	        <div class="panel-heading b-b b-light"><strong>Operazioni</strong></div>
	        <div class="panel-body centered">
	     
			<div class="row">
			  	<div class="form-group col col-md-12">
					<button title="{{item.description}}" ng-repeat="item in mathTags" class="m-l-xs m-r-xs  m-t-xs m-b-xs btn btn-primary" ng-click="addTag(item)">{{item.title}}</button>	
				</div>
			</div>
			</div>	
		</div>			
	</div>
	<div class="form-group col-md-2">
		<div class="panel panel-default">
	        <div class="panel-heading b-b b-light"><strong>Valore numerico</strong></div>
	        <div class="panel-body centered">
	     
				<div class="row">
				  	
				  	<div class="form-group col-md-12">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="number" placeholder="Valore numerico">
							<span class="input-group-btn">
								<button ng-click="addConstant(number)" title="{{item.description}}" type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="formulaTags!=undefined && formulaTags!=null && formulaTags.length>0 && formulaTags[formulaTags.length-1].type!='math'">
									Aggiungi</button>
							</span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>				   	
	
	<div class="form-group col col-md-12">
		<div class="panel panel-default">
	         
          <div class="panel-body centered">
			<div class="row">
				<div class="form-group col col-md-12" id="formulaContainer">
					<ul ui-sortable="sortableOptions" ng-model="formulaTags">
						<li style="float: left;" title="{{item.description}}" ng-repeat="item in formulaTags" class="m-l-xs m-r-xs  m-t-xs m-b-xs btn {{ item.type == 'math' ? 'btn-primary' : item.type == 'constant' ? 'btn-default': item.type=='choices' ? 'btn-warning' : 'btn-info'}}" ng-click="removeTag(item)">
							{{item.title}}
						</li>		
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div class="form-group col-md-12 col">				
		<button class="pull-right m-r-xs btn btn-success" ng-click="compileFormula()"><i class="fa fa-cogs fw"></i> Applica</button>
		<button class="pull-right m-r-xs btn btn-default" ng-click="resetFormula()"><i class="fa fa-trash fw"></i> Reset</button>
		<button class="pull-right m-r-xs btn btn-default"  ng-click="closeFormula()"><i class="fa fa-close fw"></i> Chiudi</button>
	</div>
</div>
<div class="row" ng-if="!edit">
	
    <div class="form-group col col-md-12" >
		<label class="control-label"><strong>Formula</strong></label>
		<textarea ng-disabled="true" class="form-control" rows="4" ng-model="formula" />
	</div>
	
	<div class="form-group col col-md-12">
		<button class="pull-right btn btn-info"  ng-click="editFormula()"><i class="fa fa-edit fw"></i> Modifica Formula</button>
		
	</div>
   
</div>    