<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Utenze provider logistici</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap" ng-if="selection">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Cognome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.LASTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.FIRSTNAME">
								</div>
								<div class="form-group col-lg-4" region-select="searchFilters.filters.COUNTY" province="searchFilters.filters.PROVINCE" city="searchFilters.filters.CITY" />
								<div class="form-group col-lg-4" province-select="searchFilters.filters.PROVINCE" region="searchFilters.filters.COUNTY" city="searchFilters.filters.CITY" />
								<div class="form-group col-lg-4" city-select="searchFilters.filters.CITY" province="searchFilters.filters.PROVINCE" region="searchFilters.filters.COUNTY" />
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Utenti</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && canInsert">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li>
						            		<a user-modal="''" user-type="'LOGISTIC'" user-parent="detail.id" post-fn="initList" post-fn-dismiss="initList">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr ng-if="selection">
										<th colspan="6">
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th class="hidden-xs hidden-sm" st-sort="title">Titolo</th>
										<th st-sort="lastName">Cognome</th>
										<th st-sort="firstName">Nome</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="firstName">Email</th>
										<th style="width: 1%;"></th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected"
													ng-click="$event.stopPropagation();" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td class="hidden-xs hidden-sm" ng-bind="row.title | constantLabel: 'UserTitle'" user-modal="row.id" user-type="row.type" post-fn="initList" post-fn-dismiss="initList" style="cursor: pointer;" />
										<td ng-bind="row.lastName" user-modal="row.id" user-type="row.type" post-fn="initList" post-fn-dismiss="initList" style="cursor: pointer;"/>
										<td ng-bind="row.firstName" user-modal="row.id" user-type="row.type" post-fn="initList" post-fn-dismiss="initList" style="cursor: pointer;"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" user-modal="row.id" user-type="row.type" post-fn="initList" post-fn-dismiss="initList" style="cursor: pointer;"/>
										<td style="padding: 0;">
										<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
								        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle
								        		ng-if="permission[row.id].IMPERSONATE || permission[row.id].INVITE || permission[row.id].DELETE">
								         		<i class="material-icons">more_vert</i>
								    		</button>
								        	<ul class="dropdown-menu pull-right">
					            				<li ng-if="permission[row.id].IMPERSONATE">
								            		<a ng-click="impersonate(row.nickName)">
								            			<i class="material-icons">person</i>
								            			Impersonifica
								            		</a>
								            	</li>
								            	<li ng-if="permission[row.id].INVITE">
								            		<a ng-click="invite(row.id)">
								            			<i class="material-icons">send</i>
								            			Invita
								            		</a>
								            	</li>
								            	<li class="divider"></li>
								            	<li ng-if="permission[row.id].DELETE">
								            		<a ng-click="delete(row.id)">
								            			<i class="material-icons">delete</i>
								            			<span>Cancella</span>
								            		</a>
								            	</li>
								        	</ul>
								    	</div>
									</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>	  
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>