<label class="control-label">{{label}}</label>
<ui-select ng-model="address.province" theme="bootstrap" ng-disabled="disabled">
	<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.province}}</ui-select-match>
	<ui-select-choices group-by="'group'" repeat="v.provinceCode as v in provinces | filter: {province: $select.search}">
		<div ng-bind-html="v.province | highlight: $select.search"></div>
	</ui-select-choices>
</ui-select>