<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Temi Formazione</h3>
</div>
<div class="{{!popup ? '' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Titolo</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.TITLE">
								</div>
								<div class="form-group col-lg-4">
									<label>Descrizione</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.DESCRIPTION">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list" >
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Temi Formazione</h4>
								</div>
							</div>
							<table class="table">		
								<thead>		
									<tr ng-if="selection">
										<td colspan="3">
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</td>
									</tr>		
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th st-sort="title">Titolo</th>
										<th st-sort="description">Descrizione</th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td ng-bind="row.title" />
										<td ng-bind="row.description" />
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="3">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="3" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>	       
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>