<div class="wrapper-sm tab-fix-margin">
	<div class="row">
		<div class="col-md-12">
			<div class="text-right">
				<button class="btn btn-primary waves-effect waves-light" ng-click="downloadPdfPatientDossier(detail.id)" 
				title="Genera Dossier Paziente">
             	Genera Dossier Paziente
				<i class="material-icons pull-right">file_download</i>
				</button>
				<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva" ng-if="canUpdate">
					Salva
				</button>
				<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla" ng-if="canUpdate">
					Annulla
				</button>
			</div>
		</div>
	</div>

	<div class="row" ng-if="fieldPermissions['lastUserUpdateDate'].VIEW || fieldPermissions['lastUserUpdate'].VIEW">	
		<div class="form-group col-md-6" ng-if="fieldPermissions['lastUserUpdateDate'].VIEW">
			<label class="control-label">Data ed Ora Ultima Modifica</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="detail.lastUserUpdateDate" error-tooltip>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="true">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-6" ng-if="fieldPermissions['lastUserUpdate'].VIEW">
			<label class="control-label">Utente Ultima Modifica</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" value="{{detail.lastUserUpdate.title | constantLabel:'UserTitle'}} {{detail.lastUserUpdate.lastName}} {{detail.lastUserUpdate.firstName}}" error-tooltip>
				<span class="input-group-btn">
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-type="detail.lastUserUpdate.type" user-modal="detail.lastUserUpdate.id" ng-disabled="detail.lastUserUpdate == undefined"
						multiple-list="false" title="Dettaglio">
						<i class="material-icons">person</i>
					</button>				
				</span>		
			</div>
		</div>
	</div>	
	<div class="row m-t" ng-if ="!hcpUser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Dossier Paziente: Dati Terapia</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-4" ng-if="fieldPermissions['patientTherapy'].VIEW">
							<label class="control-label">Terapia</label>
							<ui-select id="info.therapy" ng-model="info.therapy" theme="bootstrap" on-select="onTherapyChange($item)" ng-disabled="!fieldPermissions['patientTherapy'].UPDATE"
								error-tooltip>
								<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
						    	<ui-select-choices repeat="v as v in selects['Therapy'] | filter: $select.search">
							     	<div ng-bind-html="v.name | highlight: $select.search" />
							    </ui-select-choices>
							</ui-select>	
						</div>	
						<div class="form-group col-md-4" ng-if="fieldPermissions['start'].VIEW">
							<label class="control-label">Data inizio terapia</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['start'].UPDATE" ng-model="detail.start" error-tooltip>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['start'].UPDATE">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>	
						<div class="form-group col-md-4" ng-if="fieldPermissions['physiologicalPockets'].VIEW">
							<label class="control-label">N. di sacche fisiologica per singola infusione</label>
							<input type="text" id="detail.physiologicalPockets" class="form-control" ng-disabled="!fieldPermissions['physiologicalPockets'].UPDATE" ng-model="detail.physiologicalPockets" error-tooltip>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['dilution'].VIEW && fieldPermissions['infusionRate'].VIEW">	
						<div class="form-group col-md-4" ng-if="fieldPermissions['dilution'].VIEW">
							<label class="control-label">Diluizione (ml / N. Sacche per Tipo)</label>
							<input type="text" id="detail.dilution" class="form-control" ng-disabled="!fieldPermissions['dilution'].UPDATE" ng-model="detail.dilution" error-tooltip>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['infusionRate'].VIEW">
							<label class="control-label">Velocit&agrave; Infusionale (ml/h)</label>
							<input type="text" id="detail.infusionRate" class="form-control" ng-disabled="!fieldPermissions['infusionRate'].UPDATE" ng-model="detail.infusionRate" error-tooltip>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['cfr'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">CFR (schema Infusionale)</label>
							<textarea id="detail.cfr" rows="8" class="form-control" ng-disabled="!fieldPermissions['cfr'].UPDATE" ng-model="detail.cfr" error-tooltip/>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-4" ng-if="fieldPermissions['washingLine'].VIEW">
							<label class="control-label">Lavaggio linea (ml)</label>
							<input type="text" id="detail.washingLine" class="form-control" ng-disabled="!fieldPermissions['washingLine'].UPDATE" ng-model="detail.washingLine" error-tooltip>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['washingLineRate'].VIEW">
							<label class="control-label">Velocit&agrave; lavaggio linea (ml x h)</label>
							<input type="text" id="detail.washingLineRate" class="form-control" ng-disabled="!fieldPermissions['washingLineRate'].UPDATE" ng-model="detail.washingLineRate" error-tooltip>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['needlesType'].VIEW">
							<label class="control-label">Tipologia di aghi da utilizzare</label>
							<input type="text" id="detail.needlesType" class="form-control" ng-disabled="!fieldPermissions['needlesType'].UPDATE" ng-model="detail.needlesType" error-tooltip>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['preTreatementPosology'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Pre-trattamento + Posologia</label>
							<textarea id="detail.preTreatementPosology" rows="5" class="form-control" ng-disabled="!fieldPermissions['preTreatementPosology'].UPDATE" ng-model="detail.preTreatementPosology" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['postTreatementPosology'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Post trattamento + Posologia</label>
							<textarea id="detail.postTreatementPosology" rows="5" class="form-control" ng-disabled="!fieldPermissions['postTreatementPosology'].UPDATE" ng-model="detail.postTreatementPosology" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['emergencyTherapy'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Terapia in caso di Emergenza</label>
							<textarea id="detail.emergencyTherapy" rows="5" class="form-control" ng-disabled="!fieldPermissions['emergencyTherapy'].UPDATE" ng-model="detail.emergencyTherapy" error-tooltip/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t" ng-if ="!hcpUser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Dispositivo Medico</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-4">
							<label class="control-label">Port -a- Cath</label>
							<div class="input-group" ng-if="fieldPermissions['portACath'].VIEW">
								
								<div class="checkbox">
									<label class="i-checks m-r">
										<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['portACath'].UPDATE" ng-model="detail.portACath">
										<i error-tooltip></i>Si
									</label>
									<label class="i-checks">
										<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['portACath'].UPDATE" ng-model="detail.portACath">
										<i error-tooltip></i>No
									</label>
								</div>
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['portACathNeedlesType'].VIEW">
							<label class="control-label">Tipologia Aghi per Port -a- Cath</label>
							<input type="text" id="detail.portACathNeedlesType" class="form-control" ng-disabled="!fieldPermissions['portACathNeedlesType'].UPDATE" ng-model="detail.portACathNeedlesType" error-tooltip>
						</div>
						<div class="form-group col-md-4">
							<label class="control-label">PICC Port</label>	
							<div class="input-group" ng-if="fieldPermissions['piccPort'].VIEW">
								
								<div class="checkbox">
									<label class="i-checks m-r">
										<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['piccPort'].UPDATE" ng-model="detail.piccPort">
										<i error-tooltip></i>Si
									</label>
									<label class="i-checks">
										<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['piccPort'].UPDATE" ng-model="detail.piccPort">
										<i error-tooltip></i>No
									</label>
								</div>
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['patientTherapy'].VIEW">
							<label class="control-label">Metodo di Somministrazione</label>
							<input type="text" id="info.expectedDosageMethod" class="form-control" ng-disabled="true" ng-model="info.expectedDosageMethod" error-tooltip>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['pumpModel'].VIEW">
							<label class="control-label">Modello Pompa</label>
							<div class="input-group">
								<input type="text" class="form-control" ng-disabled="true" value="{{detail.pumpModel.name}}" error-tooltip>
								<span class="input-group-btn">
									<button ng-if="fieldPermissions['pumpModel'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" 
										material-list selected-data="detail.pumpModel" is-modal="true" is-selection="true" is-multiple-selection="false" title="Seleziona" >
										<i class="material-icons">search</i>
									</button>
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.pumpModel == undefined"
										material-modal="detail.pumpModel.id" title="dettaglio">
										<i class="material-icons">assessment</i>
									</button>
									<button ng-if="fieldPermissions['pumpModel'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.pumpModel == undefined" ng-click="detail.pumpModel = undefined"
										title="Rimuovi">
										<i class="material-icons">clear</i>
									</button>					
								</span>		
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['infusionSetModel'].VIEW">
							<label class="control-label">Modello Deflussori</label>
							<div class="input-group">
								<input type="text" class="form-control" ng-disabled="true" value="{{detail.infusionSetModel.name}}" error-tooltip>
								<span class="input-group-btn">
									<button ng-if="fieldPermissions['infusionSetModel'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" 
										material-list selected-data="detail.infusionSetModel" is-modal="true" is-selection="true" is-multiple-selection="false" title="Seleziona" >
										<i class="material-icons">search</i>
									</button>
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.infusionSetModel == undefined"
										material-modal="detail.infusionSetModel.id" title="dettaglio">
										<i class="material-icons">assessment</i>
									</button>
									<button ng-if="fieldPermissions['infusionSetModel'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.infusionSetModel == undefined" ng-click="detail.infusionSetModel = undefined"
										title="Rimuovi">
										<i class="material-icons">clear</i>
									</button>					
								</span>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t" ng-if ="!hcpUser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Valori di controllo propedeutici all'esecuzione dellâ€™infusione</h4>
				</div>
				<div class="panel-body">
					<div class="row" ng-if="fieldPermissions['minPas'].VIEW || fieldPermissions['maxPas'].VIEW">
						<div class="form-group col-md-2">
							<label class="control-label">PAS (mmHg)</label>
						</div>			
						<div class="form-group col-md-1" ng-if="fieldPermissions['minPas'].VIEW">
							<label class="control-label">Minimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['minPas'].VIEW">
							<input type="text" id="detail.minPas" class="form-control" ng-disabled="!fieldPermissions['minPas'].UPDATE" ng-model="detail.minPas" error-tooltip>
						</div>
						<div class="form-group col-md-1" ng-if="fieldPermissions['maxPas'].VIEW">
							<label class="control-label">Massimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['maxPas'].VIEW">
							<input type="text" id="detail.maxPas" class="form-control" ng-disabled="!fieldPermissions['maxPas'].UPDATE" ng-model="detail.maxPas" error-tooltip>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['minPad'].VIEW || fieldPermissions['maxPad'].VIEW">
						<div class="form-group col-md-2">
							<label class="control-label">PAD (mmHg)</label>
						</div>					
						<div class="form-group col-md-1" ng-if="fieldPermissions['minPad'].VIEW">
							<label class="control-label">Minimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['minPad'].VIEW">
							<input type="text" id="detail.minPad" class="form-control" ng-disabled="!fieldPermissions['minPad'].UPDATE" ng-model="detail.minPad" error-tooltip>
						</div>
						<div class="form-group col-md-1" ng-if="fieldPermissions['maxPad'].VIEW">
							<label class="control-label">Massimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['maxPad'].VIEW">
							<input type="text" id="detail.maxPad" class="form-control" ng-disabled="!fieldPermissions['maxPad'].UPDATE" ng-model="detail.maxPad" error-tooltip>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['minFc'].VIEW || fieldPermissions['maxFc'].VIEW">
						<div class="form-group col-md-2">
							<label class="control-label">FC (bpm)</label>
						</div>					
						<div class="form-group col-md-1" ng-if="fieldPermissions['minFc'].VIEW">
							<label class="control-label">Minimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['minFc'].VIEW">
							<input type="text" id="detail.minFc" class="form-control" ng-disabled="!fieldPermissions['minFc'].UPDATE" ng-model="detail.minFc" error-tooltip>
						</div>
						<div class="form-group col-md-1" ng-if="fieldPermissions['maxFc'].VIEW">
							<label class="control-label">Massimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['maxFc'].VIEW">
							<input type="text" id="detail.maxFc" class="form-control" ng-disabled="!fieldPermissions['maxFc'].UPDATE" ng-model="detail.maxFc" error-tooltip>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['minTemperature'].VIEW || fieldPermissions['maxTemperature'].VIEW">
						<div class="form-group col-md-2">
							<label class="control-label">Temperatura (C°)</label>
						</div>					
						<div class="form-group col-md-1" ng-if="fieldPermissions['minTemperature'].VIEW">
							<label class="control-label">Minimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['minTemperature'].VIEW">
							<input type="text" id="detail.minTemperature" class="form-control" ng-disabled="!fieldPermissions['minTemperature'].UPDATE" ng-model="detail.minTemperature" error-tooltip>
						</div>
						<div class="form-group col-md-1" ng-if="fieldPermissions['maxTemperature'].VIEW">
							<label class="control-label">Massimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['maxTemperature'].VIEW">
							<input type="text" id="detail.maxTemperature" class="form-control" ng-disabled="!fieldPermissions['maxTemperature'].UPDATE" ng-model="detail.maxTemperature" error-tooltip>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['minSaturation'].VIEW || fieldPermissions['maxSaturation'].VIEW">
						<div class="form-group col-md-2">
							<label class="control-label">Saturazione (%)</label>
						</div>					
						<div class="form-group col-md-1" ng-if="fieldPermissions['minSaturation'].VIEW">
							<label class="control-label">Minimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['minSaturation'].VIEW">
							<input type="text" id="detail.minSaturation" class="form-control" ng-disabled="!fieldPermissions['minSaturation'].UPDATE" ng-model="detail.minSaturation" error-tooltip>
						</div>
						<div class="form-group col-md-1" ng-if="fieldPermissions['maxSaturation'].VIEW">
							<label class="control-label">Massimo</label>
						</div>
						<div class="form-group col-md-2" ng-if="fieldPermissions['maxSaturation'].VIEW">
							<input type="text" id="detail.maxSaturation" class="form-control" ng-disabled="!fieldPermissions['maxSaturation'].UPDATE" ng-model="detail.maxSaturation" error-tooltip>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['injectionAreas'].VIEW && injectionAreas!=undefined && injectionAreas!={}">
						<div class="form-group col-md-12">
						    <label class="control-label">Siti di infusione ammessi per il Paziente</label>
							<div class="checkbox">
					            <label class="i-checks m-r" ng-repeat="injectionArea in injectionAreas">
										<input name="injectionAreas" type="checkbox" check-list="detail.injectionAreas" value="{{injectionArea.id}}" ng-disabled="!fieldPermissions['injectionAreas'].UPDATE">
										<i error-tooltip></i><span  class="m-n">{{ injectionArea.name }}</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t" ng-if ="!hcpUser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Condizioni Generali Paziente</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-6"  ng-if="fieldPermissions['patientStatus'].VIEW">
							<label class="control-label">Stato Paziente</label>
							<div class="checkbox">
								<label class="i-checks m-r" ng-repeat="t in constants['PatientDossierStatus']">
									<input name="patientStatus" type="checkbox" only-one="true" check-list="detail.patientStatus" value="{{t.id}}" ng-disabled="!fieldPermissions['patientStatus'].UPDATE">
									<i error-tooltip></i><span  class="m-n">{{ t.label }}</span>
								</label>			
							</div>
						</div>
						<div class="form-group col-md-6"  ng-if="fieldPermissions['diseaseProgress'].VIEW">
							<label class="control-label">Stato di avanzamento della malattia</label>
							<div class="checkbox">
								<label class="i-checks m-r" ng-repeat="t in constants['PatientDossierDiseaseProgressType']">
									<input name="diseaseProgress" type="checkbox" only-one="true" check-list="detail.diseaseProgress" value="{{t.id}}" ng-disabled="!fieldPermissions['diseaseProgress'].UPDATE">
									<i error-tooltip></i><span  class="m-n">{{ t.label }}</span>
								</label>			
							</div>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['patientNotes'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Note Particolari sul Paziente (Es. Accettazione della Malattia, Collaborativa/o, Paura dgli Aghi, Paziente/Caregiver ansiosa/o, Situazione familiare particolare, Patologie concomitanti)</label>
							<textarea id="detail.patientNotes" rows="3" class="form-control" ng-disabled="!fieldPermissions['patientNotes'].UPDATE" ng-model="detail.patientNotes" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['infusionReactions'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Reazioni lievi pi&ugrave; frequenti associate all'infusione</label>
							<textarea id="detail.infusionReactions" rows="3" class="form-control" ng-disabled="!fieldPermissions['infusionReactions'].UPDATE" ng-model="detail.infusionReactions" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['other'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Altro</label>
							<textarea id="detail.other" rows="3" class="form-control" ng-disabled="!fieldPermissions['other'].UPDATE" ng-model="detail.other" error-tooltip/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t" ng-if ="!hcpUser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Allegati</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-12"  ng-if="fieldPermissions['environmentalConditions'].VIEW">
							<label class="control-label">Condizioni ambientali (Risultano selezionate se presenti)</label>
							<div class="checkbox">
								<label class="i-checks m-r" ng-repeat="t in constants['PatientDossierEnvironmentalConditionsType']">
									<input name="environmentalConditions" type="checkbox" check-list="detail.environmentalConditions" value="{{t.id}}" ng-disabled="!fieldPermissions['environmentalConditions'].UPDATE">
									<i error-tooltip></i><span  class="m-n">{{ t.label }}</span>
								</label>			
							</div>
						</div>
						<div class="form-group col-md-12"  ng-if="fieldPermissions['venousHeritage'].VIEW">
							<label class="control-label">Scheda valutazione patrimonio venoso (Risulta selezionata la casistica del Paziente)</label>
							<div class="checkbox">
								<label class="i-checks m-r col-md-12" style="padding-left:0;" ng-repeat="t in constants['PatientDossierVenousHeritageType']" >
									<input name="venousHeritage" type="checkbox" only-one="true" check-list="detail.venousHeritage" value="{{t.id}}" ng-disabled="!fieldPermissions['venousHeritage'].UPDATE">
									<i error-tooltip></i>
									<span class="m-n col-md-2" style="float:left ;margin-right:20px; padding-right:40px;" >{{ t.label }}</span>
									<span class="m-n col-md-9" style="float:right; margin-right:20px; padding-right:40px;">
										<ol>
											<li style="list-style-type: none;" ng-repeat="desc in t.properties['detailDescription']"> {{ desc }} </li>
										</ol>
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t" ng-if ="!hcpUser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Casi particolari</h4>
				</div>
				<div class="panel-body">
					<div class="row" ng-if="fieldPermissions['malaiseStatus'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Stato di malessere generale</label>
							<textarea id="detail.malaiseStatus" rows="3" class="form-control" ng-disabled="!fieldPermissions['malaiseStatus'].UPDATE" ng-model="detail.malaiseStatus" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['fever'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Febbre</label>
							<textarea id="detail.fever" rows="3" class="form-control" ng-disabled="!fieldPermissions['fever'].UPDATE" ng-model="detail.fever" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['bloodPressure'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Pressione sanguigna elevata</label>
							<textarea id="detail.bloodPressure" rows="3" class="form-control" ng-disabled="!fieldPermissions['bloodPressure'].UPDATE" ng-model="detail.bloodPressure" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['antibioticPatient'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Paziente in cura con Antibiotico</label>
							<textarea id="detail.antibioticPatient" rows="3" class="form-control" ng-disabled="!fieldPermissions['antibioticPatient'].UPDATE" ng-model="detail.antibioticPatient" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['scheduledVaccination'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Vaccinazione in programma</label>
							<textarea id="detail.scheduledVaccination" rows="3" class="form-control" ng-disabled="!fieldPermissions['scheduledVaccination'].UPDATE" ng-model="detail.scheduledVaccination" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['inconsistentDrugDose'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">La dose di farmaco disponibile al domicilio del Paziente non è coerente con la dose di farmaco indicata nel Piano Terapeutico</label>
							<textarea id="detail.inconsistentDrugDose" rows="3" class="form-control" ng-disabled="!fieldPermissions['inconsistentDrugDose'].UPDATE" ng-model="detail.inconsistentDrugDose" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['criticalVenousAccess'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Difficolt&agrave; reperimento accesso venoso</label>
							<textarea id="detail.criticalVenousAccess" rows="3" class="form-control" ng-disabled="!fieldPermissions['criticalVenousAccess'].UPDATE" ng-model="detail.criticalVenousAccess" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['criticalInfusion'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Difficolt&agrave; nella somministrazione causa farmaco troppo denso/otturazione filtro etc.</label>
							<textarea id="detail.criticalInfusion" rows="3" class="form-control" ng-disabled="!fieldPermissions['criticalInfusion'].UPDATE" ng-model="detail.criticalInfusion" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['malfuctionPacPicc'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Malfunzionamento/anomalie del Port a Cath o PICC</label>
							<textarea id="detail.malfuctionPacPicc" rows="3" class="form-control" ng-disabled="!fieldPermissions['malfuctionPacPicc'].UPDATE" ng-model="detail.malfuctionPacPicc" error-tooltip/>
						</div>
					</div>
					<div class="row" ng-if="fieldPermissions['malfuctionInfusionPump'].VIEW">
						<div class="form-group col-md-12">
							<label class="control-label">Malfunzionamento pompa Infusionale</label>
							<textarea id="detail.malfuctionInfusionPump" rows="3" class="form-control" ng-disabled="!fieldPermissions['malfuctionInfusionPump'].UPDATE" ng-model="detail.malfuctionInfusionPump" error-tooltip/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="permissions.UPDATE">
		<div class="col-md-12">
			<div class="col-md-12 text-right">
				<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva" ng-if="canUpdate">
					Salva
				</button>
				<button class="btn  btn-default waves-effect waves-light" ng-click="undo()" title="Annulla" ng-if="canUpdate">
					Annulla
				</button>
			</div>
		</div>
	</div>
</div>