<style>
.data-point-label {
    font-size: 12px;
    color: gray;
      
}

@media (max-width: 1199px) {
	.flot-x-axis div
	{    
	    margin-top: 30px !important;
	    margin-left: 15px !important;
	    transform: rotate(-75deg) translateY(-15px);
	    -ms-transform:rotate(-75deg) translateY(-9px); /* IE 9 */
	    -moz-transform:rotate(-75deg) translateY(-9px); /* Firefox */
	    -webkit-transform:rotate(-75deg) translateY(-9px); /* Safari and Chrome */
	    -o-transform:rotate(-75deg) translateY(-15px); /* Opera */
	    /*rotation-point:50% 50%;*/ /* CSS3 */
	    /*rotation:270deg;*/ /* CSS3 */
	}
}
@media (max-width: 991px) {
	.flot-x-axis div
	{    
	    white-space: nowrap;
	    overflow: hidden;
	}
}

</style>

<div class="hbox" style="min-height: 330px;">
	<div id="nodata_{{key}}_{{id}}" class="alert alert-warning m-n none">{{message}}</div>
	<div id="spinner_{{key}}_{{id}}" class="col v-middle text-center" ng-if="renderer == false">
		<i class="fa fa-circle-o-notch fa-spin" />
	</div>
	<div id="stacked_bar_{{key}}_{{id}}" ng-if="renderer" ui-jq="plot" ui-options="defaultDataset, defaultOptions" style="height:300px; width: 100%;"
		ui-refresh="defaultDataset" />
</div>