<style>
	.legendLabel {
    	font-family: Arial;
    	font-size: 12px;
	}
	.legendColorBox > div > div {
		border-radius: 50%;
	}
</style>
<div class="hbox" style="min-height: 330px;">
	<div id="nodata_{{chartType}}_{{id}}" class="alert alert-warning m-n none">{{message}}</div>
	<div id="spinner_{{chartType}}_{{id}}" class="col v-middle text-center" ng-if="renderer == false">
		<i class="fa fa-circle-o-notch fa-spin" />
	</div>
	<div class="row" ng-if="renderer">
		<div class="{{datas.length != undefined ? 'col-md-'+(12/datas.length) : ''}} col-xs-12 v-middle" ng-repeat="data in datas track by $index">
			<h5 ng-if="defaultOptions.series.title.show" class="text-center font-bold">{{data.name}}</h5>
			<div ui-jq="plot" ui-options="{{datas[$index].values}}, defaultOptions" style="height:300px; width: 100%;"
				ui-refresh="{{datas[$index].values}}" />
			<div ng-if="defaultOptions.series.average.show">
				<h5 class="text-center font-bold">{{data.averageLabel}}</h5>
				<h5 class="text-center font-bold">{{data.average}}%</h5>
			</div>
			<div ng-if="defaultOptions.series.total.show">
				<h5 class="text-center font-bold">Totale {{data.total}}</h5>
			</div>
		</div>
	</div>
</div>