<style>
	.legendLabel {
    	font-family: Arial;
    	font-size: 12px;
	}
	.legendColorBox > div > div {
		border-radius: 50%;
	}
</style>
<div class="hbox">
	<div id="nodata_{{chartType}}_{{id}}" class="alert alert-warning m-n none">{{message}}</div>
	<div id="spinner_{{chartType}}_{{id}}" class="col v-middle text-center" ng-if="renderer == false">
		<i class="fa fa-circle-o-notch fa-spin" />
	</div>
	<div ng-if="renderer">
		<div class="col-md-3 col-xs-6" ng-repeat="ad in datas track by $index">
			<div class="block panel padder-v bg-primary text-center">
				<span ng-if="ad.average" class="font-thin h1 block">{{ad.average}}%</span>
				<span ng-if="!ad.average" class="font-thin h1 block">N.D.</span>
				<div class="text-md" ng-bind="ad.name"></div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12" >										
			<div class="block">
				<div class="text-md">
					La percentuale dell’<b>Aderenza infusioni Tutor</b> è data dal rapporto tra numero di infusioni domiciliari effettuato e il numero di infusioni potenziali.<br/>
					La percentuale dell’<b>Aderenza Complessiva</b> comprende anche le infusioni ospedaliere effettuate, in rapporto al numero di infusioni potenziali.<br/>
					Questi dati rappresentano l’Aderenza media tra tutti i Pazienti seguiti. E' possibile verificare l'aderenza di ciascun paziente nella sezione relativa al singolo Paziente.
				</div>
			</div>
		</div>
	</div>
</div>