<span class="pull-right">
	{{app.version}}
	<a href ui-scroll-to="app" class="m-l-sm text-muted">
		<i class="fa fa-long-arrow-up" />
	</a>
</span>
&copy; 2021 Copyright.
<!-- &copy; Sponsered by <img src="img/logo_old.png" class="img-responsive"  width="100" /> -->