<!-- navbar header -->
<div class="navbar-header" >
	<button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
		<i class="material-icons">menu</i>
	</button>
	<!-- brand -->
	<a href="#/" class="logo">
			<img src="img/logoTUT.png" alt="" class="img-responsive hidden-xs">
			<img src="img/logo.png" alt="" class="img-responsive visible-xs hidden-sm hidden-md hidden-lg" style="max-width: 46px;">
	</a>
	<!-- / brand -->
</div>
<!-- / navbar header -->

      <!-- navbar collapse -->
<div class=" mainTeaser">
		<div style="width: 160px; float: left;">
			<img src="img/logo_IA.png" alt="" class="img-responsive">
		</div>

		<div class="nav navbar-nav hidden-xs text-center" style="padding-left: 1rem;">
			<nav style="height: 60px; line-height: 60px;">
				<ul ng-if="redisStatusPermissions['status'].VIEW" class="nav">
					<li ng-if="resettingStatus">
						<span>Riavvio sincronizzazione in corso ...</span>
					</li>
					<li ng-if="!redisStatus && !resettingStatus">
						<span>Il sistema non risulta sincronizzato</span>
						<button class="btn btn-primary btn-xs" ng-click="setRunningRedisStatus()" ng-if="redisStatusPermissions['status'].UPDATE"> Sincronizza</button>
					</li>
				</ul>
			</nav>	
		</div>
		<div ng-if="redisStatusPermissions['status'].VIEW" class="nav navbar-nav hidden-sm hidden-md hidden-lg text-center">
			
			<span ng-if="resettingStatus"> Riavvio sincronizzazione in corso ...</span>
			<span ng-if="!redisStatus && !resettingStatus">Il sistema non risulta sincronizzato <button class="btn btn-primary btn-xs" ng-click="setRunningRedisStatus()" ng-if="redisStatusPermissions['status'].UPDATE">Sincronizza </button></span>
			
		</div>
		
        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right" style="display:block">
          <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown ng-if="false">
            <a href class="dropdown-toggle" dropdown-toggle>
              {{selectLang}} <i class="material-icons" style="vertical-align: middle;">keyboard_arrow_down</i>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li ng-repeat="(langKey, label) in langs">
                <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        
          <li class="dropdown" dropdown>
			<a href class="dropdown-toggle clear" dropdown-toggle>
				<span class="hidden-md hidden-lg">		
					<svg width="28px" height="28px" viewBox="0 0 28 28" >
						<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g transform="translate(-1553.000000, -204.000000)">
								<g  transform="translate(1553.000000, 204.000000)">
									<rect  x="0" y="0" width="28" height="28"></rect>
									<path d="M22.1666667,2.33333333 L5.83333333,2.33333333 C4.54466892,2.33333333 3.5,3.37800225 3.5,4.66666667 L3.5,19.8333333 C3.5,21.1219977 4.54466892,22.1666667 5.83333333,22.1666667 L10.5,22.1666667 L14,25.6666667 L17.5,22.1666667 L22.1666667,22.1666667 C23.4553311,22.1666667 24.5,21.1219977 24.5,19.8333333 L24.5,4.66666667 C24.5,3.37800225 23.4553311,2.33333333 22.1666667,2.33333333 Z M14,5.83333333 C16.0148333,5.83333333 17.5,7.31733333 17.5,9.33333333 C17.5,11.3493333 16.0148333,12.8333333 14,12.8333333 C11.9863333,12.8333333 10.5,11.3493333 10.5,9.33333333 C10.5,7.31733333 11.9863333,5.83333333 14,5.83333333 Z M8.37316667,18.6666667 C9.02416667,16.6565 11.2851667,15.1666667 14,15.1666667 C16.7148333,15.1666667 18.977,16.6565 19.6268333,18.6666667 L8.37316667,18.6666667 Z" fill="#000000" fill-rule="nonzero"></path>
								</g>
							</g>
						</g>
					</svg>
					</span>
				  <span class="hidden-xs hidden-sm">
					  {{loggedUser.title | constantLabel: 'UserTitle' }} <span>{{loggedUser.lastName}} {{loggedUser.firstName}}</span>
				  </span>
				  <span class="hidden-sm hidden-md" ng-if="loggedUser.originalUserId != null && loggedUser.originalUserId !== undefined">
					  [impersonificato da {{loggedUser.originalLastName}} {{loggedUser.originalFirstName}}]
				  </span>
				  <i class="material-icons" style="vertical-align: middle;">keyboard_arrow_down</i>
				</a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li ng-if="userPortals !== undefined && userPortals.length > 1">
					<a ui-sref="portals">Cambia Portale</a>
				</li>
				<li ng-if="loggedUser.originalUserId != null && loggedUser.originalUserId !== undefined">
					<a  ng-click="unimpersonate(user.id)">Termina personificazione</a>
				</li>
				<li>
               		<a ui-sref="app.profile({id:loggedUser.id})" >Profilo</a>
                </li>
				<li>
					<a ui-sref="access.logout">Logout</a>
				</li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->
      </div>
      <!-- / navbar collapse -->