<div class="wrapper bg-light lter b-b" style="height: 100%;">
	<button type="button" ng-if="popup" ng-click="modal.dismiss()" class="close ng-scope">
    	<i class="material-icons">clear</i>
	</button>
	<iframe id="pdfFrame" ng-src="{{pdf}}" style="width: 100%;" viewer-set-dimensions-onload></iframe>
</div>