<div class="wrapper bg-light lter b-b">
	<div class="row">
		<div class="col-lg-12">
			<tabset class="tab-container" justified="true">
				<tab>
					<tab-heading> <i class="fa fa-calendar fw"></i>&nbsp;<strong>Disponibilità</strong></tab-heading>
					<form role="form" id="meetingForm" novalidate>
						<div class="row">
							<div class="form-group col-md-7">
								<label class="control-label">Utente</label>
								<ui-select ng-model="availability.user.id" theme="bootstrap" tooltip="{{errors['availability.user.id']}}" class="{{errors['availability.user.id'] ? 'error' : ''}}" ng-change="errors['availability.user.id'] = undefined">
									<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$select.selected.groupName}}</strong> - {{$select.selected.lastName + ' ' + $select.selected.firstName}}</ui-select-match>
									<ui-select-choices group-by="'groupName'" repeat="v.id as v in users | filter: $select.search">
										<div ng-bind-html="v.lastName + ' ' + v.firstName | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-3">
								<label class="control-label">Data</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-readonly="true" format-date ng-model="availability.startDate"
										ng-class="{error: errors['availability.startDate']}"
										ng-change="errors['availability.startDate'] = undefined">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!canUpdate">
											<i class="material-icons">date_range</i>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group col-md-2">
								<label class="control-label">Ora Inizio</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-readonly="true" format-time ng-model="availability.startTime"
										ng-class="{error: errors['availability.startTime']}"
										ng-change="errors['availability.startTime'] = undefined">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!canUpdate">
											<i class="material-icons">schedule</i>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group col-md-2">
								<label class="control-label">Ora Fine</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-readonly="true" format-time ng-model="availability.endTime"
										ng-class="{error: errors['availability.endTime']}"
										ng-change="errors['availability.endTime'] = undefined">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!canUpdate">
											<i class="material-icons">schedule</i>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group col-md-5">
								<label class="control-label">Tipo</label>
								<div class="radio m-b-none">
									<label class="i-checks m-r">
										<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="availability.available" ng-change="errors['availability.available'] = undefined">
										<i tooltip="{{errors['availability.available']}}" ng-class="{error: errors['availability.available']}"></i>Disponibile
									</label>
									<label class="i-checks">
										<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="availability.available" ng-change="errors['availability.available'] = undefined">
										<i tooltip="{{errors['availability.available']}}" ng-class="{error: errors['availability.available']}"></i>Non Disponibile
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="control-label">Descrizione</label>
								<textarea rows="3" class="form-control" ng-model="availability.notes" ng-class="{error: errors['availability.notes']}" ng-change="errors['availability.notes'] = undefined"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-3">
								<label class="control-label">Ripeti evento</label>
								<div class="radio m-b-none">
									<label class="i-checks m-r">
										<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="availability.recursive" ng-change="errors['availability.recursive'] = undefined">
										<i tooltip="{{errors['availability.recursive']}}" ng-class="{error: errors['availability.recursive']}"></i>Si
									</label>
									<label class="i-checks">
										<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="availability.recursive" ng-change="errors['availability.recursive'] = undefined">
										<i tooltip="{{errors['availability.recursive']}}" ng-class="{error: errors['availability.recursive']}"></i>No
									</label>
								</div>
							</div>
							<div class="form-group col-md-3" ng-if="availability.recursive">
								<label class="control-label">Ripeti ogni</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="availability.repeatValue"
										ng-class="{error: errors['availability.repeatValue']}"
										ng-change="errors['availability.repeatValue'] = undefined">
									<span class="input-group-btn">
										<select class="btn btn-sm btn-default waves-effect waves-light" ng-options="v.id as v.name for v in timeUnits"  ng-model="availability.repeatUnit"
											ng-class="{error: errors['availability.repeatUnit']}"
											ng-change="errors['availability.repeatUnit'] = undefined">
											<option value=""></option>
										</select>
									</span>
								</div>
							</div>
							<div class="form-group col-md-3" ng-if="availability.recursive">
								<label class="control-label">Fino a</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-readonly="true" format-date ng-model="availability.repeatEnd"
										ng-class="{error: errors['availability.repeatEnd']}"
										ng-change="errors['availability.repeatEnd'] = undefined">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!canUpdate">
											<i class="material-icons">date_range</i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="row" ng-if="availability.recursive && availability.repeatUnit === 'WEEKS'">
							<div class="form-group col-md-12">
								<label class="i-checks m-r-lg" ng-repeat="v in days">
									<input type="checkbox" check-list="availability.repeatDays" value="{{v.id}}" change="errors['availability.repeatDays'] = undefined">
									<i tooltip="{{errors['availability.repeatDays']}}" ng-class="{error: errors['availability.repeatDays']}"></i>{{v.name}}
								</label>
							</div>
						</div>
						<div class="row m-t-lg" ng-if="availability.recursiveOriginal && availability.id !== undefined">
							<div class="form-group col-md-12 m-b-none">
								<label class="control-label">Trattandosi di una evento ricorrente, indicare a quali occorrenze applicare la modifica:</label>
							</div>
							<div class="form-group col-md-12">
								<label class="i-checks m-r-lg" ng-repeat-start="v in availabilityOperationApplicationTypes">
									<input type="checkbox" check-list="availability.operationType" only-one="true" value="{{v.id}}">
									<i tooltip="{{errors['availability.operationType']}}" ng-class="{error: errors['availability.operationType']}"></i>{{v.name}}
								</label>
								<br ng-repeat-end />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<button type="button" class="btn btn-info" ng-click="save()"><i class="fa fa-save fw"></i> Salva</button>
								<button type="button" class="btn btn-default"  ng-click="undo()"><i class="fa fa-close fw"></i> Chiudi</button>
								<button type="button" class="btn btn-default pull-right"  ng-click="delete()" ng-if="availability.id !== undefined"><i class="fa fa-close fw"></i> Elimina</button>
							</div>
						</div>
					</form>
				</tab>
			</tabset>
		</div>
	</div>
</div>