<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.usermessages">Lista Messaggi</a></li>
	<li class="active">{{detail.subject}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.subject}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<div class="row" ng-if="canUpdate">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-click="saveAndSend()" title="Salva e invia">
				Invia
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
	<div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Messaggio</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-12" ng-if="detail.sender!= undefined && loggedUser.id != detail.sender.id">
							<label class="control-label">Mittente</label>
							<ul class="nav nav-pills" role="tablist" >
								<li role="presentation" style="margin-bottom: 5px;">
									<a style="cursor: default; border: solid 1px lightgray; padding: 5px 5px 5px 5px; margin-right: 10px">
										{{detail.sender.firstName}} {{detail.sender.lastName}}
									</a>
								</li>
							</ul>
						</div>
						<div ng-if="!isHcp() && !isPatient()" class="form-group col-md-4" ng-if="fieldPermissions['receivers'].VIEW">		
							<label class="control-label">Seleziona destinatari pazienti</label><sup>*</sup>
							<ul class="nav nav-pills" role="tablist" >
								<li ng-repeat="receiver in receiversPatient" role="presentation" style="margin-bottom: 5px;">
									<a style="cursor:default; border: solid 1px lightgray; padding:5px 5px 5px 5px; margin-right:10px">
										{{receiver.firstName}}{{receiver.lastName}}
										<span class="badge" ng-if="fieldPermissions['message'].UPDATE">
											<i ng-click="removeReceiver(receiver.id)" class="material-icons" style="font-size: 12px; cursor: pointer;">clear</i>
										</span>
									</a>
								</li>
								<li ng-if="fieldPermissions['message'].UPDATE == true">
									<a style="padding:5px 5px 5px 5px;" user-search-modal="receiversPatient" multiple-list="true"
										user-type="'PATIENT'" pre-fn="" post-fn="setReceiversPatient" tooltip="{{errors['detail.receiverIds']}}"
										ng-class="{error: errors['detail.receiverIds']}">
							            <span class="badge">
							            	<i style="font-size:14px;" class="material-icons">add</i>
							            </span>
							          </a>
							     </li>	
							</ul>
						</div>
						<div ng-if="!isHcp() && !isPatient()" class="form-group col-md-4" ng-if="fieldPermissions['receivers'].VIEW">		
							<label class="control-label">Seleziona destinatari medici</label><sup>*</sup>
							<ul class="nav nav-pills" role="tablist" >
								<li ng-repeat="receiver in receiversHcp" role="presentation" style="margin-bottom: 5px;">
									<a style="cursor: default; border: solid 1px lightgray; padding: 5px 5px 5px 5px; margin-right: 10px">
										{{receiver.firstName}}{{receiver.lastName}}
										<span class="badge" ng-if="fieldPermissions['message'].UPDATE">
											<i ng-click="removeReceiver(receiver.id)" class="material-icons" style="font-size: 12px; cursor: pointer;">clear</i>
										</span>
									</a>
								</li>
								<li ng-if="fieldPermissions['message'].UPDATE == true">
									<a style="padding:5px 5px 5px 5px;" user-search-modal="receiversHcp" user-type="'HCP'"
										multiple-list="true" pre-fn="" post-fn="setReceiversHcp" tooltip="{{errors['detail.receiverIds']}}"
										ng-class="{error: errors['detail.receiverIds']}">
										<span class="badge">
											<i style="font-size:14px;" class="material-icons">add</i>
										</span>
									</a>
								</li>		
							</ul>
						</div>
						<div class="form-group col-md-12" ng-if="fieldPermissions['subject'].VIEW" >
							<label class="control-label">Oggetto</label><sup>*</sup>
							<input type="text" id="detail.subject" class="form-control" ng-model="detail.subject"
								tooltip="{{errors['detail.subject']}}" ng-class="{error: errors['detail.subject']}"
								ng-disabled="!fieldPermissions['subject'].UPDATE" />
						</div>
						<div class="form-group col-md-12" ng-if="fieldPermissions['subject'].VIEW">
							<label class="control-label">Messaggio</label><sup>*</sup>
							<textarea id="detail.message" rows="4" class="form-control" ng-model="detail.message"
								tooltip="{{errors['detail.message']}}" ng-class="{error: errors['detail.message']}"
								ng-disabled="!fieldPermissions['message'].UPDATE" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="canUpdate">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-click="saveAndSend()" title="Salva e invia">
				Invia
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
