<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista utenze operatori sanitari</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body'}}">
 	<div class="wrapper-sm filterWrap">
 		<div class="row">
 			<div class="col-lg-12">
 				<div class="panel panel-default m-n">
 					<div class="panel-body">
 						<form name="form" class="form-validation" novalidate ng-submit="search()">
 							<div class="row">
								<div class="form-group col-lg-12">
									<label>Nome e cognome</label>
									<input type="name" class="form-control" ng-model="searchFilters.filters.FULLNAME"  >
								</div>
								<div class="form-group col-lg-4" region-select="searchFilters.filters.COUNTY" province="searchFilters.filters.PROVINCE" city="searchFilters.filters.CITY" />
								<div class="form-group col-lg-4" province-select="searchFilters.filters.PROVINCE" region="searchFilters.filters.COUNTY" city="searchFilters.filters.CITY" />
								<div class="form-group col-lg-4" city-select="searchFilters.filters.CITY" province="searchFilters.filters.PROVINCE" region="searchFilters.filters.COUNTY" />
								<div class="form-group col-lg-4">
									<label class="control-label">Medico del servizio</label>
									<div class="checkbox-inline">
										<label class="i-checks m-r">
											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="searchFilters.filters.SUPPORT_MEDICAL_SERVICE">
											<i></i>Si
										</label>
										<label class="i-checks">
											<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="searchFilters.filters.SUPPORT_MEDICAL_SERVICE">
											<i></i>No
										</label>
									</div>
								</div>
							</div>
 							<div class="row">
 								<div class="col-lg-12 text-right">
 									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
 										Cerca
 									</button>
 									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
 										Cancella
 									</button>
 								</div>
 							</div>
 						</form>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Utenze</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						    		<ul class="dropdown-menu pull-right">
						            	<li>
						            		<a user-modal="''" user-type="'SUPPLIER'" user-parent="detail.id" post-fn="initList" post-fn-dismiss="initList">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            		</a>
						            			<span>Esporta Pagina</span>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th class="hidden-xs hidden-sm" st-sort="title">Titolo</th>
										<th st-sort="lastName">Cognome</th>
										<th st-sort="firstName">Nome</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="firstName">Email</th>
										<th style="width: 1%;" ng-if="!selection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" user-modal="row.id" user-type="row.type" style="cursor: pointer;">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td class="hidden-xs hidden-sm" ng-bind="row.title | constantLabel: 'UserTitle'" />
										<td ng-bind="row.lastName" />
										<td ng-bind="row.firstName" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" />
										<td style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();"
												ng-if="permission[row.id].IMPERSONATE || permissions[row.id].DELETE || permission[row.id].INVITE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									        		<li ng-if="permission[row.id].IMPERSONATE">
									            		<a ng-click="impersonate(row.nickName)">
									            			<i class="material-icons">person</i>
									            			Impersonifica
									            		</a>
									            	</li>
									            	<li ng-if="permission[row.id].INVITE">
									            		<a ng-click="invite(row.id)">
									            			<i class="material-icons">send</i>
									            			Invita
									            		</a>
									            	</li>
									            	<li class="divider"></li>
									            	<li ng-if="permission[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			<span>Cancella</span>
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="5" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>