<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista eventi personali</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista eventi personali</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Eventi personali</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr ng-if="selection">
										<th colspan="7">
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>				
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th>ID</th>
										<th class="hidden-xs" st-sort="type">Tipo</th>
										<th st-sort="name">Nome proprietario</th>
										<th class="hidden-xs hidden-sm hidden-md" >data</th>
										<th class="hidden-xs hidden-sm hidden-md" >ora inizio</th>
										<th class="hidden-xs hidden-sm hidden-md" >ora fine</th>
										<th style="width: 30px; padding: 0;" ng-if="!selection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" ng-click="edit(row.id)">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
												<i />
											</label>
										</td>
										<td>{{row.id}}</td>
										<td ng-bind="row.type.name" />
										<td>{{row.owner.firstName}} {{row.owner.lastName}}</td>
										<td style="padding: 15px;">{{ row.startDate | formatDateTime }}</td>
										<td style="padding: 15px;">{{ row.startTime | formatTime }}</td>
										<td style="padding: 15px;">{{ row.endTime | formatTime }}</td>
										<td ng-if="!selection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="canDelete">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="canDelete">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>			
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="row" ng-if="selection">
						<div class="col-xs-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
								Ok
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>  		
				</div>
			</div>
		</div>
	</div>
</div>