<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">						
					<div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Nome</label><sup>*</sup>
						<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
						<label class="control-label">Descrizione</label><sup></sup>
						<textarea type="text" id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}" />
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['customer'].VIEW">
						<label class="control-label">Cliente</label><sup>*</sup>
						<div class="input-group">
							<input type="text" id="detail.customer" class="form-control" ng-readonly="true" value="{{detail.customer.type | constantLabel:'CustomerType'}} {{detail.customer.name}}" tooltip="{{errors['detail.customer']}}" ng-class="{error: errors['detail.customer']}">
							<span class="input-group-btn">
								<button ng-if="true" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['customer'].UPDATE" customer-search-modal="detail.customer" multiple-list="false" 
									program-id="id" pre-fn="" post-fn="" title="Seleziona">
									<i class="material-icons">people</i>
								</button>						
							</span>		
						</div>
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note Interne</label>
						<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}" />
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>