<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Farmaco</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-4">
									<label class="control-label">Paziente</label><sup>*</sup>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true"
											value="{{detail.patient.title | constantLabel:'UserTitle'}} {{detail.patient.lastName}} {{detail.patient.firstName}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												user-modal="detail.patient.id" user-type="'PATIENT'"
												ng-disabled="detail.patient == undefined" multiple-list="false"
												title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">Farmacia di riferimento</label>
									<div class="input-group">
										<input value="{{detail.pharmacy.name}}" tooltip="{{errors['detail.pharmacy']}}"
											ng-class="{error: errors['detail.pharmacy']}" type="text"
											class="form-control" ng-disabled="true"> 
											<span class="input-group-btn">
											<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												ng-disabled="detail.pharmacy == undefined" pharmacy-modal="detail.pharmacy.id"
												post-fn="search" post-fn-dismiss="search">
												<i class="material-icons">person</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">Responsabile ritiro</label><sup>*</sup>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true"
											value="{{detail.pickUpOwner.title | constantLabel:'UserTitle'}} {{detail.pickUpOwner.lastName}} {{detail.pickUpOwner.firstName}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												user-modal="detail.pickUpOwner.id" user-type="detail.pickUpOwner.type"
												ng-disabled="detail.patient == undefined" multiple-list="false"
												title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">Responsabile consegna</label><sup>*</sup>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true"
											value="{{detail.deliveryOwner.title | constantLabel:'UserTitle'}} {{detail.deliveryOwner.lastName}} {{detail.deliveryOwner.firstName}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												user-modal="detail.deliveryOwner.id" user-type="detail.deliveryOwner.type"
												ng-disabled="detail.patient == undefined" multiple-list="false"
												title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">Codice ritiro</label>
									<input type="text" id="detail.pickUpCode" class="form-control" ng-model="detail.pickUpCode"
										tooltip="{{errors['detail.cellPhoneNumber']}}" ng-class="{error: errors['detail.cellPhoneNumber']}">
								</div>
							</div>
							<div class="row" address-input="detail.pickUpAddress" ng-disabled="true" default-country-code="IT" />
							<div class="row m-t">
								<div class="col-lg-12">
									<div class="panel panel-default">
										<div class="row" st-table="detail.items">
											<div class="col-sm-12">
												<div class="bg-secondary wrapper-xs">
													<div class="inline">
														<h4 class="m-sm">Farmaci</h4>
													</div>
													<div class="btn-group dropdown pull-right" dropdown ng-if="false">
														<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
															<i class="material-icons">view_list</i>
														</button>
														<ul class="dropdown-menu pull-right">
											            	
										        		</ul>
													</div>
												</div>
												<table class="table" id="detail.items" tooltip="{{errors['detail.items']}}" ng-class="{error: errors['detail.items']}">	
													<thead>
														<tr>
															<th>Nome</th>
															<th>Quantità</th>
															<th>Data scadenza</th>
															<th style="width: 30px; padding: 0;" />
														</tr>
													</thead>
													<tbody class="bg-white">
														<tr ng-repeat="row in detail.items track by $index" drug-pick-up-item-modal="row.id" drug-pick-up="detail" item-index="$index">
															<td ng-bind="row.drug.name" />
															<td ng-bind="row.collectedQuantity" />
															<td ng-bind="row.drugExpiringDate | formatDate" />
															<td style="padding: 0;">
																<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="fieldPermissions['items'].UPDATE">
														        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
														         		<i class="material-icons">more_vert</i>
														    		</button>
														    		<ul class="dropdown-menu pull-right">
														            	<li ng-if="fieldPermissions['items'].UPDATE">
														            		<a ng-click="removeItem($index)">
														            			<i class="material-icons">delete</i>
														            			Cancella
														            		</a>
														            	</li>
														            </ul>
														    	</div>
														    </td>					
														</tr>
													</tbody>
													<tbody ng-show="detail.items == undefined || detail.items == 0">
														<tr>
															<td colspan="3">
																<div class="text-muted"><i>Nessun dato trovato</i></div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<label class="control-label">Note ritiro</label>
									<textarea id="detail.pickUpNotes" rows="4" class="form-control" ng-model="detail.pickUpNotes"
										tooltip="{{errors['detail.pickUpNotes']}}" ng-class="{error: errors['detail.pickUpNotes']}" />
								</div>
								<div class="form-group col-md-12">
									<label class="control-label">Note interne ritiro</label>
									<textarea id="detail.pickUpInternalNotes" rows="4" class="form-control" ng-model="detail.pickUpInternalNotes"
										tooltip="{{errors['detail.pickUpInternalNotes']}}" ng-class="{error: errors['detail.pickUpInternalNotes']}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</div>