<div class="row" ng-if="canUpdate">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
			Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
			Annulla
		</button>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Nome</label><sup>*</sup>
						<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
						<label class="control-label">Descrizione</label>
						<textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="detail.documentTypes !== undefined && detail.documentTypes.length > 0 && fieldPermissions['permissions'].VIEW">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Permessi</h4>
			</div>
			<tabset>
				<tab ng-repeat="documentType in detail.documentTypes">
					<tab-heading>
						<i class="material-icons">people</i>
						<span ng-bind="documentType | constantLabel: 'DataTypeName'" />
					</tab-heading>
					<div ng-include="'tpl/app/documentcategory/permission.html'" />
				</tab>
			</tabset>
		</div>
	</div>
</div>
<div class="row" ng-if="canUpdate">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
			Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
			Annulla
		</button>
	</div>
</div>