<div ng-bind-html="detail.text | to_trusted" />
<div ng-repeat="approval in detail.approvals">
	<div ng-bind-html="approval.textBefore" />
	<div class="checkbox-inline">
		<label class="i-checks m-r">
			<input type="checkbox" ng-true-value="'true'" ng-false-value="undefined" ng-model="approval.value">
			<i />{{approval.labelYes}}
		</label>
		<label class="i-checks">
			<input type="checkbox" ng-true-value="'false'" ng-false-value="undefined" ng-model="approval.value">
			<i />{{approval.labelNo}}
		</label>
	</div>
	<div ng-bind-html="approval.textAfter" />
</div>
<br />
<button class="btn btn-primary waves-effect waves-light pull-right m-b" ng-click="save()" title="Continua" ng-disabled="!permissions.UPDATE">
	Continua
</button>