
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Domicilio temporaneo</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab>
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-primary waves-effect waves-light" ng-click="confirm()" title="Conferma" ng-if="!isNew() && detail.status === 'WAITING'">
							Conferma
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati domicilio temporaneo</h4>
							</div>
							<div class="panel-body">
							<!-- 
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['patient'].VIEW">
										<label class="control-label">Paziente</label>
										<div class="input-group">
											<input value="{{detail.patient.title | constantLabel:'UserTitle'}} {{detail.patient.lastName}} {{detail.patient.firstName}}"
												tooltip="{{errors['detail.patient']}}" ng-class="{error: errors['detail.patient']}" type="text"
												class="form-control" ng-disabled="true"> 
												<span class="input-group-btn">
												<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.patient == undefined"
													user-modal="detail.patient.id" user-type="detail.patient.type" multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['owner'].VIEW">
										<label class="control-label">Responsabile convalida</label>
										<div class="input-group">
											<input value="{{detail.owner.title | constantLabel:'UserTitle'}} {{detail.owner.lastName}} {{detail.owner.firstName}}"
												tooltip="{{errors['detail.owner']}}" ng-class="{error: errors['detail.owner']}" type="text"
												class="form-control" ng-disabled="true"> 
												<span class="input-group-btn">
												<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.owner == undefined"
													user-modal="detail.owner.id" user-type="detail.owner.type" multiple-list="false" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>
										</div>
									</div>
								</div>
								-->
								<div class="row" address-input="detail.address" errors="errors" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
								<div class="row">
									<div class="form-group col-md-6" ng-if="fieldPermissions['phoneNumber'].VIEW">
										<label class="control-label">Telefono</label>
										<input type="text" id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-3" ng-if="fieldPermissions['requestedDate'].VIEW">
										<label class="control-label">Data richiesta attivazione</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date 
												ng-readonly="true" ng-disabled="!fieldPermissions['requestedDate'].UPDATE" ng-model="detail.requestedDate" 
												tooltip="{{errors['detail.requestedDate']}}" ng-class="{error: errors['detail.requestedDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['requestedDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-3" ng-if="fieldPermissions['startDate'].VIEW">
										<label class="control-label">Data inizio</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date
												ng-readonly="true" ng-disabled="!fieldPermissions['startDate'].UPDATE" ng-model="detail.startDate" 
												tooltip="{{errors['detail.startDate']}}" ng-class="{error: errors['detail.startDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['startDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-3" ng-if="fieldPermissions['endDate'].VIEW">
										<label class="control-label">Data fine</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date
												ng-readonly="true" ng-disabled="!fieldPermissions['endDate'].UPDATE" ng-model="detail.endDate" 
												tooltip="{{errors['detail.endDate']}}" ng-class="{error: errors['detail.endDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['endDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="row m-t" ng-if="fieldPermissions['pharmacy'].VIEW">
									<div class="form-group col-md-4">
										<label class="control-label">Farmacie associate al paziente</label>
										<div class="input-group">
											<input value="{{detail.pharmacy.name}}" tooltip="{{errors['detail.pharmacy']}}" ng-class="{error: errors['detail.pharmacy']}" type="text"
												class="form-control" ng-disabled="true"> 
												<span class="input-group-btn">
												<button ng-if="fieldPermissions['pharmacy'].UPDATE" multiple-list="false" title="Seleziona" class="btn btn-icon btn-sm btn-default waves-effect waves-light" 
													patient-pharmacy-search-modal="detail.pharmacy" patient-id="detail.patient.id" filters="{filters:{PATIENT_ID:detail.patient.id}}" >
													<i class="material-icons">search</i>
												</button>
												<button	ng-if="fieldPermissions['pharmacy'].VIEW" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.pharmacy == undefined" multiple-list="false"
													pharmacy-modal="detail.pharmacy.id" post-fn="search" post-fn-dismiss="search">
													<i class="material-icons">person</i>
												</button>
												<button ng-if="fieldPermissions['pharmacy'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-click="detail.pharmacy = undefined" ng-disabled="detail.pharmacy == undefined || fie">
													<i class="material-icons">clear</i>
												</button>	
											</span>
										</div>
									</div>
								</div>
								<div class="row" ng-if="fieldPermissions['internalNotes'].VIEW">
									<div class="form-group col-md-12" >
										<label class="control-label">Note Interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" 
											ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-primary waves-effect waves-light" ng-click="confirm()" title="Conferma" ng-if="!isNew() && detail.status === 'WAITING'">
							Conferma
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>				
</div>
