<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista domicilii temporanei</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Lista domicilii temporanei</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a patient-temporary-home-address-modal="''" patient-id="patientId" owner-id="loggedUser.id" post-fn="search" post-fn-dismiss="search">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr ng-if="selection">
										<th colspan="3">
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>
									<tr>
										<th style="width: 1%;" ng-if="selection" />
<!-- 										<th>Indirizzo</th> -->
										<th st-sort="startDate">Data inizio</th>
										<th st-sort="endDate">Data fine</th>
										<th st-sort="status">Stato attivazione</th>
										<th style="width: 30px; padding: 0;" ng-if="!selection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" patient-temporary-home-address-modal="row.id" patient-id="row.patient.id" owner-id="row.owner.id" post-fn="search" post-fn-dismiss="search" >
<!-- 										<td ng-bind="row.address.address" /> -->
										<td class="hidden-xs hidden-sm" ng-bind="row.startDate | formatDate" />
										<td class="hidden-xs hidden-sm" ng-bind="row.endDate | formatDate" />
										<td class="hidden-xs hidden-sm">{{row.status | constantLabel:'TemporaryHomeAddressStatus'}}</td>
										<td ng-if="!selection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="canDelete">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="canDelete">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="3">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>
					<div class="row" ng-if="selection">
						<div class="col-xs-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
								Ok
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>	
</div>