<div class="modal-header {{dialogStyle}}">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Modifica attività</h3>
</div>
<div class="modal-body text-md modal-with-footer">
	<div class="row">
		<div class="col-lg-12 text-bold">
			L'attività verrà riportata in stato 'Pianificiata' e l'eventuale ordine di servizio, confermato o no, sarà annullato.<br />Si desidera procedere?
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default waves-effect waves-light" ng-click="confirm()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="cancel()" title="Annulla">
		Annulla
	</button>
</div>