<div class="row">
	<div ng-repeat="property in detail.customProperties" ng-switch="property.type">
		<div class="form-group col-md-4" ng-switch-when="DATE">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<div class="input-group">
				<input type="text" class="form-control" format-date ng-readonly="true" id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}"
					ng-class="{error: errors['detail.customProperties_'+$index]}" ng-model="property.values" >
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"
						ng-disabled="!fieldPermissions['customProperties'].UPDATE">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-4" ng-switch-when="DATETIME">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<div class="input-group">
				<input id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}"
					ng-class="{error: errors['detail.customProperties_'+$index]}" type="text" class="form-control"
					format-date-time readonly="true" ng-model="property.values" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"
						ng-disabled="!fieldPermissions['customProperties'].UPDATE">
						<i class="material-icons">update</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-4" ng-switch-when="INTEGER">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<input id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}"
				ng-class="{error: errors['detail.customProperties_'+$index]}" type="number" step="1" class="form-control"
				ng-model="property.values" ng-disabled="!fieldPermissions['customProperties'].UPDATE">
		</div>
		<div class="form-group col-md-4" ng-switch-when="DECIMAL">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<input id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}"
				ng-class="{error: errors['detail.customProperties_'+$index]}" type="number" step="0.01" class="form-control"
				ng-model="property.values" ng-disabled="!fieldPermissions['customProperties'].UPDATE">
		</div>
		<div class="form-group col-md-4" ng-switch-when="BOOLEAN">
			<div class="radio">
				{{property.name}}
				<sup ng-if="property.mandatory == true">*</sup>
				<label class="i-checks" >
					<input id="{{'detail.customProperties_'+$index}}" type="checkbox" tooltip="{{errors['detail.customProperties_'+$index]}}"
						ng-class="{error: errors['detail.customProperties_'+$index]}" ng-true-value="true" ng-false-value="false"
					 	ng-model="property.values" ng-disabled="!fieldPermissions['customProperties'].UPDATE" />
					<i></i>
				</label>
			</div>
		</div>
		<div class="form-group col-md-4" ng-switch-when="LIST_OF_VALUE">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<select id="{{'detail.customProperties_'+$index}}" ng-model="property.values" class="form-control"
				ng-options="v.code as v.label disable when (v.status != 'ACTIVE' && v.code !== property.values) for v in property.choices"
				tooltip="{{errors['detail.customProperties_'+$index]}}" ng-class="{error: errors['detail.customProperties_'+$index]}"
				ng-disabled="!fieldPermissions['customProperties'].UPDATE">
				<option value="" />
			</select>
		</div>
		<div class="form-group col-md-4" ng-switch-when="STRING">
			<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
			<input id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}" 
				g-class="{error: errors['detail.customProperties_'+$index]}" type="text" class="form-control" ng-model="property.values"
				ng-disabled="!fieldPermissions['customProperties'].UPDATE">
		</div>
	</div>					
</div>