<div class="modal-header bg-secondary">
	<button type="button" ng-click="closeHelp()" class="close">
    	<i class="material-icons">clear</i>
	</button>
    <h3 class="modal-title" style="min-height: 34px">{{ dialogTitle }}</h3>
</div>
<div class="modal-body" ng-bind-html="dialogText"></div>