<nav>
	<ul class="pagination m-n">
		<li>
			<a ng-disabled="currentPage <= 1" ng-click="selectPage(1)" class="btn btn-icon btn-default">
				<i class="material-icons">skip_previous</i>
			</a>
		</li>
		<li>
			<a ng-disabled="currentPage <= 1" ng-click="selectPage(currentPage-1)" class="btn btn-icon btn-default">
				<i class="material-icons">fast_rewind</i>
			</a>
		</li>
		<li ng-repeat="page in pages" ng-class="{active: page==currentPage}" class="hidden-xs">
			<a ng-click="selectPage(page)" class="btn btn-icon btn-default ng-binding">{{page}}</a>
		</li>
		<li>
			<a ng-disabled="currentPage >= numPages" ng-click="selectPage(currentPage+1)" class="btn btn-icon btn-default">
				<i class="material-icons">fast_forward</i>
			</a>
		</li>
		<li>
			<a ng-disabled="currentPage >= numPages" ng-click="selectPage(numPages)" class="btn btn-icon btn-default">
				<i class="material-icons">skip_next</i>
			</a>
		</li>
		<li>
			<a ng-disabled="true" class="btn btn-default" style="padding-top: 0; padding-bottom: 0;">{{currentPage}} di {{numPages}}</a>
		</li>
		<li class="hidden-md hidden-sm hidden-xs">
			<a ng-disabled="true" class="btn btn-default" style="padding-top: 0; padding-bottom: 0;">{{ $parent.pagination.total ? 'Totale elementi: ' + $parent.pagination.total : '' }}</a>
		</li>
		<li class="hidden-xs">
			<select class="btn btn-default" ng-model="stItemsByPage" ng-options="ps for ps in [ 10, 25, 50, 100, 250 ]" />
		</li>
	</ul>
</nav>