<div ng-non-bindable="">
	I'm an external template<br/>
	Lat: {{anchor.getPosition().lat()}}<br/>
	Lng: {{anchor.getPosition().lng()}}<br>
	<ul>
		<li ng-repeat='item in vm.store.items'>{{item}}</li>
	</ul>
</div>