
<div class="wrapper-sm filterWrap">
	<div class="bg-secondary wrapper-xs">
		<div class="row">
			
			<!-- Se operatore o supplier includi i filtri -->
			<div ng-include="'tpl/app/directive/dashboard/hcp-dashboard-filter.html'" ng-if="loggedUser.type!='PATIENT' && loggedUser.type!='HCP'"></div>
		
			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='HCP' || loggedUser.type=='PATIENT'">
				<div class="filterClone inline" >
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div ng-include="'tpl/app/directive/dashboard/hcp-dashboard-filter.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="wrapper-sm m-t main-dashboard">	
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Andamento medio pazienti</div>
				<div class="panel-body" tutor-adherence chart-type="TUTOR_PATIENT_STATUS" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per stato</div>
				<div class="panel-body" bar-chart chart-type="TUTOR_PATIENT_STATUS" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per sesso</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_SEX" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per fasce d'et&agrave;</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_AGE" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pazienti per terapia</div>
				<div class="panel-body" pie-chart chart-type="PATIENT_DRUG_BY_LAST_ACTIVE_THERAPY" filters="filters"
					refresh="refresh" options="{series:{percentage:true}}" />
			</div>
		</div>
	</div>
</div>