<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Operatori ItaliAssistenza</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Operatori ItaliAssistenza</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search(); refresh = true;">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Tipo</label>
									<ui-select multiple ng-model="searchFilters.filters.QUALIFICATION_ID" theme="bootstrap">
										<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.name}}</ui-select-match>
									    	<ui-select-choices repeat="v.id as v in selects['Qualification'] | filter: $select.search">
									     	<div ng-bind-html="v.name | highlight: $select.search" />
									    </ui-select-choices>
									</ui-select>
								</div>
								<div class="form-group col-lg-4">
									<label>Codice</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.CODE">
								</div>
								<div class="form-group col-lg-4">
									<label>Regione</label>
									<ui-select multiple ng-model="searchFilters.filters.MEDICAL_CENTER_ADDRESS_COUNTY" theme="bootstrap">
										<ui-select-match placeholder="Cerca..." allow-clear="true">{{$item.region}}</ui-select-match>
									    	<ui-select-choices repeat="v.region as v in selects['Regions'] | filter: $select.search">
									     	<div ng-bind-html="v.region | highlight: $select.search" />
									    </ui-select-choices>
									</ui-select>
					
								</div>
								<div class="form-group col-lg-4">
									<label class="control-label">Account</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-readonly="true" ng-disabled="true" value="{{objectFilters.department.medicalCenter.name}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" department-search-modal="objectFilters.department" multiple-list="false" title="Seleziona">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.department === undefined" ng-click="objectFilters.department.medicalCenter = undefined">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>								
								<div class="form-group col-lg-4">
									<label class="control-label">Tipo formazione</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-readonly="true" ng-disabled="true" value="{{objectFilters.trainingSubject.title}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" training-subject-search-modal="objectFilters.trainingSubject" multiple-list="false" title="Seleziona"
												object-filters="{'training_session_type':'SUPPLIER_USER', 'WITH_EXISTING_TRAINING_SESSION': true}">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.trainingSubject === undefined" ng-click="objectFilters.trainingSubject = undefined">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-lg-2">
									<label>Data formazione da</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true" ng-model="searchFilters.filters.TRAINING_DATE_FROM">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-lg-2">
									<label>Data formazione a</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true" ng-model="searchFilters.filters.TRAINING_DATE_TO">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters(); refresh = true;" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Operatori ItaliAssistenza</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr ng-if="selection">
										<th colspan="7">
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>				
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th>Codice</th>
										<th>Tipo</th>
										<th>Tipo Formazione</th>
										<th class="hidden-xs hidden-sm hidden-md">Data formazione a partire da 2019</th>
										<th class="hidden-xs hidden-sm hidden-md">Data Prima Attività</th>
										<th style="width: 30px; padding: 0;" ng-if="!selection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" ng-click="edit(row.id)" user-training-sessions-modal participant-id="row.supplierUserId" >
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
												<i />
											</label>
										</td>
										<td ng-bind="row.code" />
										<td ng-bind="row.qualifications | qualificationLabel" />
										<td ng-bind="row.trainingSubjects | trainingSubjectLabel" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.firstTrainingDate | formatDate" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.firstActivityDate | formatDate" />
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="row" ng-if="selection">
						<div class="col-xs-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
								Ok
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>  		
				</div>
			</div>
		</div>
	</div>
</div>