<div class="form-group col-md-12 text-left" ng-if="q.type=='TEXT_BLOCK'">
	<div class="panel panel-default m-t-xxs m-b-xxs">
     	<div class="panel-heading b-b bg-info lter"><strong>Blocco di testo {{1+$index}}</strong></div>
     	<div class="panel-body centered m-b-n">
   			<div class="row">
   				<div class="form-group col-md-12">
      				<label class="control-label">Inserisci il testo</label>
          			<wysiwyg textarea-id="htmlBlock_{{$index}}" textarea-class="m-t form-control"  textarea-height="200px"  textarea-name="htmlBlock_{{$index}}" ng-model="q.text"  textarea-menu="{{textBlockMenu}}"></wysiwyg> 
          	
          			<div class="row b-t">
       					<div class="form-group col-md-12 m-t">
        					<button type="button" class="pull-left btn btn-default" ng-click="updateQuestion($index)"><i class="fa fa-close fw"></i> Chiudi</button>	
        					<button type="button" class="pull-left btn btn-default m-l-xs" ng-click="restoreQuestion($index)"><i class="fa fa-trash fw"></i> Annulla</button>
        				</div>
     				</div>
          		</div>
     		</div>
     	</div>
     </div>		
</div>
	
<div class="form-group col-md-12 text-left" ng-if="q.type!='TEXT_BLOCK'">
	<div class="panel panel-default m-t-xxs m-b-xxs">
       	<div class="panel-heading b-b bg-light dker"><strong>Domanda {{1+$index}}</strong></div>
   		<div class="panel-body centered m-b-n">
   			<div class="row">
   				<div class="col-md-12">
      					<label class="control-label">Tipo domanda</label>
      				</div>
       			<div class="form-group col-md-12">	
	         		<button type="button" class="btn btn-default m-b" ng-class="{'btn-info':q.type=='SINGLE_CHOICE'}" ng-click="setQuestionType('SINGLE_CHOICE',q)"><i class="fa fa-check-square-o fw"></i> Scelta singola</button>	
	         		<button type="button" class="btn btn-default m-b" ng-class="{'btn-info':q.type=='MULTIPLE_CHOICE'}" ng-click="setQuestionType('MULTIPLE_CHOICE',q)"><i class="fa fa-th-list fw"></i> Scelta Multipla</button>	
	         		<button type="button" class="btn btn-default m-b" ng-class="{'btn-info':q.type=='FREE'}" ng-click="setQuestionType('FREE',q)"><i class="fa fa-font fw"></i> Testo libero</button>	
	         		<button type="button" class="btn btn-default m-b" ng-class="{'btn-info':q.type=='NUMERIC_VALUE'}" ng-click="setQuestionType('NUMERIC_VALUE',q)"><i class="fa fa-superscript fw"></i> Valore numerico</button>	
	         		<button type="button" class="btn btn-default m-b" ng-class="{'btn-info':q.type=='SCORE'}" ng-click="setQuestionType('SCORE',q)"><i class="fa fa-sort-numeric-asc fw"></i> Punteggio</button>	
           			<button type="button" class="btn btn-default m-b" ng-class="{'btn-info':q.type=='SCORE_SLIDER'}" ng-click="setQuestionType('SCORE_SLIDER',q)"><i class="fa fa-sliders fw"></i> Slider</button>
           			<button type="button" class="btn btn-default m-b" ng-class="{'btn-info':q.type=='DATE'}" ng-click="setQuestionType('DATE',q)"><i class="fa fa-calendar fw"></i> Data</button>
           			<button type="button" class="btn btn-default m-b" ng-class="{'btn-info':q.type=='DATETIME'}" ng-click="setQuestionType('DATETIME',q)"><i class="fa fa-calendar fw"></i> Data e ora</button>	
       			</div>
   			
	    		<div class="form-group col-md-12">
	         		<label class="control-label">Testo domanda</label>
	         		<wysiwyg textarea-id="htmlBlock_{{$index}}" textarea-class="m-t form-control"  textarea-height="200px"  textarea-name="htmlBlock_{{$index}}" ng-model="q.text"  textarea-menu="{{textBlockMenu}}" placeholder="Inserisci il testo della domanda"
	         			 tooltip="{{errors['q_'+$index+'.text']}}" ng-class="{error: errors['q_'+$index+'.text']}"></wysiwyg>
	         	</div>
          	
         		<div class="form-group col-md-2">
        			<label class="control-label">Domanda Obbligatoria</label>
					<div class="radio">
		             		<label class="i-checks m-r">
		               		<input type="radio" name="mandatoryQuestion" ng-model="q.mandatory" ng-value="true">
		               		<i></i>Si
		             		</label>
		           	
		             		<label class="i-checks m-r">
		               		<input type="radio"  name="mandatoryQuestion" ng-model="q.mandatory" ng-value="false">
		               		<i></i>No
		             		</label>
		           	</div>			
		      	</div>
			
				<div class="form-group col-md-5">
  					<label class="control-label">Oggetti da attivare se si risponde a questa domanda</label>

	  				<div class="radio">
	             		<label class="i-checks m-r" ng-repeat="qq in detail.questions" ng-if="$index!=$parent.$index">
	               		<input type="checkbox" check-list="q.enableQuestions" name="q_{{$parent.$index}}_enableQuestions" value="{{$index+1}}">
	               		<i></i>{{$index+1}} 
	             		</label>
	           		</div>		
  				</div>
   			
   				<div class="form-group col-md-5">
  					<label class="control-label">Domande obbligatorie se si risponde a questa domanda</label>
					<div class="radio" >
	             		<label class="i-checks m-r" ng-repeat="qq in detail.questions" ng-if="$index!=$parent.$index" ng-show="qq.type!='TEXT_BLOCK' && qq.type!='PAGE_JUMPS'">
	               		<input type="checkbox" check-list="q.requiredQuestions" name="q_{{$parent.$index}}_requiredQuestions" value="{{$index+1}}">
	               		<i></i>{{$index+1}}
	             		</label>
          			</div>	
				</div>
      			</div>	
   			<div class="row" ng-show="q.type=='SINGLE_CHOICE' || q.type=='MULTIPLE_CHOICE'">	
   				<div class="col-md-12 m-b">
   					<div class="panel panel-default">
   						<div class="panel-heading b-b b-light"><strong>Scelte possibili</strong></div>
  							<div class="panel-body centered m-b-n">
  								<div class="row">

       							<div class="col-md-12" ng-repeat="reply in q.replies">
       								<div class="row">
				          				<div class="form-group col-md-3">
				          					<label class="control-label">Testo</label>
				            				<input type="text" class="form-control" ng-model="reply.text" placeholder="Testo opzione" tooltip="{{errors['q_'+$parent.$index+'.replyText_'+$index]}}" ng-class="{error: errors['q_'+$parent.$index+'.replyText_'+$index]}"   />		
				          				</div>
				          				<div class="form-group col-md-1">
				          					<label class="control-label">Valore</label>
				            				<input type="text" class="form-control" ng-model="reply.value" placeholder="Valore opzione" tooltip="{{errors['q_'+$parent.$index+'.replyValue_'+$index]}}" ng-class="{error: errors['q_'+$parent.$index+'.replyValue_'+$index]}"  />		
				          				</div>
         				
				          				<div class="form-group col-md-4">
							   				<label class="control-label">Domande da attivare se si sceglie questa risposta</label>
											<div class="radio" >
		
							              		<label class="i-checks m-r" ng-repeat="qq in detail.questions" ng-if="$parent.$parent.$index != $index">
							                		<input type="checkbox" check-list="reply.enableQuestions" name="reply_{{$parent.$parent.$index}}_enableQuestions"  value="{{$index+1}}">
							                		<i></i>{{$index+1}}
							              		</label>
							            	</div>	
										</div>
		   			
							   			<div class="form-group col-md-4">
							   				<label class="control-label">Domande obbligatorie se si sceglie questa risposta</label>
											<div class="radio" >
		
							              		<label class="i-checks m-r" ng-repeat="qq in detail.questions" ng-if="$parent.$parent.$index != $index">
							                		<input type="checkbox" check-list="reply.requiredQuestions" name="reply_{{$parent.$parent.$index}}_requiredQuestions" value="{{$index+1}}">
							                		<i></i>{{$index+1}}
							              		</label>
							            	</div>	
										</div>

	          							<div class="form-group col-md-12 m-b-lg" ng-show="$index == q.replies.length-1">
	          					
	          								<button type="button" class="m-l-xs pull-left btn btn-default" ng-click="addReply($parent.$index)"><i class="fa fa-plus fw"></i> Aggiungi scelta</button>
	          								<button ng-show="$index > 0" type="button" class="m-l-xs pull-left btn btn-default" ng-click="removeReply($parent.$index)"><i class="fa fa-trash fw"></i> Rimuovi ultima</button>
	          							</div>
          							</div>
         							</div>
         						</div>
         					</div>
         				</div>	
   				</div>			
     		</div>
   			<div class="row" ng-show="q.type=='SCORE_SLIDER'">
   				<div class="form-group col-md-2">
     				<label class="control-label">Verticale</label>
					<div class="radio">
	             		<label class="i-checks m-r">
	               		<input type="radio" name="verticalQuestion" ng-model="q.sliderVertical" ng-value="true">
	               		<i></i>Si
	             		</label>
	             		<label class="i-checks m-r">
	               		<input type="radio"  name="verticalQuestion" ng-model="q.sliderVertical" ng-value="false">
	               		<i></i>No
	             		</label>
      				</div>			
   				</div>
   				
   				<div class="form-group col-md-2">
       				<label class="control-label">Divisiore scala</label>
    				<input type="number" class="form-control" ng-model="q.sliderScaleValue" placeholder="Divisiore scala" tooltip="{{errors['q_'+$index+'.sliderScaleValue']}}" ng-class="{error: errors['q_'+$index+'.sliderScaleValue']}" />
     			</div>
     		</div>
   			<div class="row" ng-show="q.type=='SCORE' || q.type=='SCORE_SLIDER'">
   				<div class="form-group col-md-2">
   					<label class="control-label">Punteggio Minimo</label>
     					<input type="text" class="form-control" ng-model="q.score.start"  placeholder="Punteggio minimo" tooltip="{{errors['q_'+$index+'.score.start']}}" ng-class="{error: errors['q_'+$index+'.score.start']}" />	
   				</div>	
   				<div class="form-group col-md-3">
   					<label class="control-label">Etichetta Punteggio Minimo</label>
     					<input type="text" class="form-control" ng-model="q.scoreStartText"  placeholder="Etichetta Punteggio minimo" tooltip="{{errors['q_'+$index+'.scoreStartText']}}" ng-class="{error: errors['q_'+$index+'.scoreStartText']}" />	
   				</div>	
   				
   				<div class="form-group col-md-2">
   					<label class="control-label">Punteggio Massimo</label>
     					<input type="text" class="form-control" ng-model="q.score.end" placeholder="Punteggio massimo" tooltip="{{errors['q_'+$index+'.score.end']}}" ng-class="{error: errors['q_'+$index+'.score.end']}"  />	
   				</div>
   				<div class="form-group col-md-3">
   					<label class="control-label">Etichetta Punteggio Massimo</label>
     					<input type="text" class="form-control" ng-model="q.scoreEndText"  placeholder="Etichetta Punteggio massimo" tooltip="{{errors['q_'+$index+'.scoreEndText']}}" ng-class="{error: errors['q_'+$index+'.scoreEndText']}"  />	
   				</div>
   				
   				<div class="form-group col-md-2">
   					<label class="control-label">Intervallo</label>
     					<input type="text" class="form-control" ng-model="q.score.step" placeholder="Intervallo" tooltip="{{errors['q_'+$index+'.score.step']}}" ng-class="{error: errors['q_'+$index+'.score.step']}" />	
   				</div>		
   			</div>
   			<div class="row b-t">
   				<div class="form-group col-md-12 m-t">
    					<button type="button" class="pull-left btn btn-default" ng-click="updateQuestion($index)"><i class="fa fa-close fw"></i> Chiudi</button>	
    					<button type="button" class="pull-left btn btn-default m-l-xs" ng-click="restoreQuestion($index)"><i class="fa fa-trash fw"></i> Annulla</button>
    				</div>
   			</div>
     	</div>	
	</div>
</div>