

<div class="form-group col-md-6">
     <label class="control-label">Numero minimo di risposte da dare</label>
     <input type="text" ng-disabled="!((isNew() && canInsert) || canUpdate)" class="form-control" ng-model="detail.minRequiredAnswers" placeholder="Inserisci numero minimo di risposte" tooltip="{{errors['detail.minRequiredAnswers']}}" ng-class="{error: errors['detail.minRequiredAnswers']}" />	
</div>	
      	
<div class="form-group col-md-6">
	<label class="control-label">Tipo di Score</label>
	
	<select ng-disabled="!((isNew() && canInsert) || canUpdate)" class="form-control" ng-model="detail.scoreType" ng-options="s.id as s.label for s in scoreTypes" tooltip="{{errors['detail.scoreType']}}" ng-class="{error: errors['detail.scoreType']}">
		<option ng-selected="detail.scoreType==undefined || detail.scoreType==null || detail.scoreType==''" value="">Nessuno Score</option>
	</select>
</div>      	

<div ng-if="'CUSTOM'==detail.scoreType && ((isNew() && canInsert) || canUpdate)">		
	<div class="form-group col-md-12">
		<formula-editor questions="detail.questions" formula="detail.scoreFormula" />
		<div class="line"></div>
    </div>		
</div>
		
