
<div class="form-group col-md-12">
	<div class="panel panel-{{(q.type=='MULTIPLE_CHOICE') ? 'warning' : (q.type=='TEXT_BLOCK' || q.type=='PAGE_JUMPS')? 'danger' : 'info'}} m-t-xxs m-b-xxs ">
		<div class="panel-heading b-b" ng-if="q.type!='TEXT_BLOCK' && q.type!='PAGE_JUMPS'"><strong>D {{ 1+$index }} - Domanda</strong>&nbsp;
			<span class="m-l label text-xs {{ q.mandatory ? 'bg-danger' : 'bg-success'}}">{{ q.mandatory ? 'Obbligatoria' : 'Non obbligatoria'}}</span>	
			<span ng-if="q.enableQuestions!=undefined && q.enableQuestions!=null && q.enableQuestions.length>0" class="m-l label text-xs bg-primary">
				Attiva le domande: <span ng-repeat="aq in q.enableQuestions">{{aq}} <span ng-if="$index<q.enableQuestions.length-1">, </span></span>
			</span>	
			<span ng-if="q.requiredQuestions!=undefined && q.requiredQuestions!=null && q.requiredQuestions.length>0" class="m-l label text-xs bg-light">
				Rende obbligatorie le domande: <span ng-repeat="aq in q.requiredQuestions">{{aq}} <span ng-if="$index<q.requiredQuestions.length-1">, </span></span>
			</span>	
		</div>
    	
    	<div class="panel-heading b-b" ng-if="q.type=='TEXT_BLOCK'"><strong>D {{ 1+$index }} - Blocco di testo</strong></div>
    	<div class="panel-heading b-b" ng-if="q.type=='PAGE_JUMPS'"><strong>D {{ 1+$index }} - Salto pagina</strong></div>
    			
    	<div class="panel-body centered">
     		<div class="row">
				<div class="col col-md-12">
					<div ng-bind-html="displayHtml(q.text)"></div>
					<!-- Risposta singola -->
					<div ng-if="q.type=='SINGLE_CHOICE'" class="radio">
	          	
        				<div class="radio m-b-none">
							<label class="i-checks m-r" ng-repeat="r in q.replies" style="display: block; margin-bottom: 5px;">

							<input type="radio" value="{{r.value}}" name="radio_{{$parent.$index}}"  />
							
							<i></i>{{ r.text }}
								
							<div ng-if="r.enableQuestions!=undefined && r.enableQuestions!=null && r.enableQuestions.length>0" class="m-l-lg label text-xs bg-primary">
								Attiva gli oggetti: <span ng-repeat="aq in r.enableQuestions">{{aq}} <span ng-if="$index<r.enableQuestions.length-1">, </span></span>
							</div>	
							<div ng-if="r.requiredQuestions!=undefined && r.requiredQuestions!=null && r.requiredQuestions.length>0" class="m-l-lg label text-xs bg-light">
								Rende obbligatorie le domande: <span ng-repeat="aq in r.requiredQuestions">{{aq}} <span ng-if="$index<r.requiredQuestions.length-1">, </span></span>
							</div>	
								
							</label>
							
						</div>
					</div>
	      	
        			<!-- Risposta multipla -->
					<div ng-if="q.type=='MULTIPLE_CHOICE'" class="radio">
				          		
				        <div class="radio m-b-none">
							<label class="i-checks m-r" ng-repeat="r in q.replies" style="display: block; margin-bottom: 5px;">
						
							<input  type="checkbox" value="{{r.value}}" />
				
							<i></i>{{ r.text }}
							<div ng-if="r.enableQuestions!=undefined && r.enableQuestions!=null && r.enableQuestions.length>0" class="m-l-lg label text-xs bg-primary">
								Attiva le domande: <span ng-repeat="aq in r.enableQuestions">{{aq}} <span ng-if="$index<r.enableQuestions.length-1">, </span></span>
							</div>	
							<div ng-if="r.requiredQuestions!=undefined && r.requiredQuestions!=null && r.requiredQuestions.length>0" class="m-l-lg label text-xs bg-light">
								Rende obbligatorie le domande: <span ng-repeat="aq in r.requiredQuestions">{{aq}} <span ng-if="$index<r.requiredQuestions.length-1">, </span></span>
							</div>	
							</label>
						</div>
					</div>
				      	
		        	<!-- Libera -->
		        	<div ng-if="q.type=='FREE'" class="m-b">
		        		<textarea class="form-control" placeholder="Inserisci qui la tua risposta" rows="4" />
		        	</div>
      	
		        	<!-- Numerica -->
		        	<div ng-if="q.type=='NUMERIC_VALUE'" class="m-b">
		        		<input type="text" class="form-control" placeholder="Inserisci un valore numerico" />
		        	</div>
      	
		    		<!-- Score -->
		         	<div ng-if="q.type=='SCORE'">
		      			<score-input score="q.score" startlabel="q.scoreStartText" endlabel="q.scoreEndText"/>
		         	</div>
		         	
		         	<!-- Score Slider -->
		         	<div ng-if="q.type=='SCORE_SLIDER'">
		            	<score-slider ng-value="q.score.sliderVal" vertical="q.sliderVertical" startlabel="q.scoreStartText" endlabel="q.scoreEndText" min="q.score.start" max="q.score.end" step="q.score.step" scale="q.sliderScaleValue" ng-disabled="false"/>
            		</div>
	
         		</div>	
         	 </div>
	       
         	<div class="b-t col col-md-12 m-t" ng-if="((isNew() && canInsert) || canUpdate)">
         		<button class="m-t m-r-xs pull-left btn btn-default" ng-click="removeQuestion($index)"><i class="fa fa-trash fw"></i>&nbsp;Elimina</button>
         		<button ng-if="$index>0" class="m-t m-r-xs pull-left btn btn-default" ng-click="moveQuestion('up',$index)"><i class="fa fa-arrow-up fw"></i>&nbsp;Sposta Su</button>	
         		<button ng-if="$index!=(questionnaire.questions.length-1)" ng-click="moveQuestion('down',$index)" class="m-t m-r-xs pull-left btn btn-default"><i class="fa fa-arrow-down fw"></i>&nbsp;Sposta Giù</button>	
 				<button class="m-t pull-left btn btn-default" ng-disabled="detail.disableModifyQuestion" ng-click="modifyQuestion($index)"><i class="fa fa-edit fw"></i>&nbsp;Modifica</button>			
     		</div>
		</div>
	</div>
</div>

