
<div class="wrapper-md nomargintop" style="margin-top:-50px">
	<div class="userDashboard">
		<div class="userDet">
			
							
			<div class="avatar" ng-if="detail.avatar != undefined && detail.avatar != null" >
							
				<button 
						class="btn btn-rounded btn-default btn-lg btn-icon waves-effect waves-light"
						style="cursor: default;" ng-click="changeAvatarInfo()">
						
							<img
								ng-src="{{detail.avatar.imageUrl}}"
								class="img-responsive {{row.selected ? 'active' : ''}}"
								ng-click="changeSelection(row)" />
					
				</button>
			</div>
			<div ng-if="detail.avatar == undefined || detail.avatar == null" class="avatar">
				<button
					class="btn btn-rounded btn-default btn-lg btn-icon waves-effect waves-light btn"
					style="cursor: default;" ng-click="changeAvatarInfo()">
					
					<svg width="50px" height="50px" viewBox="0 0 50 50" >
						<g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g  transform="translate(-329.000000, -402.000000)">
								<g  transform="translate(329.000000, 402.000000)">
									<rect x="0" y="0" width="50" height="50"></rect>
									<path d="M25.5319149,21.2898551 C27.9808511,21.2898551 29.787234,19.4827888 29.787234,17.0279063 C29.787234,14.5730238 27.9808511,12.7659574 25.5319149,12.7659574 C23.0851064,12.7659574 21.2765957,14.5730238 21.2765957,17.0279063 C21.2765957,19.4827888 23.0851064,21.2898551 25.5319149,21.2898551 Z M25.5319149,23.4208296 C20.8319149,23.4208296 17.0212766,26.8559603 17.0212766,31.0923375 L17.0212766,31.9148936 L34.0425532,31.9148936 L34.0425532,31.0923375 C34.0425532,26.8559603 30.2319149,23.4208296 25.5319149,23.4208296 Z"  fill="#000000" fill-rule="nonzero"></path>
									<path d="M39.4799054,4.25531915 L10.5200946,4.25531915 C8.23847518,4.25531915 6.38297872,6.11611702 6.38297872,8.40425532 L6.38297872,35.3723404 C6.38297872,37.6604787 8.23847518,39.5212766 10.5200946,39.5212766 L18.7943262,39.5212766 L25,45.7446809 L31.2056738,39.5212766 L39.4799054,39.5212766 C41.7615248,39.5212766 43.6170213,37.6604787 43.6170213,35.3723404 L43.6170213,8.40425532 C43.6170213,6.11611702 41.7615248,4.25531915 39.4799054,4.25531915 Z M29.1371158,35.3723404 L25,39.5212766 L20.8628842,35.3723404 L10.5200946,35.3723404 L10.5200946,8.40425532 L39.4799054,8.40425532 L39.4840426,35.3723404 L29.1371158,35.3723404 Z"  fill="#000000" fill-rule="nonzero"></path>
								</g>
							</g>
						</g>
					</svg>
				</button>
			</div>
			
			<div class="user">
				<p style="margin: 0;">Benvenuto {{loggedUser.nickName}}</p>
				<h4 style="margin-top:0;margin-bottom:20px;">{{loggedUser.lastName}} {{loggedUser.firstName}}</h4>
				<div class="label {{user.status == 'WAITING' ? 'bg-primary' : ''}}
					{{user.status == 'ACTIVE' || true ? 'bg-success' : ''}}
					{{user.status == 'SUSPENDED' ? 'bg-warning' : ''}}
					{{user.status == 'EXITED' ? 'bg-info' : ''}}
					{{user.status == 'DELETED' ? 'bg-danger' : ''}}">Stato: {{loggedUser.status | constantLabel: 'UserStatus'}}
				</div>
			</div>
		</div>
		<!-- fino a qua -->
		<div class="doctDet" ng-if="detail.hcp">
			<div class="d-flex">
				<div style="margin-right:20px">
					<img src="img/doctor_ico.png" />
				</div>
				<div>
					<p style="margin: 0;font-size:12px">Il tuo medico</p>
					<p style="margin:0"><strong>{{detail.hcp.firstName}} {{detail.hcp.lastName}}</strong>
					</p>
				</div>
			</div>
			<div class="d-flex">
				<div class="d-flex">
					<div ui-jq="easyPieChart" ui-options="{
						percent: 30,
						lineWidth: 3,
						trackColor: '#e8eff0',
						barColor: '#7266ba',
						scaleColor: false,
						color: '#fff',
						size: 65,
						lineCap: 'butt',
						rotate: 45,
						animate: 1000
						}" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
						<div>
							<i class="material-icons img-circle" style="font-size: 40px">business</i>
						</div>
					</div>
					<div>
						<p style="margin:0">{{detail.hcp.department.medicalCenter.name}} {{detail.hcp.department.name}}</p>
					</div>
				</div>
				<div class="d-flex">
					
					<div ui-jq="easyPieChart" ui-options="{
							percent: 50,
							lineWidth: 3,
							trackColor: '#e8eff0',
							barColor: '#23b7e5',
							scaleColor: false,
							color: '#fff',
							size: 65,
							lineCap: 'butt',
							rotate: 90,
							animate: 1000
							}" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
							<div>
								<i class="material-icons img-circle" style="font-size: 40px">place</i>
							</div>
				
					</div>
					<div>
						<p style="margin:0">{{detail.hcp.department.address.address}}, {{detail.hcp.department.address.streetNumber}}, {{detail.hcp.department.address.city}}
						</p>
					</div>
				</div>
				<div class="d-flex">
					<div ui-jq="easyPieChart" ui-options="{
						percent: 20,
						lineWidth: 3,
						trackColor: '#e8eff0',
						barColor: '#fad733',
						scaleColor: false,
						color: '#fff',
						size: 65,
						lineCap: 'butt',
						rotate: 180,
						animate: 1000
						}" class="easyPieChart" style="width: 65px; height: 65px; line-height: 65px;">
						<div>
							<i class="material-icons img-circle" style="font-size: 40px">phone</i>
						</div>
					
					</div>
					<div>
						<p style="margin:0">{{detail.hcp.department.medicalCenter.phoneNumber}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

		<div class="d-flex specialgreybox">
			<div class="col-md-6">
				<div>
					<ul class="timeline">
						<li class="{{item.text == 'NOW' ? 'tl-header' : 'tl-item tl-left'}}" ng-repeat="item in timeline">
							<div class="btn btn-info" ng-if="item.text == 'NOW'" >Oggi</div>
							<div class="tl-wrap b-primary" ng-if="item.text != 'NOW'">
								<span class="tl-date">{{item.date | formatDate}}</span>
								<div class="tl-content panel padder b-a block" ng-if="item.text == 'EXAMINATION'">
									<span class="arrow left pull-up hidden-left"></span>
									<span class="arrow right pull-up visible-left"></span>
									<div>
										<div class="clearfix text-center">
											<div class="inline">
												<div ui-jq="easyPieChart" ui-options="{
													percent: 75,
													lineWidth: 5,
													trackColor: '#e8eff0',
													barColor: '#23b7e5',
													scaleColor: false,
													color: '#ffffff',
													size: 40,
													lineCap: 'butt',
													rotate: -90,
													animate: 1000
														}" class="easyPieChart" style="margin: auto;">
													<div class="thumb-sm" style="height: 40px;">
														<i class="material-icons img-circle" style="font-size: 40px">healing</i>
													</div>
												</div>
												<div class="h4 m-t-xs m-b-xs">Visita medica</div>
											</div>
										</div>
										<footer class="panel-footer bg-primary text-center no-padder pull-in" style="margin-bottom: -15px;">
											<div class="row no-gutter">
												<div class="col-xs-6">
													<div class="wrapper-xs dk">
														<span class="h5 block text-white">{{item.data.status | constantLabel: 'MedicalExaminationStatus' }}</span>
														<small class="text-muted">Area</small>
													</div>
												</div>
												<div class="col-xs-6">
													<div class="wrapper-xs">
														<span class="h5 block text-white">{{ item.data.hour | formatTime }}</span>
														<small class="text-muted">Ore</small>
													</div>
												</div>
											</div>
										</footer>
									</div>
								</div>
								<div class="tl-content panel padder b-a block" ng-if="item.text == 'ACTIVITY'">
									<span class="arrow left pull-up hidden-left"></span>
									<span class="arrow right pull-up visible-left"></span>
									<div>
										<div class="clearfix text-center">
											<div class="inline">
												<div ui-jq="easyPieChart" ui-options="{
													percent: 75,
													lineWidth: 5,
													trackColor: '#e8eff0',
													barColor: '#23b7e5',
													scaleColor: false,
													color: '#ffffff',
													size: 40,
													lineCap: 'butt',
													rotate: -90,
													animate: 1000
														}" class="easyPieChart" style="margin: auto;">
													<div class="thumb-sm" style="height: 40px;">
														<i class="material-icons img-circle" style="font-size: 40px" ng-if="item.data.type == 'OUTGOING_CALL'">call_made</i>
														<i class="material-icons img-circle" style="font-size: 40px" ng-if="item.data.type == 'INCOMING_CALL'">call_received</i>
														<i class="material-icons img-circle" style="font-size: 40px" ng-if="item.data.type == 'MEETING'">group</i>
														<i class="material-icons img-circle" style="font-size: 40px" ng-if="item.data.type == 'CONTACT_REQUEST'">phone_forwarded</i>
														<i class="material-icons img-circle" style="font-size: 40px" ng-if="item.data.type == 'SMS'">sms</i>
														<i class="material-icons img-circle" style="font-size: 40px" ng-if="item.data.type == 'EMAIL'">email</i>
														<i class="material-icons img-circle" style="font-size: 40px" ng-if="item.data.type == 'OTHER'">call_received</i>
													</div>
												</div>
												<div class="h4 m-t-xs m-b-xs">{{item.data.name}}</div>
											</div>
										</div>
										<footer class="panel-footer bg-primary text-center no-padder pull-in" style="margin-bottom: -15px;">
											<div class="row no-gutter">
												<div class="col-xs-6" ng-if="item.data.type == 'MEETING'">
													<div class="wrapper-xs">
														<span class="h5 block text-white">{{item.data.locationType | constantLabel: 'MeetingLocation' }}</span>
														<small class="text-muted">Luogo</small>
													</div>
												</div>
												<div class="col-xs-6" ng-if="(item.data.type == 'OUTGOING_CALL' || item.data.type == 'INCOMING_CALL') && item.data.owner !== undefined">
													<div class="wrapper-xs">
														<span class="h5 block text-white">{{item.data.owner.lastName}} {{item.data.owner.firstName}}</span>
														<small class="text-muted">Partecipanti</small>
													</div>
												</div>
												<div class="col-xs-6">
													<div class="wrapper-xs dk">
														<span class="h5 block text-white">{{item.date | formatDateTime:'HH:mm'}}</span>
														<small class="text-muted">Ore</small>
													</div>
												</div>
											</div>
										</footer>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
