<div class="{{!popup ? '' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="m-sm">Collega Account Utente</h4>
					</div>
					<div class="panel-body">
						<label class="control-label">
						Verificare se una delle utenze elencate qui sotto fa riferimento alla stessa persona che si sta invitando.<br/>
						In caso affermativo, è possibile selezionare tale account in modo che l'utente possa utilizzare le stesse credenziali per accedere anche a questo portale.<br/>
						Se non si seleziona nulla sarà creata una nuova utenza valida solamente per questo portale.<br/><br/>
						Premere "Conferma" per procedere. 
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmInvite()" title="Conferma">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoInvite()" title="Annulla">
		Annulla
	</button>
</div>    