<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista Utenze Clienti</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Utenze Clienti</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.FIRSTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Cognome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.LASTNAME">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Utenze clienti</h4>
								</div>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th class="hidden-xs hidden-sm" st-sort="title">Titolo</th>
										<th st-sort="lastName">Cognome</th>
										<th st-sort="firstName">Nome</th>
										<th style="width: 30px; padding: 0;" />		
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" user-modal="row.id" user-type="row.type" style="cursor: pointer;">
										<td class="hidden-xs hidden-sm" ng-bind="row.name" />
										<td ng-bind="row.lastName" />
										<td ng-bind="row.firstName" />
										<td style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle
									        		ng-if="permissions[row.id].IMPERSONATE || permissions[row.id].INVITE || permissions[row.id].DELETE">
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
						            				<li ng-if=permissions[row.id].IMPERSONATE>
									            		<a ng-click="impersonate(row.nickName)">
									            			<i class="material-icons">person</i>
									            			Impersonifica
									            		</a>
									            	</li>
									            	<li ng-if="permissions[row.id].INVITE">
									            		<a ng-click="invite(row.id)">
									            			<i class="material-icons">send</i>
									            			Invita
									            		</a>
									            	</li>
									            	<li class="divider"></li>
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			<span>Cancella</span>
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="4" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>   		
	</div>
</div>