<div class="{{!popup ? '' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm">
		<div class="row">
		<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="m-sm">Conferma invio inviti utenti</h4>
			</div>
			<div class="panel-body">
				<label class="control-label">L'invito alla registrazione al portale sarà inviato a {{ usersToInvite }} utente/i su {{ $parent.pagination.total }} ricercato/i. Confermare per procedere.</label>
			</div>
		</div>
	</div>
</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmInvite()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoInvite()" title="Annulla">
		Annulla
	</button>
</div>    