<div class="{{!popup ? '' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm">
		<div class="row">
		<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="m-sm">Notifica Attivazione</h4>
			</div>
			<div class="panel-body">
				<div class="row" ng-disabled="true" >
					<div class="form-group col-lg-12">
					    <label class="control-label">Metodi di comunicazione</label>
						<div class="input-group col-md-12" ng-repeat="contactUser in constants['PreferredContactType']" ng-if="contactUser.active">
			              <label class="control-label">{{contactUser.label}}</label>
			               	<div class="checkbox-inline">
			               		<label class="i-checks m-r">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
									<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>Si
								</label>
								<label class="i-checks">
									<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
									<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>No
								</label>
			               	</div>
			            </div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmActivation()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="confirmActivation()" title="Annulla">
		Annulla
	</button>
</div>    