<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Malfunzionamento / Rottura {{detail.code}}</h3>
</div>
<div class="modal-body">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Dettagli">
				<tab-heading>
					<i class="material-icons">pin_drop</i>
					<span>Dettagli</span>
				</tab-heading>
				<div ng-include="'tpl/app/directive/material/material-damage/material-damage-data.html'"></div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>