<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Ritiro e consegna farmaco</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label class="control-label">Paziente</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true"
											value="{{detail.patient.title | constantLabel:'UserTitle'}} {{detail.patient.lastName}} {{detail.patient.firstName}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												user-modal="detail.patient.id" user-type="'PATIENT'"
												ng-disabled="detail.patient == undefined" multiple-list="false"
												title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Farmacia di riferimento</label>
									<div class="input-group">
										<input type="text" value="{{detail.pharmacy.name}}" class="form-control" ng-disabled="true"> 
											<span class="input-group-btn">
											<button	class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												ng-disabled="detail.pharmacy == undefined" pharmacy-modal="detail.pharmacy.id"
												post-fn="search" post-fn-dismiss="search">
												<i class="material-icons">person</i>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row m-t">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="row" st-table="detail.items">
									<div class="col-sm-12">
										<div class="bg-secondary wrapper-xs">
											<div class="inline">
												<h4 class="m-sm">Farmaci</h4>
											</div>
											<div class="btn-group dropdown pull-right" dropdown>
												<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
													<i class="material-icons">view_list</i>
												</button>
												<ul class="dropdown-menu pull-right">
									            	<li>
									            		<a ng-click="editRow()">
									            			<i class="material-icons">add</i>
									            			<span>Nuovo</span>
									            		</a>
									            	</li>
								        		</ul>
											</div>
										</div>
										<table class="table" id="detail.items">	
											<thead>
												<tr>
													<th>Nome</th>
													<th>Quantità ritiro/consegna</th>
													<th style="width: 30px; padding: 0;" />
												</tr>
											</thead>
											<tbody class="bg-white">
												<tr ng-repeat="row in detail.items track by $index" ng-click="editRow($index)">
													<td ng-bind="row.drug.name" />
													<td ng-bind="row.quantity" />
													<td style="padding: 0;">
														<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
												        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
												         		<i class="material-icons">more_vert</i>
												    		</button>
												    		<ul class="dropdown-menu pull-right">
												            	<li>
												            		<a ng-click="removeRow($index)">
												            			<i class="material-icons">delete</i>
												            			Cancella
												            		</a>
												            	</li>
												            </ul>
												    	</div>
												    </td>	
												</tr>
											</tbody>
											<tbody ng-show="detail.items == undefined || detail.items == 0">
												<tr>
													<td colspan="3">
														<div class="text-muted"><i>Nessun dato trovato</i></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati ritiro</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label class="control-label">Responsabile ritiro</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true"
											value="{{detail.pickUpOwner.title | constantLabel:'UserTitle'}} {{detail.pickUpOwner.lastName}} {{detail.pickUpOwner.firstName}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												user-modal="detail.pickUpOwner.id" user-type="detail.pickUpOwner.type"
												ng-disabled="detail.patient == undefined" multiple-list="false"
												title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Data ritiro</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time
											ng-readonly="true" ng-model="detail.pickUpDate">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Codice ritiro</label>
									<input type="text" id="detail.pickUpCode" class="form-control" ng-model="detail.pickUpCode" />
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Luogo ritiro</label>
									<select id="detail.pickUpLocationType" class="form-control" ng-model="detail.pickUpLocationType" 
										ng-options="v.id as v.label disable when (!v.active && v.id !== detail.pickUpLocationType) for v in constants['MeetingLocation']"
										ng-disabled="true">
										<option value="" />
									</select>
								</div>
							</div>
							<div class="row" address-input="detail.pickUpAddress" ng-disabled="true" default-country-code="IT" />
							<div class="row">
								<div class="form-group col-md-12">
									<label class="control-label">Note ritiro</label>
									<textarea id="detail.pickUpNotes" rows="4" class="form-control" ng-model="detail.pickUpNotes" />
								</div>
								<div class="form-group col-md-12" ng-if="isInternalStaff()">
									<label class="control-label">Note interne ritiro</label>
									<textarea id="detail.pickUpInternalNotes" rows="4" class="form-control" ng-model="detail.pickUpInternalNotes" />
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati consegna</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label class="control-label">Responsabile consegna</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true"
											value="{{detail.deliveryOwner.title | constantLabel:'UserTitle'}} {{detail.deliveryOwner.lastName}} {{detail.deliveryOwner.firstName}}">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
												user-modal="detail.deliveryOwner.id" user-type="detail.deliveryOwner.type"
												ng-disabled="detail.patient == undefined" multiple-list="false"
												title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
										</span>		
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">Data consegna</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date-time
											ng-readonly="true" ng-model="detail.deliveryDate">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								
								<div class="form-group col-md-6">
									<label class="control-label">Codice consegna</label>
									<input type="text" id="detail.deliveryCode" class="form-control" ng-model="detail.deliveryCode" />
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Luogo consegna</label>
									<select id="detail.deliveryLocationType" class="form-control" ng-model="detail.deliveryLocationType" 
										ng-options="v.id as v.label disable when (!v.active && v.id !== detail.deliveryLocationType) for v in constants['MeetingLocation']"
										ng-disabled="true">
										<option value="" />
									</select>
								</div>
							</div>
							<div class="row" address-input="detail.deliveryAddress" ng-disabled="true" default-country-code="IT" />
							<div class="row">
								<div class="form-group col-md-12">
									<label class="control-label">Note consegne</label>
									<textarea id="detail.deliveryNotes" rows="4" class="form-control" ng-model="detail.deliveryNotes" />
								</div>
								<div class="form-group col-md-12" ng-if="isInternalStaff()">
									<label class="control-label">Note interne consegne</label>
									<textarea id="detail.deliveryInternalNotes" rows="4" class="form-control" ng-model="detail.deliveryInternalNotes" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-primary waves-effect waves-light" ng-click="modal.close()" title="Ok">
						Ok
					</button>
					<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
						Annulla
					</button>
				</div>
			</div>
		</tab>
	</tabset>
</div>