<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Farmaco</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-4">
									<label>Farmaco</label>
									<ui-select id="detail.drug" ng-model="row.drug" theme="bootstrap" ng-change="changeDrugMeasurementUnit(row.drug, row.measurementUnit)" 
										tooltip="{{errors['detail.drug']}}" ng-class="{error: errors['detail.drug']}">
						    			<ui-select-match placeholder="Seleziona farmaco..." allow-clear="false">{{$select.selected.name}}</ui-select-match>
						    			<ui-select-choices repeat="v in selects['Drug'] | filter: $select.search ">
						     				<div ng-bind-html="v.name | highlight: $select.search" />
						    			</ui-select-choices>
						    		</ui-select>
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">Unità di misura</label>
									<select ng-if="!emptyMeasurementUnits" id="row.measurementUnit" ng-options="v as v for v in selects['MeasurementUnits']" class="form-control" ng-model="row.measurementUnit" >
										<option value="" />
									</select>
									<input ng-if="emptyMeasurementUnits" type="text" id="row.measurementUnit" class="form-control" ng-model="row.measurementUnit" ng-disabled="!emptyMeasurementUnits">
								</div>
								<div class="form-group col-md-4">
									<label class="control-label">Quantità ritiro/consegna</label>
									<input type="number" id="row.quantity" class="form-control" ng-model="row.quantity">
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Numero lotto</label>
									<input type="text" id="row.batchNumber" class="form-control" ng-model="row.batchNumber">
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Data scadenza</label><sup>*</sup>
									<div class="input-group">
										<input id="row.drugExpiringDate" type="text" class="form-control" format-date ng-readonly="true" ng-model="row.drugExpiringDate">
										<span class="input-group-btn">
											<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-12" ng-if="isInternalStaff()">
									<label class="control-label">Note interne ritiro</label>
									<textarea id="row.internalNotes" rows="4" class="form-control" ng-model="row.internalNotes" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-primary waves-effect waves-light" ng-click="modalItem.close()" title="Ok">
						Ok
					</button>
					<button class="btn btn-default waves-effect waves-light" ng-click="modalItem.dismiss()" title="Annulla">
						Annulla
					</button>
				</div>
			</div>    	
		</tab>
	</tabset>
</div>