					
<div class="col-lg-12">
	<div class="panel panel-default m-n">
		<div class="panel-body">
			<form name="form" class="form-validation" novalidate ng-submit="search()">
				<div class="row">
				   <div class="form-group col-lg-4">
					   <label>Oggetto</label>
					   <input type="text" class="form-control" ng-model="searchFilters.filters.SUBJECT">
				   </div>
				   <div class="form-group col-lg-4">
					   <label>Messaggio</label>
					   <input type="text" class="form-control" ng-model="searchFilters.filters.MESSAGE">
				   </div>
				   <!--  
				   <div class="form-group col-lg-4">
					   <label>Destinatario</label>
					   <input type="text" class="form-control" ng-model="searchFilters.filters.RECEIVER_ID">
				   </div>
				   -->
			   </div>
				<div class="row">
					<div class="col-lg-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
							Cerca
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
							Cancella
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
										