<div class="{{!popup ? 'wrapper-sm m-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm filterWrap" ng-if="loggedUser.type=='HCP'">
		<div class="row">
			<div class="headerDoctor text-right m-t">
				<div class="wrapper-xs">
					<div class="panel panel-default m-n">
						<div class="panel-body">
							<div class="col-xs-12 col-lg-7 text-left" >
								<div class="form-group" >
									<label class="font-thin h4 padder-v">Terapia</label>
									<div>
									<select ng-disabled="therapyList.length == 1" ng-options="v as v.drug.name for v in therapyList" class="form-control" ng-model="detail" ng-change="onDrugChange()" >
										<option value="" />
									</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-lg-5" >
								<div class="row row-sm text-center">
									<div class="col-xs-6" >
										<div class="block panel padder-v bg-primary item">
											<span ng-if="detail.pspAdherencePercentage" class="font-thin h1 block">{{detail.pspAdherencePercentage}}%</span>
											<span ng-if="!detail.pspAdherencePercentage" class="font-thin h1 block">N.D.</span>
											<div class="text-md">Aderenza infusioni Tutor</div>
										</div>
									</div>
									<div class="col-xs-6" >										
										<div class="block panel padder-v bg-primary item">
											<span ng-if="detail.totalAdherencePercentage" class="font-thin h1 block">{{detail.totalAdherencePercentage}}%</span>
											<span ng-if="!detail.totalAdherencePercentage" class="font-thin h1 block">N.D.</span>
											<div class="text-md">Aderenza Complessiva</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="wrapper-sm" ng-if="showAssumptions">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" ng-if="showList">
				<div class="row" st-pipe="search" st-table="list">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Diario terapeutico</h4>
							</div>
							<div class="btn-group dropdown pull-right" dropdown  ng-if="canInsert || canExport">
					        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
					         		<i class="material-icons">view_list</i>
					    		</button>
					        	<ul class="dropdown-menu pull-right">
					            	<li>
					            		<a patient-id="patientId" patient-assumption-modal="''" post-fn="search" post-fn-dismiss="search">
					            			<i class="material-icons">add</i>
					            			<span>Nuovo</span>
					            		</a>
					            	</li>
					            	<li ng-if="canExport">
					            		<a ng-click="exportXls(false)">
					            			<i class="material-icons">file_download</i>
					            			<span>Esporta Pagina</span>
					            		</a>
					            	</li>
					            	<li ng-if="canExport">
					            		<a ng-click="exportXls(true)">
					            			<i class="material-icons">file_download</i>
					            			<span>Esporta Tutto</span>
					            		</a>
					            	</li>
					        	</ul>
					    	</div>
					    </div>
						<table class="table">
							<thead>
								<tr>
									<th st-sort="date" st-sort-default="reverse">Data</th>
									<th st-sort="hour">Ora</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="drug.name">Farmaci</th>
									<th st-sort="status">Stato</th>
									<th style="width: 30px; padding: 0;" />
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in list">
									<td ng-bind="row.date | formatDate" />
									<td ng-bind="row.hour | formatTime" />
									<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.drug.name" />
									<td ng-bind="row.status | constantLabel:'AssumptionStatus'" />
									<td style="padding: 0;">
										<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();"
											ng-if="permissions[row.id].DELETE">
								        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
								         		<i class="material-icons">more_vert</i>
								    		</button>
								        	<ul class="dropdown-menu pull-right">
								            	<li ng-if="permissions[row.id].DELETE">
								            		<a ng-click="delete(row.id)">
								            			<i class="material-icons">delete</i>
								            			Cancella
								            		</a>
								            	</li>
								        	</ul>
								    	</div>
									</td>
								</tr>
							</tbody>
							<tbody ng-show="list == undefined || list.length==0">
								<tr>
									<td colspan="6" >
										<div class="text-muted"><i>Nessun dato trovato</i></div>
									</td>
								</tr>
							</tbody>
							<tfoot ng-show="list != undefined && list.length > 0">
								<tr>
									<th colspan="6" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
								</tr>
							</tfoot>
						</table>
					</div>
				</div>	   
			</div>
		</div>
	</div>
</div>