<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Informazioni relative al farmaco da consegnare</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-with-footer'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab>
				<tab-heading>
					<i class="material-icons">pin_drop</i>
					<span>Dettagli</span>
				</tab-heading>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading scrollspy">
								<h4>Dati di consegna del farmaco</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-4">
										<label>Farmaco</label>
										<ui-select id="detail.drug" ng-model="detail.drug" theme="bootstrap" ng-change="changeDrugMeasurementUnit(detail.drug, detail.measurementUnit)" 
											tooltip="{{errors['detail.drug']}}" ng-class="{error: errors['detail.drug']}" ng-disabled="!editable">
							    			<ui-select-match placeholder="Seleziona farmaco..." allow-clear="false">{{$select.selected.name}}</ui-select-match>
							    			<ui-select-choices repeat="v in selects['Drugs'] | filter: $select.search ">
							     				<div ng-bind-html="v.name | highlight: $select.search" />
							    			</ui-select-choices>
							    		</ui-select>
									</div>
									<div class="form-group col-md-4">
										<label class="control-label">Unità di misura</label>
										<select ng-if="editable && !emptyMeasurementUnits" id="detail.measurementUnit" ng-options="v as v for v in selects['MeasurementUnits']" class="form-control" ng-model="detail.measurementUnit" ng-disabled="!editable">
											<option value="" />
										</select>
										<input ng-if="!editable || emptyMeasurementUnits" type="text" id="detail.measurementUnit" class="form-control" ng-model="detail.measurementUnit" ng-disabled="!editable">
									</div>
									<div class="form-group col-md-4">
										<label class="control-label">Quantità consegna</label>
										<input type="number" class="form-control" ng-disabled="!fieldPermissions['deliveredQuantity'].UPDATE || !editable" 
											ng-model="detail.deliveredQuantity" tooltip="{{errors['detail.deliveredQuantity']}}" ng-class="{error: errors['detail.deliveredQuantity']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<label class="control-label">Lotto</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['batchNumber'].UPDATE"
											ng-model="detail.batchNumber" tooltip="{{errors['detail.batchNumber']}}" ng-class="{error: errors['detail.batchNumber']}">
									</div>
									<div class="form-group col-md-6" >
										<label class="control-label">Data scadenza</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date ng-readonly="true" ng-model="detail.drugExpiringDate" tooltip="{{errors['detail.drugExpiringDate']}}"
												ng-class="{error: errors['detail.drugExpiringDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['drugExpiringDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12" >
										<label class="control-label">Note Interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" 
											ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>
<div class="modal-footer" ng-if="popup">
	<button class="btn btn-primary waves-effect waves-light" ng-click="addItem()" ng-if="canUpdate" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" ng-if="canUpdate" title="Annulla">
		Annulla
	</button>
</div>
