<div class="row" ng-if="form.verificationComplementaryActivities !== undefined && form.verificationComplementaryActivities.length > 0">
	<div class="form-group col-md-12">
		<h4 class="b-b b-3x">Compiti previsti per la verifica dell'attività</h4>
	</div>
</div>
<div class="row" ng-if="form.verificationComplementaryActivities !== undefined && form.verificationComplementaryActivities.length > 0" ng-repeat="ca in form.verificationComplementaryActivities track by $index">
	<div class="col-xs-12">
		<div class="row" ng-if="ca.type == 'EXTERNAL_OBJECT'">
			<ng-include src="'tpl/app/activiti/form-type/object/verify/verification/external-object-rows.html'" />		
		</div>
	</div>
</div>