
<div ng-repeat="(key,value) in values">
	<div class="panel panel-default">
		<div class="panel-body text-center">
 			<div><strong class="h3">{{key}}</strong></div>
 			<div class="m-t-sm m-b-sm container-fluid" style="text-align: center">
 				<div class="row text-center" style="display: flex; display: -webkit-flex; flex-wrap: wrap;" ng-repeat="tag in values[key]">

					<div class="col-xs-offset-1 col-xs-2 col-sm-offset-3 col-sm-1 col-md-offset-4 col-md-1 b-b b-t b-l b-r" style="background-color: '#CCCCCC'}}">	
   						<h5><strong>{{1+$index}}</strong></h5>
					</div>	
	
					<div class="col-xs-9 col-sm-5 col-md-3 b-b b-t b-l b-r" style="background-color: white">
						<h5>{{tag}}</h5>
             		</div>
             				
				</div>
					
 			</div>
		</div>
	</div>
</div>		
              			
				