<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista questionari paziente</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div ng-include="'tpl/app/directive/questionnaire/user-questionnaires-charts.html'" />
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Questionari</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && canCreateUserQuestionnaire">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right" style="z-index: 9999;">
						            	<li ng-repeat="quest in listUserQuest">
									        <a ng-click="createNewUserQuest(quest.id, userId)" >
						            			<i class="material-icons">add</i>
									         	<span>Nuovo {{quest.name}}</span>
									        </a>
									    </li> 
						        	</ul>
						    	</div>
						    	<!--
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && canExport">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						    		<ul class="dropdown-menu pull-right">
							    		<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						            </ul>	
						    	</div>
						    	-->
						    </div>
							<table class="table">
								<thead>
									<tr ng-if="selection">
										<th colspan="7">
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>						
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th >Nome</th>
										<th>Stato</th>
										<th>Compilato da</th>
										<th>Confermato da</th>
										<th st-sort="dateInsert">Data creazione</th>
										<th st-sort="submissionDate">Data sottomissione</th>
										<!-- 
											<th style="width: 30px; padding: 0;" ng-if="!selection" />
										-->
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" user-questionnaire-detail-modal="row.userQuestionnaire.id" post-fn="search">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
												<i />
											</label>
										</td>
										<td ng-bind="row.questionnaireName" />
										<td ng-bind="row.userQuestionnaire | userQuestionnaireStatusLabel" />
										<td ng-if="row.userQuestionnaire.compiler==undefined"></td>
										<td ng-if="row.userQuestionnaire.compiler!=undefined">{{row.userQuestionnaire.compiler.title | constantLabel:'UserTitle'}} {{row.userQuestionnaire.compiler.lastName}} {{row.userQuestionnaire.compiler.firstName}}</td>
										<td ng-if="row.userQuestionnaire.approver==undefined"></td>
										<td ng-if="row.userQuestionnaire.approver!=undefined">{{row.userQuestionnaire.approver.title | constantLabel:'UserTitle'}} {{row.userQuestionnaire.approver.lastName}} {{row.userQuestionnaire.approver.firstName}}</td>
										
										<td ng-bind="row.userQuestionnaire.dateInsert | formatDate" />
										<td ng-bind="row.userQuestionnaire.submissionDate | formatDate" />
										<!--  
										<td ng-if="!selection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();"
												ng-if="permissions[row.userQuestionnaire.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.userQuestionnaire.id].DELETE">
									            		<a ng-click="delete(row.userQuestionnaire.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>
										-->
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="7" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="7" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>	   
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>  