

	

			<div class="modal-header">
				<button type="button" ng-click="modal.dismiss()" class="close">
			    	<i class="material-icons">clear</i>
				</button>
				<div class="d-flex" style="flex-direction: column;align-items: flex-start;"><h3 class="modal-title" style="min-height: 34px">{{ detail.questionnaireName }}</h3><p ng-bind-html="detail.questionnaireDescription"></p></div>
				
			</div>
			<div class="modal-body">
				<div class="row" ng-if="detail!=undefined && detail!=null && canView">
					<div class="col-md-12 text-right">
						<button class="btn  btn-default waves-effect waves-light" ng-click="showHelp()" title="Salva" ng-if="detail.userQuestionnaire.questionnaireVersion.help!=undefined">
							Help
						</button>
						<button class="btn  btn-primary waves-effect waves-light" ng-click="updateUserQuestionnaire()" title="Salva" ng-if="canCompile && !detail.userQuestionnaire.permanent">
							Salva
						</button>
						<button class="btn btn-primary waves-effect waves-light" ng-click="confirmUserQuestionnaire()" title="Conferma" ng-if="canApprove && !detail.userQuestionnaire.permanent">
							Conferma
						</button>
						<button class="btn  btn-default waves-effect waves-light" ng-click="resetQuestionnaireData()" title="Annulla" ng-if="canCompile && !detail.userQuestionnaire.permanent">
							Annulla
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="deleteUserQUestionnaire()" title="Elimina" ng-if="canDelete && !detail.userQuestionnaire.permanent && activityId!=undefined">
							Cancella
						</button>
						<button title="Pagina precedente" class="btn btn-icon btn-default waves-effect waves-light" ng-click="prevQuestionnairePage()" ng-if="detail.currentPage > 1 && detail.lastPage > 1">
							<i class="material-icons">chevron_left</i>
						</button>
						<button title="Pagina successiva" class="btn btn-icon btn-default waves-effect waves-light" ng-click="nextQuestionnairePage()" ng-if="detail.currentPage < detail.lastPage && detail.lastPage > 1">
							<i class="material-icons">chevron_right</i>
						</button>
						
					</div>
				
					<div class="col-md-12 m-t">
						<div class="row text-center">
							<!--  Visualizzazione dello SCORE -->
							<div class="col col-xs-12" ng-if="detail.userQuestionnaire.finalScore!=undefined && detail.userQuestionnaire.questionnaireVersion.scoreType!='QUESTION_LIST'" ng-repeat="(key,value) in detail.userQuestionnaire.finalScore">
								<div class="panel panel-default">
									<div class="panel-body text-center">
										<div><strong class="h3">{{ key }}</strong></div>
										<div class="inline m-t-sm">
											<div ui-jq="easyPieChart" ui-options="{
											percent: 100,
											lineWidth: 8,
											trackColor: '#e8eff0',
											barColor: '#9bcd41',
											scaleColor: false,
											color: '#fff',
											size: 95,
											lineCap: 'butt',
											rotate: 45,
											animate: 1000
											}" class="easyPieChart" style="width: 95px; height: 95px; line-height: 95px;">
												<div>
													<span class="step"><strong class="h3">{{value | truncateNumber:1 }}</strong></span>
												</div>
												<canvas width="95" height="95"></canvas>
											</div>
										</div>
									</div>
								</div>		
							</div>
							
							<div class="col col-xs-12" ng-if="detail.userQuestionnaire.finalScore!=undefined && detail.userQuestionnaire.questionnaireVersion.scoreType=='QUESTION_LIST'" questionnaire-score-question-list="detail.userQuestionnaire.finalScore"></div>	
						</div>
					</div>	
				
					<!-- Visualizzazione Approver e Compiler -->
					<div class="col-md-12 m-t m-b" ng-if="detail.userQuestionnaire.compiler!=undefined || detail.userQuestionnaire.approver!=undefined">
						<div class="row">
							<div class="form-group col-md-6" ng-if="detail.userQuestionnaire.compiler">
								<label class="control-label">Compilato da</label>
								<div class="input-group">
									<input value="{{detail.userQuestionnaire.compiler.title | constantLabel:'UserTitle'}} {{detail.userQuestionnaire.compiler.lastName}} {{detail.userQuestionnaire.compiler.firstName}}"
									type="text" class="form-control" ng-disabled="true">
									<span class="input-group-btn">
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.userQuestionnaire.compiler.id"
											user-type="detail.userQuestionnaire.compiler.type" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>					
									</span>		
								</div>
							</div>
							<div class="form-group col-md-6" ng-if="detail.userQuestionnaire.approver">
								<label class="control-label">Confermato da</label>
								<div class="input-group">
									<input value="{{detail.userQuestionnaire.approver.title | constantLabel:'UserTitle'}} {{detail.userQuestionnaire.approver.lastName}} {{detail.userQuestionnaire.approver.firstName}}"
									type="text" class="form-control" ng-disabled="true">
									<span class="input-group-btn">
										<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.userQuestionnaire.approver.id"
											user-type="detail.userQuestionnaire.approver.type" title="Dettaglio">
											<i class="material-icons">person</i>
										</button>					
									</span>		
								</div>
							</div>
						</div>
					</div>
				
					
					<div class="col-md-12 m-t m-b">
						<div class="row">
							<div ng-repeat="question in detail.userQuestionnaire.questionnaireVersion.questions" ng-hide="detail.currentPage != question.page">
								<div class="form-group col-lg-12 m-t m-b" ng-switch on="question.type" ng-if="question.type!='TEXT_BLOCK' && question.type!='PAGE_JUMPS'">
									<label class="control-label" style="width: 30px; display: inline;" ng-if="detail.userQuestionnaire.questionnaireVersion.autoEnumerateQuestions">
										<strong><span>{{ detail.questionIndexes[question.id] }})</span></strong>
									</label>
									<div ng-style="(!canCompile || question.disabled) ? {'opacity': '0.5'} : {'opacity':'1.0'}" style="display: inline-block; width: calc(100% - 30px); vertical-align: top; font-weight: bold;" ng-bind-html="question.text"></div>
									
									
									<div ng-switch-when="SINGLE_CHOICE" class="radio">
										<div class="radio m-b-none">
											<label class="i-checks m-r" ng-repeat="choice in question.replies" style="display: block; margin-bottom: 5px;" ng-style="(!canCompile || question.disabled) ? {'opacity': '0.5'} : {'opacity':'1.0'}">
												<input name="{{question_$parent.$index_choice_$index}}" type="radio" only-one="true" check-list="detail.userRepliesId[question.id]" value="{{choice.id}}" ng-disabled="!canCompile || detail.userQuestionnaire.permanent || question.disabled" >
												<i></i>{{ choice.text }}
											</label>
										</div>
									</div>
									<div ng-switch-when="SCORE" class="radio">
										<div class="radio m-b-none">
											<span class="m-r" ng-if="question.scoreStartText!=undefined && question.scoreStartText!=null"><strong>{{question.scoreStartText}}</strong></span>
											<label class="i-checks m-r" ng-repeat="choice in question.replies" style="text-align: center; margin-bottom: 5px;" ng-style="(!canCompile || question.disabled) ? {'opacity': '0.5'} : {'opacity':'1.0'}">
												<input name="{{question_$parent.$index_choice_$index}}" type="radio" only-one="true" check-list="detail.userRepliesId[question.id]" value="{{choice.id}}" ng-disabled="!canCompile || detail.userQuestionnaire.permanent || question.disabled">
												<i></i><br/><span>{{ choice.text }}</span>
											</label>
											<span ng-if="question.scoreEndText!=undefined && question.scoreEndText!=null"><strong>{{question.scoreEndText}}</strong></span>
										</div>
									</div>
									
									<div ng-switch-when="SCORE_SLIDER">
										
										<score-slider ng-disabled="detail.userQuestionnaire.permanent || question.disabled || !canCompile" ng-value="detail.sliderValues[question.id]" startlabel="question.scoreStartText" endlabel="question.scoreEndText" min="question.min" max="question.max" step="question.step"
											vertical="question.sliderVertical" scale="question.sliderScaleValue" />
									</div>
			
									<div ng-switch-when="MULTIPLE_CHOICE" class="radio">
										<div class="radio m-b-none">
											<label class="i-checks m-r" ng-repeat="choice in question.replies" style="display: block; margin-bottom: 5px;" ng-style="(!canCompile || question.disabled) ? {'opacity': '0.5'} : {'opacity':'1.0'}">
												<input type="checkbox" check-list="detail.userRepliesId[question.id]" value="{{choice.id}}" ng-disabled="!canCompile || detail.userQuestionnaire.permanent || question.disabled" >
												<i></i>
												{{ choice.text }}
											</label>
										</div>
									</div>
									<div ng-switch-when="FREE" class="radio">
										<textarea class="form-control" ng-disabled="question.disabled || detail.userQuestionnaire.permanent || !canCompile " ng-repeat="choice in question.replies" ng-model="detail.userRepliesText[question.id]" rows="4" ng-change="detail.userRepliesId[question.id] = choice.id" />
									</div>
									<div ng-switch-when="NUMERIC_VALUE" class="radio">
										<input type="text" class="form-control" ng-disabled="question.disabled || detail.userQuestionnaire.permanent || !canCompile " ng-repeat="choice in question.replies" ng-model="detail.userRepliesText[question.id]" ng-change="detail.userRepliesId[question.id] = choice.id" />
									</div>
									<div ng-switch-when="DATE">
										<div class="input-group">
											<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="question.disabled || detail.userQuestionnaire.permanent || !canCompile " ng-model="detail.userRepliesText[question.id]" ng-change="detail.userRepliesId[question.id] = choice.id">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="question.disabled || detail.userQuestionnaire.permanent || !canCompile ">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div ng-switch-when="DATETIME">
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="question.disabled || detail.userQuestionnaire.permanent || !canCompile " ng-model="detail.userRepliesText[question.id]" ng-change="detail.userRepliesId[question.id] = choice.id">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="question.disabled || detail.userQuestionnaire.permanent || !canCompile ">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div ng-if="question.type=='TEXT_BLOCK'" class="form-group col-lg-12 m-t m-b" ng-hide="question.disabled">
									<div ng-bind-html="question.text"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 m-b m-t text-right">
						<button class="btn  btn-default waves-effect waves-light" ng-click="showHelp()" title="Salva" ng-if="detail.userQuestionnaire.questionnaireVersion.help!=undefined">
							Help
						</button>
						<button class="btn  btn-primary waves-effect waves-light" ng-click="updateUserQuestionnaire()" title="Salva" ng-if="canCompile && !detail.userQuestionnaire.permanent">
							Salva
						</button>
						<button class="btn btn-primary waves-effect waves-light" ng-click="confirmUserQuestionnaire()" title="Conferma" ng-if="canApprove && !detail.userQuestionnaire.permanent">
							Conferma
						</button>
						<button class="btn  btn-default waves-effect waves-light" ng-click="resetQuestionnaireData()" title="Annulla" ng-if="canCompile && !detail.userQuestionnaire.permanent">
							Annulla
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="deleteUserQUestionnaire()" title="Elimina" ng-if="canDelete && !detail.userQuestionnaire.permanent && activityId!=undefined">
							Cancella
						</button>
						<button title="Pagina precedente" class="btn btn-icon btn-default waves-effect waves-light" ng-click="prevQuestionnairePage()" ng-if="detail.currentPage > 1 && detail.lastPage > 1">
							<i class="material-icons">chevron_left</i>
						</button>
						<button title="Pagina successiva" class="btn btn-icon btn-default waves-effect waves-light" ng-click="nextQuestionnairePage()" ng-if="detail.currentPage < detail.lastPage && detail.lastPage > 1">
							<i class="material-icons">chevron_right</i>
						</button>
					</div>	
				</div>
			</div>

