<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.materials">Lista Materiali</a></li>
	<li class="active">{{detail.name}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab>
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-12" ng-if="fieldPermissions['code'].VIEW">
										<label class="control-label">Codice univoco</label><sup>*</sup>
										<input type="text" id="detail.code" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" ng-change="validateUniqueCode()" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
										<label class="control-label">Nome</label><sup>*</sup>
										<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
										<label class="control-label">Descrizione</label>
										<textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['destination'].VIEW">
										<label class="control-label">Destinatari</label>
										<select class="form-control"  id="detail.destination" ng-disabled="!fieldPermissions['destination'].UPDATE" ng-model="detail.destination" tooltip="{{errors['detail.destination']}}" ng-class="{error: errors['detail.destination']}">
											<option value="">Nessuno</option>							
											<option ng-repeat="destinatary in constants['MaterialUserTypeDestination']" value="{{destinatary.id}}">{{destinatary.label}}</option>	
											</select>
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['materials'].VIEW && detail.materials!=undefined && detail.materials.length>0">
										<label class="control-label">Componenti</label>
										<ui-select ng-model="detail.materials" multiple theme="bootstrap" close-on-select="false" tooltip="{{errors['detail.materials'+$index+'']}}" 
											class="{{errors['detail.materials'+$index+''] ? 'error' : ''}}">
											<ui-select-match allow-clear="true">{{$item.name}}</ui-select-match>
											<ui-select-choices repeat="v in materials | filter: $select.search">
												<div ng-bind-html="v.name | highlight: $select.search" />
											</ui-select-choices>
										</ui-select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>				
</div>