<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista medici</h3>
</div>
<div class="{{!isModal ? 'm-t' : 'modal-body modal-with-footer'}}">
 	<div class="wrapper-sm filterWrap">
 		<div class="row">
 		
	 		<!-- Se operatore o supplier includi i filtri -->
			<div ng-include="'tpl/app/directive/gateway/gateway-hcp-list-filter.html'" ng-if="loggedUser.type!='HCP' && loggedUser.type!='PATIENT'"></div>
			
			<!-- Se medico o paziente mostra pulsante filtro -->
			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='HCP' || loggedUser.type=='PATIENT'">
				<div class="filterClone">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div ng-include="'tpl/app/directive/gateway/gateway-hcp-list-filter.html'"></div>
						</div>
					</div>
				</div>
			</div>	
 		</div>
 	</div>
	<div class="wrapper-sm m-t main-dashboard">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{ loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Medici</h4>
								</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th class="hidden-xs hidden-sm">Titolo</th>
										<th st-sort="LASTNAME">Cognome</th>
										<th st-sort="FIRSTNAME">Nome</th>
										<th st-sort="NICKNAME">Nome Utente</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="EMAIL">Email</th>
										<th class="hidden-xs hidden-sm" st-sort="PORTAL" >Programma</th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td class="hidden-xs hidden-sm" ng-click="goDetail('hcp',row)">{{row.title | constantLabel:'HcpTitle'}}</td>
										<td ng-bind="row.lastName" ng-click="goDetail('hcp',row)" />
										<td ng-bind="row.firstName" ng-click="goDetail('hcp',row)"/>
										<td ng-bind="row.nickName" ng-click="goDetail('hcp',row)"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" ng-click="goDetail('hcp',row)" />
										<td class="hidden-xs hidden-sm" ng-click="goDetail('hcp',row)">{{row.portalId | uppercase}}</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="{{isSelection ? '7' : '6'}}">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="{{isSelection ? '7' : '6'}}" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html"/>
									</tr>
								</tfoot>								
							</table>
							
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isModal && isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
			Annulla
		</button>
	</div>
</div>