<!-- Questo file in program-ui deve restare vuoto. Nei singoli PSP ci mettiamo i filtri specifici. Si stampano in base al valore di $Scope.ENTITY definito nel controller -->
<div ng-if="ENTITY=='PATIENT'">
	<div class="form-group col-lg-4">
		<label>Primo Dossier</label>
		<input type="text" class="form-control" ng-model="searchFilters.filters.EXTERNAL_CODE_1">
	</div>
</div>