<div class="col-lg-12">
 				<div class="panel panel-default m-n">
 					<div class="panel-body">
 						<form name="form" class="form-validation" novalidate ng-submit="search()">
 							<div class="row">
								<div class="form-group col-lg-4">
									<label>Cognome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.LASTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.FIRSTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Nome Utente</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.NICKNAME">
								</div>
								
								<div class="form-group col-lg-6" ng-if="portalsList!=undefined && portalsList.length>1">
									<label class="control-label">Programma</label>
									<div class="form-control no-border">
										<label class="checkbox-inline i-checks" ng-repeat="v in portalsList">
											<input type="checkbox" check-list="searchFilters.filters.PORTAL_ID" only-one="false" value="{{v}}">
											<i></i><span class="m-n">{{v | uppercase}}</span>
										</label>
									</div>
								</div>
								
								<div ng-include="'tpl/app/directive/gateway/gateway-list-custom-filters.html'"></div>
								
							</div>
 							<div class="row">
 								<div class="col-lg-12 text-right">
 									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
 										Cerca
 									</button>
 									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
 										Cancella
 									</button>
 								</div>
 							</div>
 						</form>
 					</div>
 				</div>
 			</div>