<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista pazienti</h3>
</div>
<div class="{{!isModal ? 'm-t' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="headerDoctor text-right m-t">
				
				<div class="filterClone">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-default m-n">
									<div class="panel-body">
										<form name="form" class="form-validation" novalidate ng-submit="search()">
											<div class="row">
											   <div class="form-group col-lg-4">
												   <label>Cognome</label>
												   <input type="text" class="form-control" ng-model="searchFilters.filters.LASTNAME">
											   </div>
											   <div class="form-group col-lg-4">
												   <label >Nome</label>
												   <input type="text" class="form-control" ng-model="searchFilters.filters.FIRSTNAME">
											   </div>
											   <div class="form-group col-lg-4">
												   <label>Sesso</label>
												   <select ng-options="v.id as v.label for v in constants['Sex']" class="form-control" ng-model="searchFilters.filters.SEX">
													   <option value=""></option>
												   </select>
											   </div>
											</div>
											<div class="row">
											   
											   <div class="form-group col-lg-6">
												   <label class="control-label">Da data adesione</label>
												   <div class="input-group">
													   <input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.ENROLLMENT_FROM" > 
													   <span class="input-group-btn">
														   <button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
															   <i class="material-icons">date_range</i>
														   </button>
													   </span>
												   </div>
											   </div>
											   <div class="form-group col-lg-6">
												   <label class="control-label">A data adesione</label>
												   <div class="input-group">
													   <input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.ENROLLMENT_TO" > 
														   <span class="input-group-btn">
														   <button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
															   <i class="material-icons">date_range</i>
														   </button>
													   </span>
												   </div>
											   </div>
											   </div>
			   
											   <div class="row">
											   
											   
											   
											   <div class="form-group col-lg-4">
												   <label>Stato</label>
												   <select ng-options="v.id as v.label for v in constants['UserStatus'] | constantActive" class="form-control" ng-model="searchFilters.filters.STATUS">
													   <option value=""></option>
												   </select>
											   </div>
											   
											   <div class="form-group col-lg-4">
												   <label class="control-label">Terapia (Farmaco)</label>
												   <select ng-options="v.id as v.name for v in selects['Drugs']" class="form-control" ng-model="searchFilters.filters.DRUG_ID">
													   <option value="">Tutti i farmaci</option>
												   </select>	
											   </div> 
											   
											   <div class="form-group col-lg-4">
												   <label class="control-label">Regione di residenza</label>
												   <select ng-options="v.regionCode as v.region for v in selects['Regions']"
													   class="form-control" ng-model="searchFilters.filters.COUNTY">
													   <option value="">Tutte le regioni</option>
												   </select>	
											   </div>
											   
											   <div class="form-group col-lg-8" ng-if="portalsList!=undefined && portalsList.length>1">
												   <label class="control-label">Programma</label>
												   <div class="form-control no-border">
													   <label class="checkbox-inline i-checks" ng-repeat="v in portalsList">
														   <input type="checkbox" check-list="searchFilters.filters.PORTAL_ID" value="{{v}}">
														   <i></i><span class="m-n">{{v | uppercase}}</span>
													   </label>
												   </div>
											   </div>
											   
											   <div ng-include="'tpl/app/directive/gateway/gateway-list-custom-filters.html'"></div>
										   </div>
											<div class="row">
												<div class="col-lg-12 text-right">
													<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
														Cerca
													</button>
													<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
														Cancella
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm m-t main-dashboard">	
		<div class="row">
			<div class="col-xs-12">	
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{ loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Pazienti</h4>
								</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th st-sort="LASTNAME">Cognome</th>
										<th st-sort="FIRSTNAME">Nome</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="EMAIL">Email</th>
										<th st-sort="STATUS">Stato</th>
										<th class="hidden-xs hidden-sm" st-sort="PORTAL" ng-if="portalsList!=undefined && portalsList.length>1">Programma</th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)">
												<i />
											</label>
										</td>
										<td ng-bind="row.lastName" ng-click="goDetail('patient',row)" />
										<td ng-bind="row.firstName" ng-click="goDetail('patient',row)"/>
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" ng-click="goDetail('patient',row)" />
										<td ng-bind="row.status | constantLabel: 'UserStatus'" ng-click="goDetail('patient',row)"/>
										<td class="hidden-xs hidden-sm" ng-click="goDetail('patient',row)" ng-if="portalsList!=undefined && portalsList.length>1">{{row.portalId | uppercase}}</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="{{isSelection ? '6' : '5'}}">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="{{isSelection ? '6' : '5'}}" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html"/>
									</tr>
								</tfoot>								
							</table>
							
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isModal && isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
			Annulla
		</button>
	</div>
</div>