<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Collega Utenze</h3>
</div>
<div class="modal-body modal-with-footer">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<i>Ricercare {{relatedPortals.length>1 ? 'nei Programmi' : 'nel Programma'}} <strong>{{relatedPortalNames | uppercase}}</strong> {{userType=='HCP' ? 'i Medici' : 'gli utenti' }} già registrati che corrispondono
			 	all'utente che si vuole invitare.<br/>Se si trova una utenza già attiva selezionarla e premere "Continua": in questo modo l'utente potrà utilizzare le stesse credenziali per entrambi i portali.<br/>
			 	Se non si trova o non si seleziona alcun {{userType=='HCP' ? 'Medico' : 'utente'}} dalla lista verrà mandata una email di invito alla registrazione e le credenziali scelte saranno valide <u>SOLO PER
			 	QUESTO PORTALE</u>.</i>
			 </div>	
	 	</div>
	</div>	
	<div gateway-hcp-list search-filters="listConfig.searchFixedFilters" is-selection="listConfig.isSelection" force-modal-mode="listConfig.isModal" custom-options="listConfig.customOptions" selected-data="selectedUsers"></div>
</div>
<div class="modal-footer">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmInvite()" title="Continua">
			Continua
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="cancel()" title="Annulla">
			Annulla
		</button>
	</div>
</div>