<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}" ng-if="prop.value" ng-init="form = prop.value">
	<label class="control-label"  ng-if="!form">Errore in fase di caricamento dei dati</label>
	<div class="row">
		<div class="form-group col-md-6">
			<label class="control-label">Nome <sup>*</sup></label>
			<input type="text" class="form-control" ng-disabled="true" ng-model="form.name" tooltip="{{errors['form.name']}}" ng-class="{error: errors['form.name']}">
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">Codice attività</label>
			<input type="text" class="form-control" ng-disabled="true" ng-model="form.code" tooltip="{{errors['form.code']}}" ng-class="{error: errors['form.code']}">
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">Descrizione <sup>*</sup></label>
			<textarea class="form-control" ng-disabled="true" ng-model="form.description" tooltip="{{errors['form.description']}}" ng-class="{error: errors['form.description']}" />
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">{{ form.user.type | constantLabel:'UserType' }} <sup>*</sup></label>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" value="{{form.user.title | constantLabel:'UserTitle'}} {{form.user.lastName}} {{form.user.firstName}}" tooltip="{{errors['form.user']}}" ng-class="{error: errors['form.user']}">
				<span class="input-group-btn">
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="form.user.id" user-type="form.user.type" multiple-list="false" title="Dettaglio">
						<i class="material-icons">person</i>
					</button>
					<button ng-if="isInternalStaff() && !popup" class="btn btn-sm waves-effect waves-light bg-primary" 
						other-user-tasks-modal user-activity-id="form.id" popup="popup" title="Altre attività utente">
						Altre attività ({{otherUserTasks}})						
					</button>
				</span>		
			</div>
		</div>
		<div class="form-group col-md-6" ng-if="form.type === 'VIRTUAL_MEETING'">
			<label class="control-label">Link per il collegamento all'incontro virtuale</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" value="{{form.virtualMeeting.link}}">
				<span class="input-group-btn">
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" virtual-meeting-detail detail-id="form.virtualMeeting.id" detail-object="form.virtualMeeting" is-modal="true"
						ng-disabled="form.virtualMeeting.id === undefined" tooltip="Dettaglio incontro virtuale">
						<i class="material-icons">info</i>
					</button>
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light btn-primary" ng-disabled="form.virtualMeeting.link === undefined" tooltip="Collegati" ng-click="openLink(form.virtualMeeting.link, '_blank');">
						<i class="material-icons">video_call</i>
					</button>
					<button ng-disabled="form.virtualMeeting.link === undefined" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ngclipboard data-clipboard-text="{{form.virtualMeeting.link}}" ngclipboard-success="confirmLinkCopy();" tooltip="Copia link">
						<i class="material-icons">content_copy</i>
					</button>					
				</span>
			</div>
		</div>
		<div class="col-md-12 m-b">
			<div class="no-radius alt">
	 			<div class="list-group-item bg-secondary" style="cursor: pointer" ng-init="isCollapsedData2 = false" ng-click="isCollapsedContactData = !isCollapsedContactData">
	 				<h4 class="pull-right"> 
	   	 				<a><strong><i class="material-icons">keyboard_arrow_{{isCollapsedContactData ? 'down' : 'right'}}</i></strong></a>
	   	 			</h4>
		      	 	<h4 class="block">
		      	 		<strong>Dati di contatto</strong>
		      	 	</h4>
	     		</div>
	     		<div collapse="isCollapsedContactData" class="clearfix m-b b-l b-r b-b">
	     			<div class="m-t m-b col-md-12">
	     				<div class="m-t m-b col-md-12">
							<div class="form-group col-md-4">
								<label class="control-label">Telefono</label>
								<input type="text" class="form-control" ng-disabled="true" ng-model="user.phoneNumber">
							</div>
							<div class="form-group col-md-4">
								<label class="control-label">Cellulare</label>
								<input type="text" class="form-control" ng-disabled="true" ng-model="user.cellPhoneNumber">
							</div>
							<div class="form-group col-md-4">
								<label class="control-label">Fax</label>
								<input type="text"class="form-control" ng-disabled="true" ng-model="user.faxNumber">
							</div>
							<div class="form-group col-md-6">
								<label class="control-label">Email</label>
								<input type="text" class="form-control" ng-disabled="true" ng-model="user.email">
							</div>
							<div class="form-group col-md-6">
								<label class="control-label">Contatto Skype</label>
								<input type="text" class="form-control" ng-disabled="true" ng-model="user.skypeId">
							</div>
						</div>
	     			</div>
	     		</div>
	     	</div>
	     </div>
		<div class="form-group col-md-3" ng-if="form.owner.type !== 'LOGISTIC'">
			<label ng-if="!form.drugPickUpDelivery" class="control-label">Data/ora attività <sup>*</sup></label>
			<label ng-if="form.drugPickUpDelivery" class="control-label">Data/ora consegna farmaco <sup>*</sup></label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time ng-readonly="true" 
					ng-disabled="form.type != 'INCOMING_CALL' && form.type!='USER_SUSPENSION' && form.type!='USER_REACTIVATION' && form.type!='USER_EXIT'" 
					ng-model="form.date" tooltip="{{errors['form.date']}}" ng-class="{error: errors['form.date']}">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" 
					ng-disabled="form.type != 'INCOMING_CALL' && form.type!='USER_SUSPENSION' && form.type!='USER_REACTIVATION' && form.type!='USER_EXIT'">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-3" ng-if="form.owner.type === 'LOGISTIC'">
			<label ng-if="!form.drugPickUpDelivery" class="control-label">Data/ora attività <sup>*</sup></label>
			<label ng-if="form.drugPickUpDelivery" class="control-label">Data/ora consegna farmaco <sup>*</sup></label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time ng-readonly="true" 
					ng-disabled="true" 
					ng-model="form.confirmedDate" tooltip="{{errors['form.confirmedDate']}}" ng-class="{error: errors['form.confirmedDate']}">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" 
					ng-disabled="true">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-3" ng-if="form.owner.type === 'LOGISTIC'">
			<label class="control-label">Data/ora effettiva attività <sup>*</sup></label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time ng-readonly="true" 
					ng-disabled="false" 
					ng-model="form.date" tooltip="{{errors['form.date']}}" ng-class="{error: errors['form.date']}">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" 
					ng-disabled="false">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-3" ng-if="form.maxDate">
			<label class="control-label">Data massima prevista</label>
			<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.maxDate">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6" ng-if="form.retryIndex > 0">
			<label class="control-label">N° Tentativo</label>
			<input type="number" class="form-control" ng-disabled="true" value="{{form.retryIndex + 1}}">
		</div>
		<div class="form-group col-md-12" ng-if="form.acceptedReasons!=undefined && form.acceptedReasons.length>0">
			<label class="control-label">Motivi</label>
			<div class="m-b-xs">
				<label class="i-checks m-r-md" ng-repeat="v in constants['ActivityReason']" ng-if="(v.active || v.id === form.type) && form.acceptedReasons.indexOf(v.id)>=0">
					<input type="checkbox" check-list="form.reasons"  value="{{v.id}}" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
					<i tooltip="{{errors['form.reasons']}}" ng-class="{error: errors['form.reasons']}"></i><span class="m-n" bind-html-compile="v.label"></span>
				</label>
			</div>
		</div>
		<div class="form-group col-md-3" ng-if="form.user.type == 'PATIENT' && form.preferredDayOfWeekEnabled">
			<label class="control-label">Giorno preferito per attività</label>
			<input type="text" class="form-control" value="{{form.userPreferredDayOfWeek | constantLabel: 'DayOfWeek'}}" tooltip="{{errors['form.user']}}" ng-class="{error: errors['form.user']}" ng-disabled="true" >
		</div>
		<div class="form-group col-md-4" ng-if="form.maxDate && form.maxDate < form.date && loggedUser.type === 'INTERNAL_STAFF'">
			<label class="control-label">Motivo ritardo <sup>*</sup></label>
			<select ng-options="v.id as v.label disable when (!v.active && v.id !== form.maxDateFailedReason) for v in constants['ActivityMaxDateFailedReason']" class="form-control" ng-model="form.maxDateFailedReason" tooltip="{{errors['form.maxDateFailedReason']}}" ng-class="{error: errors['form.maxDateFailedReason']}"
				ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
				<option value=""></option>
			</select>
		</div>
		<div class="form-group col-md-8" ng-if="form.maxDate && form.maxDate < form.date && loggedUser.type === 'INTERNAL_STAFF'">
			<label class="control-label">Dettaglio motivo ritardo</label>
			<textarea class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.maxDateFailedReasonDetail" tooltip="{{errors['form.maxDateFailedReasonDetail']}}" ng-class="{error: errors['form.maxDateFailedReasonDetail']}" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" class="row">
			<div class="no-radius alt">
	 			<div class="list-group-item bg-secondary" style="cursor: pointer" ng-init="isCollapsedData1 = true" ng-click="isCollapsedData1 = !isCollapsedData1">
	 				<h4 class="pull-right"> 
	   	 				<a><strong><i class="material-icons">keyboard_arrow_{{isCollapsedData1 ? 'down' : 'right'}}</i></strong></a>
	   	 			</h4>
		      	 	<h4 class="block">
		      	 		<strong>Altri dati</strong>
		      	 	</h4>
	     		</div>
	     		<div collapse="isCollapsedData1" class="clearfix m-b b-l b-r b-b">
	     			<div class="m-t m-b col-md-12">
						<div class="form-group col-md-4">
							<label class="control-label">Tipo attività <sup>*</sup></label>
							<div class="input-group" ng-init="editType = false">
								<select ng-options="v.id as v.label for v in constants['MasterActivityType']" class="form-control" ng-model="form.type" ng-disabled="true" tooltip="{{errors[form.type]}}" ng-class="{error: errors[form.type]}">
									<option value=""></option>
								</select>
								<span class="input-group-btn">
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="true" ng-click="editType = !editType">
										<i class="material-icons">edit</i>
									</button>					
								</span>		
							</div>
						</div>
						<div class="form-group col-md-4" ng-if="form.type === 'OTHER'">
							<label class="control-label">Altro <sup>*</sup></label>
							<input type="text" class="form-control" ng-disabled="true" ng-model="form.otherType" tooltip="{{errors['form.otherType']}}" ng-class="{error: errors['form.otherType']}">
						</div>
						<div class="form-group col-md-6" ng-if="form.organizer">
							<label class="control-label">Organizzatore<sup>*</sup></label>
							<div class="input-group">
								<input type="text" class="form-control" ng-disabled="true" value="{{form.organizer.title | constantLabel:'UserTitle'}} {{form.organizer.lastName}} {{form.organizer.firstName}}" tooltip="{{errors['form.organizer']}}" ng-class="{error: errors['form.organizer']}">
								<span class="input-group-btn">
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="form.organizer.id" user-type="form.organizer.type" title="Dettaglio">
										<i class="material-icons">person</i>
									</button>					
								</span>		
							</div>
						</div>
						<div class="form-group col-md-6" ng-if="form.serviceOrderRequired || form.type == 'MEETING' || form.type == 'OUTGOING_CALL' || form.type == 'OTHER'">
							<label class="control-label">Responsabile dell'attività</label><sup>*</sup>
							<div class="input-group">
								<input type="text" class="form-control" ng-disabled="true" value="{{form.owner.title | constantLabel:'UserTitle'}} {{form.owner.lastName}} {{form.owner.firstName}}" tooltip="{{errors['form.owner']}}" ng-class="{error: errors['form.owner']}">
								<span class="input-group-btn">
									<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="form.owner.id" user-type="form.owner.type" ng-disabled="form.owner === undefined" title="Dettaglio">
										<i class="material-icons">person</i>
									</button>				
								</span>		
							</div>
						</div>
						<div class="form-group col-md-6" ng-if="form.serviceOrderRequired || form.type == 'MEETING' || form.type == 'OUTGOING_CALL' || form.type == 'OTHER'">
							<label class="control-label">Qualifica del responsabile <sup>*</sup></label>
							<input type="text" class="form-control" ng-disabled="true" ng-model="form.ownerQualification.name" tooltip="{{errors['form.ownerQualification']}}" ng-class="{error: errors['form.ownerQualification']}">
						</div>
						<div class="form-group col-md-12"  ng-if="medicalSupportServiceActive">
							<label  class="control-label">Servizio MDS attivo</label>
							<div class="radio m-b-none">
								<label class="i-checks m-r">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="true" ng-model="form.medicalServiceSupport" >
									<i tooltip="{{errors['form.medicalServiceSupport']}}" ng-class="{error: errors['form.medicalServiceSupport']}"></i>Si
								</label>
								<label class="i-checks">
									<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="true" ng-model="form.medicalServiceSupport" >
									<i tooltip="{{errors['form.medicalServiceSupport']}}" ng-class="{error: errors['form.medicalServiceSupport']}"></i>No
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12" class="row" ng-if="form.type == 'MEETING'">
			<div class="no-radius alt">
	 			<div class="list-group-item bg-secondary" style="cursor: pointer" ng-init="isCollapsedData2 = true" ng-click="isCollapsedData2 = !isCollapsedData2">
	 				<h4 class="pull-right"> 
	   	 				<a><strong><i class="material-icons">keyboard_arrow_{{isCollapsedData2 ? 'down' : 'right'}}</i></strong></a>
	   	 			</h4>
		      	 	<h4 class="block">
		      	 		<strong ng-if="!form.drugPickUpDelivery">Indicazioni sul luogo dell'incontro</strong>
						<strong ng-if="form.drugPickUpDelivery">Indicazioni sul luogo della consegna</strong>
		      	 	</h4>
	     		</div>
	     		<div collapse="isCollapsedData2" class="clearfix m-b b-l b-r b-b">
	     			<div class="m-t m-b col-md-12">
	     				<div class="m-t m-b col-md-12">
							<div class="form-group col-md-3" task-address form="form" detail="detail" ng-disabled="true" />
							<div class="form-group col-md-6" ng-if="form.locationType == 'OTHER'">
								<label class="control-label">Altro luogo incontro</label>
								<input type="text" id="form.locationOther" class="form-control" ng-disabled="true" ng-model="form.locationOther" tooltip="{{errors['form.locationOther']}}" ng-class="{error: errors['form.locationOther']}">
							</div>
							<div class="col-md-12" ng-if="form.type == 'MEETING'" address-input="form.address" ng-disabled="true" default-country-code="IT" />
						</div>
	     			</div>
	     		</div>
	     	</div>
	     </div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Completamento dati</h4>
		</div>
		<div class="col-md-12">
			<div class="row" ng-if="form.enableOtherParticipantsAddiction" >
				<div class="form-group col-md-12">
					<h4 class="b-b b-3x">Altri partecipanti</h4>
				</div>
				<div class="form-group col-lg-12" ng-if="form.lastInternalStaffTask">
					<div class="no-border" >
						<label class="checkbox-inline i-checks" >
							<input type="checkbox" ng-model="form.additionalParticipantsNotRequired" value="{{form.additionalParticipantsNotRequired}}" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
								<i tooltip="{{errors['form.additionalParticipantsNotRequired']}}" ng-class="{error: errors['form.additionalParticipantsNotRequired']}" />
								<span class="m-n">Nessun partecipante aggiuntivo</span>
						</label>
					</div>
				</div>
				<div class="col-lg-12" >
					<div class="panel panel-default">
						<div class="row" st-table="form.otherParticipants">
							<div class="col-sm-12">
								<div class="bg-secondary wrapper-xs">
									<div class="inline"  >
										<h4 class="m-sm">Altri partecipanti</h4>
									</div>
									<div class="btn-group dropdown pull-right" dropdown ng-if="isInternalStaff()" >
							        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light"  
							        		ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
							        		dropdown-toggle>
							         		<i class="material-icons">view_list</i>
							    		</button>
							        	<ul class="dropdown-menu pull-right">
							            	<li>
							            		<a ng-if="form.user.type == 'HCP'" ng-model="form.otherParticipants"
							            			user-search-modal="form.otherParticipants" object-filters="{'hcp': form.user}" user-type="'PATIENT'" multiple-list="true" title="Aggiungi / Rimuovi" >
													<i class="material-icons">add</i>
													<span>Aggiungi / Rimuovi</span>
												</a>
												<a ng-if="form.user.type == 'PATIENT'" ng-model="form.otherParticipants"
													user-search-modal="form.otherParticipants" object-filters="{'patient': form.user}" user-type="'HCP'" multiple-list="true" title="Aggiungi / Rimuovi" >
													<i class="material-icons">add</i>
													<span>Aggiungi / Rimuovi</span>
												</a>
							            	</li>
							        	</ul>
							    	</div>
							    </div>
								<table class="table">		
									<thead>		
										<tr>
											<th class="hidden-xs hidden-sm hidden-md" st-sort="title">Titolo</th>
											<th st-sort="lastName">Cognome</th>
											<th st-sort="firstName">Nome</th>
										</tr>
									</thead>
									<tbody class="bg-white">
										<tr ng-repeat="row in form.otherParticipants">
											<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.title | constantLabel: 'UserTitle'" />
											<td ng-bind="row.lastName"></td>
											<td ng-bind="row.firstName"></td>
										</tr>
									</tbody>
									<tbody ng-show="form.otherParticipants.length == undefined || form.otherParticipants.length==0">
										<tr>
											<td colspan="2">
												<div class="text-muted"><i>Nessun dato trovato</i></div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3" ng-if="form.type!='USER_SUSPENSION' && form.type!='USER_REACTIVATION' && form.type!='USER_EXIT'">
					<label class="control-label">Durata attività (in minuti)</label>
					<input type="number" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.durationMinutes" tooltip="{{errors['form.durationMinutes']}}" ng-class="{error: errors['form.durationMinutes']}">
				</div>
			</div>
			<div class="row" ng-if="form.type=='USER_SUSPENSION' || form.type=='USER_REACTIVATION' || form.type=='USER_EXIT'">
				<div class="form-group col-md-4">
					<label class="control-label">E' stata richiesta {{ form.type=='USER_SUSPENSION' ? 'la sospensione' : form.type=='USER_REACTIVATION' ? 'la riattivazione' : 'l\'uscita dal Programma' }} del {{form.user.type | constantLabel:'UserType'}} a decorrere dal </label>
					<div class="input-group">
						<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="true" ng-model="form.changeStatusRequestDate" tooltip="{{errors['form.changeStatusRequestDate']}}" ng-class="{error: errors['form.changeStatusRequestDate']}">
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName">
								<i class="material-icons">date_range</i>
							</button>
						</span>
					</div>
				</div>
				<div class="form-group col-md-4" ng-if="form.type=='USER_EXIT'">
					<label class="control-label">Motivo di uscita dal programma</label>
					<select id="form.changeStatusRequestReason" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-options="v.id as v.label disable when (!v.active && v.id !== form.changeStatusRequestReason) for v in constants['UserChangeStatusReason']" class="form-control" ng-model="form.changeStatusRequestReason" 
						tooltip="{{errors['form.changeStatusRequestReason']}}" ng-class="{error: errors['form.changeStatusRequestReason']}">
						<option value="" />
					</select>
				</div>
				<div class="form-group col-md-4">
					<label class="control-label">Note relative alla richiesta di {{ form.type=='USER_SUSPENSION' ? 'sospensione' : form.type=='USER_REACTIVATION' ? 'riattivazione' : 'uscita dal Programma' }}</label>
					<textarea class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.changeStatusRequestNotes" tooltip="{{errors['form.changeStatusRequestNotes']}}" ng-class="{error: errors['form.changeStatusRequestNotes']}" />
				</div>
			</div>
			
			<div class="row" ng-if="form.type=='USER_EXIT' && form.occurred && detail.notificationEnabledTypes!=undefined && detail.notificationEnabledTypes.length>0">
				<!-- In caso di disattivazione propone invio della notifica -->
				<div class="form-group col-md-12">
					<div class="row" ng-if="(detail.notificationEnabledTypes.indexOf('EMAIL')>=0 && form.user.email!=undefined && form.user.email!='') || (detail.notificationEnabledTypes.indexOf('SMS')>=0 && form.user.cellPhoneNumber!=undefined && form.user.cellPhoneNumber!='')">
						<div class="form-group col-lg-12">
							<label class="control-label">Indicare metodo di invio notifica disattivazione utente</label>
							<div class="input-group col-md-12" ng-if="detail.notificationEnabledTypes.indexOf('EMAIL')>=0 && form.user.email!=undefined && form.user.email!=''">
				              <label class="control-label">Email</label>
				               	<div class="checkbox-inline">
				               		<label class="i-checks m-r">
										<input id="emailNotification" type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="form.emailNotification">
										<i tooltip="{{errors['form.emailNotification']}}" ng-class="{error: errors['form.emailNotification']}"></i>Si
									</label>
									<label class="i-checks">
										<input id="emailNotification" type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="form.emailNotification">
										<i tooltip="{{errors['form.emailNotification']}}" ng-class="{error: errors['form.emailNotification']}"></i>No
									</label>
				               	</div>
				            </div>
				            <div class="input-group col-md-12" ng-if="detail.notificationEnabledTypes.indexOf('SMS')>=0 && form.user.cellPhoneNumber!=undefined && form.user.cellPhoneNumber!=''">
				              <label class="control-label">Sms</label>
				               	<div class="checkbox-inline">
				               		<label class="i-checks m-r">
										<input id="smsNotification" type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="form.smsNotification">
										<i tooltip="{{errors['form.smsNotification']}}" ng-class="{error: errors['form.smsNotification']}"></i>Si
									</label>
									<label class="i-checks">
										<input id="smsNotification" type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="form.smsNotification">
										<i tooltip="{{errors['form.smsNotification']}}" ng-class="{error: errors['form.smsNotification']}"></i>No
									</label>
				               	</div>
				            </div>
						</div>
					</div>

				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-md-12">
					<label class="control-label">Relazione attività</label>
					<textarea rows="5" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.report" tooltip="{{errors['form.report']}}" ng-class="{error: errors['form.report']}" />
				</div>
			</div>
			<div class="row" ng-if="form.type == 'MEETING'">
				<div class="form-group col-md-6">
					<label class="control-label">Km percorsi A/R</label>
					<input type="number" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.ownerRoundtripKm" tooltip="{{errors['form.ownerRoundtripKm']}}" ng-class="{error: errors['form.ownerRoundtripKm']}">
				</div>
				<!--  div class="form-group col-md-6">
					<label class="control-label">Durata viaggio A/R (in minuti)</label>
					<input type="number" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.ownerRoundtripDuration" tooltip="{{errors['form.ownerRoundtripDuration']}}" ng-class="{error: errors['form.ownerRoundtripDuration']}">
				</div -->
			</div>
			<div class="row" ng-if="form.type == 'MEETING'">
				<div class="form-group col-md-3">
					<label class="control-label">Altri costi (in €)</label>
					<input type="number" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.ownerOtherCostsAmount" tooltip="{{errors['form.ownerOtherCostsAmount']}}" ng-class="{error: errors['form.ownerOtherCostsAmount']}">
				</div>
				<div class="form-group col-md-12">
					<label class="control-label">Descrizione altri costi</label>
					<textarea rows="3" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.ownerOtherCostsDescription" tooltip="{{errors['form.ownerOtherCostsDescription']}}" ng-class="{error: errors['form.ownerOtherCostsDescription']}" />
				</div>
				<div class="form-group col-md-12">
					<label class="control-label">Altre note generali</label>
					<textarea rows="5" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.ownerComment" tooltip="{{errors['form.ownerComment']}}" ng-class="{error: errors['form.ownerComment']}" />
				</div>
			</div>
			<div class="row" ng-if="form.type == 'EMAIL'">
				<div class="form-group col-md-12">
					<h4 class="b-b b-3x">Informazioni sull'invio dell'email</h4>
				</div>
				<div class="form-group col-md-4">
					<label class="control-label">Destinatario</label>
					<input type="text" id="form.messageTo" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.messageTo" tooltip="{{errors['form.messageTo']}}" ng-class="{error: errors['form.messageTo']}">
				</div>
				<div class="form-group col-md-4">
					<label class="control-label">Destinatario Cc</label>
					<input type="text" id="form.messageCc" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.messageCc" tooltip="{{errors['form.messageCc']}}" ng-class="{error: errors['form.messageCc']}">
				</div>
				<div class="form-group col-md-4">
					<label class="control-label">Destinatario Ccn</label>
					<input type="text" id="form.messageCcn" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.messageCcn" tooltip="{{errors['form.messageCcn']}}" ng-class="{error: errors['form.messageCcn']}">
				</div>
				<div class="form-group col-md-12">
					<label class="control-label">Oggetto</label>
					<input type="text" id="form.subject" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.subject" tooltip="{{errors['form.subject']}}" ng-class="{error: errors['form.subject']}">
				</div>
				<div class="form-group col-md-12">
					<label class="control-label">Messaggio</label>
					<textarea rows="6" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.message" tooltip="{{errors['form.message']}}" ng-class="{error: errors['form.message']}" />
				</div>
			</div>
			<div class="row" ng-if="form.type == 'SMS'">
				<div class="form-group col-md-12">
					<h4 class="b-b b-3x">Informazioni sull'invio del messaggio SMS</h4>
				</div>
				<div class="form-group col-md-4">
					<label class="control-label">Destinatario</label>
					<input type="text" id="form.messageTo" class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.messageTo" tooltip="{{errors['form.messageTo']}}" ng-class="{error: errors['form.messageTo']}">
				</div>
				<div class="form-group col-md-12">
					<label class="control-label">Messaggio</label>
					<textarea class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="form.message" tooltip="{{errors['form.message']}}" ng-class="{error: errors['form.message']}" />
				</div>
			</div>
			<div ng-include="'tpl/app/activiti/form-type/object/occurred/user-complementary-activities.html'" />
			<div class="row" ng-if="detail.assignee === loggedUser.nickName">
				<div class="form-group col-md-12">
					<h4 class="b-b b-3x">Documenti</h4>
				</div>
			</div>
			<div class="row" ng-if="detail.assignee === loggedUser.nickName">
				<div class="form-group col-md-6">
					<div class="input-group">
						<input type="text" class="form-control" ng-disabled="true" value="Vedi / Carica documenti {{form.user.type == 'PATIENT' ? 'paziente' : 'medico'}}">
						<span class="input-group-btn">
							<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" documents-modal="form.user.id" entity-type="form.user.type == 'PATIENT' ? 'DOCUMENT_PATIENT' : 'DOCUMENT_HCP'">
								<i class="material-icons">file_upload</i>
							</button>
						</span>
					</div>
				</div>
				<div class="form-group col-md-6">
					<div class="input-group">
						<input type="text" class="form-control" ng-disabled="true" value="Vedi / Carica documenti attività">
						<span class="input-group-btn">
							<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" documents-modal="form.id" entity-type="form.user.type == 'PATIENT' ? 'DOCUMENT_PATIENT_ACTIVITY' : 'DOCUMENT_HCP_ACTIVITY'">
								<i class="material-icons">file_upload</i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12" ng-if="loggedUser.type === 'INTERNAL_STAFF'">
					<h4 class="b-b b-3x">Note per questa attività</h4>
				</div>
				<div class="form-group col-md-12" >
					<label class="control-label">Note interne</label>
					<textarea id="form.internalNotes" rows="4" class="form-control" ng-model="form.internalNotes"></textarea>
				</div>
			</div>
			<div class="row m-t" ng-if="form.userActivityCustomProperties !== undefined && form.userActivityCustomProperties.length > 0">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Altri dati</h4>
						</div>
						<div class="panel-body">
							<div ng-include="'tpl/app/activiti/form-type/object/custom-properties.html'" />
						</div>
					</div>
				</div>
			</div>
			<div ng-include="'tpl/app/activiti/form-type/object/user-activity-depending-activities.html'" />
			<div ng-include="'tpl/app/activiti/form-type/object/user-activity-depending-services.html'" />
		</div>
	</div>
</div>