<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
  <div class="text-center m-b-lg">
    <h3 class="text-xxl text-black" style="font-size: 100px !important">Utente non autorizzato</h3>
    <div class="m-t-lg">
    <p>Accesso non consentito a questa sezione del portale</p>
    </div>
  </div>
  <div class="list-group bg-info auto m-b-sm m-b-lg">
    <a href="#/" class="list-group-item">
      <i class="fa fa-chevron-right text-muted"></i>
      <i class="fa fa-fw fa-mail-forward m-r-xs"></i> Torna al portale
    </a>
  </div>
</div>