
<div class="clearfix"></div>
<div class="row">
	<div class="in_div">
		<div class="w-xxl authmask" >
			<div class="m-t-lg m-b-lg">
			<div class="text-center">
          			<img src="img/logo.png" alt="" class="img-responsive">
        		</div>
				<div class="wrapper text-center" ng-if="showForm">
					<strong>Completa i dati sottostanti per completare il processo di attivazione</strong>
				</div>

				<form name="form" novalidate ng-if="showForm">
					<div class="list-group list-group-sm m-b-xs" ng-repeat="prop in formData.formProperties track by $index" ng-init="$scope.blockName = undefined;" ng-if="prop.readable && prop.isVisible()" data-ng-include="prop.htmlTemplate || 'tpl/activiti-form-type/default.html'">
					</div>
					<div class="list-group list-group-sm m-b m-t">
						<div class="">
							<label class="m-l-sm">
								* Campi obbligatori
							</label>
						</div>
					</div>
					<div class="row m-t">
						
						<div class="form-group col-md-12">
							<label class="control-label">Nome Utente</label><sup>*</sup>
							<input type="text" id="detail.nickName" class="form-control"  ng-model="detail.nickName" tooltip="{{errors['detail.nickName']}}" ng-class="{error: errors['detail.nickName']}">
						</div>
						
						<div class="form-group col-md-12">
							<label class="control-label">Password*</label>
							<input type="password" id="detail.password" rows="4" class="form-control" ng-model="detail.password" tooltip="{{errors['detail.password']}}" ng-class="{error: errors['detail.password']}">
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Conferma Password*</label>
							<input type="password" id="detail.passwordConfirmation" rows="4" class="form-control" ng-model="detail.passwordConfirmation" tooltip="{{errors['detail.passwordConfirmation']}}" ng-class="{error: errors['detail.passwordConfirmation']}">
						</div>
					</div>
					<div class="row m-t">
						<div class="form-group col-md-12">
							<button type="submit" class="btn btn-lg btn-primary btn-block waves-effect waves-light" ng-click="activate()">Attiva</button>
						</div>
					</div>	
					<div class="line line-dashed"></div>
				</form>
			</div>
		</div>
	</div>
</div>	