<div class="row">
	<div class="col-xs-12 text-center">
		<img src="img/logo_IA.png" class="img-responsive">
		<img src="img/logo.png" alt="" class="img-responsive" style="margin: auto;">
	</div>
</div>