<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default wrapper box-shadow-lg">
			<div ng-include="'tpl/access/header.html'" />
       		<div class="panel-body">
				<form name="form" class="form-validation" novalidate>
					<div class="row m-t">
						<div class="text-danger wrapper text-center" ng-show="errors">
							{{errors}}
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Utente</label><sup>*</sup>
							<input type="text" class="form-control" placeholder="Username" ng-model="username" required>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Password</label><sup>*</sup>
							<input type="password" placeholder="Password" class="form-control " ng-model="password" required>
						</div>
						<div class="form-group col-md-12">
							<button type="submit" class="btn btn-lg btn-primary btn-block waves-effect waves-light" ng-click="login()">Log in</button>
						</div>	
						<div class="text-left col-xs-12">
							<a ui-sref="access.password-recovery">Password dimenticata?</a>
						</div>
						<div class="text-right col-xs-12 m-t-md" ng-include="'tpl/access/footer.html'" />
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>			