<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default wrapper box-shadow-lg">
			<div ng-include="'tpl/access/header.html'" />
       		<div class="panel-body">
				<form name="reset" ng-init="isCollapsed=true">
					<div class="row m-t">
						<div class="form-group col-md-12">
							<label class="control-label">Utente</label><sup>*</sup>
							<input type="text" id="detail.nickName" class="form-control" placeholder="Username" ng-model="detail.nickName" tooltip="{{errors['detail.nickName']}}" ng-class="{error: errors['detail.nickName']}">
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Email</label><sup>*</sup>
							<input type="text" id="detail.email" class="form-control" placeholder="Email" ng-model="detail.email" tooltip="{{errors['detail.email']}}" ng-class="{error: errors['detail.email']}">
						</div>
						<div class="form-group col-md-12">
							<button type="submit" class="btn btn-lg btn-primary btn-block waves-effect waves-light" ng-click="forgotPasswordRequest()">Send</button>
						</div>
						<div class="text-left col-xs-6">
							<a ui-sref="access.login({})">Torna a login</a>
						</div>
						<div class="text-right col-xs-12 m-t-md" ng-include="'tpl/access/footer.html'" />
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>		