<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default wrapper box-shadow-lg">
			<div ng-include="'tpl/access/header.html'" />
       		<div class="panel-body">
				<form name="form" class="form-validation" novalidate>
					<div class="row m-t">
						
						<div class="form-group col-md-12">
							<label class="control-label">Password*</label>
							<input type="password" id="detail.password" rows="4" class="form-control" ng-model="detail.password" tooltip="{{errors['detail.password']}}" ng-class="{error: errors['detail.password']}">
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Conferma Password*</label>
							<input type="password" id="detail.passwordConfirmation" rows="4" class="form-control" ng-model="detail.passwordConfirmation" tooltip="{{errors['detail.passwordConfirmation']}}" ng-class="{error: errors['detail.passwordConfirmation']}">
						</div>
						<div class="form-group col-md-12">
							<button type="submit" class="btn btn-lg btn-primary btn-block waves-effect waves-light" ng-click="changeForgotPassword()">Salva</button>
						</div>
						<div class="text-left col-xs-6">
							<a ui-sref="access.login({})">Torna a login</a>
						</div>
						<div class="text-right col-xs-12 m-t-md" ng-include="'tpl/access/footer.html'" />
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>		