<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default wrapper box-shadow-lg">
			<div class="row">
	       		<div class="col-xs-12 text-center">
	       			<img src="img/logo.png" alt="" class="img-responsive" style="margin: auto;">
	       		</div>
       		</div>
       		<div class="panel-body">
				<form name="form" class="form-validation" novalidate>
					<div class="row m-t" ng-if="detail">
						<div class="form-group col-md-12">
							<h4 class="btn btn-lg btn-danger btn-block waves-effect waves-light">ORDINE RIFIUTATO CON SUCCESSO</h4>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Nome</label>
							<input type="text" class="form-control" ng-disabled="true" ng-model="detail.activity.name">
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Descrizione</label>
							<textarea id="detail.description" rows="4" class="form-control" ng-disabled="true" ng-model="detail.activity.description"></textarea>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">{{ detail.activity.user.type | constantLabel: 'UserType'}}</label>
							<input type="text" class="form-control" value="{{ detail.activity.user.lastName}} {{ detail.activity.user.firstName }}" ng-disabled="true">
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Tipo attività</label>
							<input type="text" class="form-control" value="{{ detail.activity.type | constantLabel: 'MasterActivityType' }}" ng-disabled="true">
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Data/ora attività</label>
							<div class="input-group">
								<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="detail.activity.date">
								<span class="input-group-btn">
									<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
										<i class="material-icons">date_range</i>
									</button>
								</span>
							</div>
						</div>
						<div class="text-left col-md-12 m-t">
							<a ui-sref="access.login" class="btn btn-lg btn-primary btn-block waves-effect waves-light">Vai al login</a>
						</div>
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>