<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista attività</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="headerDoctor text-right m-t">
			
				<div class="inline">
					<a ng-click="startMasterActivityDetail(a)" ng-repeat="a in manualActivitiesDetail" class="btn btn-primary">
						
						<span class="font-bold">Richiedi test DBS</span>
					</a>
				</div>
				<div class="inline">					
					<a personal-event-detail detail-id="''" related-user-id="relatedUserId" view="detailView" is-modal="isModal || detailView === undefined"
							post-fn="search" class="btn btn-primary">
				
						<span class="font-bold">Nuovo evento paziente</span>
					</a>
				</div>
				<div class="filterClone inline">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-default m-n">
									<div class="panel-body">
										<form name="form" class="form-validation" novalidate ng-submit="search()">
											<div class="row">
												<div class="form-group col-lg-4">
													<label>Data da</label>
													<div class="input-group">
														<input type="text" class="form-control" format-date-time default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.DATE_FROM">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												<div class="form-group col-lg-4">
													<label>Data a</label>
													<div class="input-group">
														<input type="text" class="form-control" format-date-time default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.DATE_TO">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												<div class="form-group col-lg-4">
													<label>Tipo</label>
													<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.TYPE) for v in constants['UserEventType'] | constantActive"
														class="form-control" ng-model="searchFilters.filters.TYPE">
														<option value=""></option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 text-right">
													<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
														Cerca
													</button>
													<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
														Cancella
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm m-t main-dashboard">
		<div class="row">
				<div class="col-lg-12">
			
			
			
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Attività</h4>
								</div>
							
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th>Data inizio</th>
										<th>Titolo</th>
										<th>Sottotitolo</th>
										<th>Tipo</th>
										<th style="width: 30px; padding: 0;" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" user-event-detail="row.id" type="row.type" >
										<td ng-bind="row.start | formatDateTime" />
										<td ng-bind="row.title" />
										<td ng-bind="row.subTitle" />
										<td ng-bind="row.type | constantLabel:'UserEventType'" />
										<td style="width: 30px; padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE && row.type == 'PERSONAL_EVENT'">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="2">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
			Annulla
		</button>
	</div>
</div>