
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Assunzione terapeutica</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-5 hidden-xs hidden-sm" ng-if="injectionAreaGroup!=undefined">
						<div class="panel panel-default">
							<div class="panel-body" ng-if="fieldPermissions['injectionArea'].UPDATE">
								<svg ng-if="injectionAreaGroup" version="1.1" vbox="{{ injectionAreaGroup.vboxValues }}" preserveAspectRatio="xMinYMin" 
									style="width: 100%;">
									<image ng-attr-href="{{injectionAreaGroup.imageUrl}}" x="0" y="0" style="width: 100%;"/>
									<image ng-if="areaUnselected.unselectedImageName" 
										ng-repeat="areaUnselected in injectionAreaGroup.areas track by $index" 
										ng-attr-href="{{areaUnselected.unselectedImageUrl}}" x="0" y="0" style="width: 100%;"/>
									<image ng-if="areaSelected.selectedImageName && detail.injectionArea.id == areaSelected.id" 
										ng-repeat="areaSelected in injectionAreaGroup.areas track by $index" 
										ng-attr-href="{{areaSelected.selectedImageUrl}}" x="0" y="0" style="width: 100%;"/>
  									<circle ng-if="fieldPermissions['injectionArea'].VIEW && area.shapeType == 'CIRCLE'" class="button" 
  										ng-repeat="area in injectionAreaGroup.areas track by $index" 
  										ng-attr-cx="{{area.shapeData.center.x}}" 
  										ng-attr-cy="{{area.shapeData.center.y}}" 
  										ng-attr-r="{{area.shapeData.radius}}" opacity="0" ng-click="detail.injectionArea = area" />
  									<rect ng-if="fieldPermissions['injectionArea'].VIEW && area.shapeType == 'RECT'" class="button" 
  										ng-repeat="area in injectionAreaGroup.areas track by $index"
  										ng-attr-width="{{area.shapeData.width}}"
  										ng-attr-height="{{area.shapeData.height}}" 
  										ng-attr-x="{{area.shapeData.point.x}}" 
  										ng-attr-y="{{area.shapeData.point.y}}" opacity="0" ng-click="detail.injectionArea = area" />
  									<polygon ng-if="fieldPermissions['injectionArea'].VIEW && area.shapeType == 'POLYGON'" class="botton"
  										ng-repeat="area in injectionAreaGroup.areas track by $index"
  										ng-attr-points="{{area.shapeData.polygonPoints}}" opacity="0" ng-click="detail.injectionArea = area" />
								</svg>
							</div>
							<div class="panel-body" ng-if="!fieldPermissions['injectionArea'].UPDATE">
								<svg ng-if="injectionAreaGroup" version="1.1" viewBox="0 0 700 593" preserveAspectRatio="xMinYMin" 
									style="width: 100%;">
									<image href="{{injectionAreaGroup.imageUrl}}" x="0" y="0" style="width: 100%;"/>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="panel panel-default">
							<div id="principal" class="panel-heading scrollspy"> 
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-sm-12" ng-if="!isPatient && fieldPermissions['status'].VIEW">
										<label class="control-label">Stato</label>
										<select class="form-control" ng-disabled="!fieldPermissions['status'].UPDATE" ng-model="detail.status" tooltip="{{errors['detail.status']}}" ng-class="{error: errors['detail.status']}" 
											ng-change="errors['detail.status'] = undefined" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['AssumptionStatus']" >
											<option value="">Seleziona lo stato</option>			    				
										</select>
									</div>
									<div class="form-group col-sm-12" ng-if="isPatient && fieldPermissions['status'].VIEW && !isNew()">
										<label class="control-label">Stato</label>
										<div class="radio m-b-xs">
											<label class="checkbox-inline i-checks" ng-repeat="v in constants['AssumptionStatus']" ng-if="(v.active || v.id === detail.status) && (v.id == 'TAKEN' || v.id == 'NOT_TAKEN')">
												<input type="checkbox" check-list="detail.status" only-one="true" value="{{v.id}}" ng-disabled="!fieldPermissions['status'].UPDATE">
												<i tooltip="{{errors['detail.status']}}" ng-class="{error: errors['detail.status']}"></i><span class="m-n" bind-html-compile="v.label"></span>
											</label>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['date'].VIEW">
										<label class="control-label">Data</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date ng-readonly="true" ng-model="detail.date" tooltip="{{errors['detail.date']}}" ng-class="{error: errors['detail.date']}"
												ng-disabled="!fieldPermissions['date'].UPDATE" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['date'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['hour'].VIEW">
										<label class="control-label">Ora</label>
										<div class="input-group">
											<input type="text" class="form-control" format-time readonly="true" ng-model="detail.hour" tooltip="{{errors['detail.hour']}}" ng-class="{error: errors['detail.hour']}" ng-change="errors['detai.hour'] = ''" 
												ng-disabled="!fieldPermissions['hour'].UPDATE">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['hour'].UPDATE">
													<i class="material-icons">update</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['drug'].VIEW && selects['Drugs'].length > 1">
										<label class="control-label">Terapia/Farmaco</label><sup>*</sup>
										<select ng-options="v.id as v.drug.name + (v.therapy.start ? ' - Da ' + (v.therapy.start | formatDate) : '') + (v.therapy.end ? ' - Al ' + (v.therapy.end | formatDate) : '') for v in selects['Drugs']" class="form-control" ng-model="detail.drug.id" ng-disabled="!fieldPermissions['drug'].UPDATE" tooltip="{{errors['detail.drug']}}" ng-class="{error: errors['detail.drug']}">
											<option value=""></option>
										</select>
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['drug'].VIEW && selects['Drugs'].length == 0">
										<label class="control-label" ng-if="selects['Drugs'].length == 0">Nessun farmaco disponibile per cui registrare l'assunzione</label>
									</div>
									<div class="form-group col-md-12 hidden-xs hidden-sm" ng-if="fieldPermissions['injectionArea'].VIEW">
										<label tooltip="{{errors['detail.injectionArea']}}" class="btn btn-rounded btn-lg btn-icon btn-default m-r m-b" 
											ng-repeat="v in injectionAreaGroup.areas" ng-disabled="!fieldPermissions['injectionArea'].UPDATE" ng-class="{'btn-primary': detail.injectionArea.id == v.id, error: errors['detail.injectionArea']}" ng-click="detail.injectionArea == v ? detail.injectionArea = undefined : detail.injectionArea = v">
											<i />
											<span class="m-n" bind-html-compile="v.code" />
										</label>
									</div>
									<div class="form-group col-md-12 hidden-md hidden-lg" ng-if="fieldPermissions['injectionArea'].VIEW">
										<label class="control-label">Area</label>
										<select ng-disabled="!fieldPermissions['injectionArea'].UPDATE" class="form-control" ng-model="detail.injectionArea.id" tooltip="{{errors['detail.injectionArea']}}" ng-class="{error: errors['detail.injectionArea']}">
											<option value="{{area.id}}" ng-repeat="area in injectionAreaGroup.areas" label="{{area.code}} - {{area.name}}"/>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>