<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Movimentazione materiali paziente</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6">
									<label class="control-label">Codice</label>
									<input type="text" id="detail.code" class="form-control" ng-model="detail.code">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<label class="control-label">Note</label>
									<textarea id="detail.notes" rows="4" class="form-control" ng-model="detail.notes" />
								</div>
							</div>
						</div>
					</div>
					<div class="row m-t">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="row" st-table="detail.pickUpMaterials">
									<div class="col-sm-12">
										<div class="bg-secondary wrapper-xs">
											<div class="inline">
												<h4 class="m-sm">Materiali da ritirare</h4>
											</div>
										</div>
										<table class="table" id="detail.pickUpMaterials">	
											<thead>
												<tr>
													<th>Materiale</th>
													<th>Motivo ritiro</th>
												</tr>
											</thead>
											<tbody class="bg-white">
												<tr ng-repeat="row in detail.pickUpMaterials track by $index" ng-click="editPickUpMaterial($index)">
													<td ng-bind="row.material.material.name" />
													<td ng-bind="row.withdrawalReason | constantLabel: 'WithdrawalReason'" />
												</tr>
											</tbody>
											<tbody ng-show="detail.pickUpMaterials == undefined || detail.pickUpMaterials == 0">
												<tr>
													<td colspan="2">
														<div class="text-muted"><i>Nessun dato trovato</i></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row m-t">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="row" st-table="detail.newMaterials">
									<div class="col-sm-12">
										<div class="bg-secondary wrapper-xs">
											<div class="inline">
												<h4 class="m-sm">Nuovi materiali</h4>
											</div>
										</div>
										<table class="table" id="detail.newMaterials">	
											<thead>
												<tr>
													<th>Nome</th>
													<th>Modello</th>
													<th>In comodato?</th>
												</tr>
											</thead>
											<tbody class="bg-white">
												<tr ng-repeat="row in detail.newMaterials track by $index" ng-click="editNewMaterial($index)">
													<td ng-bind="row.material.name" />
													<td ng-bind="row.model" />
													<td ng-bind="row.loanForUse | formatBool" />
												</tr>
											</tbody>
											<tbody ng-show="detail.newMaterials == undefined || detail.newMaterials == 0">
												<tr>
													<td colspan="3">
														<div class="text-muted"><i>Nessun dato trovato</i></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-primary waves-effect waves-light" ng-click="modal.close()" title="Ok">
						Ok
					</button>
					<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
						Annulla
					</button>
				</div>
			</div>
		</tab>
	</tabset>
</div>