<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<label class="control-label">{{prop.name}}&nbsp; <span ng-show="prop.required">*</span></label>
	<div av-autocomplete disabled="!prop.writable" title-field="name" search-field="name" input-class="form-control" input-model="prop.valueObject" source-list="prop.enumValues" tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}"></div>
</div>