<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<label class="control-label"><span av-bind-html-compile="prop.name"></span> <span ng-show="prop.required">*</span></label>
	<div class="radio m-b-none">
		<label class="i-checks m-r">
			<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!prop.writable" ng-model="prop.value">
			<i tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}"></i>Si
		</label>
		<label class="i-checks">
			<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!prop.writable" ng-model="prop.value">
			<i tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}"></i>No
		</label>
	</div>
</div>