<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<label class="control-label" ng-if="prop.width != 12 || (prop.width == 12 && prop.name !== undefined && prop.name !== '')">{{prop.name}}&nbsp; <span ng-show="prop.required">*</span></label>
	<div class="row">
		<div  ng-if="prop.tabWidth !== undefined" class="col-md-{{prop.tabWidth}} col-sm-{{prop.tabWidthSmall}} col-xs-{{prop.tabWidthSmall}}">&nbsp;</div>
		<div id="{{prop.id}}" class="radio m-b-none {{prop.styleClass}} col-md-{{prop.width - prop.tabWidth}} col-sm-{{prop.widthSmall - prop.tabWidthSmall}} col-xs-{{prop.widthSmall - prop.tabWidthSmall}}">
			<label class="i-checks m-r col-md-{{prop.expandEnumWidth}} col-sm-{{prop.expandEnumWidthSmall}} m-n" ng-repeat="v in prop.enumValues">
				<input type="checkbox" check-list="prop.value" value="{{v.id}}" ng-disabled="!prop.writable">
				<i tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}"></i><span class="m-n" av-bind-html-compile="v.name"></span>
			</label>
		</div>
	</div>
</div>