<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<label class="control-label" ng-if="prop.width != 12 || (prop.width == 12 && prop.name !== undefined && prop.name !== '')">{{prop.name}}&nbsp; <span ng-show="prop.required">*</span></label>
	<input type="text" id="{{prop.id}}" class="form-control" placeholder="{{prop.placeholder}}" ng-disabled="!prop.writable" ng-model="prop.value" tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}">
</div>