<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<div class="clear text-center wrapper-xs m-t" ng-if="prop.name === 'Pagination'">
		<div class="row">
			<div class="col-xs-3">
				<button type="button" class="btn btn-default m-l"  ng-click="prev()"><i class="fa fa-arrow-left fw"></i> <span>Precedente</span></button>
			</div>
			<div class="col-xs-6">
				<label class="control-label font-bold">{{prop.value}}</label>	
			</div>
			<div class="col-xs-3">
				<button type="button" class="btn btn-default m-r"  ng-click="next()"><i class="fa fa-arrow-right fw"></i> <span>Successiva</span></button>
			</div>
		</div>
	</div>
	<div class="clear line b-b line-lg" ng-if="prop.name === 'Separator'"></div>
	<div class="clear bg-light b-b text-center wrapper-xs m-t" ng-if="prop.name === 'Header'">
		<label class="control-label font-bold" ng-if="prop.value">{{prop.value}}</label>
	</div>
	<div class="clear b-b wrapper-xs m-t" ng-if="prop.name === 'Message'">
		<label class="control-label font-bold" ng-if="prop.value" av-bind-html-compile="prop.value"></label>
	</div>
	<div ng-if="prop.name === 'Block'" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
		<label class="control-label m-t-md font-bold" av-bind-html-compile="prop.value"> </label>
	</div>
	<div ng-if="prop.name === 'Line'" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
		<label class="control-label m-t-md font-bold" av-bind-html-compile="prop.value"> </label>
	</div>
	<div class="clear bg-light b-b text-center m-b-none" ng-if="prop.name === 'Html' && prop.value" av-bind-html-compile="prop.value">
	</div>
</div>