<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group" style="{{prop.width == 12 ? 'height: auto;' : 'height: 59px;'}}">
	<label class="control-label" ng-if="prop.width != 12 || (prop.width == 12 && prop.name !== undefined && prop.name !== '')">{{prop.name}}&nbsp; <span ng-show="prop.required">*</span></label>
	<select ng-options="v.id as v.name for v in prop.enumValues" class="form-control" id="{{prop.id}}" ng-model="prop.value" ng-disabled="!prop.writable" tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}">
		<option value=""></option>
	</select>
</div>