<div class="col-md-{{prop.width}} col-sm-{{prop.widthSmall}} form-group">
	<label class="control-label">{{prop.name}}&nbsp; <span ng-show="prop.required">*</span></label>
	<textarea id="{{prop.id}}" rows="4" class="form-control" ng-disabled="!prop.writable" ng-model="prop.value" tooltip="{{errors[prop.id]}}" ng-class="{error: errors[prop.id]}"></textarea>
</div>