<div class="row m-t" ng-if="true">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Informazioni specifiche Tutor</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-4 {{ highlight('reporterInitialsLastName') ? 'has-warning' : '' }}" ng-if="fieldPermissions['reporterInitialsLastName'].VIEW">
						<label class="control-label">Iniziale cognome del segnalatore</label>
						<input type="text" id="detail.reporterInitialsLastName" class="form-control" ng-disabled="!fieldPermissions['reporterInitialsLastName'].UPDATE"
							ng-model="detail.reporterInitialsLastName" error-tooltip />
					</div>
					<div class="form-group col-md-4 {{ highlight('reporterInitialsFirstName') ? 'has-warning' : '' }}" ng-if="fieldPermissions['reporterInitialsFirstName'].VIEW">
						<label class="control-label">Iniziale nome del segnalatore</label>
						<input type="text" id="detail.reporterInitialsFirstName" class="form-control" ng-disabled="!fieldPermissions['reporterInitialsFirstName'].UPDATE"
							ng-model="detail.reporterInitialsFirstName" error-tooltip />
					</div>
					<div class="form-group col-md-4 {{ highlight('residencePlace') ? 'has-warning' : '' }}" ng-if="fieldPermissions['residencePlace'].VIEW">
						<label class="control-label">Luogo di Residenza</label>
						<input type="text" id="detail.residencePlace" class="form-control" ng-disabled="!fieldPermissions['residencePlace'].UPDATE"
							ng-model="detail.residencePlace" error-tooltip />
					</div>
					<div class="form-group col-md-4 {{ highlight('province') ? 'has-warning' : '' }}" province-select="detail.province" ng-if="fieldPermissions['province'].VIEW"/>
					<div class="form-group col-md-4 {{ highlight('scheduleDescription') ? 'has-warning' : '' }}" ng-if="fieldPermissions['scheduleDescription'].VIEW">
						<label class="control-label">Descrizione della deviazione della schedula di infusione</label>
						<input type="text" id="detail.scheduleDescription" class="form-control" ng-disabled="!fieldPermissions['scheduleDescription'].UPDATE"
							ng-model="detail.scheduleDescription" error-tooltip />
					</div>
					<div class="form-group col-md-4 {{ highlight('complianceFailureMotivation') ? 'has-warning' : '' }}" ng-if="fieldPermissions['complianceFailureMotivation'].VIEW">
						<label class="control-label">Motivo del mancato rispetto cadenza PT (Piano terapeutico)</label>
						<select id="detail.complianceFailureMotivation" class="form-control" ng-model="detail.complianceFailureMotivation" ng-disabled="!fieldPermissions['complianceFailureMotivation'].UPDATE"
							ng-options="v.id as v.label disable when (!v.active && v.id !== detail.complianceFailureMotivation) for v in constants['ComplianceFailureMotivation']"
							error-tooltip>
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-4 {{ highlight('correlation') ? 'has-warning' : '' }}" ng-if="fieldPermissions['correlation'].VIEW">
						<label class="control-label">Correlazione tra farmaco Genzyme ed evento rilevato</label>
						<div class="radio m-b-none">
							<label class="i-checks m-r">
								<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detail.correlation" ng-disabled="!fieldPermissions['correlation'].UPDATE">
								<i></i>Si
							</label>
							<label class="i-checks m-r">
								<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="ma.correlation" ng-disabled="!fieldPermissions['correlation'].UPDATE">
								<i></i>No
							</label>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('complianceFailureMotivationDescription') ? 'has-warning' : '' }}" ng-if="fieldPermissions['complianceFailureMotivationDescription'].VIEW">
						<label class="control-label">Note motivo del mancato rispetto cadenza PT (Piano terapeutico)</label>
						<input type="text" id="detail.complianceFailureMotivationDescription" class="form-control" ng-disabled="!fieldPermissions['complianceFailureMotivationDescription'].UPDATE"
							ng-model="detail.complianceFailureMotivationDescription" error-tooltip />
					</div>
					<div class="form-group col-md-4 {{ highlight('complianceAssumptionPlanningDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['complianceAssumptionPlanningDate'].VIEW">
						<label class="control-label">Data prevista infusione come da cadenza PT</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-model="detail.complianceAssumptionPlanningDate" error-tooltip ng-disabled="!fieldPermissions['complianceAssumptionPlanningDate'].UPDATE">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('complianceAssumptionDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['complianceAssumptionDate'].VIEW">
						<label class="control-label">Data in cui verrà effettuata infusione</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-model="detail.complianceAssumptionDate" error-tooltip ng-disabled="!fieldPermissions['complianceAssumptionDate'].UPDATE">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('originalDMCode') ? 'has-warning' : '' }}" ng-if="fieldPermissions['originalDMCode'].VIEW">
						<label class="control-label">Codice DM originario</label>
						<input type="text" id="detail.originalDMCode" class="form-control" ng-disabled="!fieldPermissions['originalDMCode'].UPDATE"
							ng-model="detail.originalDMCode" error-tooltip />
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['customerNotificationTime'].VIEW">
						<label class="control-label">Ora notifica al Cliente</label>
						<div class="input-group">
							<input type="text" class="form-control" ng-readonly="true" format-time ng-model="detail.customerNotificationTime" ng-disabled="!fieldPermissions['customerNotificationTime'].UPDATE" >
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">schedule</i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="row" ng-if="fieldPermissions['products'].VIEW" ng-repeat="p in detail.principalDrugs | orderBy:'-$index'">
					<div class="form-group col-md-4 {{ highlight('hcpToleranceAuthorized') ? 'has-warning' : '' }}">
						<label class="control-label">Tolleranza autorizzata da medico</label>
						<input type="text" id="p.hcpToleranceAuthorized" class="form-control"
							ng-model="p.hcpToleranceAuthorized" error-tooltip />
					</div>
					<div class="form-group col-md-4 {{ highlight('lastAssumptionDate') ? 'has-warning' : '' }}">
						<label class="control-label">Data ultima somministrazione</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-model="p.lastAssumptionDate" error-tooltip >
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('firstHomeAssumptionDate') ? 'has-warning' : '' }}" >
						<label class="control-label">Data prima somministrazione domiciliare</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-model="p.firstHomeAssumptionDate" error-tooltip >
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('lastAssumptionDateBeforeEvent') ? 'has-warning' : '' }}" >
						<label class="control-label">Data ultima somministrazione prima dell'insorgenza dell'evento avverso</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-model="p.lastAssumptionDateBeforeEvent" error-tooltip >
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>