<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.pharmacovigilanceevents">Lista Eventi di Farmaco Vigilanza</a></li>
	<li class="active">{{detail.eventType | constantLabel:'PharmacoVigilanceEventType'}} {{detail.code}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.eventType | constantLabel:'PharmacoVigilanceEventType'}} {{detail.code}}</h3>
</div>
<div pharmaco-vigilance-event-modal />