<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista Eventi di Farmaco Vigilanza</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Eventi di Farmaco Vigilanza</h3>
</div>
<div class="m-t-xxl" pharmaco-vigilance-event-list filter-store-key="pharmaco-vigilance-event-list" />
