<div class="wrapper-sm tab-fix-margin">
<div class="row">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva" ng-disabled="!permissions.UPDATE">
			Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla" ng-disabled="!permissions.UPDATE">
			Annulla
		</button>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Nome</label>
						<input type="text" class="form-control" ng-model="detail.name" error-tooltip ng-disabled="!fieldPermissions['name'].UPDATE">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
						<label class="control-label">Descrizione</label>
						<textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
					</div>
					<div class="form-group col-md-12">
						<label>Tipo Documento</label>
						<select ng-disabled="!fieldPermissions['type'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.type) for v in constants['DocumentType']" class="form-control" ng-model="detail.type" tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['categories'].VIEW">
						<label class="control-label">Categoria</label>
						<ui-select id="detail.categories" ng-model="detail.categories" multiple theme="bootstrap" close-on-select="false" 
							tooltip="{{errors['detail.categories']}}" class="form-control input-sm" ng-disabled="!fieldPermissions['categories'].UPDATE"
							ng-class="{error: errors['detail.categories']}" ng-change="errors['detail.categories'] = undefined" permission-update>
							<ui-select-match placeholder="Seleziona Categoria" allow-clear="true"><strong>{{$item.name + ($item.program ? ' [' + $item.program.name + ']' : '')}}</strong></ui-select-match>
							<ui-select-choices repeat="c in categories | filter: $select.search">
								<div ng-bind-html="c.name + (c.program ? ' [' + c.program.name + ']' : '') | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="form-group col-md-8" ng-if="fieldPermissions['fileName'].VIEW">
						<label class="control-label">Nome file</label>
						<input type="text" id="detail.fileName" class="form-control" ng-disabled="true" ng-model="detail.fileName" tooltip="{{errors['detail.fileName']}}" ng-class="{error: errors['detail.fileName']}">
					</div>
						<div class="form-group col-md-4" ng-if="fieldPermissions['size'].VIEW">
						<label class="control-label">Dimensione</label>
						<input type="text" id="detail.size" class="form-control" ng-disabled="true" value="{{ detail.size/1024/1024|number:2 }} MB" tooltip="{{errors['detail.size']}}" ng-class="{error: errors['detail.size']}" permission-update>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note interne</label>
						<textarea rows="5" class="form-control" ng-model="detail.internalNotes" error-tooltip ng-disabled="!fieldPermissions['internalNotes'].UPDATE"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva" ng-disabled="!permissions.UPDATE">
			Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla" ng-disabled="!permissions.UPDATE">
			Annulla
		</button>
	</div>
</div>
</div>