<div class="wrapper-sm" ng-if="!popup || showTitle">
	<h4 class="font-bold {{popup ? 'm-b-none' : 'm-n'}}">{{ isNew() && !detail.name  ? 'Nuovo Documento' : detail.name }}</h4>
</div>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.name}}</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/directives/document/document-data.html'"></div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>