<div style="background-color: none" class="m-t m-b m-l m-r">
	<div class="videogular-container">
		<videogular vg-responsive="true" vg-theme="videoPlayerConfig.theme.url" vg-player-ready="onPlayerReady($API)" vg-native-controls="true" vg-change-source="onChangeSource($source)">
			<vg-media vg-src="videoPlayerConfig.sources" vg-tracks="videoPlayerConfig.tracks"></vg-media>
			
			
		</videogular>
	</div>	
</div>



<style type="text/css">
	.videogular-container {
		background-image: url('img/loader.gif');
		background-repeat: no-repeat;
		background-attachment: fixed;
    	background-position: center; 
	}
</style>
