	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="row" st-table="detail.followUpEvents">
					<div class="col-sm-12">
						<div class="bg-secondary wrapper-xs">
							<div class="inline">
								<h4 class="m-sm">Lista Follow-Up</h4>
							</div>
							<div class="btn-group dropdown pull-right" dropdown ng-if="canInsert || canExport">
					        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
					         		<i class="material-icons">view_list</i>
					    		</button>
					        	<ul class="dropdown-menu pull-right">
					            	<li>
					            		<a pharmaco-vigilance-event-modal parent-event="detail" post-fn-dismiss="searchFollowUpEvents" post-fn="searchFollowUpEvents" 
					            			patient-id="patient.id">
					            			<i class="material-icons">add</i>
					            			<span>Nuovo</span>
					            		</a>
					            	</li>
					            	<li ng-if="canExport">
					            		<a ng-click="exportXls(false)">
					            			<i class="material-icons">file_download</i>
					            			<span>Esporta Pagina</span>
					            		</a>
					            	</li>
					            	<li ng-if="canExport">
					            		<a ng-click="exportXls(true)">
					            			<i class="material-icons">file_download</i>
					            			<span>Esporta Tutto</span>
					            		</a>
					            	</li>
					        	</ul>
					    	</div>
					    </div>
						<table class="table">
							<thead>
								<tr>
									<th st-sort="eventDate">Data Evento</th>
									<th st-sort="code">Codice Evento</th>
									<th st-sort="patient.lastName">Paziente</th>
									<th st-sort="status">Stato</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="eventNotificationDate">Data raccolta segnalazione</th>
									<th class="hidden-xs hidden-sm hidden-md" st-sort="customerNotificationDate">Data notifica al Cliente</th>
									<th class="hidden-xs hidden-sm hidden-md">Tipo Segnalazione</th>
									<th style="width: 30px; padding: 0;"/>
								</tr>
							</thead>
							<tbody class="bg-white">
								<tr ng-repeat="row in detail.followUpEvents" pharmaco-vigilance-event-modal="row.id" post-fn-dismiss="searchFollowUpEvents" post-fn="searchFollowUpEvents">
									<td>{{ row.eventDate | formatDate }}</td>
									<td ng-bind="row.code" />
									<td>{{ row.patient.lastName }} {{ row.patient.firstName }}</td>
									<td>{{ row.status | constantLabel:'PharmacoVigilanceEventStatus' }}</td>
									<td class="hidden-xs hidden-sm hidden-md">{{ row.eventNotificationDate | formatDate }}</td>
									<td class="hidden-xs hidden-sm hidden-md">{{ row.customerNotificationDate | formatDate }}</td>
									<td class="hidden-xs hidden-sm hidden-md">{{ row.reportTypes | constantLabel: 'PharmacoVigilanceEventReportType' }}</td>
									<td style="width: 30px; padding: 0;">
										<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" 
										ng-if="(followUpPermissions[row.id].DELETE || (followUpPermissions[row.id].GENERATE_FORM && selectedFillableTemplatesList[row.id]!={}) || (followUpPermissions[row.id].DOWNLOAD && selectedBlankTemplatesList[row.id]!={})) && row.status!='DELETED'">
								        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
								         		<i class="material-icons">more_vert</i>
								    		</button>
								        	<ul class="dropdown-menu pull-right">
								        		
								        		<li ng-if="followUpPermissions[row.id].GENERATE_FORM && row.status!='DELETED' && hasFillable(row.id)">
								            		<a ng-click="selectForms(row.id,'generate',false)">
								        
								            			<i class="material-icons">assignment</i>
								            			Genera Forms							        
								            		</a>
								            	</li>
								            	<li ng-if="followUpPermissions[row.id].DOWNLOAD && row.status!='DELETED' && hasBlank(row.id)">
								            		<a ng-click="selectForms(row.id,'download',false)">
								            			<i class="material-icons">file_download</i>
								            			Download Forms
								            		</a>
								            	</li>
								            	<li ng-if="row.status!='DELETED' && followUpPermissions[row.id].DELETE">
								            		<a ng-click="delete(row.id)">
								            			<i class="material-icons">delete</i>
								            			Annulla Evento
								            		</a>
								            	</li>
								        	</ul>
								    	</div>
									</td>
							</tr>
						</tbody>
						<tbody ng-show="detail.followUpEvents == undefined || detail.followUpEvents.length==0">
							<tr>
								<td colspan="7" >
									<div class="text-muted"><i>Nessun dato trovato</i></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
