<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Eventi di Farmaco Vigilanza</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
		
			<!-- Se operatore o supplier includi i filtri -->
			<div ng-include="'tpl/app/pharmaco-vigilance/pharmaco-vigilance-events-filter.html'" ng-if="loggedUser.type!='HCP' && loggedUser.type!='PATIENT'"></div>
		
			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='HCP' || loggedUser.type=='PATIENT'">
			
				<div class="filterClone">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup long" ng-show="!filterPopup">
						<div class="row">
							<div ng-include="'tpl/app/pharmaco-vigilance/pharmaco-vigilance-events-filter.html'"></div>
						</div>		
					</div>
				</div>
			</div>
		</div>	
	</div>		
	<div class="wrapper-sm m-t main-dashboard">
		<div class="row">
			<div class="col-lg-12">	
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Eventi {{detail.id}}</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a pharmaco-vigilance-event-modal="''" patient-id="patientId"  post-fn="search" post-fn-dismiss="search" >
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">
								<thead>
									<tr ng-if="selection">
										<td colspan="9" >
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</td>
									</tr>
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th st-sort="eventDate">Data Evento</th>
										<th st-sort="code">Codice Evento</th>
										<th st-sort="patient.lastName">Paziente</th>
										<th st-sort="eventType">Tipo</th>
										<th st-sort="status">Stato</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="eventNotificationDate">Data raccolta segnalazione</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="customerNotificationDate">Data notifica al Cliente</th>
										<th class="hidden-xs hidden-sm hidden-md">Tipo Segnalazione</th>
										<th style="width: 30px; padding: 0;" ng-if="!selection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" pharmaco-vigilance-event-modal="row.id"  patient-id="patientId" post-fn="search"  post-fn-dismiss="search" ng-if="loggedUser.type!='HCP'">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" />
												<i />
											</label>
										</td>
										<td>{{ row.eventDate | formatDate }}</td>
										<td ng-bind="row.code" />
										<td>{{ row.patient.lastName }} {{ row.patient.firstName }}</td>
										<td>{{ row.eventType | constantLabel:'PharmacoVigilanceEventType' }}</td>
										<td>{{ row.status | constantLabel:'PharmacoVigilanceEventStatus' }}</td>
										<td class="hidden-xs hidden-sm hidden-md">{{ row.eventNotificationDate | formatDate }}</td>
										<td class="hidden-xs hidden-sm hidden-md">{{ row.customerNotificationDate | formatDate }}</td>
										<td class="hidden-xs hidden-sm hidden-md">{{ row.reportTypes | constantLabel: 'PharmacoVigilanceEventReportType' }}</td>
										<td ng-if="!selection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" 
											ng-if="(permissions[row.id].DELETE || (permissions[row.id].GENERATE_FORM && selectedFillableTemplatesList[row.id]!={}) || (permissions[row.id].DOWNLOAD && selectedBlankTemplatesList[row.id]!={})) && row.status!='DELETED'">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									        		<li ng-if="permissions[row.id].GENERATE_FORM && row.status!='DELETED' && hasFillable(row.id)">
									            		<a ng-click="selectForms(row.id,'generate',false)">
									        			<i class="material-icons">assignment</i>    		
									            			Genera Forms
									            		</a>
									            	</li>
									            	<li ng-if="permissions[row.id].DOWNLOAD && row.status!='DELETED' && hasBlank(row.id)">
									            		<a ng-click="selectForms(row.id,'download',false)">
									            			<i class="material-icons">file_download</i>
									            			Download Forms
									            			</a>
									            	</li>
									            	<li ng-if="permissions[row.id].DELETE && row.status!='DELETED'">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Annulla Evento
									            		</a>
									            	</li>
									            	
									        	</ul>
									    	</div>
										</td>
									</tr>
									<tr ng-repeat="row in list" ng-if="loggedUser.type=='HCP'">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" />
												<i />
											</label>
										</td>
										<td>{{ row.eventDate | formatDate }}</td>
										<td ng-bind="row.code" />
										<td>{{ row.patient.lastName }} {{ row.patient.firstName }}</td>
										<td>{{ row.eventType | constantLabel:'PharmacoVigilanceEventType' }}</td>
										<td>{{ row.status | constantLabel:'PharmacoVigilanceEventStatus' }}</td>
										<td class="hidden-xs hidden-sm hidden-md">{{ row.eventNotificationDate | formatDate }}</td>
										<td class="hidden-xs hidden-sm hidden-md">{{ row.customerNotificationDate | formatDate }}</td>
										<td class="hidden-xs hidden-sm hidden-md">{{ row.reportTypes | constantLabel: 'PharmacoVigilanceEventReportType' }}</td>
										<td ng-if="!selection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" 
											ng-if="(permissions[row.id].DELETE || (permissions[row.id].GENERATE_FORM && selectedFillableTemplatesList[row.id]!={}) || (permissions[row.id].DOWNLOAD && selectedBlankTemplatesList[row.id]!={})) && row.status!='DELETED'">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									        		<li ng-if="permissions[row.id].GENERATE_FORM && row.status!='DELETED' && hasFillable(row.id)">
									            		<a ng-click="selectForms(row.id,'generate',false)">
									        			<i class="material-icons">assignment</i>    		
									            			Genera Forms
									            		</a>
									            	</li>
									            	<li ng-if="permissions[row.id].DOWNLOAD && row.status!='DELETED' && hasBlank(row.id)">
									            		<a ng-click="selectForms(row.id,'download',false)">
									            			<i class="material-icons">file_download</i>
									            			Download Forms
									            			</a>
									            	</li>
									            	<li ng-if="permissions[row.id].DELETE && row.status!='DELETED'">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Annulla Evento
									            		</a>
									            	</li>
									            	
									        	</ul>
									    	</div>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="9" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="9" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>	
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>