<div class="wrapper-sm tab-fix-margin">
<div class="row" ng-if="canUpdate || canGenerateForm || canDownload">
	<div class="col-md-12 text-right">
		<div class="pull-left has-warning">
			<span class="fa fa-circle" style="color: #8a6d3b;"></span> <label class="m-l-xs control-label">Campi specifici del Programma</label>
		</div>
		<button ng-if="canGenerateForm && selectedFillableTemplates!=undefined" class="btn btn-default waves-effect waves-light" ng-click="selectForms(detail.id,'generate')" title="Genera Forms">
			Genera Form
		</button>
		<button ng-if="canDownload && selectedBlankTemplates!=undefined" class="btn btn-default waves-effect waves-light" ng-click="selectForms(detail.id,'download')" title="Download templates">
			Download
		</button>
		<button ng-if="canUpdate" class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
			Salva
		</button>
		<button ng-if="canUpdate" class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
			Annulla
		</button>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-4 {{ highlight('code') ? 'has-warning' : '' }}" ng-if="fieldPermissions['code'].VIEW">
						<label class="control-label">Codice {{ detail.eventType | constantLabel:'PharmacoVigilanceEventType'}}</label> <sup>*</sup>
						<input type="text" id="detail.code" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE || !isNew()" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
					</div>
					<div class="form-group col-md-4 {{ highlight('eventDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['eventDate'].VIEW">
						<label class="control-label">Data {{ detail.eventType=='FOLLOW_UP' ? 'Follow-Up' : 'Insorgenza Reazione'}}</label> <sup>*</sup>
						<div class="input-group">
							<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="!fieldPermissions['eventDate'].UPDATE || !isNew()" ng-model="detail.eventDate" tooltip="{{errors['detail.eventDate']}}" ng-class="{error: errors['detail.eventDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['eventDate'].UPDATE || !isNew()">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('eventReceiver') ? 'has-warning' : '' }}" ng-if="fieldPermissions['eventReceiver'].VIEW">
						<label class="control-label">Segnalazione ricevuta da</label> <sup>*</sup>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true"
								value="{{detail.eventReceiver.lastName}} {{detail.eventReceiver.firstName}}"
								tooltip="{{errors['detail.eventReceiver']}}" ng-class="{error: errors['detail.eventReceiver']}">
							<span class="input-group-btn">
								<button ng-if="fieldPermissions['eventReceiver'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.eventReceiver" 
									user-type="'INTERNAL_STAFF'" multiple-list="false" title="Seleziona" ng-disabled="eventReceiverId !== undefined">
									<i class="material-icons">search</i>
								</button>
								<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.eventReceiver.id" user-Type="'INTERNAL_STAFF'" ng-disabled="detail.eventReceiver === undefined || eventReceiverId !== undefined"
									multiple-list="false" title="Dettaglio">
									<i class="material-icons">person</i>
								</button>
								<button ng-if="fieldPermissions['eventReceiver'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light"
									ng-disabled="detail.eventReceiver == undefined || eventReceiverId !== undefined" ng-click="detail.eventReceiver = undefined"
									title="Dettaglio">
									<i class="material-icons">clear</i>
								</button>					
							</span>		
						</div>
					</div>
					<div class="form-group col-md-12 {{ highlight('description') ? 'has-warning' : '' }}" ng-if="fieldPermissions['description'].VIEW">
						<label class="control-label">Descrizione della reazione ed eventuale diagnosi</label>
						<textarea rows="4" id="detail.description" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}" />
					</div>
				</div>
				<div class="row">	
					<div class="form-group {{detail.eventType=='FOLLOW_UP' ? 'col-md-4' : 'col-md-6'}} {{ highlight('eventType') ? 'has-warning' : '' }}"  ng-if="fieldPermissions['eventType'].VIEW">
						<label class="control-label">Tipo Evento</label> <sup>*</sup>
						<select id="detail.title" ng-disabled="!fieldPermissions['eventType'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.eventType) for v in constants['PharmacoVigilanceEventType']" class="form-control" ng-model="detail.eventType" tooltip="{{errors['detail.eventType']}}" ng-class="{error: errors['detail.eventType']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-4 {{ highlight('parentEvent') ? 'has-warning' : '' }}" ng-if="fieldPermissions['eventType'].VIEW && detail.eventType=='FOLLOW_UP'">
						<label class="control-label">Evento di riferimento</label> <sup>*</sup>
						<div class="input-group">
							<input type="text" id="detail.parentEvent.code" class="form-control" ng-disabled="!fieldPermissions['detail.parentEvent'].UPDATE" ng-model="detail.parentEvent.code" tooltip="{{errors['detail.parentEvent.code']}}" ng-class="{error: errors['detail.parentEvent.code']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['detail.parentEvent'].VIEW">
									<i class="material-icons">search</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group {{detail.eventType=='FOLLOW_UP' ? 'col-md-4' : 'col-md-6'}} {{ highlight('status') ? 'has-warning' : '' }}"  ng-if="fieldPermissions['status'].VIEW">
						<label class="control-label">Stato</label>
						<select id="detail.status" ng-disabled="!fieldPermissions['status'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['PharmacoVigilanceEventStatus']" class="form-control" ng-model="detail.status" tooltip="{{errors['detail.status']}}" ng-class="{error: errors['detail.status']}">
							<option value="" />
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12 {{ highlight('eventReason') ? 'has-warning' : '' }}"  ng-if="fieldPermissions['eventReason'].VIEW">
						<label class="control-label">Indicare se la reazione osservata deriva da</label>
						<div class="checkbox">
							<label class="i-checks m-r" ng-repeat="t in constants['PharmacoVigilanceEventReason']">
								<input name="eventReason" type="checkbox" only-one="true" check-list="detail.eventReason" value="{{t.id}}" ng-disabled="!fieldPermissions['eventReason'].UPDATE">
								<i tooltip="{{errors['detail.eventReason']}}" ng-class="{error: errors['detail.eventReason']}"></i><span  class="m-n">{{ t.label }}</span>
							</label>			
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-3 {{ highlight('eventSeriousness') ? 'has-warning' : '' }}"  ng-if="fieldPermissions['eventSeriousness'].VIEW">
						<label class="control-label">Gravità della reazione</label>
							<select id="eventSeriousness" ng-disabled="!fieldPermissions['eventSeriousness'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.eventSeriousness) for v in constants['PharmacoVigilanceEventSeriousness']" class="form-control" 
						ng-model="detail.eventSeriousness" tooltip="{{errors['detail.eventSeriousness']}}" ng-class="{error: errors['detail.eventSeriousness']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-3 {{ highlight('eventEndingDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['eventEndingDate'].VIEW">
						<label class="control-label">Esito data</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['eventEndingDate'].UPDATE" ng-model="detail.eventEndingDate" tooltip="{{errors['detail.eventEndingDate']}}" ng-class="{error: errors['detail.eventEndingDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!canUpdate">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-3 {{ highlight('eventEnding') ? 'has-warning' : '' }}" ng-if="fieldPermissions['eventEnding'].VIEW">
						<label class="control-label">Esito</label>
						<select id="eventEnding" ng-disabled="!fieldPermissions['eventEnding'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.eventEnding) for v in constants['PharmacoVigilanceEventEnding']" class="form-control" 
						ng-model="detail.eventEnding" tooltip="{{errors['detail.eventEnding']}}" ng-class="{error: errors['detail.eventEnding']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-3 {{ highlight('deathReason') ? 'has-warning' : '' }}" ng-if="'DEATH'==detail.eventEnding && fieldPermissions['deathReason'].VIEW">
						<label class="control-label">Causa della morte</label>
						<select id="deathReason" ng-disabled="!fieldPermissions['deathReason'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.deathReason) for v in constants['PharmacoVigilanceDeathReason']" class="form-control" 
						ng-model="detail.deathReason" tooltip="{{errors['detail.deathReason']}}" ng-class="{error: errors['detail.deathReason']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-12 {{ highlight('takenActions') ? 'has-warning' : '' }}" ng-if="fieldPermissions['takenActions'].VIEW">
						<label class="control-label">Azioni intraprese</label>
						<textarea rows="4" id="detail.takenActions" class="form-control" ng-disabled="!fieldPermissions['takenActions'].UPDATE" ng-model="detail.takenActions" tooltip="{{errors['detail.takenActions']}}" ng-class="{error: errors['detail.takenActions']}" />
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t">	
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati sulla persona coinvolta</h4>
			</div>
			<div class="panel-body">
				<div class="row">	
					<div class="form-group col-md-12 {{ highlight('patient') ? 'has-warning' : '' }}" ng-if="fieldPermissions['patient'].VIEW">
						<label class="control-label">Paziente</label> <sup>*</sup>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" value="{{detail.patient.lastName}} {{detail.patient.firstName}}" tooltip="{{errors['detail.patient']}}" ng-class="{error: errors['detail.patient']}">
							<span class="input-group-btn">
								<button ng-if="fieldPermissions['patient'].UPDATE && detail.eventType!='FOLLOW_UP'" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="detail.patient" 
									user-type="'PATIENT'" multiple-list="false" title="Seleziona" post-fn="searchPatientDetail" ng-disabled="patientId !== undefined">
									<i class="material-icons">search</i>
								</button>
								<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.patient.id" user-Type="'PATIENT'" ng-disabled="detail.patient === undefined"
									multiple-list="false" title="Dettaglio">
									<i class="material-icons">person</i>
								</button>
								<button ng-if="fieldPermissions['patient'].UPDATE && detail.eventType!='FOLLOW_UP'" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="detail.patient == undefined || patientId !== undefined" ng-click="detail.patient = undefined"
									title="Dettaglio">
									<i class="material-icons">clear</i>
								</button>					
							</span>		
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4 {{ highlight('initials') ? 'has-warning' : '' }}" ng-if="fieldPermissions['patient'].VIEW" >
						<label class="control-label">Iniziali</label>
						<input type="text" id="initials" class="form-control" ng-disabled="true" ng-model="detail.patient.initials">	
					</div>
					<div class="form-group col-md-4 {{ highlight('sex') ? 'has-warning' : '' }}" ng-if="fieldPermissions['patient'].VIEW">
						<label class="control-label">Sesso</label>
						<input type="text" id="sex" class="form-control" ng-disabled="true" value="{{detail.patient.sex | constantLabel:'Sex'}}">	
					</div>
					<div class="form-group col-md-4 {{ highlight('birthDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['patient'].VIEW">
						<label class="control-label">Data di Nascita o età</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="true" ng-model="detail.patient.birthDate">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="row">	
					<div class="form-group col-md-4 {{ highlight('ethincGroup') ? 'has-warning' : '' }}" ng-if="fieldPermissions['ethnicGroup'].VIEW">
						<label class="control-label">Gruppo etnico</label>
						<input type="text" id="ethnicGroup" class="form-control" ng-disabled="!fieldPermissions['ethnicGroup'].UPDATE" ng-model="detail.ethnicGroup" tooltip="{{errors['detail.ethnicGroup']}}" ng-class="{error: errors['detail.ethnicGroup']}">	
					</div>
					<div class="form-group col-md-4 {{ highlight('weight') ? 'has-warning' : '' }}" ng-if="fieldPermissions['weight'].VIEW">
						<label class="control-label">Peso (Kg)</label>
						<input type="text" id="weight" class="form-control" ng-disabled="!fieldPermissions['weight'].UPDATE" ng-model="detail.weight" tooltip="{{errors['detail.weight']}}" ng-class="{error: errors['detail.weight']}">	
					</div>
					<div class="form-group col-md-4 {{ highlight('height') ? 'has-warning' : '' }}" ng-if="fieldPermissions['height'].VIEW">
						<label class="control-label">Altezza (cm)</label>
						<input type="text" id="height" class="form-control" ng-disabled="!fieldPermissions['height'].UPDATE" ng-model="detail.height" tooltip="{{errors['detail.height']}}" ng-class="{error: errors['detail.weight']}">	
					</div>
				</div>	
				<div class="row" ng-if="'MALE'!=detail.patient.sex">	
					<div class="form-group col-md-4 {{ highlight('lastMenstruationDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['lastMenstruationDate'].VIEW">
						<label class="control-label">Data ultima mestruazione</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['lastMenstruationDate'].UPDATE" ng-model="detail.lastMenstruationDate" tooltip="{{errors['detail.lastMenstruationDate']}}" ng-class="{error: errors['detail.lastMenstruationDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['lastMenstruationDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('pregnancyType') ? 'has-warning' : '' }}" ng-if="fieldPermissions['pregnancyType'].VIEW">
						<label class="control-label">Gravidanza</label>
						<select id="pregnancyType" ng-disabled="!fieldPermissions['pregnancyType'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.pregnancyType) for v in constants['PregnancyType']" class="form-control" ng-model="detail.pregnancyType" tooltip="{{errors['detail.pregnancyType']}}" ng-class="{error: errors['detail.pregnancyType']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-4 {{ highlight('breastFeeding') ? 'has-warning' : '' }}" ng-if="fieldPermissions['breastFeeding'].VIEW">
						<label class="control-label">Allattamento</label>
						<div class="checkbox">
							<label class="i-checks m-r">
								<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['breastFeeding'].UPDATE" ng-model="detail.breastFeeding">
								<i tooltip="{{errors['detail.breastFeeding']}}" ng-class="{error: errors['detail.breastFeeding']}"></i>Si
							</label>
							<label class="i-checks">
								<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['breastFeeding'].UPDATE" ng-model="detail.breastFeeding">
								<i tooltip="{{errors['detail.breastFeeding']}}" ng-class="{error: errors['detail.breastFeeding']}"></i>No
							</label>
						</div>
					</div>
				</div>	
				<div class="row">	
					<div class="form-group col-md-12 {{ highlight('examinations') ? 'has-warning' : '' }}" ng-if="fieldPermissions['examinations'].VIEW">
						<label class="control-label">Eventuali esami di laboratorio rilevanti per ADR</label>
						<textarea id="examinations" class="form-control" ng-disabled="!fieldPermissions['examinations'].UPDATE" ng-model="detail.examinations" tooltip="{{errors['detail.examinations']}}" ng-class="{error: errors['detail.examinations']}"></textarea>	
					</div>
				</div>	
			</div>
		</div>
	</div>			
</div>	
<div class="row m-t">	
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Informazioni sul Segnalatore e sulla segnalazione</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-8 {{ highlight('reporterType') ? 'has-warning' : '' }}"  ng-if="fieldPermissions['reporterType'].VIEW">
						<label class="control-label">Qualifica del segnalatore</label>
						<select id="reporterType" ng-disabled="!fieldPermissions['reporterType'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.reporterType) for v in constants['PharmacoVigilanceEventReferrer']" 
						class="form-control" ng-model="detail.reporterType" tooltip="{{errors['detail.reporterType']}}" ng-class="{error: errors['detail.reporterType']}">
							<option value="" />
						</select>
					</div>
					<div class="form-group col-md-4 {{ highlight('reporterQualification') ? 'has-warning' : '' }}" ng-if="detail.reporterType=='OTHER' && fieldPermissions['reporterQualification'].VIEW">
						<label class="control-label">Specificare</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['reporterQualification'].UPDATE" ng-model="detail.reporterQualification" tooltip="{{errors['detail.reporterQualification']}}" ng-class="{error: errors['detail.reporterQualification']}">
					</div>	
				</div>
				<div class="row">
					<div class="form-group col-md-4 {{ highlight('reporterName') ? 'has-warning' : '' }}" ng-if="fieldPermissions['reporterName'].VIEW">
						<label class="control-label">Cognome e Nome</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['reporterName'].UPDATE" ng-model="detail.reporterName" tooltip="{{errors['detail.reporterName']}}" ng-class="{error: errors['detail.reporterName']}">
					</div>	
					<div class="form-group col-md-4 {{ highlight('reporterEmail') ? 'has-warning' : '' }}" ng-if="fieldPermissions['reporterEmail'].VIEW">
						<label class="control-label">Email</label>
						<input type="text" id="detail.reporterEmail" class="form-control" ng-disabled="!fieldPermissions['reporterEmail'].UPDATE" ng-model="detail.reporterEmail" tooltip="{{errors['detail.reporterEmail']}}" ng-class="{error: errors['detail.reporterEmail']}">
					</div>
					
					<div class="form-group col-md-4 {{ highlight('reporterPhone') ? 'has-warning' : '' }}" ng-if="fieldPermissions['reporterPhone'].VIEW">
						<label class="control-label">Telefono e fax</label>
						<input type="text" id="detail.reporterPhone" class="form-control" ng-disabled="!fieldPermissions['reporterPhone'].UPDATE" ng-model="detail.reporterPhone" tooltip="{{errors['detail.reporterPhone']}}" ng-class="{error: errors['detail.reporterPhone']}">
					</div>
				</div>
				<div class="row">	
					<div class="form-group col-md-12 {{ highlight('reporterAddress') ? 'has-warning' : '' }}" ng-if="fieldPermissions['reporterAddress'].VIEW">
						<label class="control-label">Indirizzo</label>
						<textarea rows="5" class="form-control" ng-disabled="!fieldPermissions['reporterAddress'].UPDATE" ng-model="detail.reporterAddress" tooltip="{{errors['detail.reporterAddress']}}" ng-class="{error: errors['detail.reporterAddress']}"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6 {{ highlight('reporterAsl') ? 'has-warning' : '' }}" ng-if="fieldPermissions['reporterAddress'].VIEW">
						<label class="control-label">Asl di appartenenza</label>
						<input type="text" id="detail.reporterAsl" class="form-control" ng-disabled="!fieldPermissions['reporterAsl'].UPDATE" ng-model="detail.reporterAsl" 
						tooltip="{{errors['detail.reporterAsl']}}" ng-class="{error: errors['detail.reporterAsl']}">	
					</div>
					<div class="form-group col-md-6 {{ highlight('reporterCounty') ? 'has-warning' : '' }}">
						<label class="control-label">Regione</label>
						<ui-select id="reporterCounty" ng-model="detail.reporterCounty" theme="bootstrap" ng-disabled="!fieldPermissions['reporterCounty'].UPDATE" 
						tooltip="{{errors['detail.reporterCounty']}}" ng-class="{error: errors['detail.reporterCounty']}">
							<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$select.selected.group}}</strong> {{$select.selected.region}}</ui-select-match>
							<ui-select-choices group-by="'group'" repeat="v.regionCode as v in regions | filter: $select.search">
								<div ng-bind-html="v.region | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="row" ng-if="reportTypes!=undefined && reportTypes!=[]">
					<div class="form-group col-md-12 {{ highlight('reportType') ? 'has-warning' : '' }}">
					    <label class="control-label">Tipologia Segnalazione</label>
						<div class="checkbox">
			              <label class="i-checks" ng-repeat="reportType in constants['PharmacoVigilanceEventReportType']" style="margin-right: 20px;">
			                <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="reportTypes[reportType.id]" ng-disabled="!fieldPermissions['reportTypes'].UPDATE || !reportType.active">
			                <i tooltip="{{errors['reportTypes']}}" ng-class="{error: errors['reportTypes']}"></i>
			                {{reportType.label}}  
			              </label>
			            </div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group col-md-4 {{ highlight('eventNotificationDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['eventNotificationDate'].VIEW">
						<label class="control-label">Data di compilazione</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['eventNotificationDate'].UPDATE" ng-model="detail.eventNotificationDate" tooltip="{{errors['detail.eventNotificationDate']}}" ng-class="{error: errors['detail.eventNotificationDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!canUpdate">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('formGenerationDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['formGenerationDate'].VIEW && canGenerateForm && fillableTemplates!={}">
						<label class="control-label">Data generazione form</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['formGenerationDate'].UPDATE" ng-model="detail.formGenerationDate" tooltip="{{errors['detail.formGenerationDate']}}" ng-class="{error: errors['detail.formGenerationDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['formGenerationDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('formUploadDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['formUploadDate'].VIEW && canDownload && blankTemplates!={}">
						<label class="control-label">Data upload form</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['formUploadDate'].UPDATE" ng-model="detail.formUploadDate" tooltip="{{errors['detail.formUploadDate']}}" ng-class="{error: errors['detail.formUploadDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['formUploadDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
				</div>	
				<div class="row">	
					<div class="form-group col-md-6 {{ highlight('customerNotificationDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['customerNotificationDate'].VIEW">
						<label class="control-label">Data notifica al cliente</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['customerNotificationDate'].UPDATE" ng-model="detail.customerNotificationDate" tooltip="{{errors['detail.customerNotificationDate']}}" ng-class="{error: errors['detail.customerNotificationDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['customerNotificationDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>		
					<div class="form-group col-md-6 {{ highlight('customerNotificationReceivedDate') ? 'has-warning' : '' }}" ng-if="fieldPermissions['customerNotificationReceivedDate'].VIEW">
						<label class="control-label">Data ricezione email cliente</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['customerNotificationReceivedDate'].UPDATE" ng-model="detail.customerNotificationReceivedDate" tooltip="{{errors['detail.customerNotificationReceivedDate']}}" ng-class="{error: errors['detail.customerNotificationReceivedDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['customerNotificationReceivedDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12 {{ highlight('eventScope') ? 'has-warning' : '' }}"  ng-if="fieldPermissions['eventScope'].VIEW">
						<label class="control-label">La reazione è stata osservata nell'ambito di</label>
						<div>
							<label class="i-checks m-r" ng-repeat="t in constants['PharmacoVigilanceEventScope']">
								<input name="eventScope" type="checkbox" only-one="true" check-list="detail.eventScope" value="{{t.id}}" ng-disabled="!fieldPermissions['eventScope'].UPDATE">
								<i tooltip="{{errors['detail.eventScope']}}" ng-class="{error: errors['detail.eventScope']}"></i><span  class="m-n">{{ t.label }}</span>
							</label>			
						</div>
					</div>
					<div class="form-group col-md-4 {{ highlight('monitoringTitle') ? 'has-warning' : '' }}">
						<label class="control-label">Titolo studio</label>
						<input type="text" id="detail.monitoringTitle" class="form-control" ng-disabled="!fieldPermissions['monitoringTitle'].UPDATE" ng-model="detail.monitoringTitle" 
						tooltip="{{errors['detail.monitoringTitle']}}" ng-class="{error: errors['detail.monitoringTitle']}">
					</div>	
					<div class="form-group col-md-4 {{ highlight('monitoringType') ? 'has-warning' : '' }}">
						<label class="control-label">Tipologia</label>
						<input type="text" id="detail.monitoringType" class="form-control" ng-disabled="!fieldPermissions['monitoringType'].UPDATE" ng-model="detail.monitoringType" 
						tooltip="{{errors['detail.monitoringType']}}" ng-class="{error: errors['detail.monitoringType']}">
					</div>
					<div class="form-group col-md-4 {{ highlight('monitoringNumber') ? 'has-warning' : '' }}">
						<label class="control-label">Numero</label>
						<input type="text" id="detail.monitoringNumber" class="form-control" ng-disabled="!fieldPermissions['monitoringNumber'].UPDATE" ng-model="detail.monitoringNumber" 
						tooltip="{{errors['detail.monitoringNumber']}}" ng-class="{error: errors['detail.monitoringNumber']}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="row" ng-if="detail.eventType!='FOLLOW_UP' && fieldPermissions['products'].UPDATE && detail.patient!=undefined">
	<div class="form-group col col-md-12 text-right">
		<span class="m-l m-r"><b>Aggiungi/Rimuovi Farmaci</b></span>
		<button ng-if="detail.principalDrugs!=undefined && detail.principalDrugs.length>1" class="btn btn-default waves-effect waves-light" ng-click="removeLastPrincipalDrug()" title="Rimuovi ultimo Farmaco principale">
			Rimuovi
		</button>
		<button class="btn btn-primary waves-effect waves-light" ng-click="addPrincipalDrug()" title="Aggiungi Farmaco principale">
			Aggiungi	
		</button>
	</div>	
</div>	
<div class="row m-t" ng-if="fieldPermissions['products'].VIEW">	
	<div class="col-lg-12" ng-repeat="p in detail.principalDrugs | orderBy:'-$index'">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Informazioni sul Farmaco - {{detail.principalDrugs.length-$index}}</h4>
			</div>
			<div class="panel-body">
				<div ng-include="'tpl/app/directive/pharmaco-vigilance/event-item-data.html'"></div>
			</div>
		</div>
	</div>
</div>	
<div class="row" ng-if="detail.eventType!='FOLLOW_UP' && fieldPermissions['products'].UPDATE && detail.patient!=undefined">
	<div class="form-group col col-md-12 text-right">
		<span class="m-l m-r"><b>Aggiungi/Rimuovi Farmaci concomitanti</b></span>
		<button ng-if="detail.associatedDrugs!=undefined && detail.associatedDrugs.length>0" class="btn btn-default waves-effect waves-light" ng-click="removeLastAssociatedDrug()" title="Rimuovi ultimo Farmaco concomitante">
			Rimuovi
		</button>
		<button class="btn btn-primary waves-effect waves-light" ng-click="addAssociatedDrug()" title="Aggiungi Farmaco concomitante">
			Aggiungi	
		</button>
	</div>	
</div>	
<div class="row m-t" ng-if="fieldPermissions['products'].VIEW">	
	<div class="col-lg-12" ng-repeat="p in detail.associatedDrugs | orderBy:'-$index'">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Informazioni sul Farmaco concomitante - {{detail.associatedDrugs.length-$index}}</h4>
			</div>
			<div class="panel-body">
				<div ng-include="'tpl/app/directive/pharmaco-vigilance/event-item-data.html'"></div>
			</div>
		</div>
	</div>
</div>	
<div class="row m-t">
	<div class="form-group col-md-12 {{ highlight('usageOfNaturalProducts') ? 'has-warning' : '' }}" ng-if="fieldPermissions['usageOfNaturalProducts'].VIEW">
		<label class="control-label">Uso concomitante di altri prodotti a base di piante officinali, integratori alimentari, ecc.</label>
		<textarea id="usageOfNaturalProducts" class="form-control" ng-disabled="!fieldPermissions['usageOfNaturalProducts'].UPDATE" ng-model="detail.usageOfNaturalProducts" 
		tooltip="{{errors['detail.usageOfNaturalProducts']}}" ng-class="{error: errors['detail.usageOfNaturalProducts']}"></textarea>	
	</div>	
</div>
<div class="row">
	<div class="form-group col-md-12 {{ highlight('otherConditions') ? 'has-warning' : '' }}" ng-if="fieldPermissions['otherConditions'].VIEW">
		<label class="control-label">Altre condizioni predisponenti e/o concomitanti</label>
		<textarea id="otherConditions" class="form-control" ng-disabled="!fieldPermissions['otherConditions'].UPDATE" ng-model="detail.otherConditions" 
		tooltip="{{errors['detail.otherConditions']}}" ng-class="{error: errors['detail.otherConditions']}"></textarea>	
	</div>	
</div>
<div class="row">
	<div class="form-group col-md-12 {{ highlight('otherInformations') ? 'has-warning' : '' }}" ng-if="fieldPermissions['otherInformations'].VIEW">
		<label class="control-label">Altre condizioni predisponenti e/o concomitanti</label>
		<textarea id="otherInformations" class="form-control" ng-disabled="!fieldPermissions['otherInformations'].UPDATE" ng-model="detail.otherInformations" 
		tooltip="{{errors['detail.otherInformations']}}" ng-class="{error: errors['detail.otherInformations']}"></textarea>	
	</div>	
</div>

<div ng-include="'tpl/app/pharmaco-vigilance/event-data-custom.html'"></div>	

<div class="row" ng-if="canUpdate || canGenerateForm || canDownload">
	<div class="col-md-12 text-right">
		<div class="pull-left has-warning">
			<span class="fa fa-circle" style="color: #8a6d3b;"></span> <label class="m-l-xs control-label">Campi specifici del Programma</label>
		</div>
		<button ng-if="canGenerateForm && selectedFillableTemplates!=undefined" class="btn btn-default waves-effect waves-light" ng-click="selectForms(detail.id,'generate')" title="Genera Forms">
			Genera Form
		</button>
		<button ng-if="canDownload && selectedBlankTemplates!=undefined" class="btn btn-default waves-effect waves-light" ng-click="selectForms(detail.id,'download')" title="Download templates">
			Download
		</button>
		<button ng-if="canUpdate" class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
			Salva
		</button>
		<button ng-if="canUpdate" class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
			Annulla
		</button>
	</div>
</div>
</div>