<div class="wrapper-sm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default m-n">
				<div class="panel-body">
					<form name="form" class="form-validation" novalidate>
						<div class="row">
							<div class="form-group col-lg-4">
								<label>Nome</label>
								<input type="text" class="form-control" ng-model="searchFilters.filters.NAME">
							</div>
							<div class="form-group col-lg-4">
								<label>Descrizione</label>
								<input type="text" class="form-control" ng-model="searchFilters.filters.DESCRIPTION">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 text-right">
								<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
									Cerca
								</button>
								<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
									Cancella
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>