<div class="form-group col-md-4" ng-if="ca.status == 'NOT_COMPLETED'">
	<label class="control-label">Motivo mancata somministrazione</label><sup>*</sup>
	<select ng-options="v.id as v.label disable when (!v.active && v.id !== ca.failedReason) for v in (constants['ActivityFailedReason'] | activityFailedReasons: false : [ca])"
		class="form-control" ng-model="ca.failedReason">
		<option value="" />
	</select>
</div>
<div class="form-group col-md-4">
	<label class="control-label">Esito somministrazione</label><sup>*</sup>
	<select id="detail.sex" ng-options="v.id as v.label disable when (!v.active && v.id !== ca.drugAdministrationResult) for v in constants['ComplementaryDrugAdministrationResult']"
		class="form-control" ng-model="ca.drugAdministrationResult">
		<option value="" />
	</select>
</div>
<div class="form-group col-md-4">
	<label class="control-label">Data somministrazione</label>
	<div class="input-group">
		<input type="text" class="form-control" format-date ng-readonly="true" ng-model="ca.drugAdministrationDate">
		<span class="input-group-btn">
			<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
				<i class="material-icons">date_range</i>
			</button>
		</span>
	</div>
</div>
<div class="form-group col-md-12" ng-if="ca.status == 'NOT_COMPLETED'">
	<label class="control-label">Note mancata infusione</label>
	<textarea type="text" rows="4" class="form-control" ng-model="ca.failedReasonDetail"/>
</div>