<div class="row" ng-if="form.dependingActivities !== undefined && form.dependingActivities.length > 0">
	<div class="col-md-12">
		<h4 class="b-b b-3x">Attività successive avviabili</h4>
	</div>
</div>
<ul class="list-group list-group-lg m-b-none" ng-if="form.dependingActivities !== undefined && form.dependingActivities.length > 0">
	<li class="list-group-item no-padder m-t" ng-repeat="ma in form.dependingActivities track by $index">
		<div class="hbox wrapper-sm {{ma.manualActivity ? 'b-b b-light' : ''}}">
			<div class="col v-middle text-left">
				<div class="pull-left m-r">
					<label class="h4 bg-warning avatar thumb text-center w-full" ng-if="ma.manualActivity" style="line-height: 50px;" title="Attività manuale">M</label>
					<label class="h4 bg-success avatar thumb text-center w-full" ng-if="!ma.manualActivity" style="line-height: 50px;" title="Attività automatica">A</label>
				</div>
				<div class="clear">
					<label class="h4">{{ma.name}}</label>
					<p class="hidden-xs hidden-md">{{ma.description}}</p>
				</div>
			</div>
			<div class="col v-middle text-right">
				<button user-master-activity-conf-modal="form.dependingActivities[$index].id" type="button"
					class="btn btn-rounded btn-default btn-sm btn-icon waves-effect waves-light pull-right"
					title="Dettaglio">
					<i class="material-icons">person</i>
				</button>
			</div>
		</div>
		<div class="row wrapper-sm" ng-if="form.dependingActivities[$index].manualActivity || ma.ownerType == 'SUPPLIER' || (ma.enableSuggestedDateVisible && loggedUser.type == 'INTERNAL_STAFF') || (ma.enableSuggestedDate && loggedUser.type == 'SUPPLIER')">
			<div class="form-group col-xs-6 col-md-2" ng-if="form.dependingActivities[$index].manualActivity">
				<label class="control-label">Seleziona per l'avvio</label>
				<div class="radio m-b-none">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="ma.running || !ma.selectable  || detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="ma.selected">
						<i tooltip="{{errors['form.dependingActivities[$index].selected']}}" ng-class="{error: errors['form.dependingActivities[$index].selected']}"></i>Si
					</label>
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="ma.running || !ma.selectable || detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="ma.selected">
						<i tooltip="{{errors['form.dependingActivities[$index].selected']}}" ng-class="{error: errors['form.dependingActivities[$index].selected']}"></i>No
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="undefined" ng-false-value="null" 
						ng-disabled="ma.running || !ma.selectable || detail.assignee==undefined || detail.assignee!=loggedUser.nickName" 
						ng-model="ma.selected">
						<i tooltip="{{errors['form.dependingActivities[$index].selected']}}" ng-class="{error: errors['form.dependingActivities[$index].selected']}"></i>Non so
					</label>
				</div>
			</div>
			<div class="form-group col-xs-6 col-md-2" ng-if="form.dependingActivities[$index].manualActivity">
				<label class="control-label">Avviata</label>
				<div class="radio m-b-none">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="true" ng-model="ma.running">
						<i tooltip="{{errors['form.dependingActivities[$index].running']}}" ng-class="{error: errors['form.dependingActivities[$index].running']}"></i>Si
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="true" ng-model="ma.running">
						<i tooltip="{{errors['form.dependingActivities[$index].running']}}" ng-class="{error: errors['form.dependingActivities[$index].running']}"></i>No
					</label>
				</div>
			</div>
			<div class="form-group col-md-12 no-padder" ng-if="ma.ownerType == 'SUPPLIER'">
				<div class="form-group col-md-3 m-l-none" ng-if="(ma.enableSuggestedDateVisible || ma.enableSuggestedDate) && (loggedUser.type == 'INTERNAL_STAFF' || loggedUser.type == 'SUPPLIER')">
					<label class="control-label">Data prevista</label>
					<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="form.dependingActivities[$index].planningDate">
				</div>
				<div class="form-group col-md-3" ng-if="ma.enableSuggestedDateVisible && loggedUser.type == 'INTERNAL_STAFF'">
					<label class="control-label">L'Operatore Sanitario può suggerire la data dell'attività?</label>
					<div class="radio m-b-none">
						<label class="i-checks m-r">
							<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="ma.enableSuggestedDate">
							<i tooltip="{{errors['form.dependingActivities[$index].enableSuggestedDate']}}" ng-class="{error: errors['form.dependingActivities[$index].enableSuggestedDate']}"></i>Si
						</label>
						<label class="i-checks">
							<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="ma.enableSuggestedDate">
							<i tooltip="{{errors['form.dependingActivities[$index].enableSuggestedDate']}}" ng-class="{error: errors['form.dependingActivities[$index].enableSuggestedDate']}"></i>No
						</label>
					</div>
				</div>	
				<div class="form-group col-md-3" ng-if="(ma.enableSuggestedDateVisible || ma.enableSuggestedDate) && ( (loggedUser.type == 'INTERNAL_STAFF') || loggedUser.type == 'SUPPLIER')">
					<label class="control-label">Data suggerita attività</label>
					<div class="input-group">
						<input id ="'suggestedDate_'+$index" type="text" class="form-control" format-date-time ng-readonly="true" ng-model="ma.suggestedDate" tooltip="{{warnings['suggestedDate_'+$index]}}" 
							ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || !ma.enableSuggestedDate || loggedUser.type !== 'SUPPLIER'"
							ng-class="{warning: warnings['suggestedDate_'+$index]}" ng-change="controllSuggestedDate($index)">
						<span class="input-group-btn">
							<button ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || !ma.enableSuggestedDate || loggedUser.type !== 'SUPPLIER'"
								type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" >
								<i class="material-icons">date_range</i>
							</button>
						</span>
					</div>
				</div>
				<div class="col-md-12" ng-if="warnings['suggestedDate_'+$index]">
					<div class="alert warning" role="alert">{{warnings['suggestedDate_'+$index]}}</div>
				</div>
				<div class="form-group col-md-12" ng-if="ma.enableSuggestedDate && loggedUser.type == 'SUPPLIER'">
					<label class="control-label">Altri suggerimenti</label>
					<textarea class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-model="ma.otherSuggestions" 
						tooltip="{{errors['form.dependingActivities[$index].otherSuggestions']}}" ng-class="{error: errors['form.dependingActivities[$index].otherSuggestions']}" />
				</div>
			</div>
		</div>
	</li>
</ul>