<div class="col-md-12" ng-if="prop.value" ng-init="form = prop.value">
	<label class="control-label" ng-if="!form">Errore in fase di caricamento dei dati</label>
	<div class="row">
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Dettaglio servizio</h4>
		</div>
		<div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
			<label class="control-label">Nome</label>
			<input type="text" class="form-control" ng-disabled="true" ng-model="form.name"
				tooltip="{{errors['form.name']}}" ng-class="{error: errors['form.name']}">
		</div>
		<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
			<label class="control-label">Descrizione</label>
			<textarea class="form-control" ng-disabled="true" ng-model="form.description"
				tooltip="{{errors['form.description']}}" ng-class="{error: errors['form.description']}"></textarea>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">Data di inizio</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true"
					tooltip="{{errors['form.startDate']}}" ng-class="{error: errors['form.startDate']}" ng-model="form.startDate">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">Data di fine</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true"
					tooltip="{{errors['form.endDate']}}" ng-class="{error: errors['form.endDate']}" ng-model="form.endDate">
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">{{ form.user.type | constantLabel:'UserType' }}<sup>*</sup></label>
			<div class="input-group">
				<input value="{{form.user.title | constantLabel:'UserTitle'}} {{form.user.lastName}} {{form.user.firstName}}"
					tooltip="{{errors['form.user']}}" ng-class="{error: errors['form.user']}" type="text" class="form-control"
					ng-disabled="true">
				<span class="input-group-btn">
					<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="form.user.id"
						user-type="form.user.type" multiple-list="false" title="Dettaglio">
						<i class="material-icons">person</i>
					</button>
				</span>		
			</div>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">Prossimo stato del servizio</label>
			<select ng-model="form.nextStatus"  ng-options="v.id as v.label for v in constants['ServiceStatus'] | constantActive"
				class="form-control" ng-model="form.nextStatus" tooltip="{{errors['form.nextStatus']}}" ng-disabled="true" 
				ng-class="{error: errors['form.nextStatus']}">
				<option value=""></option>
			</select>
		</div>
	</div>
	<div class="row" ng-if="form.dependingServices !== undefined && form.dependingServices.length > 0">
		<div class="form-group col-md-12">
			<h4 class="b-b b-3x">Servizi da avviare</h4>
		</div>
		<div class="row">
			<div class="col-md-12" ng-repeat="dependingService in form.dependingServices track by $index">
				<div class="col-md-8">
					<label class="control-label">{{dependingService.name}}</label>
					<select ng-if="dependingService.services.length > 0" ng-options="v.id as v.name for v in dependingService.services" ng-model="dependingService.selectedServiceConfId"
						class="form-control" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || !dependingService.serviceSelected">
						<option value="" />
					</select>
				</div>
				<div class="col-md-4" ng-if="!dependingService.mandatory">
					<label class="control-label">Avviare il servizio?</label>
					<div class="radio m-b-none">
						<label class="i-checks m-r">
							<input type="checkbox" ng-true-value="true" ng-false-value="undefined"
								ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
								ng-model="dependingService.serviceSelected">
							<i tooltip="{{errors['form.dependingServices[$index].serviceSelected']}}" ng-class="{error: errors['form.dependingActivities[$index].serviceSelected']}"></i>Si
						</label>
						<label class="i-checks">
							<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-change="dependingService.selectedServiceConfId = undefined"
								ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName"
								ng-model="dependingService.serviceSelected">
							<i tooltip="{{errors['form.dependingActivities[$index].serviceSelected']}}" ng-class="{error: errors['form.dependingActivities[$index].serviceSelected']}"></i>No
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>