<div class="row" ng-if="form.dependingServices !== undefined && form.dependingServices.length > 0">
	<div class="col-md-12">
		<h4 class="b-b b-3x">Servizi successivi avviabili</h4>
	</div>
</div>
<ul class="list-group list-group-lg m-b-none" ng-if="form.dependingServices !== undefined && form.dependingServices.length > 0">
	<li class="list-group-item no-padder m-t" ng-repeat="dependingService in form.dependingServices track by $index">
		<div class="hbox wrapper-sm b-b b-light">
			<div class="col v-middle text-left">
				<div class="pull-left m-r">
					<label class="h4 bg-warning avatar thumb text-center w-full" ng-if="!dependingService.mandatory || dependingService.services.length > 1"
						style="line-height: 50px;" title="Servizio manuale">M</label>
					<label class="h4 bg-warning avatar thumb text-center w-full" ng-if="dependingService.mandatory && dependingService.services.length == 1"
						style="line-height: 50px;" title="Servizio automatico">A</label>
				</div>
				<div class="clear">
					<label class="h4">{{dependingService.name}}</label>
					<p class="hidden-xs hidden-md">{{dependingService.description}}</p>
				</div>
			</div>
		</div>
		<div class="form-horizontal wrapper-sm" ng-if="!dependingService.mandatory || dependingService.services.length > 1">
			<div class="row">
				<div class="col-md-6 v-middle text-left" ng-if="dependingService.services.length > 1">
					<select ng-options="v.id as v.name for v in dependingService.services" ng-model="dependingService.selectedServiceConfId" class="form-control"
						ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || !dependingService.serviceSelected">
						<option value="" />
					</select>
				</div>
				<div class="col-md-6 v-middle text-left" ng-if="!dependingService.mandatory">
					<div class="row">
						<label class="col-xs-3 control-label">Avviare il servizio?</label>
						<div class="col-xs-9">
							<div class="radio m-b-none">
								<label class="i-checks m-r">
									<input type="checkbox" ng-true-value="true" ng-false-value="undefined"
										ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || !isInternalStaff()"
										ng-model="dependingService.serviceSelected">
									<i tooltip="{{errors['form.dependingServices[$index].serviceSelected']}}" ng-class="{error: errors['form.dependingActivities[$index].serviceSelected']}"></i>Si
								</label>
								<label class="i-checks">
									<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-change="dependingService.selectedServiceConfId = undefined"
										ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName || !isInternalStaff()"
										ng-model="dependingService.serviceSelected">
									<i tooltip="{{errors['form.dependingActivities[$index].serviceSelected']}}" ng-class="{error: errors['form.dependingActivities[$index].serviceSelected']}"></i>No
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>