<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Notifiche e messaggi</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Notifiche e messaggi</h3>
</div>
<div class="{{!popup ? '' : 'modal-body'}}" communication-messages-list>