<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Formazione</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-4 col-xs-12" ng-if="fieldPermissions['trainingDate'].VIEW">
									<label class="control-label">Data</label><sup>*</sup>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true"
											ng-disabled="!fieldPermissions['trainingDate'].UPDATE" ng-model="detail.trainingDate" 
											error-tooltip>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['trainingDate'].UPDATE">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-4 col-xs-12" ng-if="fieldPermissions['trainingSubject'].VIEW" >
									<label class="control-label">Tema</label><sup>*</sup>
									<span class="input-group-btn">
										<ui-select id="detail.trainingSubject"  ng-model="detail.trainingSubject"
											theme="bootstrap" ng-disabled="detail.id != undefined"
											error-tooltip>
											<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$select.selected.title}}</strong></ui-select-match>
											<ui-select-choices repeat="subject in selects['TrainingSubjects'] | filter: $select.search">
												<div ng-bind-html="subject.title | highlight: $select.search"></div>
											</ui-select-choices>
										</ui-select>
									</span>
								</div>
								<div class="form-group col-md-4 col-xs-12" ng-if="fieldPermissions['durationHours'].VIEW" >
									<label class="control-label">Durata sessione (ore)</label><sup>*</sup>
									<input type="number" class="form-control" ng-disabled="!fieldPermissions['durationHours'].UPDATE"
										ng-model="detail.durationHours" error-tooltip>
								</div>
								<div class="form-group col-md-4" ng-if="fieldPermissions['type'].VIEW" >
									<label class="control-label">Tipo </label><sup>*</sup>
									<select id="detail.type" ng-disabled="!fieldPermissions['type'].UPDATE" 
										ng-options="v.id as v.label disable when (!v.active && v.id !== detail.type) for v in constants['TrainingType']"
										class="form-control" ng-model="detail.type" error-tooltip>
										<option value="" />
									</select>
								</div>
								<div class="form-group col-md-8" ng-if="fieldPermissions['location'].VIEW" >
									<label class="control-label">Luogo</label>
									<input type="text" id="detail.location" class="form-control" ng-model="detail.location"
										ng-disabled="!fieldPermissions['location'].UPDATE" error-tooltip>
								</div>
								<div class="form-group col-md-4" ng-if="fieldPermissions['trainerType'].VIEW" >
									<label class="control-label">Tipo trainer</label><sup>*</sup>
									<select id="detail.trainerType" ng-disabled="!fieldPermissions['trainerType'].UPDATE" 
										ng-options="v.id as v.label disable when (!v.active && v.id !== detail.trainerType) for v in constants['PharmacyTrainerType']"
										class="form-control" ng-model="detail.trainerType" error-tooltip>
										<option value="" />
									</select>
								</div>
								<div class="form-group col-md-8" ng-if="fieldPermissions['trainerTypeOther'].VIEW" >
									<label class="control-label">Altro</label>
									<input type="text" id="detail.trainerTypeOther" class="form-control" ng-model="detail.trainerTypeOther"
										ng-disabled="!fieldPermissions['trainerTypeOther'].UPDATE" error-tooltip>
								</div>
								<div class="form-group col-md-12" ng-if="fieldPermissions['trainerNotes'].VIEW" >
									<label class="control-label">Note trainer</label>
									<textarea id="detail.trainerNotes" rows="4" class="form-control"
										ng-model="detail.trainerNotes" error-tooltip
										ng-disabled="!fieldPermissions['trainerNotes'].UPDATE" />
								</div>
								<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW" >
									<label class="control-label">Note interne</label>
									<textarea id="detail.internalNotes" rows="4" class="form-control"
										ng-model="detail.internalNotes" error-tooltip
										ng-disabled="!fieldPermissions['internalNotes'].UPDATE" />
								</div>		
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
		</tab>
		<tab ng-if="detail.id">
			<tab-heading>
				<i class="material-icons">file_upload</i>
				<span>Documenti</span>
			</tab-heading>
			<div ng-if="detail.id" documents="id" program-id="detail.program.id" entity-type="'DOCUMENT_PHARMACY_TRAINING_SESSION'" />
		</tab>
	</tabset>
</div>