<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista formazioni</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body'}}">
<!-- 	<div class="wrapper-sm"> -->
<!-- 		<div class="row"> -->
<!-- 			<div class="col-lg-12"> -->
<!-- 				<div class="panel panel-default m-n"> -->
<!-- 					<div class="panel-body"> -->
<!-- 						<form name="form" class="form-validation" novalidate ng-submit="search()"> -->
<!-- 							<div class="row"> -->
<!-- 								<div class="col-lg-12 text-right"> -->
<!-- 									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca"> -->
<!-- 										Cerca -->
<!-- 									</button> -->
<!-- 									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella"> -->
<!-- 										Cancella -->
<!-- 									</button> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</form> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Formazioni</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a pharmacy-training-session-detail detail-id="''" view="detailView" is-modal="isModal || detailView === undefined"
						            			new-default-data="{pharmacyId: pharmacyId}" post-fn="search">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th st-sort="trainingSubject">Tema</th>
										<th style="width: 30px; padding: 0;" ng-if="!isSelection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" pharmacy-training-session-detail detail-id="row.id" view="detailView" post-fn="search"
										is-modal="isModal || detailView === undefined">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
												<i />
											</label>
										</td>
										<td ng-bind="row.trainingSubject.title" />
										<td ng-if="!isSelection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="4">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="4" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>