<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista patologie</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			

			<div class="col-lg-12" ng-if="loggedUser.type!='PATIENT' && loggedUser.type!='HCP'">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-md-6">
									<label>Data da</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.DATE_FROM">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label>Data a</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.DATE_TO">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="headerDoctor text-right m-t" ng-if="loggedUser.type=='PATIENT' || loggedUser.type=='HCP'">
				<div class="filterClone inline">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''" role="button" tabindex="0">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup" aria-hidden="false">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-default m-n">
									<div class="panel-body">
										<form name="form" class="form-validation" novalidate ng-submit="search()">
											<div class="row">
												<div class="form-group col-md-6">
													<label>Data da</label>
													<div class="input-group">
														<input type="text" class="form-control" format-date default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.DATE_FROM">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
												<div class="form-group col-md-6">
													<label>Data a</label>
													<div class="input-group">
														<input type="text" class="form-control" format-date default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.DATE_TO">
														<span class="input-group-btn">
															<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
																<i class="material-icons">date_range</i>
															</button>
														</span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 text-right">
													<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
														Cerca
													</button>
													<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
														Cancella
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

	
		</div>
	</div>
	<div class="wrapper-sm m-t main-dashboard">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Peso</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="false && !isSelection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a patient-weight-detail detail-id="''" view="detailView" is-modal="isModal || detailView === undefined"
						            			new-default-data="{patientId: patientId}" post-fn="search">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">		
								<thead>
									<tr>
										<th style="width: 1%;" ng-if="isSelection" />
										<th st-sort="o.date" st-sort-default="reverse">Data</th>
										<th st-sort="o.patient.lastName">Cognome</th>
										<th st-sort="o.patient.firstName">Nome</th>
										<th st-sort="o.weight">Peso</th>
										<th style="width: 30px; padding: 0;" ng-if="!isSelection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" patient-weight-detail detail-id="row.id" view="detailView" post-fn="search"
										is-modal="isModal || detailView === undefined">
										<td ng-if="isSelection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected">
												<i />
											</label>
										</td>
										<td ng-bind="row.date | formatDate" />
										<td ng-bind="row.patient.firstName" />
										<td ng-bind="row.patient.lastName" />
										<td ng-bind="row.weight" />
										<td ng-if="!isSelection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>					
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="4">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length>0">
									<tr>
										<th colspan="4" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>								
							</table>
						</div>
					</div>	       		
				</div>
			</div>
		</div>
	</div>
</div>