<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup && $state.current.name != 'app.profile'">
	<li><a ui-sref="app.hcps">Lista Consegne / Spedizioni</a></li>
	<li class="active">{{ detail.type==undefined ? 'Consegna / Spedizione' : detail.type=='SHIPPING' ? 'Spedizione' : 'Consegna' }}  {{detail.code}}</li>
</ul>
<div class="m-t-xxl wrapper-sm">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Dettagli">
				<tab-heading>
					<i class="material-icons">pin_drop</i>
					<span>Dettagli</span>
				</tab-heading>
				<div ng-include="'tpl/app/directive/material/material-delivery/material-delivery-data.html'"></div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>