<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
		<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Avvia servizio {{detail.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-with-footer'}}">
	<div class="row">
		<div class="col-lg-12">
			<label class="control-label">Data di avvio del servizio</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date ng-readonly="true" 
					ng-model="detail.startDate" tooltip="{{errors['detail.startDate']}}" ng-class="{error: errors['detail.startDate']}"> 
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary waves-effect waves-light" ng-click="startUserServiceManually(detail.id)" title="Ok">Ok</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">Annulla</button>
</div>