<div class="wrapper-sm" ng-if="isInternalStaff() && !isPersonified()">
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary waves-effect waves-light pull-right" ng-click="checkServices()" title="Aggiorna servizi">
				Aggiorna servizi
			</button>
		</div>
	</div>
</div>
<div class="{{isInternalStaff() ? '' : 'm-t-xxl'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-md-3">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.NAME">
								</div>
								<div class="form-group col-md-3">
									<label>Data inizio</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true" ng-model="searchFilters.filters.START_DATE">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-md-3">
									<label>Data fine</label>
									<div class="input-group">
										<input type="text" class="form-control" format-date ng-readonly="true" ng-model="searchFilters.filters.END_DATE">
										<span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
												<i class="material-icons">date_range</i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group col-lg-3">
									<label>Stato</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.STATUS) for v in constants['ServiceStatus'] | constantActive"
										class="form-control" ng-model="searchFilters.filters.STATUS">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default" ng-if="showList">
						<div class="row" st-pipe="search" st-table="list">
							<div class="col-sm-12">
								<div class="bg-secondary wrapper-xs">
									<div class="inline">
										<h4 class="m-sm">Servizi</h4>
									</div>
									<div class="btn-group dropdown pull-right" dropdown ng-if="canInsert">
							        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
							         		<i class="material-icons">view_list</i>
							    		</button>
							        	<ul class="dropdown-menu pull-right">
							            	<li>
							            		<a user-modal="row.id" user-type="row.type">
							            			<i class="material-icons">add</i>
							            			<span>Nuovo</span>
							            		</a>
							            	</li>
							            	<li>
							            		<a ng-click="exportXls(false)">
							            			<i class="material-icons">file_download</i>
							            			<span>Esporta Pagina</span>
							            		</a>
							            	</li>
							            	<li>
							            		<a ng-click="exportXls(true)">
							            			<i class="material-icons">file_download</i>
							            			<span>Esporta Tutto</span>
							            		</a>
							            	</li>
							        	</ul>
							    	</div>
							    </div>
								<table class="table">
									<thead>
										<tr>
											<th st-sort="name">Nome</th>
											<th st-sort="startDate" st-sort-default="default">Data inizio</th>
											<th st-sort="endDate">Data fine</th>
											<th>Stato</th>
											<th style="width: 30px; padding: 0;" />
										</tr>
									</thead>
									<tbody class="bg-white">
										<tr ng-repeat="row in list" user-service-modal="row.id">
											<td ng-bind="row.name" />
											<td ng-bind="row.startDate | formatDate" />
											<td ng-bind="row.endDate | formatDate" />
											<td ng-bind="row.status | constantLabel:'ServiceStatus'" />
											<td style="padding: 0;">
												<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();"
													ng-if="false">
										        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
										         		<i class="material-icons">more_vert</i>
										    		</button>
										        	<ul class="dropdown-menu pull-right">
										        	</ul>
										    	</div>
											</td>
										</tr>
									</tbody>
									<tbody ng-show="list == undefined || list.length==0">
										<tr>
											<td colspan="5" >
												<div class="text-muted"><i>Nessun dato trovato</i></div>
											</td>
										</tr>
									</tbody>
									<tfoot ng-show="list != undefined && list.length > 0">
										<tr>
											<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
										</tr>
									</tfoot>
								</table>
							</div>
						</div>	   
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	