<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
    <li><a ui-sref="app.diseases">Lista servizi</a></li>
    <li class="active">{{detail.name}}</li>
</ul>
<div class="modal-header" ng-if="popup">
    <button type="button" ng-click="modal.dismiss()" class="close">
        <i class="material-icons">clear</i>
    </button>
    <h3 class="modal-title" style="min-height: 34px">{{detail.name}} </h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<div  class="spacer hidden-buttons">
    <tabset class="tab-container" scrollable>
        <tab>
            <tab-heading>
                <i class="material-icons">format_list_bulleted</i>
                <span>Anagrafica</span>
            </tab-heading>
            <div class="row" ng-if="canUpdate">
                <div class="col-md-12 text-right">
                    <button class="btn btn-icon btn-success waves-effect waves-light" ng-if="canActivate && (detail.status === 'WAITING' || detail.status === 'SUSPENDED')" ng-click="activateServicesConf(serviceConf.id)" title="Attiva">
                        <i class="material-icons">play_arrow</i>
                    </button>
                    <button class="btn btn-icon btn-warning waves-effect waves-light" ng-if="canSuspend && detail.status === 'ACTIVE'" ng-click="suspendServicesConf(detail.id)" title="Annulla">
                        <i class="material-icons">pause</i>
                    </button>
                    <button class="btn btn-icon btn-danger btn-default waves-effect waves-light" ng-if="canTerminate && detail.status === 'ACTIVE'" ng-click="terminateServicesConf(serviceConf.id)" title="Termina">
                        <i class="material-icons">stop</i>
                    </button>
                    <button class="btn btn-icon btn-warning btn-default waves-effect waves-light" ng-if="canSwitch" ng-click="switchServicesConf(detail.id)" title="Switch">
                        <i class="material-icons">compare_arrows</i>
                    </button>
                    <button class="btn btn-icon btn-danger btn-default waves-effect waves-light" ng-if="canTerminate && detail.startEvent === 'MANUAL_ACTION' && detail.status === 'WAITING'" ng-click="startService(serviceConf)" title="Termina">
                        <i class="material-icons">stop</i>
                    </button>
                    <button class="btn btn-primary waves-effect waves-light" ng-if="canUpdate" ng-click="save()" title="Salva">
                        Salva
                    </button>
                    <button class="btn btn-default waves-effect waves-light" ng-if="canUpdate" ng-click="undo()" title="Annulla">
                        Annulla
                    </button>
                </div>
            </div>
            <div class="row m-t">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Dati principali</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
                                    <label class="control-label">Nome</label><sup>*</sup>
                                    <input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
                                </div>
                                <div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
                                    <label class="control-label">Descrizione</label>
                                    <textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}" />
                                </div>
                                <div class="form-group col-md-6" ng-if="fieldPermissions['startDate'].VIEW">
                                    <label class="control-label">Data di inizio</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['startDate'].UPDATE" ng-model="detail.startDate" tooltip="{{errors['detail.startDate']}}" ng-class="{error: errors['detail.startDate']}">
                                        <span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['startDate'].UPDATE">
												<i class="material-icons">date_range</i>
											</button>
										</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" ng-if="fieldPermissions['endDate'].VIEW">
                                    <label class="control-label">Data di fine</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['endDate'].UPDATE" ng-model="detail.endDate" tooltip="{{errors['detail.endDate']}}" ng-class="{error: errors['detail.endDate']}">
                                        <span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['endDate'].UPDATE">
												<i class="material-icons">date_range</i>
											</button>
										</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" ng-if="fieldPermissions['startDelay'].VIEW">
                                    <label class="control-label">Avvia il servizio dopo</label>
                                    <div class="input-group">
                                        <input type="text" id="detail.startDelay" class="form-control" ng-disabled="!fieldPermissions['startDelay'].UPDATE" ng-model="detail.startDelay" tooltip="{{errors['detail.startDelay']}}" ng-class="{error: errors['detail.startDelay']}">
                                        <span class="input-group-btn with-select" ng-if="fieldPermissions['startDelayUnit'].VIEW">
											<select class="btn btn-default btn-sm" ng-model="detail.startDelayUnit" ng-disabled="!fieldPermissions['startDelay'].UPDATE" tooltip="{{errors['detail.startDelayUnit']}}" ng-class="{error: errors['detail.startDelayUnit']}" 
											ng-change="errors['detail.startDelayUnit'] = undefined" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.startDelayUnit) for v in constants['TimeUnit']"
											ng-disabled="!fieldPermissions['startDelayUnit'].UPDATE">
												<option value="">Seleziona unità di tempo</option>			    				
											</select>
										</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" ng-if="fieldPermissions['startEvent'].VIEW">
                                    <label class="control-label">Dall'evento</label>
                                    <select ng-options="v.id as v.label disable when (!v.active && v.id !== detail.startEvent) for v in constants['ServiceStartEvent']" class="form-control" ng-model="detail.startEvent" tooltip="{{errors['detail.startEvent']}}" ng-class="{error: errors['detail.startEvent']}" 
                                    	ng-disabled="false">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6" ng-if="fieldPermissions['dependingServices'].VIEW" ng-repeat="dependingService in detail.dependingServices">
                                    <label class="control-label">{{dependingService.name}}</label>
                                    <select ng-options="v.id as v.name for v in serviceConfs[dependingService.uniqueKey]" ng-model="dependingService.selectedServiceConfId" class="form-control" tooltip="{{errors['detail.dependingServices']}}" ng-class="{error: errors['detail.dependingServices']}" ng-disabled="!fieldPermissions['dependingServices'].UPDATE">
                                        <option value="" />
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" >
                                    <div ng-repeat="activity in detail.activities" ng-if="activity.code == 'QUIPERTE_DRUG_DELIVERY'">
                                        <label class="control-label">Frequenza consegna farmaco</label>
                                        <div class="input-group">
                                            <input type="number" id="detail.recursiveDelayTime" class="form-control" ng-disabled="activity.status != 'ACTIVE'" 
                                            	ng-model="detail.recursiveDelayTime" tooltip="{{errors['detail.recursiveDelayTime']}}" ng-class="{error: errors['detail.recursiveDelayTime']}">
                                            <span class="input-group-btn with-select"> 
												<select class="btn btn-default btn-sm" ng-model="detail.recursiveDelayTimeUnit" tooltip="{{errors['detail.recursiveDelayTimeUnit']}}"
													ng-class="{error: errors['detail.recursiveDelayTimeUnit']}" ng-change="errors['detail.recursiveDelayTimeUnit'] = undefined"
													ng-disabled="activity.status != 'ACTIVE'"
													ng-options="v.id as v.label disable when (!v.active && v.id !== recursiveDelayTimeUnit) for v in constants['TimeUnit']">
													<option value="">Seleziona unità di tempo</option>
												</select>
											</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" ng-if="fieldPermissions['activities'].VIEW">
                                <div class="panel panel-default">
                                    <div class="row" st-table="detail.activities">
                                        <div class="col-sm-12">
                                            <div class="bg-secondary wrapper-xs">
                                                <div class="inline">
                                                    <h4 class="m-sm">Attività previste dal servizio</h4>
                                                </div>
                                            </div>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th class="hidden-xs hidden-sm hidden-md">Tipo</th>
                                                        <th>Stato</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="bg-white">
                                                    <tr ng-repeat="row in detail.activities" user-master-activity-conf-modal="row.id">
                                                        <td ng-bind="row.name" />
                                                        <td class="hidden-xs hidden-sm hidden-md" ng-bind="row.type | constantLabel:'MasterActivityType'" />
                                                        <td ng-bind="row.status | constantLabel:'EntityStatus'" />
                                                    </tr>
                                                </tbody>
                                                <tbody ng-show="detail.activities == undefined || detail.activities.length==0">
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="text-muted"><i>Nessun dato trovato</i></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot ng-show="detail.activities != undefined && detail.activities.length > 0">
                                                    <tr>
                                                        <th colspan="5" class="text-center" st-pagination="" st-items-by-page="serviceConfPagination.size" st-displayed-pages="3" />
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="canUpdate">
                <div class="col-md-12 text-right">
                    <button class="btn btn-icon btn-success waves-effect waves-light" ng-if="canActivate && (detail.status === 'WAITING' || detail.status === 'SUSPENDED')" ng-click="activateServicesConf(serviceConf.id)" title="Attiva">
                        <i class="material-icons">play_arrow</i>
                    </button>
                    <button class="btn btn-icon btn-warning waves-effect waves-light" ng-if="canSuspend && detail.status === 'ACTIVE'" ng-click="suspendServicesConf(serviceConf.id)" title="Annulla">
                        <i class="material-icons">pause</i>
                    </button>
                    <button class="btn btn-icon btn-danger btn-default waves-effect waves-light" ng-if="canTerminate && detail.status === 'ACTIVE'" ng-click="terminateServicesConf(serviceConf.id)" title="Termina">
                        <i class="material-icons">stop</i>
                    </button>
                    <button class="btn btn-icon btn-warning btn-default waves-effect waves-light" ng-if="canSwitch" ng-click="switchServicesConf(detail.id)" title="Switch">
                        <i class="material-icons">compare_arrows</i>
                    </button>
                    <button class="btn btn-icon btn-danger btn-default waves-effect waves-light" ng-if="canTerminate && detail.startEvent === 'MANUAL_ACTION' && detail.status === 'WAITING'" ng-click="startService(serviceConf)" title="Termina">
                        <i class="material-icons">stop</i>
                    </button>
                    <button class="btn btn-primary waves-effect waves-light" ng-if="canUpdate" ng-click="save()" title="Salva">
                        Salva
                    </button>
                    <button class="btn btn-default waves-effect waves-light" ng-if="canUpdate" ng-click="undo()" title="Annulla">
                        Annulla
                    </button>
                </div>
            </div>
        </tab>
        <tab ng-disabled="isNew()" select="userActivityRenderer = true">
            <tab-heading>
                <i class="material-icons">directions_run</i>
                <span>Attività</span>
            </tab-heading>
            <div ng-if="userActivityRenderer" user-activities service-id="detail.id" />
        </tab>
    </tabset>
    </div>
</div>