<div class="modal-header {{dialogStyle}}">
	<button type="button" ng-click="dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Attivazione</h3>
</div>
<div class="modal-body text-md modal-with-footer">
	<div class="panel-body">
		<div class="row" ng-if="fieldPermissions['preferredContacts'].VIEW">
			<div class="form-group col-lg-12">
			    <label class="control-label">Preferenze di contatto</label>
				<div class="input-group col-md-12" ng-repeat="contactUser in constants['PreferredContactType']" ng-if="contactUser.active">
	              <label class="control-label">{{contactUser.label}}</label>
	               	<div class="checkbox-inline">
	               		<label class="i-checks m-r">
							<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="true" ng-model="contactMethodsType[contactUser.id]">
							<i></i>Si
						</label>
						<label class="i-checks">
							<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="true" ng-model="contactMethodsType[contactUser.id]">
							<i></i>No
						</label>
	               	</div>
	            </div>
			</div>
		</div>
		<div class="row" ng-if="(enabledTypes.indexOf('EMAIL')>=0 && user.email!=undefined && user.email!='') || (enabledTypes.indexOf('SMS')>=0 && user.cellPhoneNumber!=undefined && user.cellPhoneNumber!='')">
			<div class="form-group col-lg-12">
				<label class="control-label">Indicare metodo di invio notifica attivazione utente</label>
				<div class="input-group col-md-12" ng-if="enabledTypes.indexOf('EMAIL')>=0 && user.email!=undefined && user.email!=''">
	              <label class="control-label">Email</label>
	               	<div class="checkbox-inline">
	               		<label class="i-checks m-r">
							<input id="emailNotification" type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detailActivate.emailNotification">
							<i tooltip="{{errors['detailActivate.emailNotification']}}" ng-class="{error: errors['detailActivate.emailNotification']}"></i>Si
						</label>
						<label class="i-checks">
							<input id="emailNotification" type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detailActivate.emailNotification">
							<i tooltip="{{errors['detailActivate.emailNotification']}}" ng-class="{error: errors['detailActivate.emailNotification']}"></i>No
						</label>
	               	</div>
	            </div>
	            <div class="input-group col-md-12" ng-if="enabledTypes.indexOf('SMS')>=0 && user.cellPhoneNumber!=undefined && user.cellPhoneNumber!=''">
	              <label class="control-label">Sms</label>
	               	<div class="checkbox-inline">
	               		<label class="i-checks m-r">
							<input id="smsNotification" type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detailActivate.smsNotification">
							<i tooltip="{{errors['detailActivate.smsNotification']}}" ng-class="{error: errors['detailActivate.smsNotification']}"></i>Si
						</label>
						<label class="i-checks">
							<input id="smsNotification" type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detailActivate.smsNotification">
							<i tooltip="{{errors['detailActivate.smsNotification']}}" ng-class="{error: errors['detailActivate.smsNotification']}"></i>No
						</label>
	               	</div>
	            </div>
			</div>
		</div>
		
		<!-- Gateway CROSS-PSP: se ci sono portali collegati a questo allora proponi scelta  -->
		<div class="row" ng-if="relatedPortals!=undefined && relatedPortals.length>0 && user.type == 'HCP'">
			<div class="form-group col-lg-12" ng-if="canInvite && user.email!=undefined && user.email!=''">
				<label class="control-label">Selezionare come l'utente accederà al portale</label>
				<div class="input-group col-md-12">
	               	<div class="radio">
	               		<label class="i-checks">
							<input id="userBindAccount" type="radio" value="binded" ng-model="detailActivate.accountType" ng-change="unbindAccount()">
							<i></i>Utilizzando le stesse credenziali che con cui già accede ad altri Programmi ItaliAssistenza
						</label>
						<br/>
						<label class="i-checks">
							<input id="userBindAccount" type="radio" value="unbinded" ng-model="detailActivate.accountType" ng-change="unbindAccount()">
							<i></i>Utilizzando delle nuove credenziali, valide solo per questo Programma
						</label>
	               	</div>
	            </div>
			</div>	
		</div>
		
		<div class="row" ng-if="user.type!='HCP' || relatedPortals==undefined || relatedPortals.length==0 || (detailActivate.accountType=='unbinded')">
			<div class="form-group col-lg-12" ng-if="canInvite && user.email!=undefined && user.email!=''">
				<label class="control-label">Invito registrazione utente</label>
				<div class="input-group col-md-12">
					<label class="control-label">Email</label>
	               	<div class="checkbox-inline">
	               		<label class="i-checks m-r">
							<input id="userInvite" type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detailActivate.invitedUser">
							<i tooltip="{{errors['detailActivate.invitedUser']}}" ng-class="{error: errors['detailActivate.invitedUser']}"></i>Si
						</label>
						<label class="i-checks">
							<input id="userInvite" type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detailActivate.invitedUser">
							<i tooltip="{{errors['detailActivate.invitedUser']}}" ng-class="{error: errors['detailActivate.invitedUser']}"></i>No
						</label>
	               	</div>
	            </div>
			</div>
		</div>
		
		<div class="row" ng-if="user.type=='HCP' && relatedPortals!=undefined && relatedPortals.length!=0 && (detailActivate.accountType=='binded')">
			<div class="form-group col-sm-12">
				<label class="control-label" ng-if="detailActivate.selectedBindedAccount==undefined">Selezionare l'utente di cui si vogliono utilizzare le credenziali</label>
				<label class="control-label" ng-if="detailActivate.selectedBindedAccount!=undefined">Utente del portale <b>{{detailActivate.selectedBindedAccount.portalId | uppercase}}</b> selezionato</label>
				<div class="input-group">
					<input type="text" class="form-control" ng-disabled="true" value="{{detailActivate.selectedBindedAccount==undefined ? undefined : detailActivate.selectedBindedAccount.lastName + ' ' +detailActivate.selectedBindedAccount.firstName}}">
					<span class="input-group-btn">
						<a ng-if="detailActivate.selectedBindedAccount!=undefined" target="_blank" href="{{detailActivate.selectedBindedAccount.detailUrl}}" class="btn btn-icon btn-sm btn-default waves-effect waves-light" title="Dettaglio">
							<i class="material-icons">person</i>
						</a>
						<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" gateway-user-search-modal="detailActivate.selectedBindedAccount" filters="activateSearchFilters" custom-options="customOptions" user-type='user.type' title="Seleziona">
							<i class="material-icons">search</i>
						</button>
						<button ng-if="detailActivate.selectedBindedAccount!=undefined" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-click="unbindAccount()" title="Cancella">
							<i class="material-icons">cancel</i>
						</button>					
					</span>		
				</div>
			</div>	
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary waves-effect waves-light" ng-click="close()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="dismiss()" title="Annulla">
		Annulla
	</button>
</div>    