<div class="form-group col-md-6">
	<label class="control-label">Da data intervento</label>
	<div class="input-group">
		<input type="text" class="form-control" format-date-time  default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.USER_ACTIVITY_DATE_FROM" > 
		<span class="input-group-btn">
			<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
				<i class="material-icons">date_range</i>
			</button>
		</span>
	</div>
</div>
<div class="form-group col-md-6">
	<label class="control-label">A data intevento</label>
	<div class="input-group">
		<input type="text" class="form-control" format-date-time  default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.USER_ACTIVITY_DATE_TO" > 
			<span class="input-group-btn">
			<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
				<i class="material-icons">date_range</i>
			</button>
		</span>
	</div>
</div>
<div class="form-group col-lg-4">
	<label>Operatore territoriale</label>
	<div class="input-group">
		<input type="text" class="form-control" ng-disabled="true" value="{{supplierFilter.lastName}} {{supplierFilter.firstName}}">
		<span class="input-group-btn">
			<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light"
				user-search-modal="supplierFilter" user-type="'SUPPLIER'" multiple-list="false"
				user-id="searchFilters.filters.USER_ACTIVITY_OWNER_ID" title="Seleziona">
				<i class="material-icons">search</i>
			</button>
			<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light"
				user-modal="supplierFilter.id" user-type="'SUPPLIER'"
				ng-disabled="supplierFilter === undefined" title="Dettaglio">
				<i class="material-icons">person</i>
			</button>
			<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light"
				ng-disabled="supplierFilter == undefined" title="Dettaglio"
				ng-click="supplierFilter = undefined; searchFilters.filters.USER_ACTIVITY_OWNER_ID = undefined;">
				<i class="material-icons">clear</i>
			</button>					
		</span>		
	</div>
</div>
<div class="form-group col-md-4">
	<label class="control-label">Qualifiche</label>
	<ui-select ng-model="searchFilters.filters.USER_ACTIVITY_OWNER_QUALIFICATION_ID" multiple theme="bootstrap" close-on-select="false">
		<ui-select-match allow-clear="true">{{$item.name}}</ui-select-match>
		<ui-select-choices repeat="v.id as v in qualifications" qualifications-select="qualifications" >
			<div ng-bind-html="v.name | highlight: $select.search" />
		</ui-select-choices>
	</ui-select>
</div>
<div class="form-group col-md-4">
	<label class="control-label">Nome servizio – nome attività</label>
	<ui-select ng-model="searchFilters.filters.SERVICE_NAME_AND_ACTIVITY_NAME" multiple theme="bootstrap" close-on-select="false">
		<ui-select-match allow-clear="true">{{$item.serviceConfName}} - {{$item.masterActivityName}}</ui-select-match>
		<ui-select-choices repeat="s in serviceConfMasterActivityNameSelect" service-conf-master-activity-name-select="serviceConfMasterActivityNameSelect" >
			<div ng-bind-html="s.serviceConfName + ' - ' + s.masterActivityName | highlight: $select.search" />
		</ui-select-choices>
	</ui-select>
</div>