<div class="col-lg-12">
		<h4>Si conferma di voler procedere con la creazione del report {{exportTitle}}?</h4>
		<div class="form-group col-md-6">
			<label class="control-label">Data attività Da</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time  default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.KPI_EXPORT_DATE_FROM" > 
				<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label class="control-label">Data attività A</label>
			<div class="input-group">
				<input type="text" class="form-control" format-date-time  default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.KPI_EXPORT_DATE_TO" > 
					<span class="input-group-btn">
					<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
						<i class="material-icons">date_range</i>
					</button>
				</span>
			</div>
		</div>
</div>