<div class="form-group col-md-6">
	<label class="control-label">Data esecuzione Da</label>
	<div class="input-group">
		<input type="text" class="form-control" format-date-time  default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}" ng-readonly="true" ng-model="searchFilters.filters.USER_ACTIVITY_DATE_FROM" > 
		<span class="input-group-btn">
			<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
				<i class="material-icons">date_range</i>
			</button>
		</span>
	</div>
</div>
<div class="form-group col-md-6">
	<label class="control-label">Data esecuzione A</label>
	<div class="input-group">
		<input type="text" class="form-control" format-date-time  default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}" ng-readonly="true" ng-model="searchFilters.filters.USER_ACTIVITY_DATE_TO" > 
			<span class="input-group-btn">
			<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
				<i class="material-icons">date_range</i>
			</button>
		</span>
	</div>
</div>
<div class="form-group col-md-6">
	<label>Stato attività</label>
	<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.USER_ACTIVITY_STATUS) for v in constants['ActivityStatus'] | constantActive"
		class="form-control" ng-model="searchFilters.filters.USER_ACTIVITY_STATUS" >
			<option value="" />
	</select>
</div>
<div class="form-group col-md-6" >
	<label class="control-label">Tipo attività</label>
	<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.USER_ACTIVITY_TYPE) for v in constants['MasterActivityType'] | constantExcludeValuesFilter:['PLACEHOLDER']" 
		class="form-control" ng-model="searchFilters.filters.USER_ACTIVITY_TYPE" >
				<option value="" />
	</select>
</div>
	<div class="form-group col-lg-4">
		<label>Tipo beneficiario</label>
			<select ng-options="u.id as u.label disable when (!u.active && u.id !== searchFilters.filters.USER_ACTIVITY_USER_TYPE) for u in constants['ActivityUserType'] | constantActive"
				class="form-control" ng-model="searchFilters.filters.USER_ACTIVITY_USER_TYPE" >
				<option value="" />
			</select>
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Seleziona beneficiario</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-disabled="true" value="{{userFilter.title | constantLabel:'UserTitle'}} {{userFilter.lastName}} {{userFilter.firstName}}" >
					<span class="input-group-btn">
						<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="userFilter" user-type="searchFilters.filters.USER_ACTIVITY_USER_TYPE" 
								user-id="searchFilters.filters.USER_ID" ng-disabled="searchFilters.filters.USER_ACTIVITY_USER_TYPE == undefined " multiple-list="false" title="Seleziona">
								<i class="material-icons">search</i>
						</button>
						<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="userFilter.id" user-type="userFilter.type" 
							ng-disabled="userFilter.id === undefined || (!searchFilters.filters.USER_ACTIVITY_USER_TYPE == 'HCP' && loggedUser.viewPermissions.HCP) || (searchFilters.filters.USER_ACTIVITY_USER_TYPE == 'PATIENT' && !loggedUser.viewPermissions.PATIENT)" 
							multiple-list="false" title="Dettaglio">
							<i class="material-icons">person</i>
						</button>
						<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="userFilter == undefined" ng-click="userFilter = undefined; searchFilters.filters.USER_ID = undefined" title="Dettaglio">
							<i class="material-icons">clear</i>
						</button>
					</span>
			</div>
	</div>
