<div class="modal-header" >
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Genera report {{exportTitle}}</h3>
</div>
<div class="modal-body modal-with-footer">
	<div class="row" ng-include="'tpl/app/directive/export/export-filter_'+id+'.html'" />
</div>
<div class="modal-footer">
	<button class="btn btn-primary waves-effect waves-light" ng-click="generateExport(id)" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
		Annulla
	</button>
</div>