<div class="col-lg-12">
	<div class="form-group col-md-6">
		<label class="control-label">Da Data</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date-time
				default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}"
				ng-readonly="true" ng-model="searchFilters.filters.TUTOR_PATIENT_WEIGHT_REPORT_EXPORT_DATE_FROM"> 
			<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-6">
		<label class="control-label">A Data</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date-time
				default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}"
				ng-readonly="true" ng-model="searchFilters.filters.TUTOR_PATIENT_WEIGHT_REPORT_EXPORT_DATE_TO"> 
				<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	<!-- <div class="form-group col-md-4">
		<label class="control-label">Farmaco</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-readonly="true" value="{{drug.name}}">
			<span class="input-group-btn">
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
					drug-list selected-id="searchFilters.filters.TUTOR_INTERNAL_REPORT_EXPORT_DRUG_ID"
					selected-data="drug" is-modal="true" is-selection="true" title="Seleziona">
					<i class="material-icons">search</i>
				</button>
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" drug-detail
					detail-id="drug.id" is-modal="true" title="Dettaglio">
					<i class="material-icons">person</i>
				</button>
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="drug == undefined"
					ng-click="drug = undefined; searchFilters.filters.TUTOR_INTERNAL_REPORT_EXPORT_DRUG_ID = undefined;" title="Dettaglio">
					<i class="material-icons">clear</i>
				</button>					
			</span>		
		</div>
	</div> -->
</div>