<div class="col-lg-12">
	<div class="form-group col-md-6">
		<label class="control-label">Incarichi creati Da</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date-time
				default-time="{defaultHours:0, defaultMinutes:0, defaultSeconds:0, defaultMilliseconds:0}"
				ng-readonly="true" ng-model="searchFilters.filters.PHARMACOVIGILANCE_EVENT_DATE_FROM"> 
			<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-6">
		<label class="control-label">Incarichi creati A</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date-time
				default-time="{defaultHours:23, defaultMinutes:59, defaultSeconds:59, defaultMilliseconds:59}"
				ng-readonly="true" ng-model="searchFilters.filters.PHARMACOVIGILANCE_EVENT_DATE_TO"> 
				<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Centro medico</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-readonly="true" value="{{medicalCenter.name}}">
			<span class="input-group-btn">
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
					medical-center-list selected-id="searchFilters.filters.PHARMACOVIGILANCE_EVENT_MEDICAL_CENTER_ID"
					selected-data="medicalCenter" is-modal="true" is-selection="true" title="Seleziona">
					<i class="material-icons">search</i>
				</button>
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"
					medical-center-modal="medicalCenter.id" title="Dettaglio" ng-disabled="medicalCenter == undefined">
					<i class="material-icons">person</i>
				</button>
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="medicalCenter == undefined"
					ng-click="medicalCenter = undefined; searchFilters.filters.PHARMACOVIGILANCE_EVENT_MEDICAL_CENTER_ID = undefined;" title="Dettaglio">
					<i class="material-icons">clear</i>
				</button>					
			</span>		
		</div>
	</div>
	<div class="form-group col-md-4">
		<label class="control-label">Medico</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-disabled="true" value="{{hcp.title | constantLabel:'HcpTitle'}} {{hcp.lastName}} {{hcp.firstName}}">
			<span class="input-group-btn">
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="hcp"
						user-type="'HCP'" multiple-list="false" title="Seleziona"
						user-id="searchFilters.filters.PHARMACOVIGILANCE_EVENT_HCP_ID">
					<i class="material-icons">search</i>
				</button>
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" hcp-modal="hcp.id"
						ng-disabled="hcp == undefined" multiple-list="false" title="Dettaglio">
					<i class="material-icons">person</i>
				</button>
				<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="hcp == undefined"
						ng-click="hcp = undefined; searchFilters.filters.PHARMACOVIGILANCE_EVENT_HCP_ID = undefined;"
						title="Dettaglio">
					<i class="material-icons">clear</i>
				</button>
			</span>
		</div>
	</div>
</div>