<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup && $state.current.name != 'app.profile' ">
	<li><a ui-sref="app.customers">Lista Clienti -</a></li>
	<li><a ui-sref="app.customer({id: detail.customer.id})">{{detail.customer.name}}</a></li>
	<li class="active">{{detail.title | constantLabel:'UserTitle'}} {{detail.lastName}} {{ detail.firstName}}</li>
</ul>
<div class="modal-header" ng-if="popup || $state.current.name === 'app.profile'">
	<button type="button" ng-if="popup" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.title | constantLabel:'UserTitle'}} {{detail.lastName}} {{ detail.firstName}}</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-2" ng-if="fieldPermissions['title'].VIEW" >
										<label class="control-label">Titolo</label>
										<select id="detail.title" ng-disabled="!fieldPermissions['title'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.title) for v in constants['UserTitle']" class="form-control" ng-model="detail.title" tooltip="{{errors['detail.title']}}" ng-class="{error: errors['detail.title']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-5" ng-if="fieldPermissions['lastName'].VIEW">
										<label class="control-label">Cognome</label><sup>*</sup>
										<input type="text" id="detail.lastName" class="form-control" ng-disabled="!fieldPermissions['lastName'].UPDATE" ng-model="detail.lastName" tooltip="{{errors['detail.lastName']}}" ng-class="{error: errors['detail.lastName']}">
									</div>
									<div class="form-group col-md-5" ng-if="fieldPermissions['firstName'].VIEW">
										<label class="control-label">Nome</label><sup>*</sup>
										<input type="text" id="detail.firstName" class="form-control" ng-disabled="!fieldPermissions['firstName'].UPDATE" ng-model="detail.firstName" tooltip="{{errors['detail.firstName']}}" ng-class="{error: errors['detail.firstName']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['consuntiveCode'].VIEW">
										<label class="control-label">Codice Consuntivo</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['consuntiveCode'].UPDATE" ng-model="detail.consuntiveCode" tooltip="{{errors['detail.consuntiveCode']}}" ng-class="{error: errors['detail.consuntiveCode']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['nickName'].VIEW">
										<label class="control-label">Nome Utente</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['nickName'].UPDATE" ng-model="detail.nickName" tooltip="{{errors['detail.nickName']}}" ng-class="{error: errors['detail.nickName']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['role'].VIEW">
										<label class="control-label">Ruolo</label><sup>*</sup>
										<select id="detail.role" ng-disabled="!fieldPermissions['role'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.role) for v in (constants['UserRole']  | constantInArray : constants['UserType'][2].properties.roles)" class="form-control" ng-model="detail.role" tooltip="{{errors['detail.role']}}" ng-class="{error: errors['detail.role']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['sex'].VIEW">
										<label class="control-label">Sesso</label>
										<select id="detail.sex" ng-disabled="!fieldPermissions['sex'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.sex) for v in constants['Sex']" class="form-control" ng-model="detail.sex" tooltip="{{errors['detail.sex']}}" ng-class="{error: errors['detail.sex']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['nationality'].VIEW">
										<label class="control-label">Nazionalità</label>
										<div class="form-control" disabled="!fieldPermissions['nationality'].UPDATE" input-class="form-control"
											entity-autocomplete input-model="detail.nationality" source-list="selects['Nationalities']" title-field="name" search-field="name" placeholder="Nazionalità" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati di contatto</h4>
							</div>
							<div class="panel-body">
								<div class="row" ng-if="fieldPermissions['preferredContacts'].VIEW"> <!-- DATI CONTATTI PER COMUNICAZIONI -->
									<div class="form-group col-lg-6">
						    			<label class="control-label">Metodi di comunicazione</label>
										<div class="input-group col-md-12" ng-repeat="contactUser in constants['PreferredContactType']" ng-if="contactUser.active">
				              				<label class="control-label">{{contactUser.label}}</label>
				               				<div class="checkbox-inline">
				               					<label class="i-checks m-r">
													<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
													<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>Si
												</label>
												<label class="i-checks">
													<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
													<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>No
												</label>
				               				</div>
				            			</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['phoneNumber'].VIEW">
										<label class="control-label">Telefono</label>
										<input type="text" id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['cellPhoneNumber'].VIEW">
										<label class="control-label">Cellulare</label>
										<input type="text" id="detail.cellPhoneNumber" class="form-control" ng-disabled="!fieldPermissions['cellPhoneNumber'].UPDATE" ng-model="detail.cellPhoneNumber" tooltip="{{errors['detail.cellPhoneNumber']}}" ng-class="{error: errors['detail.cellPhoneNumber']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['faxNumber'].VIEW">
										<label class="control-label">Fax</label>
										<input type="text" id="detail.faxNumber" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['email'].VIEW">
										<label class="control-label">Email</label>
										<input type="text" id="detail.email" class="form-control" ng-disabled="!fieldPermissions['email'].UPDATE" ng-model="detail.email" tooltip="{{errors['detail.email']}}" ng-class="{error: errors['detail.email']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['skypeId'].VIEW">
										<label class="control-label">Contatto Skype</label>
										<input type="text" id="detail.skypeId" class="form-control" ng-disabled="!fieldPermissions['skypeId'].UPDATE" ng-model="detail.skypeId" tooltip="{{errors['detail.skypeId']}}" ng-class="{error: errors['detail.skypeId']}">
									</div>
								</div>
								<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>