<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.dashboard">Info Programma {{program.name}}</a></li>
	<li><a ui-sref="app.service({id: serviceId})">Servizio {{service.name}}</a></li>
	<li><a href>Attività {{detail.name}}</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Attività {{detail.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default m-n">
				<div class="panel-body">
					<div ng-include="'tpl/app/program/services/activityConf-data.html'" />
									
					<div class="row">
						<div class="col-md-12" ng-include="'tpl/app/program/services/complementary-activities.html'">
						</div>
					</div>
					<!--
					<div class="row m-t">
						<div class="form-group col-md-4">
							<h4>Retries</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" ng-include="'tpl/app/program/services/retries.html'">
						</div>
					</div>
					-->
				</div>
			</div>
		</div>	
	</div>				
</div>