<div class="modal-header {{dialogStyle}}">
	<button type="button" ng-click="closeAvatarInformation()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Scegli il tuo avatar e il tuo nickname</h3>
</div>
<div class="modal-body modal-with-footer">
	<div class="wrapper-sm">
		<div class="row" ng-if="fieldPermissions['avatarNickName'].VIEW">
			<div class="form-group col-md-4 col-sm-6 col-xs-12">
				<label class="control-label">Nickname</label>
				<input type="text" class="form-control" ng-model="detail.nickName" error-tooltip ng-disabled="!fieldPermissions['avatarNickName'].UPDATE">
			</div>
		</div>
		<div class="row" ng-if="avatarList">
			<div ng-repeat="row in avatarList" class="col-md-1 col-sm-2 col-xs-3">
				<span class="avatar">
					<img
						ng-src="{{row.imageUrl}}"
						class="img-responsive {{row.id == detail.avatarId ? 'active' : ''}}"
						ng-click="changeAvatarSelection(row)" />
				</span>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmAvatarInformation()" title="Salva">
			Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="closeAvatarInformation()" title="Annulla">
			Annulla
		</button>
	</div>
</div>