<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-body-notfooter'}}">
	
	<div patient-assumption="id" />
	
	<div patient-leftover-drugs patient-id="id" ng-show="loggedUser.viewPermissions.PATIENT_LEFTOVER_DRUG" />
	
	<!--  Non viene mai mostrato , lo commento by @Gabriele 2021-06-25
	<div class="wrapper-sm" ng-if="false">
		<div class="row">
			<div class="col-sm-12">
				<div class="bg-secondary wrapper-xs">
					<div class="inline">
						<h4 class="m-sm">Visite mediche</h4>
					</div>
				</div>
				<div class="panel panel-default">
					<table class="table">
						<thead>
							<tr>
								<th>Data</th>
								<th>Ora</th>
								<th class="hidden-xs hidden-sm hidden-md">Note</th>
								<th>Stato</th>
							</tr>
						</thead>
						<tbody class="bg-white" ng-show="detail.patientMedicalExaminations.length" ng-repeat="row in detail.patientMedicalExaminations">
							<tr patient-medical-examination-modal="row.id" patient-id="detail.id" style="cursor: pointer;">
								<td ng-bind="row.date | date:'EEEE dd/MM/yyyy'" />
								<td ng-bind="row.hour" />
								<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.notes" />
								<td ng-bind="row.status | constantLabel:'MedicalExaminationStatus'" />
							</tr>
						</tbody>
						<tbody ng-show="!detail.patientMedicalExaminations.length">
							<tr>
								<td colspan="4" >
									<div class="text-muted"><i>Nessun dato trovato</i></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	-->
</div>