<div class="row" ng-if="canInsertTherapy">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="saveTherapy($index)" title="Salva">
			Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undoTherapy($index)" title="Annulla">
			Annulla
		</button>
	</div>
</div>
<div class="row m-t">
	<div class="form-group col-md-12">
		<label class="control-label">Descrizione</label>
		<textarea id="therapy.therapy.description" rows="5" class="form-control" ng-disabled="true" ng-model="therapy.therapy.description" tooltip="{{errors['therapy_'+$index+'.description']}}" ng-class="{error: errors['therapy_'+$index+'.description']}"/>
	</div>
	
	<div class="form-group col-md-3">
		<label class="control-label">Data di inizio</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-change="resetExpectedEnd(therapy.therapy)" format-date ng-readonly="true" ng-disabled="!isTherapyEditable[$index]" ng-model="therapy.therapy.start" tooltip="{{errors['therapy_'+$index+'.start']}}" ng-class="{error: errors['therapy_'+$index+'.start']}">
			<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!isTherapyEditable[$index]">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
		<span class="help-block m-b-none h6">Una volta attivato il paziente non sarà più possibile modificare questa data</span>
	</div>
	
	<div class="form-group col-md-3">
		<label class="control-label">Durata</label>
		<div class="input-group">
			<input type="text" id="therapy.therapy.duration" class="form-control" ng-disabled="true" ng-model="therapy.therapy.duration.duration" tooltip="{{errors['therapy_'+$index+'.duration']}}" ng-class="{error: errors['therapy_'+$index+'.duration']}">
			<span class="input-group-btn with-select" >
				<select class="btn btn-default btn-sm" ng-model="therapy.therapy.duration.durationUnit" tooltip="{{errors['therapy_'+$index+'.durationUnit']}}" ng-class="{error: errors['therapy_'+$index+'.durationUnit']}" 
					ng-disabled="true" ng-change="errors['therapy_'+$index+'.durationUnit'] = undefined" ng-options="v.id as v.label disable when (!v.active && v.id !== therapy.therapy.duration.durationUnit) for v in constants['TherapyDurationUnit']" >
					<option value="">Seleziona unità di tempo</option>			    				
				</select>
			</span>
		</div>
	</div>

	<div class="form-group col-md-3">
		<label class="control-label">Data di fine prevista</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="true" ng-model="therapy.therapy.expectedEnd" tooltip="{{errors['therapy_'+$index+'.end']}}" ng-class="{error: errors['therapy_'+$index+'.end']}">
			<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="true">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	
	<div class="form-group col-md-3">
		<label class="control-label">Data di fine effettiva</label>
		<div class="input-group">
			<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!canInsertTherapy" ng-model="therapy.therapy.end" tooltip="{{errors['therapy_'+$index+'.end']}}" ng-class="{error: errors['therapy_'+$index+'.end']}">
			<span class="input-group-btn">
				<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!canInsertTherapy">
					<i class="material-icons">date_range</i>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-12">
		<label class="control-label">Note</label>
		<textarea id="therapy.therapy.notes" rows="5" class="form-control" ng-disabled="!canInsertTherapy" ng-model="therapy.therapy.notes" tooltip="{{errors['therapy_'+$index+'.notes']}}" ng-class="{error: errors['therapy_'+$index+'.notes']}"/>
	</div>
	
	<div class="form-group col-md-12" ng-if="isInternalStaff()">
		<label class="control-label">Note interne</label>
		<textarea id="therapy.therapy.internalNotes" rows="5" class="form-control" ng-disabled="!canInsertTherapy" ng-model="therapy.therapy.internalNotes" tooltip="{{errors['therapy_'+$index+'.internalNotes']}}" ng-class="{error: errors['therapy_'+$index+'.internalNotes']}"/>
	</div>
</div>
<div class="row">
	<div class="col col-lg-12" ng-repeat="drug in therapy.therapy.drugs" ng-init="therapyIndex=$parent.$index">
		<div class="no-radius alt">
 			<div class="list-group-item bg-secondary" style="cursor: pointer" ng-init="isCollapsed2[$index] = true" ng-click="isCollapsed2[$index] = !isCollapsed2[$index]">
   	 			<span class="pull-right"> 
   	 				<a><strong><i class="material-icons">keyboard_arrow_{{isCollapsed2[$index] ? 'down' : 'right'}}</i></strong></a>
   	 			</span>
	      	 	<span class="block">
	            	<strong>{{ drug.drug.name }} {{drug.expectedDosage}} {{drug.expectedDosageUnit}} {{drug.dailyAssumptionNumber}}</strong>
	           </span>
     		</div>
     		
     		<div collapse="isCollapsed2[$index]" class="clearfix m-b b-l b-r b-b">
      			<div class="m-t m-b col-md-12" ng-include="'tpl/app/patient/drug-data.html'"></div>
			</div>	
		</div>
	</div>
</div>
<div class="row m-t" ng-if="canInsertTherapy">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="saveTherapy($index)" title="Salva">
			Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undoTherapy($index)" title="Annulla">
			Annulla
		</button>
	</div>
</div>