<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup && $state.current.name != 'app.profile'">
	<li><a ui-sref="app.patients">Lista caregivers/tutori</a></li>
	<li><a ui-sref="app.patient({id: detail.patient.id})">Paziente {{detail.patient.title | constantLabel:'UserTitle'}} {{detail.patient.lastName}} {{ detail.patient.firstName}}</a>
	<li class="active">{{detail.title | constantLabel:'UserTitle'}} {{detail.lastName}} {{ detail.firstName}}</li>
</ul>
<div class="modal-header" ng-if="popup || $state.current.name === 'app.profile'">
	<button type="button" ng-if="popup" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.title | constantLabel:'UserTitle'}} {{detail.lastName}} {{ detail.firstName}}</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-2" ng-if="fieldPermissions['title'].VIEW">
										<label class="control-label">Titolo</label>
										<select id="detail.title" ng-disabled="!fieldPermissions['title'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.title) for v in constants['UserTitle']" class="form-control" ng-model="detail.title" tooltip="{{errors['detail.title']}}" ng-class="{error: errors['detail.title']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-5" ng-if="fieldPermissions['lastName'].VIEW">
										<label class="control-label">Cognome</label><sup>*</sup>
										<input type="text" id="detail.lastName" class="form-control" ng-disabled="!fieldPermissions['lastName'].UPDATE" ng-model="detail.lastName" tooltip="{{errors['detail.lastName']}}" ng-class="{error: errors['detail.lastName']}">
									</div>
									<div class="form-group col-md-5" ng-if="fieldPermissions['firstName'].VIEW">
										<label class="control-label">Nome</label><sup>*</sup>
										<input type="text" id="detail.firstName" class="form-control" ng-disabled="!fieldPermissions['firstName'].UPDATE" ng-model="detail.firstName" tooltip="{{errors['detail.firstName']}}" ng-class="{error: errors['detail.firstName']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['consuntiveCode'].VIEW">
										<label class="control-label">Codice Consuntivo</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['consuntiveCode'].UPDATE" ng-model="detail.consuntiveCode" tooltip="{{errors['detail.consuntiveCode']}}" ng-class="{error: errors['detail.consuntiveCode']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['delegateType'].VIEW">
										<label class="control-label">Tipo delegato</label><sup>*</sup>
										<select id="detail.delegateType" ng-disabled="!fieldPermissions['delegateType'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.type) for v in constants['DelegateType']" class="form-control" ng-model="detail.delegateType" tooltip="{{errors['detail.delegateType']}}" ng-class="{error: errors['detail.delegateType']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['sex'].VIEW">
										<label class="control-label">Sesso</label>
										<select id="detail.sex" ng-disabled="!fieldPermissions['sex'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.sex) for v in constants['Sex']" class="form-control" ng-model="detail.sex" tooltip="{{errors['detail.sex']}}" ng-class="{error: errors['detail.sex']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['nationality'].VIEW">
										<label class="control-label">Nazionalità</label>
										<div class="form-control" disabled="!fieldPermissions['nationality'].UPDATE" input-class="form-control"
											entity-autocomplete input-model="detail.nationality" source-list="selects['Nationalities']" title-field="name" search-field="name" placeholder="Nazionalità" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6" ng-if="fieldPermissions['birthDate'].VIEW">
										<label class="control-label">Data di Nascita</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['birthDate'].UPDATE" ng-model="detail.birthDate" tooltip="{{errors['detail.birthDate']}}" ng-class="{error: errors['detail.birthDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['title'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['fiscalCode'].VIEW">
										<label class="control-label">Codice Fiscale</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['fiscalCode'].UPDATE" ng-model="detail.fiscalCode" tooltip="{{errors['detail.fiscalCode']}}" ng-class="{error: errors['detail.fiscalCode']}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="m-l">Dati di contatto</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-6" ng-if="fieldPermissions['phoneNumber'].VIEW">
										<label class="control-label">Telefono</label>
										<input type="text" id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['cellPhoneNumber'].VIEW">
										<label class="control-label">Cellulare <sup>*</sup></label>
										<input type="text" id="detail.cellPhoneNumber" class="form-control" ng-disabled="!fieldPermissions['cellPhoneNumber'].UPDATE" ng-model="detail.cellPhoneNumber" tooltip="{{errors['detail.cellPhoneNumber']}}" ng-class="{error: errors['detail.cellPhoneNumber']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['faxNumber'].VIEW">
										<label class="control-label">Fax</label>
										<input type="text" id="detail.faxNumber" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['email'].VIEW">
										<label class="control-label">Email</label><sup>*</sup>
										<input type="text" id="detail.email" class="form-control" ng-disabled="!fieldPermissions['email'].UPDATE" ng-model="detail.email" tooltip="{{errors['detail.email']}}" ng-class="{error: errors['detail.email']}">
									</div>
								</div>
								<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>