<ul class="breadcrumb bg-white b-a m-n" ng-if="loggedUser.type!='PATIENT'">
	<li><a href>Riepilogo</a></li>
</ul>
<div class="m-t-xxl">
	<div static-include="tpl/app/dashboard/charts/dashboard_{{loggedUser.type}}.html" />
</div>