			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-6">
									<label>Paziente</label>
									<div class="input-group">
										<input type="text" class="form-control" ng-disabled="true" value="{{objectFilters.patient.lastName}} {{objectFilters.patient.firstName}}">
										<span class="input-group-btn">
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-search-modal="objectFilters.patient"
												user-type="'PATIENT'" multiple-list="false" title="Seleziona" user-id="searchFilters.filters.USER_ID">
												<i class="material-icons">search</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="objectFilters.patient.id"
												user-type="'PATIENT'" ng-disabled="objectFilters.patient === undefined" title="Dettaglio">
												<i class="material-icons">person</i>
											</button>
											<button type="button" class="btn btn-icon btn-sm btn-default waves-effect waves-light" ng-disabled="objectFilters.patient == undefined"
												ng-click="objectFilters.patient = undefined; searchFilters.filters.USER_ID = undefined;" title="Dettaglio">
												<i class="material-icons">clear</i>
											</button>					
										</span>		
									</div>
								</div>
								<div class="form-group col-lg-6">
									<label>Stato attività</label>
									<select ng-options="v.id as v.label disable when (!v.active && v.id !== searchFilters.filters.PATIENT_DBS_TEST_ACTIVITY_STATUS) for v in constants['PatientDbsTestActivityStatus'] | constantActive"
										class="form-control" ng-model="searchFilters.filters.PATIENT_DBS_TEST_ACTIVITY_STATUS">
										<option value=""></option>
									</select>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
							
						</form>
					</div>
				</div>
			</div>