<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li ng-if="detail.assignee && detail.assignee === loggedUser.nickName"><a ui-sref="app.my-tasks">Lista attività 'Da completare'</a></li>
	<li ng-if="!detail.assignee"><a ui-sref="app.not-assigned-tasks">Lista attività 'In coda'</a></li>
	<li ng-if="detail.assignee && detail.assignee !== loggedUser.nickName"><a ui-sref="app.assigned-to-others-tasks">Lista attività 'In carico ad altri'</a></li>
	<li class="active">{{detail.name}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.name}}</h3>
</div>
<div class="taskForm {{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12 text-right">
				<button class="btn btn-primary waves-effect waves-light" ng-if="detail.assignee === loggedUser.nickName && !isPersonified()" ng-click="save()" title="Salva">
					Salva
				</button>
				<button class="btn btn-primary waves-effect waves-light" ng-if="detail.assignee === loggedUser.nickName && !isPersonified()" ng-click="saveAndContinue()" title="Salva e continua">
					Salva e continua
				</button>
				<button class="btn btn-warning waves-effect waves-light" ng-if="detail.assignee !== undefined && detail.form.changeButton !== undefined && isInternalStaff() && !isPersonified()" ng-click="change()" title="Modifica attività">
					Modifica attività
				</button>
				<button class="btn btn-default waves-effect waves-light" ng-if="detail.assignee === loggedUser.nickName && detail.form.cancelButton !== undefined && isInternalStaff() && !isPersonified()" ng-click="cancelTask(detail.form.cancelForSkip)" title="Cancella attività">
					Cancella attività
				</button>
				<button class="btn btn-icon btn-default waves-effect waves-light" ng-if="detail.form.helpButton" ng-click="help()" title="Info">
					<i class="material-icons">help</i>
				</button>
				<button class="btn btn-primary waves-effect waves-light" ng-if="detail.assignee === undefined && !isPersonified()" ng-click="assignTaskToMe()" title="Prendi in carico">
					Prendi in carico
				</button>
				<button class="btn btn-primary waves-effect waves-light" ng-if="canTakeInCharge" ng-click="takeInCharge()" title="Prendi in carico">
					Prendi in carico
				</button>
			</div>
		</div>
	</div>
	<!-- <div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default m-b-xs">
				<div class="panel-heading">
					<div class="row m-n">
						<div class="col-lg-8 no-padder">
							<h4>Riepilogo Attività</h4>
						</div>
						<div class="col-lg-4 no-padder">
							<button class="btn btn-icon btn-sm btn-default waves-effect waves-light pull-right" ng-disabled="loggedUser.type !== 'INTERNAL_STAFF' || detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-click="editTaskData = !editTaskData">
								<i class="material-icons">edit</i>
							</button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-md-12" ng-if="fieldPermissions['name'].VIEW">
							<label class="control-label">Nome</label><sup>*</sup>
							<input type="text" class="form-control" ng-disabled="!editTaskData" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
							<label class="control-label">Descrizione</label><sup>*</sup>
							<textarea class="form-control"  ng-disabled="!editTaskData" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="row m-t">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Riepilogo attività</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div ng-repeat="prop in detail.form.formProperties track by $index" ng-if="prop.readable" data-ng-include="prop.htmlTemplate || 'tpl/app/activiti/form-type/input-text.html'">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12 text-right">
				<button class="btn btn-primary waves-effect waves-light" ng-if="detail.assignee === loggedUser.nickName && !isPersonified()" ng-click="save()" title="Salva">
					Salva
				</button>
				<button class="btn btn-primary waves-effect waves-light" ng-if="detail.assignee === loggedUser.nickName && !isPersonified()" ng-click="saveAndContinue()" title="Salva e continua">
					Salva e continua
				</button>
				<button class="btn btn-warning waves-effect waves-light" ng-if="detail.assignee !== undefined && detail.form.changeButton !== undefined && isInternalStaff() && !isPersonified()" ng-click="change()" title="Modifica attività">
					Modifica attività
				</button>
				<button class="btn btn-default waves-effect waves-light" ng-if="detail.assignee === loggedUser.nickName && detail.form.cancelButton !== undefined && isInternalStaff() && !isPersonified()" ng-click="cancelTask(detail.form.cancelForSkip)" title="Cancella attività">
					Cancella attività
				</button>
				<button class="btn btn-icon btn-default waves-effect waves-light" ng-if="detail.form.helpButton" ng-click="help()" title="Info">
					<i class="material-icons">help</i>
				</button>
				<button class="btn btn-primary waves-effect waves-light" ng-if="detail.assignee === undefined && !isPersonified()" ng-click="assignTaskToMe()" title="Prendi in carico">
					Prendi in carico
				</button>
				<button class="btn btn-primary waves-effect waves-light" ng-if="canTakeInCharge" ng-click="takeInCharge()" title="Prendi in carico">
					Prendi in carico
				</button>
			</div>
		</div>
	</div>
</div>