<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista valori default attività</a></li>
</ul>
<div class="m-t-xxl" default-activity-value-list filter-store-key="default-activity-value-list" />