<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista attività 'In coda'</a></li>
</ul>
<div class="m-t-xxl" task-list type="'not-assigned'" filter-store-key="task-not-assigned-list" />