<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista attività completate</a></li>
</ul>
<div class="m-t-xxl" user-activity-list filter-store-key="user-activity-completed-list"
	search-filters="{'STATUS':['COMPLETED','NOT_OCCURRED','TO_VERIFY']}" />