<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Centri Prelievi</h3>
</div>
<div class="{{!popup ? '' : 'modal-body'}}">
	<div class="wrapper-sm filterWrap" ng-if="selection">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.NAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Regione</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.COUNTY">
								</div>
								<div class="form-group col-lg-4">
									<label>Codice</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.CODE">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Centri Prelievi / Paziente</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canUpdate || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canUpdate">
						            		<a blood-drawing-center-search-modal="selected" patient-id="detail.id" 
												pre-fn="searchAll" post-fn="saveSelection">
						            			<i class="material-icons">add</i>
						            			<span>Aggiungi / Rimuovi</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">
								<thead>
									<tr>
										<th style="width: 1%;">Riferimento</th>
										<th st-sort="o.blooddrawingcenter.code">Codice</th>
										<th st-sort="o.blooddrawingcenter.name">Nome</th>
										<th>Telefono</th>
										<th style="width: 30px; padding: 0;" ng-if="!selection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list">
										<td style="text-align:center;">
											<label class="i-checks" >
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="true" 
													ng-model="row.reference">
												<i />
											</label>
										</td>
										<td ng-bind="row.blooddrawingcenter.code" />
										<td ng-bind="row.blooddrawingcenter.name" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.blooddrawingcenter.phoneNumber" />
										<td ng-if="!selection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									    		<ul class="dropdown-menu pull-right">
									            	<li>
						            					<a blood-drawing-center-modal="row.blooddrawingcenter.id" post-fn="search" post-fn-dismiss="search">
						            						<i class="material-icons">bug_report</i>
						            						<span>Dettaglio</span>
						            					</a>
						            				</li>
						            				<li>
						            					<a ng-click="setReference(row.id)">
						            						<i class="material-icons">check_circle</i>
						            						<span>Rendi di riferimento</span>
						            					</a>
						            				</li>
									            </ul>
									    	</div>
									    </td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="5">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>