ul.breadcrumb {
	position: fixed;
    width: 100%;
    z-index: 3;
	> li {
		font-size: 20px;
		+ li:before {
			&:extend(.material-icons);
			content: '\E5CC';
			padding: 0;
		}
		> a {
			display: inherit;
		}
		> a, > a > i, + li:before {
			font-size: 20px;
		} 
	}
}