@brand-secondary:         #ee6e73;
.bg-secondary {
	background-color: @brand-secondary;
	color: #fff;
	i {
		color: #fff;
	}
}

@import 'typhography.less';
@import 'icon.less';
@import 'reset.less';
@import 'waves.less';
@import 'aside.less';
@import 'button.less';
@import 'panel.less';
@import 'tabs.less';
@import 'breadcrumb.less';
@import 'dropdown.less';
@import 'navbar.less';
@import 'modal.less';
@import 'select.less';
@import 'textarea.less';
@import 'st-table.less';
@import 'tags.less';
@import 'utilities.less';
@import 'pagination.less';

.error, .warning {
	border-width: 2px !important;
	border-style: solid !important;
	&:before {
		left: 3px !important;
		top: 3px !important;;
	}
}

.error {
	border-color: #ff4444 !important;
}

.warning {
	border-color: #fad733 !important;
}