ul.dropdown-menu {
	padding: 0;
	margin: 0;
	> li {
		min-height: 50px;
    	line-height: 1.5rem;
    	&.divider {
    		min-height: 1px;
    		line-height: 1;
    		margin: 0;
    	}
    	> a {
    		padding: 14px 16px;
    		line-height: 22px;
    		> i {
				line-height: inherit;
				height: inherit;
				margin: 0 24px 0 0;
				color: #333;
    		}
    		> i , > span {
    			vertical-align: middle;
    		}
    	}
	}
}