.navbar-brand {
	padding: 0 15px;
}

.navbar-brand img {
	max-height: 44px;
}

.nav {
	.line {
		margin: 0;
	}
}

div.scrollable {
	position: relative;

	> ul.nav-tabs {
		overflow: hidden;
		padding-left: 28px;
		white-space: nowrap;
		user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;

		> li {
			display: inline-block;
			float: none;

			&:last-child {
				margin-right: 26px;
			}
		}
		
		> .left,
		> .right {
			position: absolute;
			line-height: 45px !important;
		    height: 45px;
		    width: 27px;
		}
		
		> .left {
			left: 0;
		}
		
		> .right { 
			right: 0;
		}
	}
	
	> .tab-content{
		> .tab-pane{
			padding: 5px;
		}
	}
}
