tags-input {
	.host {
		margin-top: 0 !important;
	    margin-bottom: 0 !important;
	}
	.tags {
		box-shadow: none !important;
    	-webkit-box-shadow: none !important;
    	border-color: #cfdadd !important;
    	&.focused {
	    	-webkit-box-shadow: none !important;
	    	border-color: #cfdadd !important;
    		border-color: #01b0f1 !important;
    		-webkit-box-shadow: none !important;
    		border-color: #01b0f1 !important;
    	}
    	.tag-item {
    		background: #01b0f1 !important;
    		color: #ffffff !important;
    		.remove-button {
    			color: #ffffff !important;
    		}
    	}
	}
}