<div class="modal-header">

	<button type="button" ng-click="modal.dismiss()" class="close">

    	<i class="material-icons">clear</i>

	</button>

	<h3 class="modal-title" style="min-height: 34px">Evento paziente</h3>

</div>

<div class="{{popup || isModal ? 'modal-body' : 'm-t-xxl wrapper-sm'}}">

	<scrollable-tabset show-drop-down="false" class="patientTabs">

	<tabset class="tab-container" scrollable>

		<tab heading="Anagrafica">

			<tab-heading>

				<i class="material-icons">format_list_bulleted</i>

				<span>Anagrafica</span>

			</tab-heading>

			<div class="row">

				<div class="col-md-12">

					<div class="col-md-12 text-right">

						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"

							ng-disabled="!isSaveButtonEnabled()">

							Salva

						</button>

						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">

							Annulla

						</button>

					</div>

				</div>

			</div>

			<div class="row m-t">

				<div class="col-lg-12">

					<div class="panel panel-default">

						<div class="panel-heading">

							<h4>Dati principali</h4>

						</div>

						<div class="panel-body">

							<div class="row">

								<div class="form-group col-md-8 col-xs-12" ng-if="fieldPermissions['type'].VIEW" >

									<label class="control-label">Motivo</label>

									<ui-select id="detail.type" ng-model="detail.type" theme="bootstrap" ng-disabled="!fieldPermissions['type'].UPDATE" 

										tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}">

										<ui-select-match placeholder="Seleziona motivo evento..." allow-clear="true">{{$select.selected.name}}</ui-select-match>

										<ui-select-choices repeat="v in selects['PersonalEventConfTypes'] | filter: $select.search">

											<div ng-bind-html="v.name | highlight: $select.search"></div>

										</ui-select-choices>

									</ui-select>

								</div>

								<div class="form-group col-md-4" ng-if="fieldPermissions['location'].VIEW">

									<label class="control-label">Dove</label>

									<select id="detail.location" ng-disabled="!fieldPermissions['location'].UPDATE"

										ng-options="v.id as v.label disable when (!v.active && v.id !== detail.location) for v in constants['PersonalEventConfLocation'] | constantActive"

										class="form-control" ng-model="detail.location" tooltip="{{errors['detail.location']}}"

										ng-class="{error: errors['detail.location']}">

										<option value="" />

									</select>

								</div>

								<div class="form-group col-md-4" ng-if="fieldPermissions['date'].VIEW">

									<label class="control-label">Data evento</label>

									<div class="input-group">

										<input type="text" class="form-control" format-date ng-readonly="true"

											ng-disabled="!fieldPermissions['date'].UPDATE" ng-model="detail.date">

										<span class="input-group-btn">

											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"

												ng-disabled="!fieldPermissions['date'].UPDATE">

												<i class="material-icons">date_range</i>

											</button>

										</span>

									</div>

								</div>

								<div class="form-group col-md-4" ng-if="fieldPermissions['startTime'].VIEW">

									<label class="control-label">Dalle</label>

									<div class="input-group">

										<input type="text" class="form-control" format-time readonly="true" ng-model="detail.startTime" tooltip="{{errors['detail.startTime']}}"

											ng-class="{error: errors['detail.startTime']}" ng-disabled="!fieldPermissions['startTime'].UPDATE">

										<span class="input-group-btn">

											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['startTime'].UPDATE">

												<i class="material-icons">update</i>

											</button>

										</span>

									</div>

								</div>

								<div class="form-group col-md-4" ng-if="fieldPermissions['endTime'].VIEW">

									<label class="control-label">Alle</label>

									<div class="input-group">

										<input type="text" class="form-control" format-time readonly="true" ng-model="detail.endTime" tooltip="{{errors['detail.endTime']}}"

											ng-class="{error: errors['detail.endTime']}" ng-disabled="!fieldPermissions['endTime'].UPDATE">

										<span class="input-group-btn">

											<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['endTime'].UPDATE">

												<i class="material-icons">update</i>

											</button>

										</span>

									</div>

								</div>

								<div class="form-group col-md-4" ng-if="fieldPermissions['notificationConfs'].VIEW">

									<label class="control-label">Avvisami</label>

									<div class="input-group" ng-if="detail.isOwner">

										<input id="detail.duration" type="text" ng-model="detail.notificationConfs[0].time" 

											ng-disabled="!fieldPermissions['notificationConfs'].UPDATE" class="form-control" 

											tooltip="{{errors['detail.notificationConfs']}}" ng-class="{error: errors['detail.notificationConfs']}"

											style="padding: 2px;text-align:center;" >

										<span class="input-group-btn with-select" >

											<select class="btn btn-default btn-sm" ng-model="detail.notificationConfs[0].timeUnit" tooltip="{{errors['detail.notificationConfs']}}" 

												ng-class="{error: errors['detail.notificationConfs']}" ng-change="errors['detail.notificationConfs'] = undefined" 

												ng-options="v.id as v.label disable when (!v.active && v.id !== detail.notificationConfs[0].timeUnit) for v in constants['PersonalEventTimeUnit']" >

												<option value="">Seleziona unità di tempo</option>			    				

											</select>

										</span>

									</div>

									<div class="input-group" ng-if="!detail.isOwner">

										<input id="detail.otherUsers" type="text" ng-model="userNotificationConf.time" 

											ng-disabled="detail.otherUsers[0].user == undefined" class="form-control" 

											tooltip="{{errors['detail.otherUsers']}}" ng-class="{error: errors['detail.otherUsers']}" style="padding: 2px;text-align:center;">

										<span class="input-group-btn with-select" >

											<select class="btn btn-default btn-sm" ng-model="userNotificationConf.timeUnit" tooltip="{{errors['detail.otherUsers']}}" 

												ng-class="{error: errors['detail.otherUsers']}" ng-change="errors['detail.otherUsers'] = undefined"

												ng-disabled="detail.otherUsers[0].user == undefined"

												ng-options="v.id as v.label disable when (!v.active && v.id !== userNotificationConf.timeUnit) for v in constants['PersonalEventTimeUnit']" >

												<option value="">Seleziona unità di tempo</option>			    				

											</select>

										</span>

									</div>

								</div>

								<div class="form-group col-md-4" ng-if="fieldPermissions['notificationConfs'].VIEW">

									<label class="control-label">Metodo di avviso</label>

									<select ng-if="detail.isOwner" class="form-control" ng-model="detail.notificationConfs[0].type" tooltip="{{errors['detail.notificationConfs']}}" 

										ng-class="{error: errors['detail.notificationConfs']}" ng-change="errors['detail.notificationConfs'] = undefined" 

										ng-options="v.id as v.label disable when (!v.active && v.id !== detail.notificationConfs[0].type) for v in constants['NotificationType']" >

										<option value="">Seleziona metodo di avviso</option>			    				

									</select>

									<select ng-if="!detail.isOwner" class="form-control" ng-model="userNotificationConf.type" tooltip="{{errors['detail.otherUsers']}}" 

										ng-class="{error: errors['detail.otherUsers']}" ng-change="errors['detail.otherUsers'] = undefined"

										ng-disabled="detail.otherUsers[0].user == undefined"

										ng-options="v.id as v.label disable when (!v.active && v.id !== userNotificationConf.type) for v in constants['NotificationType']" >

										<option value="">Seleziona metodo di avviso</option>			    				

									</select>

								</div>

							</div>

							<div class="row" ng-if="fieldPermissions['otherUsers'].VIEW">

								<div class="form-group col-md-6">

									<label class="control-label">Paziente</label>

									<div class="input-group">

										<input type="text" class="form-control" ng-disabled="true"  

											value="{{detail.otherUsers[0].user.title | constantLabel:'UserTitle'}} {{detail.otherUsers[0].user.lastName}} {{detail.otherUsers[0].user.firstName}}"

											tooltip="{{errors['detail.otherUsers[0].user']}}" ng-class="{error: errors['detail.otherUsers[0].user']}">

										<span class="input-group-btn">

											<button ng-if="fieldPermissions['otherUsers'].UPDATE"

												class="btn btn-icon btn-sm btn-default waves-effect waves-light"

												user-search-modal="detail.otherUsers[0].user" 

												user-type="'PATIENT'" multiple-list="false" title="Seleziona" post-fn="updateVisible"  >

												<i class="material-icons">search</i>

											</button>

											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light"

												user-modal="detail.otherUsers[0].user.id" user-type="detail.otherUsers[0].user.type"

												multiple-list="false" ng-disabled="detail.otherUsers[0].user == undefined" title="Dettaglio">

												<i class="material-icons">person</i>

											</button>

											<button ng-if="fieldPermissions['otherUsers'].UPDATE" class="btn btn-icon btn-sm btn-default waves-effect waves-light"

												ng-disabled="detail.otherUsers[0].user == undefined" ng-click="detail.otherUsers[0] = undefined"

												title="Dettaglio">

												<i class="material-icons">clear</i>

											</button>					

										</span>		

									</div>

								</div>

								<div class="form-group col-md-6">

									<label class="control-label">Condividi con il paziente</label>

									<div class="checkbox">

										<label class="i-checks m-r">

											<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detail.otherUsers[0].visible"

												ng-disabled="!fieldPermissions['otherUsers'].UPDATE || detail.otherUsers[0].user == undefined">

											<i tooltip="{{errors['detail.otherUsers']}}" ng-class="{error: errors['detail.otherUsers']}"></i>Si

										</label>

										<label class="i-checks">

											<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detail.otherUsers[0].visible"

												ng-disabled="!fieldPermissions['otherUsers'].UPDATE || detail.otherUsers[0].user == undefined">

											<i tooltip="{{errors['detail.otherUsers']}}" ng-class="{error: errors['detail.otherUsers']}"></i>No

										</label>

									</div>

								</div>

								<div ng-if="!hidePatientNotification">

									<div class="form-group col-md-4">

										<label class="control-label">Avvisa il paziente</label>

										<div class="input-group">

											<input id="detail.otherUsers" type="text" ng-model="userNotificationConf.time" 

												ng-disabled="!fieldPermissions['otherUsers'].UPDATE || detail.otherUsers[0].user == undefined" class="form-control" 

												tooltip="{{errors['detail.otherUsers']}}" ng-class="{error: errors['detail.otherUsers']}" style="padding: 2px;text-align:center;">

										<span class="input-group-btn with-select" >

												<select class="btn btn-default btn-sm" ng-model="userNotificationConf.timeUnit" tooltip="{{errors['detail.otherUsers']}}" 

													ng-class="{error: errors['detail.otherUsers']}" ng-change="errors['detail.otherUsers'] = undefined"

													ng-disabled="!fieldPermissions['otherUsers'].UPDATE || detail.otherUsers[0].user == undefined"

													ng-options="v.id as v.label disable when (!v.active && v.id !== userNotificationConf.timeUnit) for v in constants['PersonalEventTimeUnit']" >

													<option value="">Seleziona unità di tempo</option>			    				

												</select>

											</span>

										</div>

									</div>

									<div class="form-group col-md-4">

										<label class="control-label">Metodo di avviso</label>

										<select class="form-control" ng-model="userNotificationConf.type" tooltip="{{errors['detail.otherUsers']}}" 

											ng-class="{error: errors['detail.otherUsers']}" ng-change="errors['detail.otherUsers'] = undefined"

											ng-disabled="!fieldPermissions['otherUsers'].UPDATE || detail.otherUsers[0].user == undefined"

											ng-options="v.id as v.label disable when (!v.active && v.id !== userNotificationConf.type) for v in constants['NotificationType']" >

											<option value="">Seleziona metodo di avviso</option>			    				

										</select>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-12">

					<div class="col-md-12 text-right">

						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"

							ng-disabled="!isSaveButtonEnabled()">

							Salva

						</button>

						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">

							Annulla

						</button>

					</div>

				</div>

			</div>

		</tab>

	</tabset>
	</scrollable-tabset>

</div>