<toaster-container toaster-options="{{toasterOptions}}"></toaster-container>
<div class="app-header navbar" >
	<div class="navbar-header {{app.settings.navbarHeaderColor}}" style="width:auto;z-index:1300;">
		<button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
			<i class="material-icons">settings</i>
		</button>
		<a href="#/" class="navbar-brand text-lt" style="background: #fff;line-height:54px">
			<img src="img/logo.png" alt="" class="img-responsive hidden-xs" style="height: 100%;" ng-if="!app.settings.asideFolded">          
			<img src="img/logo_small.png" alt="" ng-if="app.settings.asideFolded">
			<img src="img/logo_small.png" class="hidden-sm hidden-md hidden-lg" alt="" ng-if="!app.settings.asideFolded">
		</a>
	</div>
	<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" style="margin-left:0px">
		<div ng-if="redisStatusPermissions['status'].VIEW" class="nav navbar-nav hidden-xs" style="text-align:center;width: 75%;margin-top: 15px" >
			<span ng-if="resettingStatus"> Riavvio sincronizzazione in corso ...</span>
			<span ng-if="!redisStatus && !resettingStatus">Il sistema non risulta sincronizzato <button class="btn btn-primary btn-xs" ng-click="setRunningRedisStatus()" ng-if="redisStatusPermissions['status'].UPDATE"> Sincronizza</button></span>
		</div>	
		<div ng-if="redisStatusPermissions['status'].VIEW" class="nav navbar-nav hidden-sm hidden-md hidden-lg" style="text-align:center;width: 100%;" >
			<span ng-if="resettingStatus"> Riavvio sincronizzazione in corso ...</span>
			<span ng-if="!redisStatus && !resettingStatus">Il sistema non risulta sincronizzato <button class="btn btn-primary btn-xs" ng-click="setRunningRedisStatus()" ng-if="redisStatusPermissions['status'].UPDATE">Sincronizza </button></span>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown hidden-sm" is-open="lang.isopen" dropdown ng-if="false">
				<a href class="dropdown-toggle" dropdown-toggle>
					{{selectLang}} 
					<i class="material-icons" style="vertical-align: middle;">keyboard_arrow_down</i>
				</a>
				<ul class="dropdown-menu animated fadeInRight w">
					<li ng-repeat="(langKey, label) in langs">
						<a ng-click="setLang(langKey, $event)" href>{{label}}</a>
					</li>
				</ul>
			</li>
			<li class="dropdown" dropdown>
				<a href class="dropdown-toggle clear" dropdown-toggle>
					<span class="hidden-sm hidden-md">
	              	{{loggedUser.title | constantLabel: 'UserTitle' }} {{loggedUser.lastName}} {{loggedUser.firstName}}
	              </span>
	              <span class="hidden-sm hidden-md" ng-if="loggedUser.originalUserId != null && loggedUser.originalUserId !== undefined">
	              	[impersonificato da {{loggedUser.originalLastName}} {{loggedUser.originalFirstName}}]
	              </span>
					<i class="material-icons" style="vertical-align: middle;">keyboard_arrow_down</i>
				</a>
				<ul class="dropdown-menu animated fadeInRight w">
					<li>
	               		<a ui-sref="app.profile({id:loggedUser.id})" >Profilo</a>
	                </li>
					<li ng-if="userPortals !== undefined && userPortals.length > 1">
						<a ui-sref="portals">Cambia Portale</a>
					</li>
					<li ng-if="loggedUser.originalUserId != null && loggedUser.originalUserId !== undefined">
						<a  ng-click="unimpersonate(user.id)">Termina personificazione</a>
					</li>
					<li>
						<a ui-sref="access.logout">Logout</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="container m-t-xl" ng-init="app.settings.container = false;" ng-cloak >
	<div class="row fade-in" style="text-align: justify;" user-disclaimer-detail detail-id="''">	
	</div>			
</div>