<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista personale interno</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista personale interno</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-body-notfooter'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default m-n">
					<div class="panel-body">
						<form name="form" class="form-validation" novalidate ng-submit="search()">
							<div class="row">
								<div class="form-group col-lg-4">
									<label>Nome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.FIRSTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Cognome</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.LASTNAME">
								</div>
								<div class="form-group col-lg-4">
									<label>Email</label>
									<input type="text" class="form-control" ng-model="searchFilters.filters.EMAIL">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
										Cerca
									</button>
									<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
										Cancella
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs">
								<div class="inline">
									<h4 class="m-sm">Personale interno</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li ng-if="canInsert">
						            		<a ui-sref="app.internal-staff-user({id: ''})">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">
								<thead>
									<tr ng-if="selection">
										<th colspan="6">
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</th>
									</tr>
									<tr>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="title">Titolo</th>
										<th st-sort="lastName">Cognome</th>
										<th st-sort="firstName">Nome</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="email">Email</th>
										<th class="hidden-xs" st-sort="role">Ruolo</th>
										<th style="width: 30px; padding: 0;"></th>
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" ng-click="edit(row.id)">
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.title | constantLabel: 'UserTitle'" />
										<td ng-bind="row.lastName" />
										<td ng-bind="row.firstName" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" />
										<td class="hidden-xs" ng-bind="row.role | constantLabel: 'UserRole'" />
										<td style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle
									        		ng-if="permissions[row.id].IMPERSONATE || permissions[row.id].INVITE || permissions[row.id].DELETE">
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									            	<li ng-if="permissions[row.id].IMPERSONATE">
									            		<a ng-click="impersonateUser(row.nickName)">
									            			<i class="material-icons">person</i>
									            			Impersonifica
									            		</a>
									            	</li>
									            	<li ng-if="permissions[row.id].INVITE">
									            		<a ng-click="invite(row.id)">
									            			<i class="material-icons">send</i>
									            			Invita
									            		</a>
									            	</li>
									            	<li class="divider"></li>
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									        	</ul>
									    	</div>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="6" >
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="6" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" />
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>	       		
	</div>
</div>