<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup && $state.current.name != 'app.profile'">
	<li><a ui-sref="app.internal-staff-users">Lista Personale Interno</a></li>
	<li class="active">Personale Interno</li>
</ul>
<div class="modal-header" ng-if="popup || $state.current.name === 'app.profile'">
	<button type="button" ng-if="popup" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.title | constantLabel: 'UserTitle'}} {{detail.lastName}} {{detail.firstName}}</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/internal-staff/personal-data.html'"></div>
			</tab>
			<tab disabled="isNew()" ng-if="loggedUser.id != id">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div documents="id" ng-if="id" entity-type="'DOCUMENT_INTERNAL_STAFF'" />
			</tab>
		</tabset>
	</scrollable-tabset>
</div>

