<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Informazioni relative al ritiro del farmaco da smaltire</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-with-footer'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab>
				<tab-heading>
					<i class="material-icons">pin_drop</i>
					<span>Dettagli</span>
				</tab-heading>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading scrollspy">
								<h4>Dati ritiro per smaltimento farmaco</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									 <div class="form-group col-md-6">
										<label>Farmaco</label>
										<ui-select id="detail.drug" ng-model="detail.drug" theme="bootstrap" ng-disabled="!fieldPermissions['drug'].UPDATE"
											tooltip="{{errors['detail.drug']}}" ng-class="{error: errors['detail.drug']}">
							    			<ui-select-match placeholder="Cerca..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
							    			<ui-select-choices repeat="v in selects['Drugs'] | filter: $select.search ">
							     				<div ng-bind-html="v.name | highlight: $select.search" />
							    			</ui-select-choices>
							    		</ui-select>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label">Quantità ritirata</label>
										<input type="number" class="form-control" ng-disabled="!fieldPermissions['collectedQuantity'].UPDATE" 
											ng-model="detail.collectedQuantity" tooltip="{{errors['detail.collectedQuantity']}}" ng-class="{error: errors['detail.collectedQuantity']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12" >
										<label class="control-label">Note Interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" 
											ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>
<div class="modal-footer" ng-if="popup">
	<button class="btn btn-primary waves-effect waves-light" ng-click="addItem()" ng-if="canUpdate" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" ng-if="canUpdate" title="Annulla">
		Annulla
	</button>
</div>
