<div class="modal-header">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Farmaco</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
			<div class="row m-t">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>Dati principali</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-6 col-xs-12" ng-if="fieldPermissions['name'].VIEW" >
									<label class="control-label">Nome</label><sup>*</sup>
									<input type="text" id="detail.name" class="form-control" ng-model="detail.name"
										ng-disabled="!fieldPermissions['name'].UPDATE" error-tooltip>
								</div>
								<div class="form-group col-md-6 col-xs-12" ng-if="fieldPermissions['description'].VIEW" >
									<label class="control-label">Descrizione</label><sup>*</sup>
									<input type="text" id="detail.name" class="form-control" ng-model="detail.description"
										ng-disabled="!fieldPermissions['description'].UPDATE" error-tooltip>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva"
							ng-disabled="!isSaveButtonEnabled()">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</div>
		</tab>
	</tabset>
</div>