<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista Documenti</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Documenti</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Documenti Pubblici">
				<tab-heading>
					<i class="material-icons">folder_shared</i>
					<span>Documenti Condivisi</span>
				</tab-heading>
				<div class="wrapper-sm" documents entity-type="'DOCUMENT_SHARED'" filter-store-key="documents-shared-list" />
			</tab>
			<tab heading="Documenti Personali">
				<tab-heading>
					<i class="material-icons">folder</i>
					<span>Documenti Personali</span>
				</tab-heading>
				<div ng-if="isHcp()" class="wrapper-sm" documents="loggedUser.id" entity-type="'DOCUMENT_HCP'" filter-store-key="documents-hcp-list" />
				<div ng-if="isPatient()" class="wrapper-sm" documents="loggedUser.id" entity-type="'DOCUMENT_PATIENT'" filter-store-key="documents-patient-list" />
				<div ng-if="isSupplier()" class="wrapper-sm" documents="loggedUser.supplierId" entity-type="'DOCUMENT_SUPPLIER'" filter-store-key="documents-supplier-list" />
				<div ng-if="isInternalStaff()" class="wrapper-sm" documents="loggedUser.id" entity-type="'DOCUMENT_INTERNAL_STAFF'" filter-store-key="documents-interal-staff-list" />
				<div ng-if="isCustomer()" class="wrapper-sm" documents="loggedUser.customerId" entity-type="'DOCUMENT_CUSTOMER'" filter-store-key="documents-customer-list" />
				<div ng-if="isLogistic()" class="wrapper-sm" documents="loggedUser.logisticId" entity-type="'DOCUMENT_LOGISTIC'" filter-store-key="documents-logistic-list" />
			</tab>
		</tabset>	
	</scrollable-tabset>
</div>
