<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista Documenti Personali</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista Documenti Personali</h3>
</div>
<div ng-if="isHcp()" class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}" documents="loggedUser.id" entity-type="'DOCUMENT_HCP'" filter-store-key="documents-hcp-list" />
<div ng-if="isPatient()" class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}" documents="loggedUser.id" entity-type="'DOCUMENT_PATIENT'" filter-store-key="documents-patient-list" />
<div ng-if="isSupplier()" class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}" documents="loggedUser.supplierId" entity-type="'DOCUMENT_SUPPLIER'" filter-store-key="documents-supplier-list" />
<div ng-if="isInternalStaff()" class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}" documents="loggedUser.id" entity-type="'DOCUMENT_INTERNAL_STAFF'" filter-store-key="documents-interal-staff-list" />
<div ng-if="isCustomer()" class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}" documents="loggedUser.customerId" entity-type="'DOCUMENT_CUSTOMER'" filter-store-key="documents-customer-list" />
<div ng-if="isLogistic()" class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}" documents="loggedUser.logisticId" entity-type="'DOCUMENT_LOGISTIC'" filter-store-key="documents-logistic-list" />
