<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Materiali utili</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Materiali utili</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<scrollable-tabset show-drop-down="false" class="patientTabs m-t">
		<tabset class="tab-container">
			<tab heading="Documenti Pubblici">
				<tab-heading>
					<i class="material-icons">folder_shared</i>
					<span>Materiali utili</span>
				</tab-heading>
				<div class="wrapper-sm" documents entity-type="'DOCUMENT_SHARED'" filter-store-key="documents-shared-list" />
			</tab>
			<tab heading="Documenti Personali">
				<tab-heading>
					<i class="material-icons">folder</i>
					<span>Link utili</span>
				</tab-heading>
				<div ng-if="true" class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}" link-list filter-store-key="link-list" />
			</tab>
		</tabset>
	</scrollable-tabset>	
</div>


