<div class="wrapper-sm export" style="overflow: hidden; height: 90vh;" ng-if="pdf == undefined">	
	<div style="position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 2000; background: white;">
		<div class="hbox">
			<div class="col v-middle text-center">
				<i class="fa fa-circle-o-notch fa-spin" />
			</div>
		</div>
	</div>
</div>
<ng-include src="'tpl/app/pdf.html'" ng-if="pdf" />