<div class="modal-header" ng-if="popup">
	<button type="button" ng-if="popup" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.title | constantLabel:'HcpTitle'}} {{detail.lastName}} {{detail.firstName}}</h3>
</div>
<div class="{{!popup ? ' wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<div user-panel user-id="id"
		activate-fn="confirmActivate" suspend-fn="suspend" terminate-fn="terminate"
		permissions="permissions" field-permissions="fieldPermissions"
		start-fn="startMasterActivity" />
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/hcp/personal-data.html'"></div>
			</tab>
			<tab disabled="isNew()" ng-if="!isSupplier() && !isHcp() && !isPatient()" select="userServiceRenderer = true">
				<tab-heading>
					<i class="material-icons">settings</i>
					<span>Servizi</span>
				</tab-heading>
				<div ng-if="userServiceRenderer" user-services user-id="id" />
			</tab>
			<tab disabled="isNew()" select="userActivityRenderer = true">
				<tab-heading>
					<i class="material-icons">directions_run</i>
					<span>Attività</span>
				</tab-heading>
				<div ng-if="userActivityRenderer" user-activities user-id="id" />
			</tab>
			<tab disabled="isNew()" ng-if="loggedUser.id != id">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div documents="id" ng-if="id" entity-type="'DOCUMENT_HCP'" />
			</tab>
			<tab disabled="isNew()" ng-if="isInternalStaff()" select="dashboardRender = true">
				<tab-heading>
					<i class="material-icons">dashboard</i>
					<span>Dashboard</span>
				</tab-heading>
				<div ng-if="dashboardRender" hcp-dashboard hcp-id="id" />
			</tab>
			<tab disabled="isNew()" ng-if="false && !isHcp()">
				<tab-heading>
					<i class="material-icons">live_help</i>
					<span>Questionari</span>
				</tab-heading>
				<div user-questionnaire-list="detail.id"></div>
			</tab>
			<tab disabled="isNew()" select="communicationMessagesRenderer = true" ng-if="loggedUser!=undefined && loggedUser.type!='HCP'">
				<tab-heading>
					<i class="material-icons">notifications</i>
					<span>Notifiche</span>
				</tab-heading>
				<div ng-if="communicationMessagesRenderer" communication-messages-list="id"></div>
			</tab>
		</tabset>
	</scrollable-tabset>
</div>