<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Lista medici</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Lista medici</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm filterWrap">
		<div class="row">
			<!-- mostra filtri -->
			<div ng-include="'tpl/app/hcp/hcp-list-filter.html'" ng-if="uiSettings==undefined || uiSettings.enableSearchFilterCollapse.indexOf(loggedUser.type)<0"></div>
			
			<!-- mostra pulsante filtro -->
			<div class="headerDoctor text-right m-t" ng-if="uiSettings!=undefined && uiSettings.enableSearchFilterCollapse.indexOf(loggedUser.type)>=0">
				<div class="filterClone">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div ng-include="'tpl/app/hcp/hcp-list-filter.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-sm m-t main-dashboard">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" ng-if="showList">
					<div class="row" st-pipe="search" st-table="list">
						<div class="col-sm-12">
							<div class="bg-secondary wrapper-xs {{ loggedUser.type=='HCP' || loggedUser.type=='PATIENT' ? 'table-title' : ''}}">
								<div class="inline">
									<h4 class="m-sm">Medici</h4>
								</div>
								<div class="btn-group dropdown pull-right" dropdown ng-if="!selection && (canInsert || canExport)">
						        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
						         		<i class="material-icons">view_list</i>
						    		</button>
						        	<ul class="dropdown-menu pull-right">
						            	<li>
						            		<a ui-sref="app.hcp({id: ''})">
						            			<i class="material-icons">add</i>
						            			<span>Nuovo</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(false)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Pagina</span>
						            		</a>
						            	</li>
						            	<li ng-if="canExport">
						            		<a ng-click="exportXls(true)">
						            			<i class="material-icons">file_download</i>
						            			<span>Esporta Tutto</span>
						            		</a>
						            	</li>
						            	<li ng-if="canInvite">
						            		<a ng-click="inviteAll()">
						            			<i class="material-icons">send</i>
						            			<span>Invita Tutti</span>
						            		</a>
						            	</li>
						        	</ul>
						    	</div>
						    </div>
							<table class="table">
								<thead>
									<tr ng-if="selection">
										<td colspan="5" ng-if="!canInvite">
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</td>
										<td colspan="6" ng-if="canInvite">
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="selectAll()" title="Seleziona tutti">
												<i class="material-icons">check_box</i>
											</button>
											<button ng-if="multipleList" class="btn btn-icon btn-default waves-effect waves-light" ng-click="unselectAll()" title="Deseleziona tutti">
												<i class="material-icons">check_box_outline_blank</i>
											</button>
										</td>
									</tr>
									<tr>
										<th style="width: 1%;" ng-if="selection" />
										<th class="hidden-xs hidden-sm" st-sort="title">Titolo</th>
										<th st-sort="lastName">Cognome</th>
										<th st-sort="firstName">Nome</th>
										<th class="hidden-xs hidden-sm hidden-md" st-sort="email">Email</th>
										<th class="hidden-xs hidden-sm" st-sort="o.lastInvitationDate" ng-if="canInvite">Data Ultimo Invito</th>
										<th style="width: 30px; padding: 0;" ng-if="!selection" />
									</tr>
								</thead>
								<tbody class="bg-white">
									<tr ng-repeat="row in list" ng-click="edit(row.id)">
										<td ng-if="selection">
											<label class="i-checks">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="row.selected" ng-change="onSelect(row)" />
												<i />
											</label>
										</td>
										<td class="hidden-xs hidden-sm">{{row.title | constantLabel:'HcpTitle'}}</td>
										<td ng-bind="row.lastName" />
										<td ng-bind="row.firstName" />
										<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.email" />
										<td class="hidden-xs hidden-sm" ng-bind="row.lastInvitationDate | formatDate" ng-if="canInvite" />
										<td ng-if="!selection" style="padding: 0;">
											<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();" ng-if="permissions[row.id].DELETE || permissions[row.id].IMPERSONATE || permissions[row.id].INVITE">
									        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
									         		<i class="material-icons">more_vert</i>
									    		</button>
									        	<ul class="dropdown-menu pull-right">
									        		<li ng-if="permissions[row.id].IMPERSONATE">
									            		<a ng-click="impersonate(row.nickName)">
									            			<i class="material-icons">person</i>
									            			Impersonifica
									            		</a>
									            	</li>
                                                	<li ng-if="permissions[row.id].INVITE">
									            		<a ng-click="invite(row)">
									            			<i class="material-icons">send</i>
									            			Invita
									            		</a>
									            	</li>
									            	<li ng-if="permissions[row.id].DELETE">
									            		<a ng-click="delete(row.id)">
									            			<i class="material-icons">delete</i>
									            			Cancella
									            		</a>
									            	</li>
									            	
									        	</ul>
									    	</div>
										</td>
									</tr>
								</tbody>
								<tbody ng-show="list == undefined || list.length==0">
									<tr>
										<td colspan="5" ng-if="!canInvite">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
										<td colspan="6" ng-if="canInvite">
											<div class="text-muted"><i>Nessun dato trovato</i></div>
										</td>
									</tr>
								</tbody>
								<tfoot ng-show="list != undefined && list.length > 0">
									<tr>
										<th colspan="5" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" ng-if="!canInvite"/>
										<th colspan="6" class="text-center" st-pagination="" st-items-by-page="pagination.size" st-displayed-pages="3" st-template="tpl/common/smart-table-custom-pagination.html" ng-if="canInvite"/>
									</tr>
								</tfoot>	
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="selection">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="undoSelection()" title="Annulla">
		Annulla
	</button>
</div>