<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a href>Questionari medico</a></li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Questionari medico</h3>
</div>
<div class="{{!popup ? 'm-t-xxl' : 'modal-body'}}">
	<div user-questionnaire-list="loggedUser.id"></div>
</div>