<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.blood-drawing-centers">Lista Centri Prelievo</a></li>
	<li class="active">{{detail.name}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.name}}</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<tabset class="tab-container" scrollable>
		<tab heading="Anagrafica">
			<tab-heading>
				<i class="material-icons">format_list_bulleted</i>
				<span>Anagrafica</span>
			</tab-heading>
			<div ng-include="'tpl/app/directive/blooddrawingcenter/personal-data.html'"></div>
		</tab>
		<tab disabled="isNew()" ng-if="loggedUser.id != id">
			<tab-heading>
				<i class="material-icons">file_upload</i>
				<span>Documenti</span>
			</tab-heading>
			<div documents="id" entity-type="'DOCUMENT_BLOOD_DRAWING_CENTER'" />
		</tab>
	</tabset>
</div>