<div class="wrapper-sm tab-fix-margin">
<div class="row" ng-if="canUpdate">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati principali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-lg-6" ng-if="fieldPermissions['code'].VIEW">
						<label class="control-label">Codice</label>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
					</div>
					<div class="form-group col-lg-6" ng-if="fieldPermissions['name'].VIEW">
						<label class="control-label">Nome</label><sup>*</sup>
						<input type="text" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati di contatto</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-4" ng-if="fieldPermissions['phoneNumber'].VIEW">
						<label class="control-label">Telefono</label>
						<input type="text"  id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['faxNumber'].VIEW">
						<label class="control-label">Fax</label>
						<input type="text" id="detail.faxNumber" rows="1" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
					</div>
					<div class="form-group col-md-12" ng-if="fieldPermissions['email'].VIEW">
						<label class="control-label">Email</label>
						<input type="text"  id="detail.email" class="form-control" ng-disabled="!fieldPermissions['email'].UPDATE" ng-model="detail.email" tooltip="{{errors['detail.email']}}" ng-class="{error: errors['detail.email']}">
					</div>
				</div>
				<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['notes'].VIEW">
						<label class="control-label">Note</label>
						<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['notes'].UPDATE" ng-model="detail.notes" tooltip="{{errors['detail.notes']}}" ng-class="{error: errors['detail.notes']}"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note interne</label>
						<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t" ng-if="fieldPermissions['customProperties'].VIEW">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Altri dati</h4>
			</div>
			<div class="panel-body" ng-include="'tpl/common/custom-properties.html'">

			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="canUpdate">
	<div class="col-md-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
			Annulla
		</button>
	</div>
</div>	
</div>
