<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup">
	<li><a ui-sref="app.logistics">Lista provider logistici</a></li>
	<li class="active" ng-if="detail!=undefined && detail.type=='PROFESSIONIST' && detail.representative!=undefined">{{detail.representativeTitle | constantLabel: 'UserTitle'}} {{detail.representativeLastName}} {{detail.representativeFirstName}}</li>
	<li class="active" ng-if="detail==undefined || detail.type!='PROFESSIONIST' || detail.representative==undefined">{{detail.name}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px" ng-if="detail!=undefined && detail.type=='PROFESSIONIST' && detail.representative!=undefined">
	{{detail.representativeTitle | constantLabel: 'UserTitle'}} {{detail.representativeLastName}} {{detail.representativeFirstName}}
	</h3>
	<h3 class="modal-title" style="min-height: 34px" ng-if="detail==undefined || detail.type!='PROFESSIONIST' || detail.representative!=undefined">
	{{detail.name}}
	</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<scrollable-tabset show-drop-down="false" class="patientTabs">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div ng-include="'tpl/app/logistic/personal-data.html'"></div>
			</tab>
			<tab disabled="isNew()">
				<tab-heading>
					<i class="material-icons">people</i>
					<span>Utenti</span>
				</tab-heading>
				<div ng-include="'tpl/app/logistic/users.html'"></div>
			</tab>
			<tab disabled="isNew()" ng-if="loggedUser.id != id">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div documents="id" ng-if="id" entity-type="'DOCUMENT_LOGISTIC'" />
			</tab>
		</tabset>
	</scrollable-tabset>
</div>