<style>

.fc-view-container .info-active {
	z-index: 1002 !important;
}
.fc-view .fc-event {
	padding: 4px !important;
}
.fc-view .fc-event:hover {
	background-color: #74a8d4;
	z-index: 1001 !important;
}

.fc-view .fc-content {
	overflow: hidden;
}

.fc-overlay-click{
	display: none;
	position: absolute;
	min-width: 300px;
	padding: 17px 0;
	top: auto;
	left: 50%;
	margin-left: -150px;
	z-index: 1010;
}

.fc-overlay-click.left{
	left: 100%;
	top: -15px;
	padding: 0 10px;
	margin: 0;
}
.fc-overlay-click.right{
	left: auto;
	right: 100%;
	top: -15px;	
	padding: 0 10px;
	margin: 0;
}
.fc-overlay-click.top{
  top: auto;
  bottom: -30px;
}


.fc-overlay-click .panel{
	padding: 10px 20px;
	border: 3px solid #D8D8D8;
}

</style>
<ul class="breadcrumb bg-white b-a m-n" ng-if="!popup && $state.current.name != 'app.profile'">
	<li><a ui-sref="app.logistics">Lista Provider Logistici</a></li>
	<li><a ui-sref="app.logistic({id: detail.logistic.id})">{{detail.logistic.name}}</a></li>
	<li class="active">{{detail.title | constantLabel:'UserTitle'}} {{detail.lastName}} {{ detail.firstName}}</li>
</ul>
<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">{{detail.title | constantLabel:'UserTitle'}} {{detail.lastName}} {{ detail.firstName}}</h3>
</div>
<div class="{{!popup && $state.current.name != 'app.profile' ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-2" ng-if="fieldPermissions['title'].VIEW">
										<label class="control-label">Titolo</label>
										<select id="detail.title" ng-disabled="!fieldPermissions['title'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.title) for v in constants['UserTitle']" class="form-control" ng-model="detail.title" tooltip="{{errors['detail.title']}}" ng-class="{error: errors['detail.title']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-5" ng-if="fieldPermissions['lastName'].VIEW">
										<label class="control-label">Cognome</label><sup>*</sup>
										<input type="text" id="detail.lastName" class="form-control" ng-disabled="!fieldPermissions['lastName'].UPDATE" ng-model="detail.lastName" tooltip="{{errors['detail.lastName']}}" ng-class="{error: errors['detail.lastName']}">
									</div>
									<div class="form-group col-md-5" ng-if="fieldPermissions['firstName'].VIEW">
										<label class="control-label">Nome</label><sup>*</sup>
										<input type="text" id="detail.firstName" class="form-control" ng-disabled="!fieldPermissions['firstName'].UPDATE" ng-model="detail.firstName" tooltip="{{errors['detail.firstName']}}" ng-class="{error: errors['detail.firstName']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['nickName'].VIEW">
										<label class="control-label">Nome Utente</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['nickName'].UPDATE" ng-model="detail.nickName" tooltip="{{errors['detail.nickName']}}" ng-class="{error: errors['detail.nickName']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['role'].VIEW">
										<label class="control-label">Ruolo</label><sup>*</sup>
										<select id="detail.role" ng-disabled="!fieldPermissions['role'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.role) for v in constants['UserRole']" class="form-control" ng-model="detail.role" tooltip="{{errors['detail.role']}}" ng-class="{error: errors['detail.role']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['sex'].VIEW">
										<label class="control-label">Sesso</label>
										<select id="detail.sex" ng-disabled="!fieldPermissions['sex'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.sex) for v in constants['Sex']" class="form-control" ng-model="detail.sex" tooltip="{{errors['detail.sex']}}" ng-class="{error: errors['detail.sex']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['nationality'].VIEW">
										<label class="control-label">Nazionalità</label>
										<div class="form-control" disabled="!fieldPermissions['nationality'].UPDATE" input-class="form-control"
											entity-autocomplete input-model="detail.nationality" source-list="selects['Nationalities']" title-field="name" search-field="name" placeholder="Nazionalità" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6" ng-if="fieldPermissions['qualifications'].VIEW">
										<label class="control-label">Qualifiche</label>
										<ui-select ng-model="detail.qualifications" multiple theme="bootstrap" close-on-select="false" tooltip="{{errors['detail.qualifications.'+$index+'']}}" 
											class="{{errors['detail.qualifications.'+$index+''] ? 'error' : ''}}" ng-disabled="!fieldPermissions['qualifications'].UPDATE">
											<ui-select-match allow-clear="true">{{$item.name}}</ui-select-match>
											<ui-select-choices repeat="v.id as v in selects['Qualification'] | filter: $select.search">
												<div ng-bind-html="v.name | highlight: $select.search" />
											</ui-select-choices>
										</ui-select>
									</div>
									<div class="form-group col-md-3 text-center" ng-if="fieldPermissions['professionalInsurance'].VIEW">
										<label class="control-label">Assicurazione professionale</label>
										<div class="form-control no-border">
											<label class="checkbox-inline i-checks" >
												<input id="detail.professionalInsurance" type="checkbox" ng-model="detail.professionalInsurance" value="{{detail.professionalInsurance}}" ng-disabled="!fieldPermissions['professionalInsurance'].UPDATE">
												<i tooltip="{{errors['detail.professionalInsurance']}}" ng-class="{error: errors['detail.professionalInsurance']}" />
											</label>
										</div>
									</div>
									<div class="form-group col-md-3 text-center" ng-if="fieldPermissions['ownCar'].VIEW">
										<label class="control-label">Automunito</label>
										<div class="form-control no-border">
											<label class="checkbox-inline i-checks" >
												<input id="detail.ownCar" type="checkbox" ng-model="detail.ownCar" value="{{detail.ownCar}}" ng-disabled="!fieldPermissions['ownCar'].UPDATE">
												<i tooltip="{{errors['detail.ownCar']}}" ng-class="{error: errors['detail.ownCar']}" />
											</label>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['admittedToPractice'].VIEW">
										<label class="control-label">Ammesso all'albo</label>
										<input type="text" id="detail.admittedToPractice" class="form-control" ng-disabled="!fieldPermissions['admittedToPractice'].UPDATE" ng-model="detail.admittedToPractice" tooltip="{{errors['detail.admittedToPractice']}}" ng-class="{error: errors['detail.admittedToPractice']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6" ng-if="fieldPermissions['code'].VIEW">
										<label class="control-label">Codice</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" 
											tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['consuntiveCode'].VIEW">
										<label class="control-label">Codice Consuntivo</label>
										<input type="text" class="form-control" ng-disabled="!fieldPermissions['consuntiveCode'].UPDATE" ng-model="detail.consuntiveCode" tooltip="{{errors['detail.consuntiveCode']}}" ng-class="{error: errors['detail.consuntiveCode']}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati di contatto</h4>
							</div>
							<div class="panel-body">
								<div class="row" ng-if="fieldPermissions['preferredContacts'].VIEW"> <!-- DATI CONTATTI PER COMUNICAZIONI -->
									<div class="form-group col-lg-6">
						  			  <label class="control-label">Metodi di comunicazione</label>
										<div class="input-group col-md-12" ng-repeat="contactUser in constants['PreferredContactType']" ng-if="contactUser.active">
				            			  <label class="control-label">{{contactUser.label}}</label>
				               				<div class="checkbox-inline">
				               					<label class="i-checks m-r">
													<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
													<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>Si
												</label>
												<label class="i-checks">
													<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['preferredContacts'].UPDATE" ng-model="contactMethodsType[contactUser.id]">
													<i tooltip="{{errors['detail.preferredContacts__'+$index]}}" ng-class="{error: errors['detail.preferredContacts__'+$index]}"></i>No
												</label>
				               				</div>
				            			</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['phoneNumber'].VIEW">
										<label class="control-label">Telefono</label>
										<input type="text" id="detail.phoneNumber" class="form-control" ng-disabled="!fieldPermissions['phoneNumber'].UPDATE" ng-model="detail.phoneNumber" tooltip="{{errors['detail.phoneNumber']}}" ng-class="{error: errors['detail.phoneNumber']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['cellPhoneNumber'].VIEW">
										<label class="control-label">Cellulare <sup>*</sup></label>
										<input type="text" id="detail.cellPhoneNumber" class="form-control" ng-disabled="!fieldPermissions['cellPhoneNumber'].UPDATE" ng-model="detail.cellPhoneNumber" tooltip="{{errors['detail.cellPhoneNumber']}}" ng-class="{error: errors['detail.cellPhoneNumber']}">
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['faxNumber'].VIEW">
										<label class="control-label">Fax</label>
										<input type="text" id="detail.faxNumber" class="form-control" ng-disabled="!fieldPermissions['faxNumber'].UPDATE" ng-model="detail.faxNumber" tooltip="{{errors['detail.faxNumber']}}" ng-class="{error: errors['detail.faxNumber']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['email'].VIEW">
										<label class="control-label">Email</label><sup>*</sup>
										<input type="text" id="detail.email" class="form-control" ng-disabled="!fieldPermissions['email'].UPDATE" ng-model="detail.email" tooltip="{{errors['detail.email']}}" ng-class="{error: errors['detail.email']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['skypeId'].VIEW">
										<label class="control-label">Contatto Skype</label>
										<input type="text" id="detail.skypeId" class="form-control" ng-disabled="!fieldPermissions['skypeId'].UPDATE" ng-model="detail.skypeId" tooltip="{{errors['detail.skypeId']}}" ng-class="{error: errors['detail.skypeId']}">
									</div>
								</div>
								<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
								<div class="row">
									<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
										<label class="control-label">Note Interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
								Salva
							</button>
							<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
								Annulla
							</button>
						</div>
					</div>
				</div>
				</div>	
			</tab>
	<!-- 		<tab heading="Disponibilit&agrave;" ng-if="canViewAvailabilities" ng-click="availability = true"> -->
	<!-- 			<tab-heading> -->
	<!-- 				<i class="material-icons">event</i> -->
	<!-- 				<span>Disponibilit&agrave;</span> -->
	<!-- 			</tab-heading> -->
	<!-- 			<div ng-if="detail.id && availability" calendar-planning user-ids-list="detail.id" update-event-type="updateEventType"></div> -->
	<!-- 		</tab> -->
		</tabset>
	</scrollable-tabset>
</div>