<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="closeConfirmActivity()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Fase di completamento</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-with-footer'}}">
	<div class="panel-body">
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label" >Utente di completamento attività</label>
				<select ng-options="v.id as v.label for v in constants['AssigneeOwnerType']" class="form-control"
					ng-model="detail.assigneeOwnerType" tooltip="{{errors['detail.assigneeOwnerType']}}" ng-class="{error: errors['detail.assigneeOwnerType']}">
					<option value="" />
				</select>
			</div>
		</div>
		<div class="row" ng-if="detail.verification !== undefined && detail.verification !== 'MANDATORY'"> 
			<div class="form-group col-md-12">
				<h4 class="b-b b-3x">Indicare se si vuole verificare l'attività</h4>
			</div>
			<div class="form-group col-md-12">
				<label class="control-label">Confermare verifica attività?</label>
				<div class="radio m-b-none">
					<label class="i-checks m-r">
						<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-model="detail.verifiable">
						<i tooltip="{{errors['detail.verifiable']}}" ng-class="{error: errors['detail.verifiable']}"></i>Si
					</label>
					<label class="i-checks">
						<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-model="detail.verifiable">
						<i tooltip="{{errors['detail.verifiable']}}" ng-class="{error: errors['detail.verifiable']}"></i>No
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-md-4" ng-if="loggedUser.type == 'INTERNAL_STAFF' && detail.enableSuggestedDate">
				<label class="control-label">Data suggerita</label>
				<input type="text" class="form-control" format-date-time ng-readonly="true" ng-disabled="true" ng-model="detail.suggestedDate">
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary waves-effect waves-light" ng-click="confirmCompleteActivity()" title="Completa">
		Ok
	</button>
	<button class="btn btn-default waves-effect waves-light" ng-click="closeConfirmActivity()" title="Annulla">
		Annulla
	</button>
</div>    