<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Attività {{detail.name}}</h3>	
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container" scrollable>
			<tab heading="Anagrafica">
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="wrapper-sm tab-fix-margin">
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="row" ng-if="detail.status == 'CONFIRMED_NO_RESULT' && isInternalStaff">
							<div class="col-lg-12 text-right">
								<button class="btn btn-primary waves-effect waves-light" ng-click="completeActivity()" title="Completa">
									Completa
								</button>
								<button class="btn btn-primary waves-effect waves-light" ng-click="changeActivity()" title="Modifica attività">
									Modifica attività
								</button>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-6" ng-if="fieldPermissions['name'].VIEW">
										<label class="control-label">Nome</label>
										<input type="text" id="detail.name" class="form-control" ng-disabled="!fieldPermissions['name'].UPDATE" ng-model="detail.name" tooltip="{{errors['detail.name']}}" ng-class="{error: errors['detail.name']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['code'].VIEW">
										<label class="control-label">Codice attività</label>
										<input type="text" id="detail.code" class="form-control" ng-disabled="!fieldPermissions['code'].UPDATE" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['user'].VIEW">
										<label class="control-label">Utente riferimento</label>
										<div class="input-group">
											<input type="text" id="detail.user" class="form-control" ng-disabled="!fieldPermissions['user'].UPDATE" value="{{detail.user.lastName}} {{detail.user.firstName}}" tooltip="{{errors['detail.user']}}" ng-class="{error: errors['detail.user']}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.user.id" user-type="detail.user.type"
													ng-disabled="detail.user == undefined" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['status'].VIEW">
										<label class="control-label">Stato</label>
										<select id="detail.status" ng-disabled="!fieldPermissions['status'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['ActivityStatus']" class="form-control" ng-model="detail.status" 
											tooltip="{{errors['detail.status']}}" ng-class="{error: errors['detail.status']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-2" ng-if="fieldPermissions['verificationStatus'].VIEW">
										<label class="control-label">Verifica</label>
										<div class="radio m-b-none">
										
											<label class="checkbox-inline i-checks"  ng-if="fieldPermissions['verificationStatus'].VIEW" >											
												<input type="checkbox" ng-true-value="true" ng-false-value="false" ng-disabled="true" ng-model="detail.verificationStatus">
												<i tooltip="{{errors['detail.verificationStatus']}}" ng-class="{error: errors['detail.verificationStatus']}"></i><span class="m-n">Si</span>
											</label>
											<label class="checkbox-inline i-checks"  ng-if="fieldPermissions['verificationStatus'].VIEW" >
												<input type="checkbox" ng-true-value="false" ng-false-value="true" ng-disabled="true" ng-model="detail.verificationStatus">
												<i tooltip="{{errors['detail.verificationStatus']}}" ng-class="{error: errors['detail.verificationStatus']}"></i><span class="m-n">No</span>
											</label>
										</div>
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['description'].VIEW">
										<label class="control-label">Descrizione</label>
										<textarea id="detail.description" rows="4" class="form-control" ng-disabled="!fieldPermissions['description'].UPDATE" ng-model="detail.description" tooltip="{{errors['detail.description']}}" ng-class="{error: errors['detail.description']}" />
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['type'].VIEW">
										<label class="control-label">Tipo</label>
										<select id="detail.type" ng-disabled="!fieldPermissions['type'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.type) for v in constants['MasterActivityType']" class="form-control" ng-model="detail.type" 
											tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-6" ng-if="detail.type == 'OTHER' && fieldPermissions['otherType'].VIEW">
										<label class="control-label">Descrizione Altro</label>
										<input type="text" id="detail.otherType" class="form-control" ng-disabled="!fieldPermissions['otherType'].UPDATE" ng-model="detail.otherType" tooltip="{{errors['detail.otherType']}}" ng-class="{error: errors['detail.otherType']}">
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['reasons'].VIEW && detail.acceptedReasons!=undefined && detail.acceptedReasons.length>0">
										<label class="control-label">Motivi</label>
										<div class="radio m-b-xs">
											<label class="i-checks m-r-md" ng-repeat="v in constants['ActivityReason']" ng-if="(v.active || v.id === detail.type) && detail.acceptedReasons.indexOf(v.id)>=0">
												<input type="checkbox" check-list="detail.reasons"  value="{{v.id}}" ng-disabled="!fieldPermissions['reasons'].UPDATE">
												<i tooltip="{{errors['detail.reasons']}}" ng-class="{error: errors['detail.reasons']}"></i><span class="m-n" bind-html-compile="v.label"></span>
											</label>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['planningType'].VIEW">
										<label class="control-label">Tipo di Pianificazione</label>
										<select id="detail.planningType" ng-disabled="!fieldPermissions['planningType'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.planningType) for v in constants['ActivityPlanningType']" class="form-control" ng-model="detail.planningType" 
											tooltip="{{errors['detail.planningType']}}" ng-class="{error: errors['detail.planningType']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['planningDate'].VIEW">
										<label class="control-label">Data/ora prevista</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="detail.planningDate" tooltip="{{errors['detail.planningDate']}}" ng-class="{error: errors['detail.planningDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['planningDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['date'].VIEW">
										<label class="control-label">Data/ora attività</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="detail.date" tooltip="{{errors['detail.date']}}" ng-class="{error: errors['detail.date']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['date'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['maxDate'].VIEW">
										<label class="control-label">Data/ora scadenza</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="detail.maxDate" tooltip="{{errors['detail.maxDate']}}" ng-class="{error: errors['detail.maxDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['maxDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="fieldPermissions['completionDate'].VIEW">
										<label class="control-label">Data/ora completamento</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="detail.completionDate" tooltip="{{errors['detail.completionDate']}}" ng-class="{error: errors['detail.completionDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['completionDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-6" ng-if="(detail.type == 'OUTGOING_CALL' || detail.type == 'INCOMING_CALL' || detail.type == 'MEETING') && fieldPermissions['durationMinutes'].VIEW">
										<label class="control-label">Durata (minuti)</label>
										<input type="text" id="detail.durationMinutes" class="form-control" ng-disabled="!fieldPermissions['durationMinutes'].UPDATE" ng-model="detail.durationMinutes" tooltip="{{errors['detail.durationMinutes']}}" ng-class="{error: errors['detail.durationMinutes']}">
									</div>
									<div class="form-group col-md-6" ng-if="detail.maxDate && detail.maxDate < detail.executionDate">
										<label class="control-label">Motivo ritardo <sup>*</sup></label>
										<select ng-options="v.id as v.label disable when (!v.active && v.id !== detail.maxDateFailedReason) for v in constants['ActivityMaxDateFailedReason']" class="form-control" ng-model="detail.maxDateFailedReason" tooltip="{{errors['detail.maxDateFailedReason']}}" ng-class="{error: errors['detail.maxDateFailedReason']}"
											ng-disabled="!fieldPermissions['maxDate'].UPDATE">
											<option value=""></option>
										</select>
									</div>
									<div class="form-group col-md-12"  ng-if="detail.maxDate && detail.maxDate < detail.executionDate">
										<label class="control-label">Dettaglio motivo ritardo</label>
										<textarea class="form-control" ng-disabled="!fieldPermissions['maxDateFailedReasonDetail'].UPDATE" ng-model="detail.maxDateFailedReasonDetail" tooltip="{{errors['maxDateFailedReasonDetail']}}" ng-class="{error: errors['maxDateFailedReasonDetail']}" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['organizer'].VIEW">
										<label class="control-label">Organizzatore</label>
										<div class="input-group">
											<input type="text" id="detail.organizer" class="form-control" ng-readonly="true" value="{{detail.organizer.lastName}} {{detail.organizer.firstName}}" tooltip="{{errors['detail.organizer']}}" ng-class="{error: errors['detail.organizer']}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.organizer.id" user-type="detail.organizer.type"
													ng-disabled="detail.organizer == undefined" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['owner'].VIEW">
										<label class="control-label">Responsabile</label>
										<div class="input-group">
											<input type="text" id="detail.owner" class="form-control" ng-readonly="true" value="{{detail.owner.lastName}} {{detail.owner.firstName}}" tooltip="{{errors['detail.owner']}}" ng-class="{error: errors['detail.owner']}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.owner.id" user-type="detail.owner.type"
													ng-disabled="detail.owner == undefined" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>		
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['qualification'].VIEW">
										<label class="control-label">Qualifica Responsabile</label>
										<input type="text" id="detail.qualification" class="form-control" ng-disabled="!fieldPermissions['qualification'].UPDATE" value="{{detail.qualfication.name}} {{detail.qualification.description}}" tooltip="{{errors['detail.qualification']}}" ng-class="{error: errors['detail.qualification']}">
									</div>
								</div>
								<div class="row" ng-if="fieldPermissions['internalNotes'].VIEW && isInternalStaff">
									<div class="form-group col-md-12">
										<label class="control-label">Note Interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
									</div>
								</div>
							</div>
						</div>		
					</div>
				</div>
				<div class="row m-t" ng-if="fieldPermissions['customProperties'].VIEW && showOtherData == true">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Altri dati</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div ng-repeat="property in detail.customProperties" ng-switch="property.type">
										<div class="form-group col-md-4" ng-switch-when="DATE">
											<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
											<div class="input-group">
												<input type="text" class="form-control" format-date ng-readonly="true" id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}"
													ng-class="{error: errors['detail.customProperties_'+$index]}" ng-model="property.value" >
												<span class="input-group-btn">
													<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"
														ng-disabled="!fieldPermissions['customProperties'].UPDATE">
														<i class="material-icons">date_range</i>
													</button>
												</span>
											</div>
										</div>
										<div class="form-group col-md-4" ng-switch-when="DATETIME">
											<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
											<div class="input-group">
												<input id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}"
													ng-class="{error: errors['detail.customProperties_'+$index]}" type="text" class="form-control"
													format-date-time readonly="true" ng-model="property.value" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light"
														ng-disabled="!fieldPermissions['customProperties'].UPDATE">
														<i class="material-icons">update</i>
													</button>
												</span>
											</div>
										</div>
										<div class="form-group col-md-4" ng-switch-when="INTEGER">
											<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
											<input id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}"
												ng-class="{error: errors['detail.customProperties_'+$index]}" type="number" step="1" class="form-control"
												ng-model="property.value" ng-disabled="!fieldPermissions['customProperties'].UPDATE">
										</div>
										<div class="form-group col-md-4" ng-switch-when="DECIMAL">
											<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
											<input id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}"
												ng-class="{error: errors['detail.customProperties_'+$index]}" type="number" step="0.01" class="form-control"
												ng-model="property.value" ng-disabled="!fieldPermissions['customProperties'].UPDATE">
										</div>
										<div class="form-group col-md-4" ng-switch-when="BOOLEAN">
											{{property.name}}
											<sup ng-if="property.mandatory == true">*</sup>
											<div class="radio">
												<label class="i-checks" >
													<input id="{{'detail.customProperties_'+$index}}" type="checkbox" tooltip="{{errors['detail.customProperties_'+$index]}}"
														ng-class="{error: errors['detail.customProperties_'+$index]}" ng-true-value="true" ng-false-value="false"
													 	ng-model="property.value" ng-disabled="!fieldPermissions['customProperties'].UPDATE" />
													<i></i>
												</label>
											</div>
										</div>
										<div class="form-group col-md-4" ng-switch-when="LIST_OF_VALUE">
											<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
											<select id="{{'detail.customProperties_'+$index}}" ng-model="property.values" class="form-control"
												ng-options="v.code as v.label disable when (v.status != 'ACTIVE' && v.code !== property.value) for v in property.choices"
												tooltip="{{errors['detail.customProperties_'+$index]}}" ng-class="{error: errors['detail.customProperties_'+$index]}"
												ng-disabled="!fieldPermissions['customProperties'].UPDATE">
												<option value="" />
											</select>
										</div>
										<div class="form-group col-md-4" ng-switch-when="STRING">
											<label class="control-label">{{property.name}}</label><sup ng-if="property.mandatory == true">*</sup>
											<input id="{{'detail.customProperties_'+$index}}" tooltip="{{errors['detail.customProperties_'+$index]}}" 
												g-class="{error: errors['detail.customProperties_'+$index]}" type="text" class="form-control" ng-model="property.value"
												ng-disabled="!fieldPermissions['customProperties'].UPDATE">
										</div>
									</div>					
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row m-t" ng-if="showOtherParticipants == true">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="row" st-table="detail.otherParticipants">
								<div class="col-sm-12">
									<div class="bg-secondary wrapper-xs">
										<div class="inline">
											<h4 class="m-sm">Altri partecipanti</h4>
										</div>
								    </div>
									<table class="table">		
										<thead>		
											<tr>
												<th class="hidden-xs hidden-sm hidden-md" st-sort="title">Titolo</th>
												<th st-sort="lastName">Cognome</th>
												<th st-sort="firstName">Nome</th>
											</tr>
										</thead>
										<tbody class="bg-white">
											<tr ng-repeat="row in detail.otherParticipants | filter:{id: ''} ">
												<td class="hidden-xs hidden-sm hidden-md" ng-bind="row.title | constantLabel: 'UserTitle'" />
												<td ng-bind="row.lastName"></td>
												<td ng-bind="row.firstName"></td>
											</tr>
										</tbody>
										<tbody ng-show="detail.otherParticipants.length == undefined || detail.otherParticipants.length==0">
											<tr>
												<td colspan="2">
													<div class="text-muted"><i>Nessun dato trovato</i></div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<div class="row m-t" ng-if="fieldPermissions['report'].VIEW || fieldPermissions['ownerComment'].VIEW || (detail.type == 'MEETING' && (fieldPermissions['ownerRoundtripKm'].VIEW || fieldPermissions['ownerOtherCostsAmount'].VIEW || fieldPermissions['ownerOtherCostsDescription'].VIEW))">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati inseriti dal responsabile</h4>
							</div>
							<div class="panel-body">
								<div class="row">		
									<div class="form-group col-md-12" ng-if="fieldPermissions['report'].VIEW && detail.status!='NOT_OCCURRED' && detail.status!='SKIPPED' && detail.type!='USER_EXIT' && detail.type!='USER_SUSPENSION' && detail.type!='USER_REACTIVATION' " >
										<label class="control-label">Relazione attività</label>
										<textarea type="text" rows="4" class="form-control" ng-model="detail.report" ng-disabled="!fieldPermissions['report'].UPDATE" />
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['failedReason'].VIEW && (detail.status=='NOT_OCCURRED' || detail.status=='SKIPPED') && (detail.type!='USER_EXIT' && detail.type!='USER_SUSPENSION' && detail.type!='USER_REACTIVATION')  ">
										<label class="control-label">Motivo mancata esecuzione</label>
										<select id="detail.failedReason" ng-disabled="!fieldPermissions['failedReason'].UPDATE" class="form-control" ng-model="detail.failedReason" 
											ng-options="v.id as v.label disable when (!v.active && v.id !== detail.failedReason) for v in constants['ActivityFailedReason']" 
											tooltip="{{errors['detail.failedReason']}}" ng-class="{error: errors['detail.failedReason']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-8" ng-if="fieldPermissions['failedReasonDetail'].VIEW && (detail.status=='NOT_OCCURRED' || detail.status=='SKIPPED') && (detail.type!='USER_EXIT' && detail.type!='USER_SUSPENSION' && detail.type!='USER_REACTIVATION') ">
										<label class="control-label">Dettaglio mancata esecuzione</label>
										<textarea type="text" rows="4" class="form-control" ng-model="detail.failedReasonDetail" ng-disabled="!fieldPermissions['failedReasonDetail'].UPDATE" />
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['changeStatusRequestDate'].VIEW && detail.status!='NOT_OCCURRED' && (detail.type=='USER_EXIT' || detail.type=='USER_SUSPENSION' || detail.type=='USER_REACTIVATION') ">
										<label class="control-label" ng-if="detail.type=='USER_SUSPENSION'">E' stata richiesta la sospensione del Paziente a decorrere dal</label>
										<label class="control-label" ng-if="detail.type=='USER_REACTIVATION'">E' stata richiesta la riattivazione del Paziente a decorrere dal</label>
										<label class="control-label" ng-if="detail.type=='USER_EXIT'">E' stata richiesta l'uscita dal Programma del Paziente a decorrere dal</label>
										<div class="input-group">
											<input type="text" class="form-control" format-date-time ng-readonly="true" ng-model="detail.changeStatusRequestDate" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-sm btn-icon btn-default waves-effect waves-light" ng-disabled="!fieldPermissions['changeStatusRequestDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['changeStatusRequestReason'].VIEW && detail.status!='NOT_OCCURRED' && (detail.type=='USER_EXIT' || detail.type=='USER_SUSPENSION')">
										<label class="control-label">Motivo di uscita dal programma</label>
										<select id="detail.changeStatusRequestReason" ng-disabled="detail.assignee==undefined || detail.assignee!=loggedUser.nickName" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.changeStatusRequestReason) for v in constants['UserChangeStatusReason']" 
											ng-model="detail.changeStatusRequestReason">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['changeStatusRequestNotes'].VIEW && detail.status!='NOT_OCCURRED' && (detail.type=='USER_EXIT' || detail.type=='USER_SUSPENSION' || detail.type=='USER_REACTIVATION')">
										<label class="control-label" ng-if="detail.type=='USER_SUSPENSION'" >Note relative alla richiesta di sospensione</label>
										<label class="control-label" ng-if="detail.type=='USER_REACTIVATION'" >Note relative alla richiesta di riattivazione</label>
										<label class="control-label" ng-if="detail.type=='USER_EXIT'" >Note relative alla richiesta di uscita dal Programma</label>
										<textarea type="text" rows="4" class="form-control" ng-model="detail.changeStatusRequestNotes" ng-disabled="!fieldPermissions['changeStatusRequestNotes'].UPDATE" />
									</div>								
									<div class="form-group col-md-12" ng-if="fieldPermissions['ownerComment'].VIEW" >
										<label class="control-label">Altre note generali</label>
										<textarea rows="5" class="form-control" ng-disabled="!fieldPermissions['ownerComment'].UPDATE" ng-model="detail.ownerComment" tooltip="{{errors['detail.ownerComment']}}" ng-class="{error: errors['detail.ownerComment']}" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6" ng-if="detail.type == 'MEETING' && fieldPermissions['ownerRoundtripKm'].VIEW">
										<label class="control-label">Km Percorsi (A/R)</label>
										<input type="text" id="detail.ownerRoundtripKm" class="form-control" ng-disabled="!fieldPermissions['ownerRoundtripKm'].UPDATE" ng-model="detail.ownerRoundtripKm" tooltip="{{errors['detail.ownerRoundtripKm']}}" ng-class="{error: errors['detail.ownerRoundtripKm']}">
									</div>
										
									<div class="form-group col-md-6" ng-if="detail.type == 'MEETING' && fieldPermissions['ownerOtherCostsAmount'].VIEW">
										<label class="control-label">Altri costi (in €)</label>
										<input type="number" class="form-control" ng-model="detail.ownerOtherCostsAmount" ng-disabled="!fieldPermissions['ownerOtherCostsAmount'].UPDATE">
									</div>
								</div>
								<div class="row">	
									<div class="form-group col-md-12" ng-if="detail.type == 'MEETING' && fieldPermissions['ownerOtherCostsDescription'].VIEW"">
										<label class="control-label">Descrizione altri costi</label>
										<textarea rows="5" ng-model="detail.ownerOtherCostsDescription" class="form-control" ng-disabled="!fieldPermissions['ownerOtherCostsDescription'].UPDATE" tooltip="{{errors['detail.ownerOtherCostsDescription']}}" ng-class="{error: errors['detail.ownerOtherCostsDescription']}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="detail.type == 'MEETING'">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Luogo incontro</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-4" ng-if="detail.locationType == 'MEDICAL_CENTER'">
										<label class="control-label">Centro Medico / Dipartimento</label>
										<div class="input-group">
											<input type="text" id="detail.department" class="form-control" ng-disabled="true" value="{{detail.department.medicalCenter.name}} - {{detail.department.name}}" tooltip="{{errors['detail.department']}}" ng-class="{error: errors['detail.department']}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" medical-center-id="detail.department.medicalCenter.id" department-modal="detail.department.id"
													ng-disabled="detail.department == undefined" title="Dettaglio">
													<i class="material-icons">room</i>
												</button>
											</span>		
										</div>
									</div>
								
									<div class="form-group col-md-4" ng-if="fieldPermissions['locationType'].VIEW">
										<label class="control-label">Luogo incontro</label>
										<select id="detail.locationType" ng-disabled="!fieldPermissions['locationType'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.locationType) for v in constants['MeetingLocation']" class="form-control" ng-model="detail.locationType" 
											tooltip="{{errors['detail.status']}}" ng-class="{error: errors['detail.status']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-4" ng-if="fieldPermissions['locationOther'].VIEW">
										<label class="control-label">Altro luogo incontro</label>
										<input type="text" id="detail.locationOther" class="form-control" ng-disabled="!fieldPermissions['locationOther'].UPDATE" ng-model="detail.locationOther" tooltip="{{errors['detail.locationOther']}}" ng-class="{error: errors['detail.locationOther']}">
									</div>						
								</div>
								<div class="row" address-input="detail.address" ng-if="fieldPermissions['address'].VIEW" ng-disabled="!fieldPermissions['address'].UPDATE" default-country-code="IT" />
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="fieldPermissions['complementaryActivities'].VIEW">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="row" st-table="detail.complementaryActivities">
								<div class="col-sm-12">
									<div class="bg-secondary wrapper-xs">
										<div class="inline">
											<h4 class="m-sm">Attività Complementari</h4>
										</div>
										<button ng-if="fieldPermissions['complementaryActivities'].UPDATE" class="btn btn-icon btn-rounded btn-primary waves-effect waves-light pull-right" ui-sref="app.program-service-activity({programId: programId, serviceId: id, id: ''})"
											title="Aggiungi attività">
											Aggiungi</button>
									</div>
	
									<table class="table">		
										<thead>
											<tr>
												<th>Tipo</th>
												<th>Nome</th>
												<th class="hidden-xs">Obbligatoria</th>
												<th ng-if="detail.entityId != undefined">Stato</th>
												<th style="width: 30px; padding: 0;" />
											</tr>
										</thead>
										<tbody class="bg-white">
											<tr ng-repeat="row in detail.complementaryActivities">
												<td ng-bind="row.type | constantLabel:'ComplementaryActivityType'" />
												<td ng-bind="row.name" />
												<td class="hidden-xs">{{row.required? "Si" : "No"}}</td>
												<td ng-if="detail.entityId!=undefined" ng-bind="row.status | constantLabel:'ComplementaryActivityStatus'" />
												<td ng-if="!selection" style="padding: 0;">
													<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
											        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle
											        		ng-if="!(row.type=='ASSUMPTION_DETECTION' || row.type=='MEDICAL_EXAMINATION_DETECTION' || row.type=='OTHER_TASK' 
											        		|| (row.type=='EXTERNAL_OBJECT' && row.entityType!='TRAINING_REQUEST')
											        		|| row.type=='DOCUMENTATION_UPLOAD' || row.type=='DRUG_ADMINISTRATION' || row.type=='PATIENT_TEMPORARY_HOME_ADDRESS')" >
											         		<i class="material-icons">more_vert</i>
											    		</button>
											        	<ul class="dropdown-menu pull-right">
											            	<li ng-if="canDelete">
											            		<a ng-click="delete(row.id)">
											            			<i class="material-icons">delete</i>
											            			Cancella
											            		</a>
											            	</li>
											            	<li ng-if="row.confEntityId != undefined && detail.user == undefined && row.type=='QUESTIONNAIRE_SUBMISSION'">
											            		<a program-questionnaire-modal="row.confEntityId" program-id="programId">
											            			<i class="material-icons">live_help</i>
											            			Vedi Questionario
											            		</a>
											            	</li>
											            	<li ng-init="row.entity={}" ng-if="row.entityId != undefined && detail.user != undefined && row.type=='QUESTIONNAIRE_SUBMISSION'">
											            		<a user-questionnaire-detail-modal="row.entityId" preload-entity="row.entity" ng-show="row.entity!=undefined">
											            			<i class="material-icons">live_help</i>
											            			Vedi Questionario
											            		</a>
											            	</li>
											            	<li ng-if="row.entityId != undefined && detail.user != undefined && row.type=='MATERIAL_DELIVERY'">
											            		<a material-delivery-modal="row.entityId">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi Consegna
											            		</a>
											            	</li>
											            	<li ng-if="row.entityId != undefined && detail.user != undefined && row.type=='MATERIAL_SHIPPING'">
											            		<a material-delivery-modal="row.entityId">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi Spedizione
											            		</a>
											            		<a ng-if="row.type=='EXTERNAL_OBJECT' && row.entityType=='TRAINING_REQUEST'" training-request-modal="row.entityId">
											            			<i class="material-icons">launch</i>
											            			Vedi Richiesta di training
											            		</a>											            	
											            	</li>
											            	<li ng-if="row.entityId != undefined && detail.user != undefined && row.type=='MATERIAL_DAMAGE'">
											            		<a material-damage-modal="row.entityId">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi segnalazione
											            		</a>
											            	</li>
															<li ng-if="row.entityId != undefined && detail.user != undefined && row.type=='LEFTOVER_DRUG_DETECTION'">
											            		<a patient-leftover-drugs-detection-modal patient-id="detail.user.id" complementary-id="row.id" date="detail.date">
											            			Dettaglio
											            		</a>
											            	</li>
											            	<li ng-if="row.type=='DRUG_PICK_UP'">
											            		<a drug-pick-up-modal="row.entityId" complementary-id="row.id">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi ritiro farmaco
											            		</a>
											            	</li>
											            	<li ng-if="row.type=='DRUG_DELIVERY'">
											            		<a drug-delivery-modal="row.entityId" complementary-id="row.id">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi consegna farmaco
											            		</a>
											            	</li>
											            	<li ng-if="row.type=='DRUG_DISPOSAL'">
											            		<a drug-disposal-modal="row.entityId" complementary-id="row.id">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi ritiro per smaltimento
											            		</a>
											            	</li>
											            	<li ng-if="row.type=='BLOOD_SAMPLING'">
											            		<a blood-sampling-modal="row.entityId" complementary-id="row.id">
											            			<i class="material-icons">colorize</i>
											            			Vedi prelievo ematico
											            		</a>
											            	</li>
											            	<li ng-if="row.type == 'DRUG_PICK_UP_DELIVERY'">
											            		<a drug-pick-up-modal="row.entityId" complementary-id="row.id" complementary-type="row.type">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi ritiro farmaco
											            		</a>
											            		<a drug-delivery-modal="row.entityId" complementary-id="row.id" complementary-type="row.type">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi consegna farmaco
											            		</a>
											            	</li>
											            	<li ng-if="row.type=='DBS_TEST_BLOOD_SAMPLING'">
											            		<a dried-blood-spot-test-modal="row.id" complementary-type="row.type">
											            			<i class="material-icons">bubble_chart</i>
											            			Vedi test DBS
											            		</a>
											            	</li>
											            	<li ng-if="row.type=='DBS_TEST_PICK_UP'">
											            		<a dried-blood-spot-test-modal="row.id" complementary-type="row.type">
											            			<i class="material-icons">bubble_chart</i>
											            			Vedi test DBS
											            		</a>
											            	</li>
											            	<li ng-if="row.type=='PATIENT_WEIGHT'">
											            		<a patient-weight-detail complementary-id="row.id" is-modal="true">
											            			<i class="material-icons">accessibility</i>
											            			Vedi peso paziente
											            		</a>
											            	</li>
											            	<li ng-if="row.entityId!=undefined && row.type=='EXTERNAL_OBJECT' && row.entityType!='TRAINING_REQUEST'" ng-include="'tpl/app/user-activity/user-complementary-activity-external.html'">
											            	</li>
											        	</ul>
											    	</div>
												</td>							
											</tr>
										</tbody>
										<tbody ng-show="detail.complementaryActivities==undefined || detail.complementaryActivities.length==0">
											<tr>
												<td colspan="5">
													<div class="text-muted"><i>Nessun dato trovato</i></div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="row" ng-if="fieldPermissions['verificationComplementaryActivities'].VIEW && isInternalStaff">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="row" st-table="detail.verificationComplementaryActivities">
								<div class="col-sm-12">
									<div class="bg-secondary wrapper-xs">
										<div class="inline">
											<h4 class="m-sm">Attività Complementari Verifica</h4>
										</div>
										<button ng-if="fieldPermissions['verificationComplementaryActivities'].UPDATE"
											class="btn btn-icon btn-rounded btn-primary waves-effect waves-light pull-right"
											ui-sref="app.program-service-activity({programId: programId, serviceId: id, id: ''})"
											title="Aggiungi attività">
											Aggiungi</button>
									</div>
									<table class="table">		
										<thead>
											<tr>
												<th>Tipo</th>
												<th>Nome</th>
												<th class="hidden-xs">Obbligatoria</th>
												<th ng-if="detail.entityId != undefined">Stato</th>
												<th style="width: 30px; padding: 0;" />
											</tr>
										</thead>
										<tbody class="bg-white">
											<tr ng-repeat="row in detail.verificationComplementaryActivities">
												<td ng-bind="row.type | constantLabel:'ComplementaryActivityType'" />
												<td ng-bind="row.name" />
												<td class="hidden-xs">{{row.required? "Si" : "No"}}</td>
												<td ng-if="detail.entityId!=undefined" ng-bind="row.status | constantLabel:'ComplementaryActivityStatus'" />
												<td ng-if="!selection" style="padding: 0;">
													<div class="btn-group dropdown" dropdown ng-click="$event.stopPropagation();">
											        	<button class="btn btn-icon btn-default btn-flat waves-effect waves-light" dropdown-toggle>
											         		<i class="material-icons">more_vert</i>
											    		</button>
											        	<ul class="dropdown-menu pull-right">
											            	<li ng-if="canDelete">
											            		<a ng-click="delete(row.id)">
											            			<i class="material-icons">delete</i>
											            			Cancella
											            		</a>
											            	</li>
											            	<li ng-if="row.confEntityId!=undefined && detail.user==undefined">
											            		<a ng-if="row.type=='QUESTIONNAIRE_SUBMISSION'" program-questionnaire-modal="row.confEntityId" program-id="programId">
											            			<i class="material-icons">live_help</i>
											            			Vedi Questionario
											            		</a>
														        <a ng-if="row.type=='MATERIAL_DELIVERY'">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi Consegna
											            		</a>
											            		<a ng-if="row.type=='MATERIAL_SHIPPING'">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi Spedizione
											            		</a>
											            	</li>
											            	<li ng-if="row.entityId!=undefined && detail.user!=undefined">
											            		<a ng-if="row.type=='QUESTIONNAIRE_SUBMISSION'" user-questionnaire-detail-modal="row.entityId">
											            			<i class="material-icons">live_help</i>
											            			Vedi Questionario
											            		</a>
											            		<a ng-if="row.type=='MATERIAL_DELIVERY'" material-delivery-modal="row.entityId">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi Consegna
											            		</a>
											            		<a ng-if="row.type=='MATERIAL_SHIPPING'" material-delivery-modal="row.entityId">
											            			<i class="material-icons">local_shipping</i>
											            			Vedi Spedizione
											            		</a>
											            		<a ng-if="row.type=='EXTERNAL_OBJECT' && row.entityType=='TRAINING_REQUEST'" training-request-modal="row.entityId">
											            			<i class="material-icons">launch</i>
											            			Vedi Richiesta di training
											            		</a>
											            		
											            	</li>
											        	</ul>
											    	</div>
												</td>							
											</tr>
										</tbody>
										<tbody ng-show="detail.verificationComplementaryActivities==undefined || detail.verificationComplementaryActivities.length==0">
											<tr>
												<td colspan="5">
													<div class="text-muted"><i>Nessun dato trovato</i></div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="row" ng-if="detail.type == 'SMS' || detail.type == 'EMAIL'">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Messaggio</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['messageTo'].VIEW">
										<label class="control-label">Destinatario</label>
										<div class="input-group">
											<input type="text" id="detail.messageTo" class="form-control" ng-disabled="!fieldPermissions['messageTo'].UPDATE" ng-model="detail.messageTo" tooltip="{{errors['detail.messageTo']}}" ng-class="{error: errors['detail.messageTo']}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.messageTo.id" user-type="detail.messageTo.type"
													ng-disabled="detail.messageTo == undefined" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="detail.type == 'EMAIL' && fieldPermissions['messageCc'].VIEW">
										<label class="control-label">Destinatari 'cc'</label>
										<div class="input-group">
											<input type="text" id="detail.messaggeCc" class="form-control" ng-disabled="!fieldPermissions['messageCc'].UPDATE" ng-model="detail.messaggeCc" tooltip="{{errors['detail.messaggeCc']}}" ng-class="{error: errors['detail.messaggeCc']}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.messaggeCc.id" user-type="detail.messaggeCc.type"
													ng-disabled="detail.messaggeCc == undefined" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="detail.type == 'EMAIL' && fieldPermissions['messageCcn'].VIEW">
										<label class="control-label">Destinatari 'ccn'</label>
										<div class="input-group">
											<input type="text" id="detail.messageCcn" class="form-control" ng-disabled="!fieldPermissions['messageCcn'].UPDATE" ng-model="detail.messageCcn" tooltip="{{errors['detail.messageCcn']}}" ng-class="{error: errors['detail.messageCcn']}">
											<span class="input-group-btn">
												<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.messageCcn.id" user-type="detail.messageCcn.type"
													ng-disabled="detail.messageCcn == undefined" title="Dettaglio">
													<i class="material-icons">person</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-12" ng-if="detail.type == 'EMAIL' && fieldPermissions['subject'].VIEW">
										<label class="control-label">Oggetto del messaggio</label>
										<input type="text" id="detail.subject" class="form-control" ng-disabled="!fieldPermissions['subject'].UPDATE" ng-model="detail.subject" tooltip="{{errors['detail.subject']}}" ng-class="{error: errors['detail.subject']}">
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['message'].VIEW">
										<label class="control-label">Testo messaggio</label>
										<textarea id="detail.message" rows="4" class="form-control" ng-disabled="!fieldPermissions['message'].UPDATE" ng-model="detail.message" tooltip="{{errors['detail.message']}}" ng-class="{error: errors['detail.message']}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="detail.status == 'CONFIRMED_NO_RESULT' && isInternalStaff">
					<div class="col-lg-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="completeActivity()" title="Completa">
							Completa
						</button>
						<button class="btn btn-primary waves-effect waves-light" ng-click="changeActivity()" title="Modifica attività">
							Modifica attività
						</button>
					</div>
				</div>
				</div>
			</tab>
			<tab disabled="isNew()" ng-if="detail.user.type">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div documents="id" entity-type="detail.user.type =='PATIENT' ? 'DOCUMENT_PATIENT_ACTIVITY' : 'DOCUMENT_HCP_ACTIVITY'" />
			</tab>
		</tabset>
	</scrollable-tabset>
</div>
