/* Styles go here */

.as-sortable-item,
.as-sortable-placeholder {
    width: 124px;
    margin: 2px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    list-style: none;
}

.as-sortable-placeholder {
    border: 1px dotted #0000ff !important;
}

#sortable-container {
    display: inline-block;
}

.column {
    border: 1px solid #000000;
    border-radius: 5px;
}