<div class="modal-header" ng-if="popup">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Sessione di formazione</h3>
</div>
<div class="{{!popup ? 'm-t-xxl wrapper-sm' : 'modal-body modal-body-notfooter'}}">
	<scrollable-tabset show-drop-down="false">
		<tabset class="tab-container">
			<tab>
				<tab-heading>
					<i class="material-icons">format_list_bulleted</i>
					<span>Anagrafica</span>
				</tab-heading>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
				<div class="row m-t">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Dati principali</h4>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-md-6 col-xs-6" ng-if="fieldPermissions['trainingDate'].VIEW">
										<label class="control-label">Data</label><sup>*</sup>
										<div class="input-group">
											<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['trainingDate'].UPDATE" ng-model="detail.trainingDate" 
												tooltip="{{errors['detail.trainingDate']}}" ng-class="{error: errors['detail.trainingDate']}">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['trainingDate'].UPDATE">
													<i class="material-icons">date_range</i>
												</button>
											</span>
										</div>
									</div>
									<div class="form-group col-md-4" ng-if="programProperties.name == 'Dedicare'">
										<label class="control-label">Formazione ante 2019</label>
										<div>
											<label class="i-checks m-r">
												<input type="checkbox" ng-true-value="true" ng-false-value="undefined" ng-disabled="!fieldPermissions['partialInformation'].UPDATE"
													ng-model="detail.partialInformation" ng-change="detail.trainingDate = undefined">
												<i error-tooltip="detail.partialInformation"></i>Si
											</label>
											<label class="i-checks">
												<input type="checkbox" ng-true-value="false" ng-false-value="undefined" ng-disabled="!fieldPermissions['partialInformation'].UPDATE"
													ng-model="detail.partialInformation" ng-change="detail.trainingDate = undefined">
												<i error-tooltip="detail.partialInformation"></i>No
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6 col-xs-12" ng-if="fieldPermissions['trainingSubject'].VIEW" >
										<label class="control-label">Tema</label><sup>*</sup>
										<span class="input-group-btn">
											<ui-select id="detail.trainingSubject"  ng-model="detail.trainingSubject" theme="bootstrap" ng-disabled="detail.id != undefined"
												tooltip="{{errors['detail.trainingSubject']}}" ng-class="{error: errors['detail.trainingSubject']}">
												<ui-select-match placeholder="Cerca..." allow-clear="true"><strong>{{$select.selected.title}}</strong></ui-select-match>
												<ui-select-choices repeat="subject in selects['TrainingSubjects'] | filter: $select.search">
													<div ng-bind-html="subject.title | highlight: $select.search"></div>
												</ui-select-choices>
											</ui-select>
										</span>
									</div>
									<div class="form-group col-md-6 col-xs-12" ng-if="fieldPermissions['durationHours'].VIEW" >
										<label class="control-label">Durata sessione (ore)</label><sup>*</sup>
										<input type="number" class="form-control" 
											ng-disabled="!fieldPermissions['durationHours'].UPDATE"
											ng-model="detail.durationHours" tooltip="{{errors['detail.durationHours']}}" ng-class="{error: errors['detail.durationHours']}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['type'].VIEW" >
										<label class="control-label">Tipo </label><sup>*</sup>
										<select id="detail.type" ng-disabled="!fieldPermissions['type'].UPDATE" 
											ng-options="v.id as v.label disable when (!v.active && v.id !== detail.type) for v in constants['TrainingType']" class="form-control" 
											ng-model="detail.type" tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-8" ng-if="fieldPermissions['location'].VIEW" >
										<label class="control-label">Luogo</label>
										<input type="text" id="detail.location" class="form-control" ng-model="detail.location"
											ng-disabled="!fieldPermissions['location'].UPDATE"
											ng-class="{error: errors['detail.location']}" tooltip="{{errors['detail.location']}}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4" ng-if="fieldPermissions['trainerType'].VIEW" >
										<label class="control-label">Tipo trainer</label><sup>*</sup>
										<select id="detail.trainerType" ng-disabled="!fieldPermissions['trainerType'].UPDATE" 
											ng-options="v.id as v.label disable when (!v.active && v.id !== detail.trainerType) for v in constants['SupplierTrainerType']" class="form-control" 
											ng-model="detail.trainerType" tooltip="{{errors['detail.trainerType']}}" ng-class="{error: errors['detail.trainerType']}">
											<option value="" />
										</select>
									</div>
									<div class="form-group col-md-8" ng-if="fieldPermissions['trainerTypeOther'].VIEW" >
										<label class="control-label">Altro</label>
										<input type="text" id="detail.trainerTypeOther" class="form-control" ng-model="detail.trainerTypeOther"
											ng-disabled="!fieldPermissions['trainerTypeOther'].UPDATE"
											ng-class="{error: errors['detail.trainerTypeOther']}" tooltip="{{errors['detail.trainerTypeOther']}}">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12" ng-if="fieldPermissions['trainerNotes'].VIEW" >
										<label class="control-label">Note trainer</label>
										<textarea id="detail.trainerNotes" rows="4" class="form-control" ng-model="detail.trainerNotes" ng-disabled="!fieldPermissions['trainerNotes'].UPDATE"></textarea>
									</div>
									<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW" >
										<label class="control-label">Note interne</label>
										<textarea id="detail.internalNotes" rows="4" class="form-control" ng-model="detail.internalNotes" ng-disabled="!fieldPermissions['internalNotes'].UPDATE"></textarea>
									</div>		
								</div>
								</div>
							</div>
						</div>
					</div>
				<div class="row" ng-if="canUpdate">
					<div class="col-md-12 text-right">
						<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
							Salva
						</button>
						<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
							Annulla
						</button>
					</div>
				</div>
			</tab>
			<tab ng-if="detail.id && permissions['DOCUMENT_TRAINING_SESSION'].VIEW">
				<tab-heading>
					<i class="material-icons">file_upload</i>
					<span>Documenti</span>
				</tab-heading>
				<div ng-if="detail.id" documents="detail.id" program-id="detail.program.id" entity-type="'DOCUMENT_TRAINING_SESSION'" />
			</tab>
		</tabset>
	</scrollable-tabset>				
</div>
