<toaster-container toaster-options="{{toasterOptions}}"></toaster-container>
<div class="m-t-xxl" ng-init="app.settings.container = false;">
	<div ui-view class="fade-in-right-big w-xxl container" />
</div>