<div class="row" ng-if="detail.status=='DRAFT' || detail.status=='CONFIRMED'">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button ng-if="detail.status=='DRAFT'" class="btn btn-primary waves-effect waves-light" ng-click="send()" title="Invia">
				Invia
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-if="detail.status=='CONFIRMED' && loggedUser.id == detail.organizer.id" ng-click="complete()" title="Completa">
				Completa
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-if="detail.status=='CONFIRMED' && loggedUser.id == detail.organizer.id" ng-click="uncomplete(detail.id)" title="Non effettuata">
				Non Effettuata
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati Spedizione/Consegna</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-4" ng-if="fieldPermissions['code'].VIEW">
						<label class="control-label">Codice</label>
						<input type="text" id="detail.code" class="form-control" ng-disabled="true" ng-model="detail.code" tooltip="{{errors['detail.code']}}" ng-class="{error: errors['detail.code']}">
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['requestDate'].VIEW">
						<label class="control-label">Data Richiesta</label><sup>*</sup>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['requestDate'].UPDATE || detail.status != 'DRAFT'" ng-model="detail.requestDate" tooltip="{{errors['detail.requestDate']}}" ng-class="{error: errors['detail.requestDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['requestDate'].UPDATE || detail.status != 'DRAFT'">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['status'].VIEW">
						<label class="control-label">Stato</label>
						<select id="detail.type" ng-disabled="true" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.status) for v in constants['MaterialDeliveryStatus']" class="form-control" ng-model="detail.status" tooltip="{{errors['detail.status']}}" ng-class="{error: errors['detail.status']}">
							<option value="" />
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4" ng-if="fieldPermissions['shippingDate'].VIEW">
						<label class="control-label">{{ detail.type=='IN_PERSON_DELIVERY' ? 'Data prevista di consegna' : 'Data spedizione'}}</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['shippingDate'].UPDATE" ng-model="detail.shippingDate" tooltip="{{errors['detail.shippingDate']}}" ng-class="{error: errors['detail.shippingDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['shippingDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['deliveryDate'].VIEW">
						<label class="control-label">{{ detail.type=='IN_PERSON_DELIVERY' ? 'Data di consegna' : 'Data conferma spedizione'}}</label>
						<div class="input-group">
							<input type="text" class="form-control" format-date ng-readonly="true" ng-disabled="!fieldPermissions['deliveryDate'].UPDATE" ng-model="detail.deliveryDate" tooltip="{{errors['detail.deliveryDate']}}" ng-class="{error: errors['detail.deliveryDate']}">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-sm btn-icon waves-effect waves-light" ng-disabled="!fieldPermissions['deliveryDate'].UPDATE">
									<i class="material-icons">date_range</i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-md-4" ng-if="fieldPermissions['type'].VIEW">
						<label class="control-label">Tipo</label><sup>*</sup>
						<select id="detail.type" ng-disabled="!fieldPermissions['type'].UPDATE" ng-options="v.id as v.label disable when (!v.active && v.id !== detail.type) for v in constants['MaterialDeliveryType']" class="form-control" ng-model="detail.type" tooltip="{{errors['detail.type']}}" ng-class="{error: errors['detail.type']}">
							<option value="" />
						</select>
					</div>
				</div>	
				<div class="row">
					<div class="form-group col-md-6" ng-if="fieldPermissions['organizer'].VIEW">
						<label class="control-label">Responsabile</label><sup>*</sup>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" value="{{detail.organizer.title | constantLabel:'HcpTitle'}} {{detail.organizer.lastName}} {{detail.organizer.firstName}}" tooltip="{{errors['detail.organizer']}}" ng-class="{error: errors['detail.organizer']}">
							<span class="input-group-btn">
								<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.organizer.id" user-type="detail.organizer.type" ng-disabled="detail.organizer === undefined" title="Dettaglio">
									<i class="material-icons">person</i>
								</button>
							</span>		
						</div>
					</div>
					<div class="form-group col-md-6" ng-if="fieldPermissions['recipient'].VIEW">
						<label class="control-label">Destinatario<sup>*</sup></label>
						<div class="input-group">
							<input type="text" class="form-control" ng-disabled="true" value="{{detail.recipient.title | constantLabel:'UserTitle'}} {{detail.recipient.lastName}} {{detail.recipient.firstName}}" tooltip="{{errors['detail.recipient']}}" ng-class="{error: errors['detail.recipient']}">
							<span class="input-group-btn">
								<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" user-modal="detail.recipient.id" user-type="detail.recipient.type" title="Dettaglio">
									<i class="material-icons">person</i>
								</button>					
							</span>		
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['notes'].VIEW">
						<label class="control-label">Note</label>
						<textarea id="detail.notes" rows="4" class="form-control" ng-disabled="!fieldPermissions['notes'].UPDATE" ng-model="detail.notes" tooltip="{{errors['detail.notes']}}" ng-class="{error: errors['detail.notes']}"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-if="fieldPermissions['internalNotes'].VIEW">
						<label class="control-label">Note Interne</label>
						<textarea id="detail.internalNotes" rows="4" class="form-control" ng-disabled="!fieldPermissions['internalNotes'].UPDATE" ng-model="detail.internalNotes" tooltip="{{errors['detail.internalNotes']}}" ng-class="{error: errors['detail.internalNotes']}"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default" ng-class="{error: errors['detail.materials']}" tooltip="{{errors['detail.materials']}}">
			<div class="panel-heading">
				<h4>Materiali</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6" ng-repeat="m in detail.materials">
						<div class="wrapper-sm b-t b-b b-l b-r m-t-xs">
							<div class="clearfix m-b-xs">
								<div class="col col-xs-2 m-t-xs">
									<button material-modal="m.material.id" class="btn btn-rounded btn-lg btn-icon btn-default" title="Dettaglio {{m.type | constantLabel:'MaterialType'}}">
										<i class="fa {{m.material.type=='STANDARD' ? 'fa-cube' : 'fa-cubes'}} fw"></i>
									 </button>
								</div>
								<div class="col col-xs-10 m-t-xs text-center">
									<strong>{{m.material.name}}</strong>	
									<br/><small>{{m.material.code}}</small>
								</div>
							</div>
							<div class="clearfix text-center">	
								<div class="col col-xs-6 form-group">
						           	<label class="control-label">Q.ta richiesta</label>
									<input type="text" class="form-control" ng-disabled="{{ detail.status != 'DRAFT' }}" ng-model="m.requestedQuantity">
								</div>
								<div class="col col-xs-6 form-group">
									<label class="control-label">{{detail.type == 'SHIPPING' ? 'Q.ta spedita' : 'Q.ta consegnata'}}</label>
									
									<div class="input-group">
										
										<input type="text" class="form-control" ng-disabled="true" ng-model="m.deliveredQuantity">
										<span class="input-group-btn">
											<button class="btn btn-icon btn-sm btn-default waves-effect waves-light" material-delivery-items-modal="m" title="Imposta quantità e Numeri Seriali" ng-disabled="{{ detail.status == 'DRAFT' }}">
												<i class="material-icons">mode_edit</i>
											</button>					
										</span>		
									</div>
								</div>
							</div>	
						</div>	
					</div>	
		        </div>
			</div>
		</div>	
	</div>
</div>
<div class="row m-t">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Dati Spedizione</h4>
			</div>
			<div class="panel-body">
				<div class="row" address-input="detail.address" errors="errors"  default-country-code="IT" />
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="detail.status=='DRAFT' || detail.status=='CONFIRMED'">
	<div class="col-md-12">
		<div class="col-md-12 text-right">
			<button ng-if="detail.status=='DRAFT'" class="btn btn-primary waves-effect waves-light" ng-click="send()" title="Invia">
				Invia
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-if="detail.status=='CONFIRMED' && loggedUser.id == detail.organizer.id" ng-click="complete()" title="Completa">
				Completa
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-if="detail.status=='CONFIRMED' && loggedUser.id == detail.organizer.id" ng-click="uncomplete(detail.id)" title="Non effettuata">
				Non Effettuata
			</button>
			<button class="btn btn-primary waves-effect waves-light" ng-click="save()" title="Salva">
				Salva
			</button>
			<button class="btn btn-default waves-effect waves-light" ng-click="undo()" title="Annulla">
				Annulla
			</button>
		</div>
	</div>
</div>