<div class="modal-header" ng-if="isModal">
	<button type="button" ng-click="modal.dismiss()" class="close">
    	<i class="material-icons">clear</i>
	</button>
	<h3 class="modal-title" style="min-height: 34px">Scegli il tuo avatar</h3>
</div>
<div class="{{!isModal ? 'm-t-xxl' : 'modal-body modal-with-footer'}}">
	<div class="wrapper-sm">
		<div class="row">
			<div class="col-lg-12" ng-if="showList">
				<div class="row" st-pipe="search" st-table="list">
					<div ng-repeat="row in list" class="col-md-3">
						<span class="avatar">
							<img
								ng-src="{{row.imageUrl}}"
								class="img-responsive {{row.selected ? 'active' : ''}}"
								ng-click="changeSelection(row)" />
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-if="isSelection">
	<div class="col-xs-12 text-right">
		<button class="btn btn-primary waves-effect waves-light" ng-click="confirmSelection()" title="Ok">
			Ok
		</button>
		<button class="btn btn-default waves-effect waves-light" ng-click="modal.dismiss()" title="Annulla">
			Annulla
		</button>
	</div>
</div>