<div class="panel bg-white b-a pos-rlt">
	<button type="button" class="m-r-lg m-t-lg close pull-right"><i class="fa fa-close"></i></button>
	<span class="arrow"></span>
	<div class="h4 font-thin m-b-sm">Disponibilit&agrave;</div>
	<div class="line b-b b-light"></div>
	<div><i class="icon-clock text-muted m-r-xs"></i> {{event.start | formatDateTime}} - {{event.end | formatDateTime}}</span></div>
	<div class="m-t-sm"><i class="fa fa-group text-muted m-r-xs"></i>
		<span>{{event.participants[0].lastName}} {{event.participants[0].firstName}}</span>
	</div>
	<div class="row clearfix">
		<div class="col col-lg-12">
			<div class="pull-left m-t-sm m-r" ng-if="event.updatable"><a href class="btn btn-default btn-sm" ng-click="updateEvent(event)"><i class="fa fa-calendar"></i> Vedi/Modifica</a></div>
			<div class="pull-left m-t-sm m-r" ng-if="event.removable"><a href class="btn btn-default btn-sm" ng-click="removeEvent(event)"><i class="fa fa-trash"></i> Elimina</a></div>
		</div>
	</div>
</div>
