<!--  Calendario -->
<style type="text/css">
.disabled_meeting_user_btn {
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #eeeeee;
}
div.fc-agenda-view table tr td {
	cursor: pointer;
}
div.fc-content-skeleton table tr td {
	cursor: pointer;
}
.fc-unthemed .fc-today  {
	background-color: rgba(255, 255, 221, 0.38) !important;
}
.fc-time-grid-event.fc-short .availability-fc-time:after {
	content: '' !important;
}
</style>

<div class="hbox hbox-auto-xs hbox-auto-sm panel panel-default">
	<div class="col wrapper-md">
		<div class="clearfix">
		<div class="pull-left m-b" ng-if="users!=undefined && users!=null && users.length > 1 ">
				<a ng-repeat="u in users" class="btn btn-sm btn-default m-r {{u.isSelected ? '' : 'disabled_meeting_user_btn'}}" ng-click="toggleUser(u)">
					<span class="userColor" style="margin-right: 2px; background-color: {{u.calendarColor}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<strong>{{u.lastName+' '+u.firstName}} <sup ng-if="!u.useAvailabilities">(*)</sup></strong>
				</a>
				<br /><sub>(*) Controllo delle disponibilità  non attivato</sub>
			</div>
			<div class="pull-right m-b">
				<!--<button type="button" class="btn btn-sm btn-info m-r-lg" ng-click="changeView('listWeek')">Vista Tabellare</button>-->
				<button type="button" class="btn btn-sm btn-info" ng-click="today()">Oggi</button>
				<div class="btn-group m-l-xs">
					<button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')">Vista Giornaliera</button>
					<button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">Vista Settimanale</button>
					<button class="btn btn-sm btn-default" ng-click="changeView('month')">Vista Mensile</button>
					<button class="btn btn-sm btn-default" ng-click="changeView('listMonth')">Vista Tabellare</button>
				</div>
				<br/>
				<div class="form-group m-b-none" ng-if="false">
					
					<label class="i-switch bg-info m-t-xs m-r-xs">
	              	<input type="checkbox" ng-model="showMeetings" ng-change="toggleMeetings()">
	              	<i></i>
	           		</label>
	           		<label class="v-middle control-label">Meetings</label>
	           		
	           		<label class="m-l i-switch bg-info m-t-xs m-r-xs">
	              	<input type="checkbox" ng-model="showAvailabilities" ng-change="toggleAvailabilities()">
	              	<i></i>
	           		</label>
	           		<label class="v-middle control-label">Disponibilità</label>
				</div>
				
			</div>
		</div>
		<div class="pos-rlt">
			<div class="fc-overlay-click meeting-calendar-overlay-click">
				<div ng-if="event.type=='availability'" ng-include="'tpl/app/directive/calendar-planning/availability-overlay.html'"></div>
				<div ng-if="event.type=='meeting'" ng-include="'tpl/app/directive/calendar-planning/meeting-overlay.html'"></div>
			</div>
			<div class="calendar meeting-calendar bg-light lter" ng-model="eventSources" ui-calendar="uiConfig.calendar" calendar="avcal"></div>
		</div>
	</div>
</div>