<div class="panel bg-white b-a pos-rlt">
	<button type="button" class="m-r-lg m-t-lg close pull-right"><i class="fa fa-close"></i></button>
	<span class="arrow"></span>
	<div class="h4 font-thin m-b-sm">{{event.completeTitle}}</div>
	<div class="line b-b b-light"></div>
	<div>
		<i class="icon-calendar text-muted m-r-xs"></i> 
		<span>{{event.start | formatDateTime }}</span>
	</div>
	<div class="ng-hide" ng-show="event.endDate"><i class="icon-clock text-muted m-r-xs"></i> {{event.endDate | formatDateTime}}</span></div>
	<div class="ng-hide" ng-show="event.location"><i class="icon-pointer text-muted m-r-xs"></i> {{event.location}}</div>
	<div class="ng-hide" ng-show='event.category'><i class="icon-screen-desktop text-muted m-r-xs"></i> {{meetingCategoriesMap[event.category]}}</div>
	<div class="m-t-sm"><i class="fa fa-group text-muted m-r-xs"></i>
		<span>{{event.participantsLabel}}</span>
	</div>
	<div class="m-t-sm">{{event.info}}</div>
	<div class="m-t-sm">{{event.url}}</div> 
	<div ng-if="event.object.id !== undefined && !event.isVM" class="m-t-sm"><a href class="btn btn-default btn-sm" user-activity-modal="event.key"><i class="fa fa-calendar"></i> Dettaglio</a></div>
	<div ng-if="event.object.id !== undefined && event.isVM" class="m-t-sm"><a href class="btn btn-default btn-sm" virtual-meeting-detail detail-id="event.key" is-modal="true" show-title="true"><i class="fa fa-calendar"></i> Dettaglio</a></div>
</div>
