<!--  Calendario -->
<style type="text/css">
	.disabled_meeting_user_btn {
		opacity: 0.5;
		filter: alpha(opacity=50);
		background-color: #eeeeee;
	}
	div.fc-agenda-view table tr td {
		cursor: pointer;
	}
	div.fc-content-skeleton table tr td {
		cursor: pointer;
	}
	.fc-unthemed .fc-today  {
		background-color: rgba(255, 255, 221, 0.38) !important;
	}
	.fc-time-grid-event.fc-short .availability-fc-time:after {
		content: '' !important;
	}
	</style>
	<div class="m-t-xxl ng-scope">
		<div class="row">
			<div class="headerDoctor text-right m-t">	
				<div class="filterClone">
					<div class="drowdownM" ng-click="filterPopup = !filterPopup" ng-class="filterPopup ? 'closeStyle' : ''">
						<span class="opened">Filtra</span><span class="closed">Chiudi</span>
					</div>
					<div class="filterPopup" ng-show="!filterPopup">
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-default m-n">
							
									<div class="panel-body">
										<form name="form" class="form-validation" novalidate ng-submit="loadEvents(true)">
											<div class="row">
												<div class="form-group col-lg-4">
													<label>Cognome</label>
													<input type="text" class="form-control" ng-model="userEventFilters.USER_LAST_NAME">
												</div>
												<div class="form-group col-lg-4">
													<label>Nome</label>
													<input type="text" class="form-control" ng-model="userEventFilters.USER_FIRST_NAME">
												</div>
												<div class="form-group col-lg-4">
													<label class="control-label">Terapia (Farmaco)</label>
													<select ng-options="v.id as v.name for v in selects['Drugs']" class="form-control" ng-model="userEventFilters.DRUG_ID">
														<option value="">Tutti i farmaci</option>
													</select>	
												</div> 
											</div>
											<div class="row">
												<div class="form-group col-lg-6">
													<label>Tipo attività</label>
													<select ng-options="v.id as v.label for v in masterActivityTypesForRecipient"
														class="form-control" ng-model="userEventFilters.TYPE">
														<option value=""></option>
													</select>
												</div>
												<div class="form-group col-lg-6" ng-if="portalsList!=undefined && portalsList.length>1">
													<label class="control-label">Programma</label>
													<div class="form-control no-border">
														<label class="checkbox-inline i-checks" ng-repeat="v in portalsList">
															<input type="checkbox" check-list="userEventFilters.PORTAL_ID" value="{{v}}">
															<i></i><span class="m-n">{{v | uppercase}}</span>
														</label>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 text-right">
													<button class="btn btn-primary waves-effect waves-light" type="submit" title="Cerca">
														Cerca
													</button>
													<button class="btn btn-default waves-effect waves-light" ng-click="clearFilters()" title="Cancella">
														Cancella
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="hbox hbox-auto-xs hbox-auto-sm panel panel-default">
		<div class="col wrapper-md">
			<div class="clearfix">
			<div class="pull-right m-b">
					<!--<button type="button" class="btn btn-sm btn-info m-r-lg" ng-click="changeView('listWeek')">Vista Tabellare</button>-->
				<button type="button" class="btn btn-sm btn-info" ng-click="today()">Oggi</button>
				<div class="btn-group m-l-xs">		
					<button class="btn btn-sm btn-default" ng-click="changeView('listDay')">Giorno</button>
					<button class="btn btn-sm btn-default" ng-click="changeView('listWeek')">Settimana</button>
					<button class="btn btn-sm btn-default" ng-click="changeView('listMonth')">Mese</button>
				</div>
				<br/>
			</div>
			</div>
			<div class="pos-rlt">
				<div class="calendar meeting-calendar bg-light lter" ng-model="eventSources" ui-calendar="uiConfig.calendar" calendar="avcal"></div>
			</div>
		</div>
	</div>